.irtbinfo {
}

    .irtbinfo td {
        border: solid whitesmoke;
        border-width: 0px 1px 1px 0px;
        padding: 10px 0px;
    }

    .irtbinfo table {
        border: solid whitesmoke;
        border-width: 1px 0px 0px 1px;
    }

        .irtbinfo table .irlbl {
            padding-left: 10px;
            width: 100px;
        }

    .irtbinfo label {
        padding-left: 10px;
    }

    .irtbinfo table .irtd {
    }

    .irtbinfo td input {
        width: 200px;
    }

.irtbwrite {
}

    .irtbwrite tr {
    }

        .irtbwrite tr td {
            height: 40px;
            margin: 10px;
        }

            .irtbwrite tr td input {
                width: 450px;
            }

        .irtbwrite tr .lbl {
            text-align: center;
            width: 100px;
        }

.irtbaddress {
}

    .irtbaddress tr td input {
        width: 135px;
    }

    /*.irtbaddress  tr td input.textbox-f:last-of-type {
    width:500px;
}*/

    /*.irtbaddress  tr td span[class$=textbox] {
    width:500px;
}*/

    .irtbaddress span.textbox {
        margin-right: 10px;
    }

.irbutton {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

    .irbutton.red {
        background-color: #dc1717; /* Green */
    }

    .irbutton.cancel {
        background: none;
        border: 1px solid #bbb;
        color: black;
    }

.searchTable {
    border-collapse: collapse;
    margin-top: 5px;
}

    .searchTable td {
        padding: 10px;
    }

        .searchTable td input {
            width: 200px;
        }


.radioTable {
    border-collapse: collapse;
    margin-top: 5px;
}

    .radioTable td {
        padding: 10px;
    }


.oprationTable {
    border-collapse: collapse;
    margin-top: 5px;
}

    .oprationTable td {
        padding: 3px;
    }

input[type="radio"] + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: 1;
}

input[type="radio"]:checked + label::before {
    background-color: #01cd78;
    background-clip: content-box;
    padding: .2em;
}

input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 1em;
    height: 1em;
    margin-right: .2em;
    border-radius: .2em;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: .65;
}

input[type="checkbox"]:checked + label::before {
    content: "\2713";
    background-color: #01cd78;
    color: white;
}

input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

/*ryan 防止污染grid中的checkbox*/
.datagrid input[type="checkbox"] {
    position: unset;
}
