<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--邮件服务器-->
    <add key="MailServer" value="smtp.exmail.qq.com"/>
    <!--邮件发件人-->
    <add key="MailUserName" value="service@wl.net.cn"/>
    <!--邮箱密码-->
    <add key="MailPassword" value="QDVH123!09nj76hb2"/>
    <!--通知邮箱-->
    <add key="NoticeMail" value="qinq@for-ic.net"/>
    <!--通知手机-->
    <add key="NoticeMobile" value="19166216182"/>
    <!--劳务公司-->
    <add key="LabourEnterpriseID" value="DBAEAB43B47EB4299DD1D62F764E6B6A"/>
    <add key="LabourEnterpriseName" value="深圳市芯达通供应链管理有限公司"/>
    <add key="LabourEnterpriseID2" value="B86D16EC7F0C54EA106DC97A29250875"/>
    <add key="LabourEnterpriseName2" value="深圳市芯达通供应链管理有限公司惠州分公司"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--<connectionStrings>
    <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG" />
    <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG" />
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
    <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="PvbCrmConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u149_v8site;Password=WH1g0LfN42o29HyS7fsqvuTMMh7wgOa6X798cshVI14ae1ylnta" />
    <add name="PvbErmConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u149_v8site;Password=WH1g0LfN42o29HyS7fsqvuTMMh7wgOa6X798cshVI14ae1ylnta" />
    <add name="PvCenterConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u149_v8site;Password=WH1g0LfN42o29HyS7fsqvuTMMh7wgOa6X798cshVI14ae1ylnta" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRSServer" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
      maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://kf.51db.com/WCFHTTPServerTest/RSServer.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRSServer"
          contract="DYJRSService.IRSServer" name="BasicHttpBinding_IRSServer" />
    </client>
  </system.serviceModel>
</configuration>