
@{
    Layout = "~/Views/Shared/_LayoutOrder.cshtml";
}

<div v-cloak id="vDeliveryDetail" class="backshow">
    <div class="breaklist">
        <span class="fl first_title">订单详情</span>
        <span class="fl second_title" v-on:click="history.back(-1)">返回</span>
    </div>
    <div class="order_detail">
        <div class="order_title">
            <span class="ml11">订单编号：<span class="txt1">{{indexData.ID}}</span></span>
            <span class="ml157">订单状态：<span class="txt2">{{indexData.MainStatus}}</span></span>
            <span class="ml142">下单日期：{{indexData.CreateDate}}</span>
        </div>
        <div class="order_content">
            <div>
                <p class="title mt30 mb20">基本信息</p>
                <div class="info_content">
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">货值币种：</span>
                            <span class="i_content">{{indexData.PayCurrency}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">是否代付货款：</span>
                            <span class="i_content">{{indexData.IsBringPay}}</span>
                        </div>
                    </div>
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">结算币种：</span>
                            <span class="i_content">{{indexData.SettlementCurrency}}</span>
                        </div>
                    </div>
                    <div v-if="indexData.IsBringPay=='是'" class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">支付方式：</span>
                            <span class="i_content">{{indexData.PayMethod}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">代收款委托书：</span>
                            <span class="i_content"><a v-if="indexData.ReceiveEntrust!=''" :href="indexData.ReceiveEntrust" download class="file_link">查看文件</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order_div"><span>有疑问请咨询：<span class="link">跟单员</span></span></div>
            <div>
                <p class="title mt30 mb20">发货信息</p>
                <div class="info_content">
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">发货类型：</span>
                            <span class="i_content txt_yellow">{{indexData.DeliveryTypeName}}</span>
                        </div>
                    </div>
                    <div v-if="indexData.DeliveryType=='1'">
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">提货时间：</span>
                                <span class="i_content">{{indexData.TakingDate}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">提货人姓名：</span>
                                <span class="i_content">{{indexData.TakingContact}}</span>
                            </div>
                        </div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">联系电话：</span>
                                <span class="i_content">{{indexData.TakingPhone}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">证件类型：</span>
                                <span class="i_content">{{indexData.CertificateType}}</span>
                            </div>
                        </div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">证件号码：</span>
                                <span class="i_content">{{indexData.Certificate}}</span>
                            </div>
                        </div>
                    </div>
                    <div v-if="indexData.DeliveryType=='2'">
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">收货人姓名：</span>
                                <span class="i_content">{{indexData.ReceivedContact}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">联系电话：</span>
                                <span class="i_content">{{indexData.ReceivedPhone}}</span>
                            </div>
                        </div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">地址：</span>
                                <span class="i_content">{{indexData.ReceivedAddress}}</span>
                            </div>
                        </div>
                    </div>
                    <div v-if="indexData.DeliveryType=='4'||indexData.DeliveryType=='3'">
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">收货人姓名：</span>
                                <span class="i_content">{{indexData.ReceivedContact}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">联系电话：</span>
                                <span class="i_content">{{indexData.ReceivedPhone}}</span>
                            </div>
                        </div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">地址：</span>
                                <span class="i_content">{{indexData.ReceivedAddress}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">承运商：</span>
                                <span class="i_content">{{indexData.CarrierID}}</span>
                            </div>
                        </div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">快递支付方式：</span>
                                <span class="i_content">{{indexData.IsPayFreight}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">邮政编码：</span>
                                <span class="i_content">{{indexData.Zipcode}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="title mt30 mb20">交货服务要求</p>
                <div class="info_content">
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">是否拆箱验货：</span>
                            <span class="i_content">{{indexData.IsUnBoxed}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">是否检测产品：</span>
                            <span class="i_content">{{indexData.IsDetection}}</span>
                        </div>
                    </div>
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">是否重贴标签：</span>
                            <span class="i_content">{{indexData.IsCustomLabel}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">是否重新包装：</span>
                            <span class="i_content">{{indexData.IsRepackaging}}</span>
                        </div>
                    </div>
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">是否真空包装：</span>
                            <span class="i_content">{{indexData.IsVacuumPackaging}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">是否防水包装：</span>
                            <span class="i_content">{{indexData.IsWaterproofPackaging}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="title mt30 mb20">开票信息</p>
                <div class="info_content">
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">开票类型：</span>
                            <span class="i_content">{{indexData.Invoice.Type}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">交付方式：</span>
                            <span class="i_content">{{indexData.Invoice.DeliveryType}}</span>
                        </div>
                    </div>
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">名称：</span>
                            <span class="i_content">{{indexData.Invoice.CompanyName}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">纳税人识别号：</span>
                            <span class="i_content">{{indexData.Invoice.TaxperNumber}}</span>
                        </div>
                    </div>
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">地址：</span>
                            <span class="i_content">{{indexData.Invoice.RegAddress}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">电话：</span>
                            <span class="i_content">{{indexData.Invoice.CompanyTel}}</span>
                        </div>
                    </div>
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">开户行：</span>
                            <span class="i_content">{{indexData.Invoice.Bank}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">账号：</span>
                            <span class="i_content">{{indexData.Invoice.Account}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="file_content">
                <div class="overhide">
                    <div class="file_l fl">
                        <p class="title mt30 mb20">合同发票</p>
                        <div v-for="item in indexData.PIFiles" class="mb10">
                            <i class="invoice_icon"></i>
                            <span class="f_name">{{item.Name}}</span>
                            <a class="link1" :href="item.Url" target="_blank">下载</a>
                        </div>
                        <div v-if="indexData.PIFiles.length==0">
                            <span class="txt_yellow">提示：未上传</span>
                        </div>
                    </div>
                    <div class="file_r fl">
                        <p class="title mt30 mb20">随货文件</p>
                        <div v-for="item in indexData.AccompanyFiles" class="mb10">
                            <i class="file_icon"></i>
                            <span class="f_name">{{item.Name}}</span>
                            <a class="link1" :href="item.Url" target="_blank">下载</a>
                        </div>
                        <div v-if="indexData.AccompanyFiles.length==0">
                            <span class="txt_yellow">提示：未上传</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_content">
                <p class="title mt30 mb20">产品信息</p>
                <table border="0" cellspacing="0" cellpadding="0" style="word-wrap:break-word; word-break:break-all;">
                    <tr>
                        <th class="first_th" style="width:22px;">#</th>
                        <th style="width:50px;">批号</th>
                        <th style="width:110px;">品牌</th>
                        <th style="width:120px;">型号</th>
                        <th style="width:110px;">产地</th>
                        <th style="width:50px;">数量</th>
                        <th style="width:58px;">单位</th>
                        <th style="width:50px;">销售单价</th>
                        <th style="width:50px;">销售总价</th>
                    </tr>
                    <tr v-for="(item,index) in indexData.OrderItems">
                        <td>{{index+1}}</td>
                        <td>{{item.DateCode}}</td>
                        <td style="word-wrap:break-word;word-break:break-all;padding:0 5px;">{{item.Manufacturer}}</td>
                        <td style="word-wrap:break-word;word-break:break-all;padding:0 5px;">{{item.PartNumber}}</td>
                        <td>{{item.OriginLabel}}</td>
                        <td>{{item.Quantity}}</td>
                        <td>{{item.UnitLabel}}</td>
                        <td>{{item.UnitPrice}}</td>
                        <td>{{item.TotalPrice}}</td>
                    </tr>
                    <tr>
                        <td colspan="10"><span class="txt1">订单总金额：</span><span class="txt2">{{indexData.TotalMoney}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var vDeliveryDetail = new Vue({
        el: "#vDeliveryDetail",
        data: function () {
            return {
                indexData:@Html.Raw(Json.Encode(Model)),
            }
        },
    });
</script>

