<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CvOssConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=CvOss;Persist Security Info=True;User ID=udata;Password=udata123" />
        <add name="BvOrdersConnectionString"
              connectionString="Data Source=172.30.10.197;Initial Catalog=BvOrders;Persist Security Info=True;User ID=udata;Password=udata123"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>