
@{
    Layout = "~/Views/Shared/_LayoutOrder.cshtml";
    ViewBag.navid = "PreConfirmList";
}

<div v-cloak id="vDeclareConfirm" class="backshow">
    <div class="breaklist">
        <span class="fl first_title">订单确认</span>
        <span class="fl second_title" v-on:click="history.back(-1)">返回</span>
    </div>
    <div class="order_detail">
        <div class="products">
            <div style="" class="productWrap">
                <table class="tb_product" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th class="first_th" style="width:30px;">#</th>
                        <th style="width:120px;">规格型号</th>
                        <th style="width:120px;">品名</th>
                        <th style="width:100px;">品牌</th>
                        <th style="width:70px;">数量</th>
                        <th style="width:80px;">单价({{indexData.CurrencyCode}})</th>
                        <th style="width:80px;">总价({{indexData.CurrencyCode}})</th>
                        <th style="width:110px;">报关货值(CNY)</th>
                        <th style="width:70px;">关税率</th>
                        <th style="width:90px;">关税(CNY)</th>
                        <th style="width:70px;">增值税率</th>
                        <th style="width:90px;">增值税(CNY)</th>
                        <th style="width:90px;">代理费(CNY)</th>
                        <th style="width:90px;">杂费(CNY)</th>
                        <th style="width:110px;">税费合计(CNY)</th>
                        <th>报关总金额</th>
                    </tr>
                    <tr v-for="(item,index) in indexData.OrderItem">
                        <td>{{index+1}}</td>
                        <td style="word-wrap:break-word;word-break:break-all;padding:0 5px;text-align:left">
                            {{item.Model}} <p v-if="item.ItemCategoryTypes.length>0 && item.ItemCategoryTypes[0]!=''"> <span class="spacialTip" v-for="sub_item in item.ItemCategoryTypes">{{sub_item}}</span></p>
                        </td>
                        <td style="word-wrap:break-word;word-break:break-all;padding:0 5px;text-align:left">{{item.Name}}</td>
                        <td>{{item.Manufacturer}}</td>
                        <td>{{item.Quantity}}</td>
                        <td>{{toFixed(4,item.UnitPrice)}}</td>
                        <td>{{toFixed(2,item.TotalPrice)}}</td>
                        <td>{{toFixed(2,item.DeclareValue)}}</td>
                        <td :class="{red:item.TraiffRate!=0}">{{item.TraiffRate}}</td>
                        <td>{{toFixed(2,item.Traiff)}}</td>
                        <td>{{item.AddTaxRate}}</td>
                        <td>{{toFixed(2,item.AddTax)}}</td>
                        <td>{{toFixed(2,item.AgencyFee)}}</td>
                        <td>{{toFixed(2,item.InspectionFee)}}</td>
                        <td>{{toFixed(2,item.TotalTaxFee)}}</td>
                        <td>{{toFixed(2,item.TotalDeclareValue)}}</td>
                    </tr>
                    <tr>
                        <td colspan="4">合计</td>
                        <td>{{indexData.Products_Num}}</td>
                        <td></td>
                        <td>{{toFixed(2,indexData.Products_TotalPrice)}}</td>
                        <td>{{toFixed(2,indexData.Products_DeclareValue)}}</td>
                        <td></td>
                        <td>{{toFixed(2,indexData.Products_Traiff)}}</td>
                        <td></td>
                        <td>{{toFixed(2,indexData.Products_AddTax)}}</td>
                        <td>{{toFixed(2,indexData.Products_AgencyFee)}}</td>
                        <td>{{toFixed(2,indexData.Products_InspectionFee)}}</td>
                        <td>{{toFixed(2,indexData.Products_TotalTaxFee)}}</td>
                        <td>{{toFixed(2,indexData.Products_TotalDeclareValue)}}</td>
                    </tr>
                </table>
            </div>
            <table class="tb_sum">
                <tr class="sum_content" style="width:916px;">
                    <td colspan="16">
                        <div class="sum_title fl">
                            <p>报关货值合计(CNY)：</p>
                            <p>税费合计(CNY)：</p>
                            <p>报关总金额(CNY)：</p>
                        </div>
                        <div class="sum_result fl">
                            <p>¥ {{toFixed(2,indexData.Products_DeclareValue)}}</p>
                            <p>¥ {{toFixed(2,indexData.Products_TotalTaxFee)}}</p>
                            <p class="total_Price">¥ {{toFixed(2,indexData.Products_TotalDeclareValue)}}</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="order_content contentOrder">
            <div>
                <p class="title mt30 mb20">基本信息</p>
                <div class="info_content">
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">币种：</span>
                            <span class="i_content">{{indexData.Currency}}</span>
                        </div>
                        <div v-if="indexData.Type=='5'" class="fl overhide">
                            <span class="i_title">是否代付货款：</span>
                            <span class="i_content">{{indexData.IsPayCharge}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="indexData.Type=='5'">
                <p class="title mt30 mb20">香港交货方式</p>
                <div class="info_content">
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">交货方式：</span>
                            <span class="i_content txt_yellow">{{indexData.HKDeliveryTypeName}}</span>
                        </div>
                    </div>
                    <div v-if="indexData.HKDeliveryType=='1'">
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">供应商：</span>
                                <span class="i_content">{{indexData.SupplierName}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">提货人姓名：</span>
                                <span class="i_content">{{indexData.TakingContact}}</span>
                            </div>
                        </div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">联系电话：</span>
                                <span class="i_content">{{indexData.TakingPhone}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">提货地址：</span>
                                <span class="i_content">{{indexData.TakingDetailAddress}}</span>
                            </div>
                        </div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">提货时间：</span>
                                <span class="i_content">{{indexData.TakingDate}}</span>
                            </div>
                            <div class="fl overhide ">
                                <span class="i_title">提货文件：</span>
                                <span class="i_content"><a download v-if="indexData.DeliveryFile!=''" class="file_link" target="_blank" :href="indexData.DeliveryFile">查看提货文件</a></span>
                            </div>
                        </div>
                    </div>
                    <div v-if="indexData.HKDeliveryType=='2'">
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">物流单号：</span>
                                <span class="i_content">{{indexData.WaybillCode}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">供应商：</span>
                                <span class="i_content">{{indexData.SupplierName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="title mt30 mb20">国内交货方式</p>
                <div class="info_content">
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">交货方式：</span>
                            <span class="i_content txt_yellow">{{indexData.SZDeliveryTypeName}}</span>
                        </div>
                    </div>
                    <div v-if="indexData.SZDeliveryType=='1'">
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">提货人：</span>
                                <span class="i_content">{{indexData.OutTakingContact}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">电话：</span>
                                <span class="i_content">{{indexData.OutTakingPhone}}</span>
                            </div>
                        </div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">证件类型：</span>
                                <span class="i_content">{{indexData.CertificateType}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">证件号码：</span>
                                <span class="i_content">{{indexData.Certificate}}</span>
                            </div>
                        </div>
                    </div>
                    <div v-if="indexData.SZDeliveryType=='2'||indexData.SZDeliveryType=='3'">
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">收货人：</span>
                                <span class="i_content">{{indexData.ReceivedContact}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">电话：</span>
                                <span class="i_content">{{indexData.ReceivedPhone}}</span>
                            </div>
                        </div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">地址：</span>
                                <span class="i_content">{{indexData.ReceivedAddress}}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="title mt30 mb20">付汇供应商</p>
                <div class="info_content">
                    <div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">供应商：</span>
                                <span class="i_content"><span v-for="(item,index) in indexData.PayExchangeSupplier">{{index+1}}.{{item}}<br /></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="title mt30 mb20">其他信息</p>
                <div class="info_content">
                    <div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">是否需要包车：</span>
                                <span class="i_content">{{indexData.IsFullVehicle}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">包装类型：</span>
                                <span class="i_content">{{indexData.Packaging}}</span>
                            </div>
                        </div>
                        <div class="overhide mb10">
                            <div class="fl overhide  mr88">
                                <span class="i_title">件数：</span>
                                <span class="i_content">{{indexData.TotalParts}}</span>
                            </div>
                            <div class="fl overhide">
                                <span class="i_title">备注：</span>
                                <span class="i_content">{{indexData.Summary}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div>
                <p class="title mt30 mb20">开票信息</p>
                <div class="info_content">
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">开票类型：</span>
                            <span class="i_content">{{indexData.Invoice.Type}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">交付方式：</span>
                            <span class="i_content">{{indexData.Invoice.DeliveryType}}</span>
                        </div>
                    </div>
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">名称：</span>
                            <span class="i_content">{{indexData.Invoice.CompanyName}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">纳税人识别号：</span>
                            <span class="i_content">{{indexData.Invoice.TaxperNumber}}</span>
                        </div>
                    </div>
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">地址：</span>
                            <span class="i_content">{{indexData.Invoice.RegAddress}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">电话：</span>
                            <span class="i_content">{{indexData.Invoice.CompanyTel}}</span>
                        </div>
                    </div>
                    <div class="overhide mb10">
                        <div class="fl overhide  mr88">
                            <span class="i_title">开户行：</span>
                            <span class="i_content">{{indexData.Invoice.Bank}}</span>
                        </div>
                        <div class="fl overhide">
                            <span class="i_title">账号：</span>
                            <span class="i_content">{{indexData.Invoice.Account}}</span>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="file_content">
                <div class="overhide">
                    <div class="file_l fl">
                        <p class="title mt30 mb20">合同发票</p>
                        <div v-for="item in indexData.PIFiles" class="mb10">
                            <i class="invoice_icon"></i>
                            <span class="f_name">{{item.Name}}</span>
                            <a class="link1" :href="item.Url" target="_blank">下载</a>
                        </div>
                        <div v-if="indexData.PIFiles.length==0">
                            <span class="txt_yellow">提示：未上传</span>
                        </div>
                    </div>
                    <div class="file_r fl">
                        <p class="title mt30 mb20">代理报关委托书</p>
                        <div v-if="agent_fileName!=''" class="mb10">
                            <i class="file_icon"></i>
                            <span class="f_name">{{agent_fileName}}</span>
                            <a class="link1" :href="agent_fileUrl" target="_blank">下载</a><span v-if="!indexData.OrderAgentStatus" class="f_status ml10">(待审核)</span>
                            <span v-if="indexData.OrderAgentStatus" class="f_status ml10">(已审核)</span>
                        </div>
                        <div v-else>
                            <span class="txt_yellow">提示：未上传</span>
                        </div>
                        <div class="common_upload_div  mb8 mt20">
                            <div v-if="(!indexData.OrderAgentStatus)" class="common_upload_div  mb8 mt20">
                                <div class="overhide">
                                    <div class="fl">
                                        <el-button v-on:click="download_agent" class="el-icon-ump-xiazai">导出</el-button>
                                        <a id="exportInfoForm" style="display:none" download><span id="ex-li" style="display:none"></span></a>
                                    </div>
                                    <div class="fl">
                                        <el-upload action="/PayExchange/UploadOrderFile"
                                                   :http-request="httpRequest_agent"
                                                   :show-file-list="false"
                                                   accept="image/jpg, image/bmp, image/jpeg, image/gif, image/png, application/pdf">
                                            <el-button class="el-icon-ump-upload" size="small">上传</el-button>
                                        </el-upload>
                                    </div>
                                </div>
                                <div class="file_tip mt20">仅限图片或PDF文件，且文件不超过3M</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit_btn_dec mt100">
                <div class="btn_dec_list">
                    <el-button size="medium" v-on:click="confirm()" type="warning" class="btn_dec">确认订单</el-button>
                    <el-button size="medium" v-on:click="cancel()" class="btn_dec">取消订单</el-button>
                </div>
            </div>
        </div>

    </div>
    <el-dialog title="取消订单" :visible.sync="dialogFormVisible" :lock-scroll="false" :close-on-click-modal="false" width="30%">
        <el-form status-icon :model="ruleForm" label-width="60px" ref="ruleForm">
            <el-form-item label="原因" prop="Cancel_Reason" :rules="[{ required: true, message: '请输入原因', trigger: 'blur' },{max:400, message: '原因长度不超过400', trigger: 'blur' }]">
                <el-input v-model="ruleForm.Cancel_Reason" type="textarea" auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" v-on:click="onSubmit_ruleForm()">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog class="successdialog" title="订单确认成功" :lock-scroll="false" width="520px" :visible.sync="dialogConfirmVisible" :close-on-click-modal="false">
        <div class="content">
            <p>订单确认成功</p>
        </div>
        <div class="dialog_foot">
            <el-button type="primary" style="float:right;margin-right:50px;" v-on:click="return_PreComfirms">返回</el-button>
        </div>
    </el-dialog>
    <el-dialog class="successdialog" title="订单取消成功" :lock-scroll="false" width="520px" :visible.sync="dialogCancelVisible" :close-on-click-modal="false">
        <div class="content">
            <p>订单取消成功</p>
        </div>
        <div class="dialog_foot overhide">
            <el-button type="primary" style="float:right;margin-right:50px;" v-on:click="return_PreComfirms">返回</el-button>
        </div>
    </el-dialog>
</div>

<script>
    var vDeclareConfirm = new Vue({
        el: "#vDeclareConfirm",
        data: function () {
            return {
                indexData:@Html.Raw(Json.Encode(Model)),
                dialogConfirmVisible: false,
                dialogCancelVisible: false,
                dialogFormVisible: false,
                ruleForm: {
                    Cancel_Reason: "",
                },
                agent_fileUrl: "",
                agent_URL: "",
                agent_fileName: "",
                agent_fileFormat: "",
            }
        },
        mounted: function () {
            if (this.indexData.OrderAgentURL != "") {
                this.agent_fileUrl = this.indexData.OrderAgentURL;
                this.agent_fileName = this.indexData.OrderAgentName;
            }
        },
        methods: {
            //导出代理报关委托书
            download_agent: function () {
                var that = this;
                axios({
                    url: "/Declare/ExportAgent",
                    method: "post",
                    data: {
                        id: this.indexData.ID
                    },
                }).then(function (response) {
                    if (response.data.type == "error") {
                        that.onAlert(res.data.type, res.data.msg);
                    } else {
                        $('#exportInfoForm').attr("href", response.data.data);
                        $('#exportInfoForm').attr("target", "_blank");
                        $('#ex-li').trigger("click");
                    }
                }).catch(function (error) {
                    that.onAlert("warning", error);
                });
            },
            httpRequest_agent: function (options) {
                var that = this;
                var file = options.file;
                var size = file.size / 1024;
                var imgArr = ["image/jpg", "image/bmp", "image/jpeg", "image/gif", "image/png"];
                let config = {
                    headers: { 'Content-Type': 'multipart/form-data' }
                };
                if (imgArr.indexOf(file.type) > -1 && size > 500) { //大于500kb的图片压缩
                    photoCompress(file, { quality: 0.8 }, function (base64Codes) {
                        var bl = convertBase64UrlToBlob(base64Codes);
                        var form = new FormData(); // FormData 对象
                        form.append("file", bl, "file_" + Date.parse(new Date()) + ".jpg"); // 文件对象
                        //添加请求头
                        axios.post('/Orders/UploadOrderFile', form, config)
                            .then(function (response) {
                                var file = JSON.parse(response.data.data);
                                if (response.data.type != "error") {
                                    that.agent_fileUrl = file.fullURL;
                                    that.agent_URL = file.URL;
                                    that.agent_fileName = file.name;
                                    that.agent_fileFormat = file.fileFormat;
                                }
                            });
                    });
                } else if (imgArr.indexOf(file.type) <= -1 && size > 1024 * 3) {
                    that.onAlert("error", "上传的文件大小不能大于3M");
                    return;
                } else {
                    var form = new FormData(); // FormData 对象
                    form.append("file", file); // 文件对象
                    //添加请求头
                    axios.post('/Orders/UploadOrderFile', form, config)
                        .then(function (response) {
                            var file = JSON.parse(response.data.data);
                            if (response.data.type != "error") {
                                that.agent_fileUrl = file.fullURL;
                                that.agent_URL = file.URL;
                                that.agent_fileName = file.name;
                                that.agent_fileFormat = file.fileFormat;
                            }
                        });
                }
            },
            onSubmit_ruleForm: function () {
                var that = this;
                this.$refs.ruleForm.validate(function (valid) {
                    if (valid) {
                        const loading = that.$loading({
                            lock: false,
                            text: 'Loading',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.7)'
                        });
                        that.dialogFormVisible = false;
                        axios({
                            url: "/Declare/CancelConfirm",
                            method: "post",
                            data: {
                                orderID: that.indexData.ID,
                                reason: that.ruleForm.Cancel_Reason,
                            }
                        }).then(function (response) {
                            loading.close();
                            if (response.data.type == "error") {
                                that.onAlert(response.data.type, response.data.msg);
                            }
                            else {
                                that.dialogCancelVisible = true;
                            }
                        }).catch(function (error) {
                            that.onAlert("warning", error);
                        });
                    }
                });
            },
            toFixed: function (num, val) {
                return val.toFixed(num);
            },
            cancel: function () {
                this.ruleForm.Cancel_Reason = "";
                this.dialogFormVisible = true;
            },
            //返回待确认订单
            return_PreComfirms: function () {
                location.href = "/Declare/PreConfirmList";
            },
            //确认订单
            confirm: function () {
                var that = this;
                const loading = this.$loading({
                    lock: false,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                axios({
                    url: "/Declare/CheckPreConfirm",
                    method: "post",
                    data: {
                        orderID: that.indexData.ID,
                        URL: that.agent_URL,
                        name: that.agent_fileName,
                        fileFormat: that.agent_fileFormat,
                    }
                }).then(function (response) {
                    loading.close();
                    if (response.data.type == "error") {
                        that.onAlert(response.data.type, response.data.msg);
                    }
                    else {
                        that.dialogConfirmVisible = true;
                    }
                }).catch(function (error) {
                    that.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                });
            },
            //消息提示框
            onAlert: function (type, message) {
                this.$message({
                    message: message,
                    type: type,
                });
            },
        }
    });
</script>

