<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <appSettings>
    <!--香港库房-->
    <!--香港万路通国际物流有限公司-->
    <add key="HKWLTID" value="HK01"/>
    <!--香港畅运国际物流有限公司-->
    <add key="HKCYID" value="HK02"/>
    <!--深圳库房-->
    <!--深圳市芯达通供应链管理有限公司-->
    <add key="SZXDTID" value="SZ01"/>
    <!--深圳市创新恒远供应链管理有限公司-->
    <add key="SZCXHYID" value="SZ02"/>
    <!--深圳市科睿鑫汇供应链管理有限公司-->
    <add key="SZKRXHID" value="SZ03"/>
    <!--发票总额度-->
    <add key="ServiceInvoiceTotalAmount" value="100000"/>
    <!--发票确认单中章图片-->
    <add key="InvoiceImage" value="XDTInvoice.png"/>
    <!--快递面单请求地址-->
    <add key="KdApiUrl" value="http://api.kdniao.com/api/Eorderservice"/>
    <!--Api开发路径-->
    <!--<add key="PvDataApiUrl" value="http://hv.erp.b1b.com/PvDataApi/"/>
    <add key="PvWsOrderApiUrl" value="http://hv.erp.b1b.com/PvWsOrderApi/"/>
    <add key="ApiWmsUrl" value="http://hv.warehouse.b1b.com/wmsapi/"/>
    <add key="WlAdminApiUrl" value="http://apidev.for-ic.net/"/>
    <add key="FinanceApiUrl" value="http://hv.erp.b1b.com/FinanceApi/"/>-->
    <!--Api测试路径-->
    <add key="PvDataApiUrl" value="http://hv.erp.b1b.com/PvDataApi/"/>
    <add key="PvWsOrderApiUrl" value="http://hv.erp.b1b.com/PvWsOrderApi/"/>
    <add key="ApiWmsUrl" value="http://221.122.108.49:8199/wmsapi/"/>
    <add key="WlAdminApiUrl" value="http://api0.szhxt.net/"/>
    <add key="FinanceApiUrl" value="http://hv.erp.b1b.com/FinanceApi/"/>
    <add key="SzApiUrl" value="http://221.122.108.49:8197/"/>
    <add key="XDTSFK" value="http://172.16.6.160:810/"/>
    <!--Api正式路径-->
    <!--<add key="PvDataApiUrl" value="http://erp8.foric.b1b.cn/PvDataApi/"/>
    <add key="PvWsOrderApiUrl" value="http://erp8.foric.b1b.cn/PvWsOrderApi/"/>
    <add key="ApiWmsUrl" value="http://warehouse.for-ic.net:60077/wmsapi/"/>
    <add key="WlAdminApiUrl" value="http://api.for-ic.net/"/>
    <add key="FinanceApiUrl" value="http://erp8.wapi.for-ic.net:60077/FinanceApi/"/>
    <add key="SzApiUrl" value="http://apisz.wapi.for-ic.net:60077/"/>
    <add key="XDTSFK" value="http://172.16.6.160:817/" />-->
    <!--大赢家生成XMLtoken-->
    <add key="dyjtoken" value="92A0E2EC-F9F4-41DB-B623-E135A1336254"/>
    <add key="InvoiceApiUrl" value="http://cw.51db.com:9098/"/>
    <add key="MonthlyCard" value="7550123478"/>
    <add key="PartnerID" value="YDCXKg"/>
    <add key="Checkword" value="XKuM6bAGYZ2FvHmTb3FOyssM03LBquav"/>
    <add key="CheckServiceCode" value="EXP_RECE_SEARCH_ORDER_RESP"/>
    <add key="OrderServiceCode" value="EXP_RECE_CREATE_ORDER"/>
    <add key="ImageURL" value="http://172.16.98.92:4040/sf/waybill/print?type=FM_poster_100mm210mm&amp;output=image"/>
    <!-- 正式地址 -->
    <add key="ReqURL" value="https://sfapi.sf-express.com/std/service"/>
    <add key="FileServerUrl" value="http://hv.erp.b1b.com/wladmin/Files"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>