USE [PvbCrm]
GO
/****** Object:  Table [dbo].[Suppliers_ShenZhen]    Script Date: 2019/7/9 星期二 11:48:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers_ShenZhen](
	[供应商名字] [nvarchar](255) NULL,
	[账期] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Suppliers_ShenZhen] ([供应商名字], [账期]) VALUES (N'深圳锐飞电子科技有限公司', N'2周')
INSERT [dbo].[Suppliers_ShenZhen] ([供应商名字], [账期]) VALUES (N'上海苏溯鑫贸易有限公司', N'2周')
INSERT [dbo].[Suppliers_ShenZhen] ([供应商名字], [账期]) VALUES (N'深圳明嘉瑞科技有限公司', N'1周')



Go
--修改账期
update  [dbo].[Suppliers] 
        set [Suppliers].[RepayCycle] = tab.[账期]
from(
select t1.ID,
case when (select SUBSTRING(t2.[账期],2,1))='周' 
then (select LEFT(t2.[账期],1))*7
when t2.[账期]='月结' then 30
end as [账期]  
from [dbo].[Enterprises] t1 join [dbo].[Suppliers_ShenZhen] t2 on t1.Name=t2.[供应商名字]) as tab
where [dbo].[Suppliers] .ID=tab.ID


GO
--删除表
IF EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Suppliers_ShenZhen]') AND type in (N'U'))
BEGIN
drop table [dbo].[Suppliers_ShenZhen];
END