USE [PvbCrm]
GO
/****** Object:  Table [dbo].[Data_CustomBasicInfo]    Script Date: 2019/10/30 10:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_CustomBasicInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Data_CustomBasicInfo](
	[客户名称] [varchar](255) NULL,
	[统一社会信用编码] [varchar](255) NULL,
	[海关编码] [varchar](255) NULL,
	[公司法人] [varchar](255) NULL,
	[公司注册地址] [varchar](255) NULL,
	[入仓号] [varchar](255) NULL,
	[客户等级] [float] NULL,
	[客户状态] [float] NULL,
	[客户创建时间] [datetime] NULL,
	[更新时间] [datetime] NULL,
	[联系人] [varchar](255) NULL,
	[联系电话] [varchar](255) NULL,
	[手机号] [varchar](255) NULL,
	[邮箱] [varchar](255) NULL,
	[传真] [varchar](255) NULL,
	[业务员] [varchar](255) NULL,
	[跟单员] [varchar](255) NULL,
	[文件名称] [varchar](255) NULL,
	[文件地址] [varchar](255) NULL,
	[文件格式] [varchar](255) NULL,
	[文件类型] [float] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[Data_CustomBasicInfo] ([客户名称], [统一社会信用编码], [海关编码], [公司法人], [公司注册地址], [入仓号], [客户等级], [客户状态], [客户创建时间], [更新时间], [联系人], [联系电话], [手机号], [邮箱], [传真], [业务员], [跟单员], [文件名称], [文件地址], [文件格式], [文件类型]) VALUES (N'苏州丰芯昌电子科技有限公司', N'91320506093505277Y', NULL, N'王春华', N'苏州吴中经济开发区旺山工业园斜家村路1号2幢', N'WL475', 2, 2, CAST(0x0000AA6C00C77D24 AS DateTime), CAST(0x0000AA6C010506A8 AS DateTime), N'王經理', NULL, N'13511609089', NULL, NULL, N'陈红燕', N'钟苑平', N'0350218284698.jpg', N'http://api.gerp.ic360.cn/wladmin/Files/Client/201906/14/0350218284698.jpg', N'image/jpeg', 7)
INSERT [dbo].[Data_CustomBasicInfo] ([客户名称], [统一社会信用编码], [海关编码], [公司法人], [公司注册地址], [入仓号], [客户等级], [客户状态], [客户创建时间], [更新时间], [联系人], [联系电话], [手机号], [邮箱], [传真], [业务员], [跟单员], [文件名称], [文件地址], [文件格式], [文件类型]) VALUES (N'深圳市拓普仪器有限公司', NULL, NULL, N'冯萌', N'深圳市龙岗区平湖街道上木古新河路109号2栋2楼201', N'WL461', 1, 2, CAST(0x0000A9F900A02030 AS DateTime), CAST(0x0000AA2300EC8B78 AS DateTime), N'冯萌', NULL, N'13827478783', N'272511342@QQ.COM', NULL, N'赖翠红', N'钟苑平', N'201902190955251690.jpg', N'http://api.gerp.ic360.cn/wladmin/Files/Client/201805/01/201902190955251690.jpg', N'image/jpg', 7)
INSERT [dbo].[Data_CustomBasicInfo] ([客户名称], [统一社会信用编码], [海关编码], [公司法人], [公司注册地址], [入仓号], [客户等级], [客户状态], [客户创建时间], [更新时间], [联系人], [联系电话], [手机号], [邮箱], [传真], [业务员], [跟单员], [文件名称], [文件地址], [文件格式], [文件类型]) VALUES (N'深圳市宝泰威数码有限公司', N'91440300MA5F2KK29R', NULL, N'王启刚', N'深圳市龙华区大浪街道高峰社区元芬村龙峰三路中段2号元芬金园大厦B1905', N'WL386', 1, 2, CAST(0x0000A8DB00E85C60 AS DateTime), CAST(0x0000AA2300EC8A4C AS DateTime), N'魏南明', NULL, N'18875921804', N'3230666505qq.com', NULL, N'赖翠红', N'曹丽平', N'201805091411133677.jpg', N'http://api.gerp.ic360.cn/wladmin/Files/Client/201805/01/201805091411133677.jpg', N'image/jpg', 7)
GO




GO
--****************************** 1.导入[Enterprises] ******************************

insert into [PvbCrm].[dbo].[Enterprises]
(		
		[ID]
		,[Name]
		,[AdminCode]
		,[Status]
		,[District]		--地区	 
		,[Corporation]		--法人
		,[RegAddress]		--注册地址
		,[Uscc]		--统一社会信用编码	
)
select * from 
(
		select distinct 
				[ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
				,[Name] = [客户名称]
				,[AdminCode] = ''
				,[Status] = 200
				,[District] = ''
				,[Corporation] = [公司法人]
				,[RegAddress] = [公司注册地址]
				,[Uscc] = [统一社会信用编码]	
		from  Data_CustomBasicInfo 
) as dcbi
where dcbi.ID  not in ( select [ID] from [PvbCrm].[dbo].[Enterprises] )


--已存在的企业修改法人，注册地址和统一社会信用编码
update [Enterprises]
set Corporation=b.[Corporation],
RegAddress=b.RegAddress,
Uscc=b.Uscc
from [Enterprises] a join (select distinct 
				[ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
				,[Name] = [客户名称]
				,[Corporation] = [公司法人]
				,[RegAddress] = [公司注册地址]
				,[Uscc] = [统一社会信用编码]	
		from  Data_CustomBasicInfo) b on a.ID=b.ID
GO
--******************************  2.导入[WsClients]  ******************************

 insert into [PvbCrm].[dbo].[WsClients]
(		
	  [ID]
      ,[Grade]
      ,[Vip]
      ,[EnterCode]		--入仓号
      ,[CustomsCode]		--海关编码
      ,[Status]
      ,[AdminID]	--可根据业务员的名称找到id
      ,[Summary]		--总结
      ,[CreateDate]
      ,[UpdateDate]
)

select * from 
(
		select distinct 
			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
			  ,[Grade] = [客户等级]
			  ,[Vip] = 0	
			  ,[EnterCode] = [入仓号]
			  ,[CustomsCode] = [海关编码]
			  ,[Status] = case when [客户状态]=2 then 200 when [客户状态]=1 then 1 end
			  ,[AdminID] = (select ID from AdminsTopView where RealName=[业务员])	
			  ,[Summary] = null		
			  ,[CreateDate] = [客户创建时间]
			  ,[UpdateDate] = [更新时间]
		from  Data_CustomBasicInfo 
) as dcbi

where dcbi.ID not in ( select [ID] from [PvbCrm].[dbo].[WsClients] )

--******************************  3.导入[Contacts]   ******************************

insert into [PvbCrm].[dbo].[Contacts]
(		
		[ID]
		,[EnterpriseID]
		,[Type]
		,[Name]
		,[Tel]		
		,[Mobile]		
		,[Email]
		,[Status]
        ,[CreateDate]
        ,[UpdateDate]
        ,[AdminID]
        ,[Fax]
)
select * from 
(
		select distinct 
				--ID=(this.EnterpriseID,Type,Name,Tel,Mobile,Email).MD5()

				 [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
				Convert(varchar(100), Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Offline'+[联系人]+ isnull(联系电话,'')+[手机号]+isnull(邮箱,'')))),3,32))	 	
		
				,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
				,[Type] = 2
				,[Name] = [联系人]		
				,[Tel] = [联系电话]
				,[Mobile] = [手机号]				
				,[Email] = [邮箱]
				,[Status] = 200
				,[CreateDate] = [客户创建时间]
				,[UpdateDate] = [更新时间]
				,[AdminID] =  (select ID from AdminsTopView where realname=[业务员])
				,[Fax] = [传真]
		from  Data_CustomBasicInfo
) as dcbi 

where dcbi.ID not in ( select [ID] from [PvbCrm].[dbo].[Contacts] )

GO
  
--******************************  4.导入[MapsBEnter] (联系人与客户的关系)******************************
---关系ID='WsContact_'+客户ID
insert into [PvbCrm].[dbo].[MapsBEnter]
(		
		[ID]
        ,[Bussiness]
        ,[Type]
        ,[EnterpriseID]
        ,[SubID]
        ,[CtreatorID]
        ,[CreateDate]
        ,[IsDefault]
)
select * from 
(
		select distinct 
		
				 [ID] = 'WsContact_'+Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))
		
				,[Bussiness] = 30
				,[Type1] = 73
				,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 

				,[SubID] =  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
				Convert(varchar(100), Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Offline'+[联系人]+ isnull(联系电话,'')+[手机号]+isnull(邮箱,'')))),3,32))		
		
				,[CtreatorID] = (select ID from AdminsTopView where realname=[业务员])		
				,[CreateDate] = [客户创建时间]
				,[IsDefault] = 1
		from  Data_CustomBasicInfo
) as dcbi

where dcbi.ID not in ( select [ID] from [PvbCrm].[dbo].[MapsBEnter] )
----关系ID= 'WsContact_'+ MD5(客户ID+'Offline'+[联系人]+ 联系电话+[手机号]邮箱')	
--insert into [PvbCrm].[dbo].[MapsBEnter]
--(		
--		[ID]
--        ,[Bussiness]
--        ,[Type]
--        ,[EnterpriseID]
--        ,[SubID]
--        ,[CtreatorID]
--        ,[CreateDate]
--        ,[IsDefault]
--)
--select * from 
--(
--		select distinct 
		
--				 [ID] = 'WsContact_'+ Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
--				Convert(varchar(100), Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Offline'+[联系人]+ isnull(联系电话,'')+[手机号]+isnull(邮箱,'')))),3,32))	
		
--				,[Bussiness] = 30
--				,[Type1] = 73
--				,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 

--				,[SubID] =  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
--				Convert(varchar(100), Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Offline'+[联系人]+ isnull(联系电话,'')+[手机号]+isnull(邮箱,'')))),3,32))		
		
--				,[CtreatorID] = (select ID from AdminsTopView where realname=[业务员])		
--				,[CreateDate] = [客户创建时间]
--				,[IsDefault] = 1
--		from  Data_CustomBasicInfo
--) as dcbi

--where dcbi.ID not in ( select [ID] from [PvbCrm].[dbo].[MapsBEnter] )

--delete  from MapsBenter where ID in
--(
--select 
--				 [ID] = 'WsContact_'+ Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
--				Convert(varchar(100), Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Offline'+[联系人]+ isnull(联系电话,'')+[手机号]+isnull(邮箱,'')))),3,32))	
		
--		from  Data_CustomBasicInfo
--)

GO
--******************************  5.导入[FilesDescription] ******************************
-- 营业执照
insert into [PvbCrm].[dbo].[FilesDescription]
(				
		 [ID]
         ,[EnterpriseID]
         ,[Name]
         ,[Type]
         ,[FileFormat]
         ,[Url]
         ,[AdminID]
         ,[Summary]
         ,[CreateDate]
         ,[Status]
         ,[PaysID]
)

select * from 
(
		select distinct 

				 --营业执照：[dbo].[FilesDescription] Type=7  AdminID=[业务员]  PaysID=''
				 --this.EnterpriseID, this.Url, this.Type, this.CompanyID).MD5()

				 [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
				CONVERT(varchar(100), Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+[文件地址]+'BusinessLicense'+'DBAEAB43B47EB4299DD1D62F764E6B6A'))),3,32))

				 ,[EnterpriseID] =  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
				 ,[Name] = [文件名称]
				 ,[Type] = 7
				 ,[FileFormat] = [文件格式]
				 ,[Url] = [文件地址]
				 ,[AdminID] = (select ID from AdminsTopView where realname=[业务员])
				 ,[Summary] = null
				 ,[CreateDate] = [客户创建时间]
				 ,[Status] = 200
				 ,[PaysID] = null
		from  Data_CustomBasicInfo where [文件名称]!='NULL'
) as dcbi

where dcbi.ID not in ( select [ID] from [PvbCrm].[dbo].[FilesDescription] )


GO




--******************************  6.导入[MapsTracker] ******************************
--业务员与客户的关系
insert into [dbo].[MapsTracker]
(		
      [ID]
      ,[Bussiness]
      ,[Type]
      ,[AdminID]
      ,[RealID]
      ,[IsDefault]
     
)
select * from 
(
		select distinct 	
			  --ID=( DBAEAB43B47EB4299DD1D62F764E6B6A,客户ID,30,75).md5()
			  --RealID =( DBAEAB43B47EB4299DD1D62F764E6B6A,客户ID).md5(),

			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			 CONVERT(varchar(100), 'DBAEAB43B47EB4299DD1D62F764E6B6A'
			  +Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'WarehouseServicing'+'ServiceManager'))),3,32))

			  ,[Bussiness] = 30
			  ,[Type] = 75
			  ,[AdminID] = (select ID from AdminsTopView where realname=[业务员])
			  			  
			  ,[RealID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			  CONVERT(varchar(100), 'DBAEAB43B47EB4299DD1D62F764E6B6A'
			  +Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))))),3,32))

			  ,[IsDefault] = 1			
		from Data_CustomBasicInfo
) as dcbi
where dcbi.ID not in ( select [ID] from [PvbCrm].[dbo].[MapsTracker] )

--删除关系
--delete from [MapsTracker] where Type=75

GO
--******************************  7.导入[MapsTracker] ******************************
--跟单员与跟单员的关系
insert into [dbo].[MapsTracker]
(		
      [ID]
      ,[Bussiness]
      ,[Type]
      ,[AdminID]
      ,[RealID]
      ,[IsDefault]     
)
select * from 
(
		select distinct 	
			  --ID=( DBAEAB43B47EB4299DD1D62F764E6B6A,客户ID,30,76).md5()			
			  --RealID =( DBAEAB43B47EB4299DD1D62F764E6B6A,客户ID).md5(), 

			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			 convert(varchar(100), 'DBAEAB43B47EB4299DD1D62F764E6B6A'
			  +Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+
			  'WarehouseServicing'+
			  'Merchandiser'))),3,32))

			  ,[Bussiness] = 30
			  ,[Type] = 76
			  ,[AdminID] = (select ID from AdminsTopView where realname=[跟单员])

			  ,[RealID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			  convert(varchar(100), 'DBAEAB43B47EB4299DD1D62F764E6B6A'
			  +Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))))),3,32))

			  ,[IsDefault] = 1			
		from Data_CustomBasicInfo  where  [跟单员]!='NULL'
) as dcbi
where dcbi.ID not in ( select [ID] from [PvbCrm].[dbo].[MapsTracker] )


GO
--delete from [MapsTracker] where Type=76

--******************************  8.导入[MapsBEnter] ******************************
--客户与内部公司的关系
insert into [dbo].[MapsBEnter]
(		
      [ID]
      ,[Bussiness]
      ,[Type]
      ,[EnterpriseID]
      ,[SubID]
      ,[CtreatorID]
      ,[CreateDate]
      ,[IsDefault]
)
select * from 
(
		select distinct 	
			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
				 convert(varchar(100),'DBAEAB43B47EB4299DD1D62F764E6B6A'+Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))))),3,32))		
			  ,[Bussiness] = 30
			  ,[Type] = 25
			  ,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
			  ,[SubID] = 'DBAEAB43B47EB4299DD1D62F764E6B6A'
			  ,[CtreatorID] =(select ID from AdminsTopView where RealName= [业务员])
			  ,[CreateDate] = getdate()
			  ,[IsDefault] = 0
		from Data_CustomBasicInfo 
) as dcbi

where dcbi.ID not in ( select [ID] from [PvbCrm].[dbo].[MapsBEnter] )


--删除关系

--delete from MapsBEnter where Type=30

GO
--数据已全部导入，删除表
IF EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_CustomBasicInfo]') AND type in (N'U'))
BEGIN
drop  table Data_CustomBasicInfo;
END

Go


