USE [PvbCrm]
GO
/****** Object:  Table [dbo].[Data_CustomDeliveryAddress]    Script Date: 2019/10/23 14:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_CustomDeliveryAddress]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Data_CustomDeliveryAddress](
	[客户名称] [varchar](255) NULL,
	[收件人] [varchar](255) NULL,
	[电话] [varchar](255) NULL,
	[邮件] [varchar](255) NULL,
	[地址] [varchar](255) NULL,
	[收货单位] [varchar](255) NULL,
	[是否默认地址] [float] NULL,
	[创建时间] [datetime] NULL,
	[更新时间] [datetime] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[Data_CustomDeliveryAddress] ([客户名称], [收件人], [电话], [邮件], [地址], [收货单位], [是否默认地址], [创建时间], [更新时间]) VALUES (N'南京研图电子科技有限公司', N'胡敏', N'15051891824', NULL, N'江苏 南京 江宁区 天宇路中海国际社区三期4栋1602室', N'南京研图电子科技有限公司', 1, CAST(0x0000AA5D012DF464 AS DateTime), CAST(0x0000AA5D012DF464 AS DateTime))
INSERT [dbo].[Data_CustomDeliveryAddress] ([客户名称], [收件人], [电话], [邮件], [地址], [收货单位], [是否默认地址], [创建时间], [更新时间]) VALUES (N'博创恒星（北京）科技有限公司', N'张燕飞', N'18600288220', NULL, N'北京 海淀 知春里甲10号誉德商务大厦402室', N'博创恒星（北京）科技有限公司', 1, CAST(0x0000AACA01221360 AS DateTime), CAST(0x0000AACA0122148C AS DateTime))
INSERT [dbo].[Data_CustomDeliveryAddress] ([客户名称], [收件人], [电话], [邮件], [地址], [收货单位], [是否默认地址], [创建时间], [更新时间]) VALUES (N'北京乐美惠商贸有限公司', N'赵淑强', N'15650557008',NULL, N'山东 济宁 市中区 济宁高新区产学研基地C3南楼一楼', N'乐美惠', 0, CAST(0x0000AA7000A37D84 AS DateTime), CAST(0x0000AA7000A37D84 AS DateTime))
GO

GO


--******************************  1.导入[Consignees] ******************************
insert into [dbo].[Consignees]
(			 
	  [ID]
      ,[EnterpriseID]
      ,[Title]
      ,[DyjCode]
      ,[District]
      ,[Address]
      ,[Postzip]
      ,[Status]
      ,[Name]
      ,[Tel]
      ,[Mobile]
      ,[Email]
      ,[CreateDate]
      ,[UpdateDate]
      ,[AdminID]
      ,[Province]
      ,[City]
      ,[Land]
       
)
select * from 
(
		select distinct 
	   
			   --ID:(EnterpriseID,DyjCode,District,Address,Postzip).MD5()

			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			CONVERT(varchar(100),  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+''+'CN'+isnull(地址,'')+''))),3,32))	  

			  ,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
			  ,[Title] =[收货单位]
			  ,[DyjCode] = ''
			  ,[District] = 1
			  ,[Address] = [地址]
			  ,[Postzip] = ''
			  ,[Status] = 200
			  ,[Name] = [收件人]
			  ,[Tel] = [电话]	  
			  ,[Mobile] = null
			  ,[Email] = [邮件]
			  ,[CreateDate] = [创建时间]
			  ,[UpdateDate] = [更新时间]
			  ,[AdminID] = 'SA01'
			  ,[Province] = null
			  ,[City] = null
			  ,[Land] = null
		from  Data_CustomDeliveryAddress 
) as dcda 
where dcda.ID not in ( select [ID] from [PvbCrm].[dbo].[Consignees] )

GO
--******************************  2.导入[MapsBEnter] ******************************

insert into [dbo].[MapsBEnter]
(		
      [ID]
      ,[Bussiness]
      ,[Type]
      ,[EnterpriseID]
      ,[SubID]
      ,[CtreatorID]
      ,[CreateDate]
      ,[IsDefault]
)
select * from 
(
		select distinct 	
	 
			   --ID:"WsConsignee_"+(EnterpriseID,DyjCode,District,Address,Postzip).MD5()
			  [ID] ='WsConsignee_'+ Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			CONVERT(varchar(100),  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+''+'CN'+isnull(地址,'')+''))),3,32))	  

			  ,[Bussiness] = 30
			  ,[Type] = 72
			  ,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))

			  ,[SubID] =Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			CONVERT(varchar(100),  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+''+'CN'+isnull(地址,'')+''))),3,32))

			  ,[CtreatorID] = 'SA01'
			  ,[CreateDate] =  [创建时间]
			  ,[IsDefault] = [是否默认地址] 
		from  Data_CustomDeliveryAddress 
) as dcda 

where dcda.ID not in ( select [ID] from [PvbCrm].[dbo].[MapsBEnter] )


--删除表
IF EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_CustomDeliveryAddress]') AND type in (N'U'))
BEGIN
drop table Data_CustomDeliveryAddress;
END



