USE [PvbCrm]
GO
/****** Object:  Table [dbo].[Data_CustomInvoiceInfo]    Script Date: 2019/10/29 13:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_CustomInvoiceInfo]') AND type in (N'U'))
BEGIN

CREATE TABLE [dbo].[Data_CustomInvoiceInfo](
	[客户名称] [varchar](255) NULL,
	[名称] [varchar](255) NULL,
	[纳税人识别号] [varchar](255) NULL,
	[客户注册地址] [varchar](255) NULL,
	[联系电话] [varchar](255) NULL,
	[开户行] [varchar](255) NULL,
	[开户行账号] [varchar](255) NULL,
	[交付方式] [float] NULL,
	[发票的创建时间] [datetime] NULL,
	[发票的更新时间] [datetime] NULL,
	[收件人] [varchar](255) NULL,
	[地址] [varchar](255) NULL,
	[手机] [varchar](255) NULL,
	[电话] [varchar](255) NULL,
	[邮箱] [varchar](255) NULL,
	[创建时间] [datetime] NULL,
	[更新时间] [datetime] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[Data_CustomInvoiceInfo] ([客户名称], [名称], [纳税人识别号], [客户注册地址], [联系电话], [开户行], [开户行账号], [交付方式], [发票的创建时间], [发票的更新时间], [收件人], [地址], [手机], [电话], [邮箱], [创建时间], [更新时间]) VALUES (N'安华合（北京）科技有限公司', N'安华合（北京）科技有限公司', N'91110302076587821E', N'北京市北京经济技术开发区荣京东街 3 号 1 幢 14 层 2 单元 1206 室', N'010-86221602', N'北京农村商业银行股份有限公司经济技术开发区支行', N'933000103000002000', 1, CAST(0x0000AAE101212DB0 AS DateTime), CAST(0x0000AAE101212EDC AS DateTime), N'孙小姐', N'北京 房山 良乡卓秀北街10号院绿地诺亚方舟南区1号楼524室', N'13811787049', NULL, NULL, CAST(0x0000AAE101212EDC AS DateTime), CAST(0x0000AAE101212EDC AS DateTime))
INSERT [dbo].[Data_CustomInvoiceInfo] ([客户名称], [名称], [纳税人识别号], [客户注册地址], [联系电话], [开户行], [开户行账号], [交付方式], [发票的创建时间], [发票的更新时间], [收件人], [地址], [手机], [电话], [邮箱], [创建时间], [更新时间]) VALUES (N'深圳市恩堤西科技有限公司', N'深圳市恩堤西科技有限公司', N'91440300MA5EEQ41X0', N'深圳市宝安区福永街道凤城花园二期B栋611', N'13923406636', N'中国银行深圳中银花园支行', N'752368870807', 1, CAST(0x0000AAE100ABD380 AS DateTime), CAST(0x0000AAF000C85140 AS DateTime), N'肖越', N'广东 深圳 宝安区 宝安大道8232号麒麟名都2栋1006室', N'15179612355', NULL, NULL, CAST(0x0000AAE100ABD380 AS DateTime), CAST(0x0000AAF000C85140 AS DateTime))
INSERT [dbo].[Data_CustomInvoiceInfo] ([客户名称], [名称], [纳税人识别号], [客户注册地址], [联系电话], [开户行], [开户行账号], [交付方式], [发票的创建时间], [发票的更新时间], [收件人], [地址], [手机], [电话], [邮箱], [创建时间], [更新时间]) VALUES (N'深圳市旭联信息技术有限公司', N'深圳市旭联信息技术有限公司', N'91440300058994570P', N'深圳市龙岗区横岗189工业区广达路43号厂房二楼三楼', N'0755-84260841', N'建设银行深圳南岭支行', N'4420 1610 9000 5250 8955', 1, CAST(0x0000AAD2010012B0 AS DateTime), CAST(0x0000AAD400EA72C0 AS DateTime), N'陈小姐', N'广东 深圳 龙岗区 龙岗区横岗189工业区广达路43号厂房二楼三楼', N'13502851552', NULL, NULL, CAST(0x0000AAD2010013DC AS DateTime), CAST(0x0000AAD400EA72C0 AS DateTime))
GO





--******************************  1.导入[Invoices] ******************************

insert into [PvbCrm].[dbo].[Invoices]
(
		[ID]
		 ,[EnterpriseID]
		 ,[Type]
		 ,[Bank]
		 ,[BankAddress]
		 ,[Account]
         ,[TaxperNumber]
		 ,[Name]
		 ,[Tel]
		 ,[Mobile]
		 ,[Email]
		 ,[District]
		 ,[Address]
		 ,[Postzip]
	  	 ,[Status]
		 ,[CreateDate]
		 ,[UpdateDate]
		 ,[AdminID]
		 ,[Province]
		 ,[City]
		 ,[Land]
		 ,[DeliveryType]
		 ,[CompanyTel]
)
select * from 
(
		select distinct 	
				--return this.id ?? string.Join("",
    --                this.EnterpriseID,
    --                this.Type,
    --                this.Bank,
    --                this.BankAddress,
    --                this.Account,
    --                this.TaxperNumber
    --                ).MD5();
				 --Type:1(普通发票)
				 [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
				 Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Normal'+[开户行]+''+isnull([开户行账号],'')+[纳税人识别号])),3,32))
		 
				 ,[EnterpriseID] = upper(substring(sys.fn_sqlvarbasetostr(hashbytes('md5',[客户名称])),3,32)) 
				 ,[Type] = 1
				 ,[Bank] = [开户行]
				 ,[BankAddress] = ''   
				 ,[Account] = [开户行账号]		
				 ,[TaxperNumber]= [纳税人识别号]
				 ,[Name] = [名称]
				 ,[Tel] = [电话]
				 ,[Mobile] = [手机]		 
				 ,[Email] = [邮箱]
				 ,[District] = 1	--random
				 ,[Address] = [地址]
				 ,[Postzip] = '' 
	  			 ,[Status] = 200 --random
				 ,[CreateDate] = [发票的创建时间]
				 ,[UpdateDate] = [发票的更新时间]
				 ,[AdminID] = 'SA01'   
				 ,[Province] = null
				 ,[City] = null
				 ,[Land] = null
				 ,[DeliveryType] = [交付方式]
				 ,[CompanyTel] = [联系电话]   	
		from  Data_CustomInvoiceInfo
) as dcii

where dcii.ID not in ( select [ID] from [PvbCrm].[dbo].[Invoices] )

--delete from [Invoices] where ID in
--(
--select 
--				 [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
--				 Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Normal'+[开户行]+''+isnull([开户行账号],'')+[纳税人识别号])),3,32))		 
--		from  Data_CustomInvoiceInfo
--)

--******************************  2.导入[MapsBEnter] ******************************
--ID规则是'WsInvoice_'+客户ID
insert into [PvbCrm].[dbo].[MapsBEnter]
(				
		 [ID]
         ,[Bussiness]
         ,[Type]
		 ,[EnterpriseID]
		 ,[SubID]
		 ,[CtreatorID]
		 ,[CreateDate]
		 ,[IsDefault]
       
)
select * from 
(
		select distinct 

		
				 [ID] = 'WsInvoice_'+ Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 

				 ,[Bussiness] = 30
				 ,[Type] = 74
				 ,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
		 
				 ,[SubID] =  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
				 Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Normal'+[开户行]+''+isnull([开户行账号],'')+[纳税人识别号])),3,32))	 	
	
				 ,[CtreatorID] =  '' 
				 ,[CreateDate] = [发票的创建时间]
				 ,[IsDefault] = 1
		from  Data_CustomInvoiceInfo
) as dcii

where dcii.ID not in ( select [ID] from [PvbCrm].[dbo].[MapsBEnter] )


----ID规则是'WsInvoice_'+(EnterpriseID,Type,Name,Tel,Mobile,Email).Mad5()
--insert into [PvbCrm].[dbo].[MapsBEnter]
--(				
--		 [ID]
--         ,[Bussiness]
--         ,[Type]
--		 ,[EnterpriseID]
--		 ,[SubID]
--		 ,[CtreatorID]
--		 ,[CreateDate]
--		 ,[IsDefault]
       
--)
--select * from 
--(
--		select distinct 

--				  --ID:'WsInvoice_'+(EnterpriseID,Type,Name,Tel,Mobile,Email).Mad5()
--				  --Type:74
--				  --IsDefault:1
		
--				 [ID] = 'WsInvoice_'+ Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
--				 Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Normal'+[开户行]+''+isnull([开户行账号],'')+[纳税人识别号])),3,32))

--				 ,[Bussiness] = 30
--				 ,[Type] = 74
--				 ,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
		 
--				 ,[SubID] =  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
--				 Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Normal'+[开户行]+''+isnull([开户行账号],'')+[纳税人识别号])),3,32))	 	
	
--				 ,[CtreatorID] =  '' 
--				 ,[CreateDate] = [发票的创建时间]
--				 ,[IsDefault] = 1
--		from  Data_CustomInvoiceInfo
--) as dcii

--where dcii.ID not in ( select [ID] from [PvbCrm].[dbo].[MapsBEnter] )


--delete from [MapsBEnter] where ID in
--(
--select  

--				 [ID] = 'WsInvoice_'+ Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
--				 Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))+'Normal'+[开户行]+''+isnull([开户行账号],'')+[纳税人识别号])),3,32))

--		from  Data_CustomInvoiceInfo
--)
--删除表

IF EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_CustomInvoiceInfo]') AND type in (N'U'))
BEGIN
drop table [dbo].[Data_CustomInvoiceInfo];
END





