USE [PvbCrm]
GO
/****** Object:  Table [dbo].[Data_MemberAccount]    Script Date: 2019/10/23 14:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_MemberAccount]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Data_MemberAccount](
	[客户名称] [varchar](255) NULL,
	[用户名] [varchar](255) NULL,
	[真实姓名] [varchar](255) NULL,
	[密码] [varchar](255) NULL,
	[邮箱] [varchar](255) NULL,
	[手机号] [varchar](255) NULL,
	[是否主账号] [float] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[Data_MemberAccount] ([客户名称], [用户名], [真实姓名], [密码], [邮箱], [手机号], [是否主账号]) VALUES (N'上海协谐电子科技有限公司', N'上海协谐电子科技有限公司', N'上海协谐电子科技有限公司', N'92BAF332392033AEBA736DB527F40D0A', NULL, N'13916073502', 1)
INSERT [dbo].[Data_MemberAccount] ([客户名称], [用户名], [真实姓名], [密码], [邮箱], [手机号], [是否主账号]) VALUES (N'深圳市快包电子科技有限责任公司', N'深圳市快包电子科技有限责任公司', N'薛伟', N'92BAF332392033AEBA736DB527F40D0A', N'xuewei@icgoo.nett', N'18033651237', 1)
INSERT [dbo].[Data_MemberAccount] ([客户名称], [用户名], [真实姓名], [密码], [邮箱], [手机号], [是否主账号]) VALUES (N'苏州丰芯昌电子科技有限公司', N'苏州丰芯昌电子科技有限公司', N'王经理', N'92BAF332392033AEBA736DB527F40D0A', NULL, N'13511609089', 1)
GO





--******************************  1.导入[SiteUsers] ******************************
insert into [dbo].[SiteUsers]
(	
	  [ID]
      ,[UserName]
      ,[RealName]
      ,[Password]
      ,[Mobile]
      ,[Email]
      ,[QQ]
      ,[Wx]
      ,[Summary]
      ,[CreateDate]
)

select * from 
(
		select distinct 

			  --ID:'User'+自增数字(001,002,...)	  
			  ID = 'User'+right('000' + convert(varchar(100), ROW_NUMBER() over(order by 用户名)), 3)

			  ,[UserName] = [用户名]
			  ,[RealName] = [真实姓名]
			  ,[Password] = [密码]
			  ,[Mobile] = [手机号]
			  ,[Email] = [邮箱]
			  ,[QQ] =null
			  ,[Wx] = null
			  ,[Summary] = null
			  ,[CreateDate] = GETDATE()	     
		from  Data_MemberAccount
) as dma
where dma.ID not in ( select [ID] from [PvbCrm].[dbo].[SiteUsers] )
--delete
 

 --delete from [SiteUsers] where charindex('user',[ID]COLLATE Latin1_General_CS_AS)>0





--******************************  2.导入[SiteUsersXdt] ******************************

insert into [dbo].[SiteUsersXdt]
(		
      [ID]
      ,[EnterpriseID]
      ,[IsMain]
      ,[CreateDate]
      ,[UpdateDate]
      ,[Status]
)

select * from 
(
		select distinct 	

			  --ID=[dbo].[SiteUsers].ID,Status=200
			  ID = 'User'+right('000' + convert(varchar(100), ROW_NUMBER() over(order by 用户名)), 3)
			  ,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
			  ,[IsMain] = [是否主账号]
			  ,[CreateDate] = GETDATE()	    
			  ,[UpdateDate] = GETDATE()	   
			  ,[Status] = 200	 
		from  Data_MemberAccount
) as dma
where dma.ID not in ( select [ID] from [PvbCrm].[dbo].[SiteUsersXdt] )

--删除
--delete from [SiteUsersXdt] where charindex('user',[ID]COLLATE Latin1_General_CS_AS)>0


--删除表Data_MemberAccount
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_MemberAccount]') AND type in (N'U'))
BEGIN
drop table [dbo].[Data_MemberAccount];
END