USE [PvbCrm]
GO
/****** Object:  Table [dbo].[Data_Supplier]    Script Date: 2019/10/23 14:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_Supplier]') AND type in (N'U'))
BEGIN

CREATE TABLE [dbo].[Data_Supplier](
	[客户名称] [varchar](255) NULL,
	[供应商的中文名称] [varchar](255) NULL,
	[英文名称] [varchar](255) NULL,
	[供应商添加时间] [datetime] NULL,
	[更新时间] [datetime] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[Data_Supplier] ([客户名称], [供应商的中文名称], [英文名称], [供应商添加时间], [更新时间]) VALUES (N'杭州比一比电子科技有限公司', N'香港聯創電子有限公司', N'HK Lianchuang Electronics Co.,Limited', CAST(0x0000AA2400C167B8 AS DateTime), CAST(0x0000AA2400C167B8 AS DateTime))
INSERT [dbo].[Data_Supplier] ([客户名称], [供应商的中文名称], [英文名称], [供应商添加时间], [更新时间]) VALUES (N'深圳市同聚富电子有限公司', N'品佳股份有限公司', N'Silicon Application Corp.', CAST(0x0000AA230109EC90 AS DateTime), CAST(0x0000AA230109EC90 AS DateTime))
INSERT [dbo].[Data_Supplier] ([客户名称], [供应商的中文名称], [英文名称], [供应商添加时间], [更新时间]) VALUES (N'北京航天新兴科技开发有限责任公司', N'纽威国际贸易有限公司', N'NEWMAY INTERNATIONAL TRADE LIMITED', CAST(0x0000AA230109F014 AS DateTime), CAST(0x0000AA230109F014 AS DateTime))
GO




--******************************  1.导入[Enterprises] ******************************
insert into [dbo].[Enterprises]
(		
      [ID]
      ,[Name]
      ,[AdminCode]
      ,[Status]
      ,[District]
      ,[Corporation]
      ,[RegAddress]
      ,[Uscc]
)
select * from 
(
		select distinct 	
			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32)) 
			  ,[Name] = [供应商的中文名称]
			  ,[AdminCode] = ''
			  ,[Status] = 200
			  ,[District] = 1
			  ,[Corporation] = null
			  ,[RegAddress] = null
			  ,[Uscc] = null	 
		from Data_Supplier
) as ds

where ds.ID not in ( select [ID] from [PvbCrm].[dbo].[Enterprises] )

--******************************  2.导入[WsSuppliers] ******************************
insert into [dbo].[WsSuppliers]
(		
      [ID]
      ,[EnglishName]
      ,[ChineseName]
      ,[Grade]
      ,[Status]
      ,[AdminID]
      ,[Summary]
      ,[CreateDate]
      ,[UpdateDate]
)
select * from 
(
		select  distinct--([供应商的中文名称]),
			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32)) 
			  ,[EnglishName] = [英文名称]
			  ,[ChineseName] = [供应商的中文名称]
			  ,[Grade] = 9
			  ,[Status] = 200
			  ,[AdminID] = 'SA01'
			  ,[Summary] = null
			  ,[CreateDate] = [供应商添加时间]
			  ,[UpdateDate] = [更新时间]
	 
		from  (select * from (select row_number() over(partition by [供应商的中文名称] order by [供应商添加时间] desc) as date_n ,*
				from [dbo].[Data_Supplier]) from1 where date_n=1) as Temp
) as ds

where ds.ID not in ( select [ID] from [PvbCrm].[dbo].[WsSuppliers] )


--******************************  3.导入[MapsBEnter] ******************************

insert into [dbo].[MapsBEnter]
(	
	  [ID]
      ,[Bussiness]
      ,[Type]
      ,[EnterpriseID]
      ,[SubID]
      ,[CtreatorID]
      ,[CreateDate]
      ,[IsDefault]	
    
)

select * from 
(
		select distinct
			  --ID:(客户名称.MD5()+供应商名称.MD5()).MD5()    Type:15
	 
			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			 Convert(varchar(100), Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))
			  +Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32)))
			  )),3,32))
			  
			  ,[Bussiness] = 30
			  ,[Type] = 15
			  ,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 

			  ,[SubID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32)) 

			  ,[CtreatorID] = ''
			  ,[CreateDate] = [供应商添加时间]
			  ,[IsDefault] = 0
	 
		from  (select * from (select row_number() over(partition by [供应商的中文名称] order by [供应商添加时间] desc) as date_n ,*
				from [dbo].[Data_Supplier]) from1 where date_n=1) as Temp1
) as ds 

where ds.ID not in ( select [ID] from [PvbCrm].[dbo].[MapsBEnter] )


IF EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_Supplier]') AND type in (N'U'))
BEGIN
drop table [dbo].[Data_Supplier];
END

