USE [PvbCrm]
GO
/****** Object:  Table [dbo].[Data_SupplierAccount]    Script Date: 2019/10/23 14:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_SupplierAccount]') AND type in (N'U'))
BEGIN

CREATE TABLE [dbo].[Data_SupplierAccount](
	[客户名称] [varchar](255) NULL,
	[供应商的中文名称] [varchar](255) NULL,
	[英文名称] [varchar](255) NULL,
	[银行名称] [varchar](255) NULL,
	[银行地址] [varchar](255) NULL,
	[银行账号] [varchar](255) NULL,
	[银行编码] [varchar](255) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[Data_SupplierAccount] ([客户名称], [供应商的中文名称], [英文名称], [银行名称], [银行地址], [银行账号], [银行编码]) VALUES (N'上海钧翊电子有限公司', N'Hardware Specialty Co.,Inc', N'Hardware Specialty Co.,Inc', N'JP Morgan Chase Bank N.A', N'1 Chase Manhattan Plaza New York,NY 10081 U.S.A.', N'124-1-046836', N'CHASUS33')
INSERT [dbo].[Data_SupplierAccount] ([客户名称], [供应商的中文名称], [英文名称], [银行名称], [银行地址], [银行账号], [银行编码]) VALUES (N'深圳市贝尔赛思电子有限公司', N'品尚电子发展有限公司', N'Pinsoon Electronic Development Limited', N'HSBC Hong Kong', N'HSBC, No. 1 Queen''s Road Central', N'561-841016-838', N'HSBCHKHHHKH')
INSERT [dbo].[Data_SupplierAccount] ([客户名称], [供应商的中文名称], [英文名称], [银行名称], [银行地址], [银行账号], [银行编码]) VALUES (N'北京卓智视联电子科技有限公司', N'中电', N'CEAC INTERNATIONAL LIMITED', N'BANK OF CHINA (HONGKONG) LIMITED', N'10/F Bank of China Tower 1st Garden Road Central, Hong Kong', N'875-9-275717-0', N'BKCHHKHH')
GO






--******************************  1.导入[Beneficiaries] ******************************
--delete from Data_SupplierAccount where [客户名称]='NULL';
insert into [dbo].[Beneficiaries]
(	
	  [ID]
      ,[EnterpriseID]
      ,[InvoiceType]
      ,[RealName]
      ,[RealID]
      ,[Bank]
      ,[BankAddress]
      ,[Account]
      ,[SwiftCode]
      ,[Methord]
      ,[Currency]
      ,[District]
      ,[Name]
      ,[Tel]
      ,[Mobile]
      ,[Email]
      ,[Status]
      ,[CreateDate]
      ,[UpdateDate]
      ,[AdminID]
    
) 
select * from 
(
		select distinct 	
			  --ID:(供应商名称.MD5(),RealID,Bank,BankAddress,Account,SwiftCode,Methord,Currency).MD5();
			  --RealName为中文名称		RealID:中文名称.MD5()		[InvoiceType]:1:普通发票		[Currency]:1:人民币
			  --[Methord]  1:TT			[District] 1 中国 2 香港	Status:200
	 
			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32))
			  +Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32))
			  +[银行名称]+[银行地址]+[银行账号]+[银行编码]+'TT'+'CNY')),3,32))	

			  ,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32)) 
			  ,[InvoiceType] = 1
			  ,[RealName] = [供应商的中文名称]
			  ,[RealID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32)) 
			  ,[Bank] = [银行名称]
			  ,[BankAddress] = [银行地址]
			  ,[Account] = [银行账号]
			  ,[SwiftCode] = [银行编码]
			  ,[Methord] = 1
			  ,[Currency] = 1
			  ,[District] = 1  
			  ,[Name] = null
			  ,[Tel] = null
			  ,[Mobile] = null
			  ,[Email] = null
			  ,[Status] = 200
			  ,[CreateDate] =  GETDATE()	    
			  ,[UpdateDate] = GETDATE()
			  ,[AdminID] = 'SA01'
		from Data_SupplierAccount  where [客户名称]!='NULL'
) as dsa
where dsa.EnterpriseID in (	select ID from  [dbo].[Enterprises] ) 
	and dsa.ID	not in ( select ID from [Beneficiaries] )



--******************************  2.导入[MapsBEnter] ******************************


insert into [dbo].[MapsBEnter]
(	
	  [ID]
      ,[Bussiness]
      ,[Type]
      ,[EnterpriseID]
      ,[SubID]
      ,[CtreatorID]
      ,[CreateDate]
      ,[IsDefault]
    
)

select * from 
(
	select distinct 	
		  --ID:"WsBeneficiary_" + (客户ID,[dbo].[Beneficiaries].ID)MD5;
		  --Type:71

		  [ID] = 'WsBeneficiary_'+Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
		Convert(varchar(100), Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32))
		  --受益人ID
		  +Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32))
			  +Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32))
			  +[银行名称]+[银行地址]+[银行账号]+[银行编码]+'TT'+'CNY')),3,32))	
		  ))
		  )
		  ,3,32)) 
		  ,[Bussiness] = 30
		  ,[Type] = 71
		  ,[EnterpriseID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[客户名称])),3,32)) 
		  ,[SubID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',
			  Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32))
			  +Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',[供应商的中文名称])),3,32))
			  +[银行名称]+[银行地址]+[银行账号]+[银行编码]+'TT'+'CNY')),3,32))	
			 
		  ,[CtreatorID] = ''
		  ,[CreateDate] =  GETDATE()
		  ,[IsDefault] = 0
	 
	from Data_SupplierAccount   where [客户名称]!='NULL' 
) as dsa   

where dsa.ID not in(select ID from [MapsBEnter])


--select 客户ID=e2.ID,[客户名称]=e2.Name,供应商ID=e1.ID,[供应商名称]=e1.Name,* from MapsBEnter m join [dbo].[Beneficiaries] b on m.SubID=b.ID 
--join Enterprises e1 on b.EnterpriseID=e1.ID
--join Enterprises e2 on m.EnterpriseID=e2.ID
--where Type=71 and e1.Name='矽麒科技有限公司'
--select (Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5','矽麒科技有限公司')),3,32)))

IF EXISTS (SELECT * FROM sys.objects WHERE object_id =
OBJECT_ID(N'[dbo].[Data_SupplierAccount]') AND type in (N'U'))
BEGIN
drop table [dbo].[Data_SupplierAccount];
END

--delete  from Enterprises where ID in 
--(
--select --([供应商的中文名称]),
--			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',convert(nvarchar(100),[供应商的中文名称]))),3,32)) 
	 
--		from  (select * from (select row_number() over(partition by [供应商的中文名称] order by [供应商添加时间] desc) as date_n ,*
--				from [dbo].[Data_Supplier]) from1 where date_n=1) as Temp
--)
--delete from WsSuppliers where ID in
--(
--select --([供应商的中文名称]),
--			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',convert(nvarchar(100),[供应商的中文名称]))),3,32)) 
	 
--		from  (select * from (select row_number() over(partition by [供应商的中文名称] order by [供应商添加时间] desc) as date_n ,*
--				from [dbo].[Data_Supplier]) from1 where date_n=1) as Temp
--)
--delete from Beneficiaries where EnterpriseID in
--(
--select --([供应商的中文名称]),
--			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',convert(nvarchar(100),[供应商的中文名称]))),3,32)) 
	 
--		from  (select * from (select row_number() over(partition by [供应商的中文名称] order by [供应商添加时间] desc) as date_n ,*
--				from [dbo].[Data_Supplier]) from1 where date_n=1) as Temp
--)
--delete from Consignors where EnterpriseID in
--(
--select --([供应商的中文名称]),
--			  [ID] = Upper(substring(sys.fn_sqlvarbasetostr(HashBytes('MD5',convert(nvarchar(100),[供应商的中文名称]))),3,32)) 
	 
--		from  (select * from (select row_number() over(partition by [供应商的中文名称] order by [供应商添加时间] desc) as date_n ,*
--				from [dbo].[Data_Supplier]) from1 where date_n=1) as Temp
--) 
