<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=udata;Password=udata123"/>
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=210.51.190.51,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_bv;Password=G9RCzkV9hC4Gu6VF5QuZp6dxw8a9XErNTDR66Uwxww24hNBJtF"/>-->
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_wl_szWF;Password=quVGg8IcUxX687sBBdu992e9RHspYM"/>-->
  </connectionStrings>
</configuration>