<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 华芯通供应链</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HxtWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="divHeader">

            <a class="logoHeader" href="/"></a>

            <a class="loginHeader" href="http://vip.szhxd.net">登录</a>

            <a class="registerHeader" href="http://vip.szhxd.net/register.html">注册账号</a>

        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow divBlackGB">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid divBackBaner">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item irmenu">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">首页</a>
                        </li>
                        <li class="nav-item irmenu">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">公司介绍</a>
                        </li>
                        <li class="nav-item irmenu">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Business">业务范围</a>
                        </li>
                        <li class="nav-item irmenu">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">联系我们</a>
                        </li>
                </div>
            </div>
        </nav>

    </header>
    <div class="" style="height:100%;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-light">
        <div class="irfooter-con">


            <div class="container">

                <div class="about">
                    <h6>关于我们</h6>
                    <ul>
                        <li><a class="nav-link " asp-area="" asp-controller="Home" asp-action="About">公司介绍</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Bussiness">业务范围</a></li>
                        <li><a class="" href="http://221.122.108.44:180/agreement.html">用户协议</a></li>
                        <li> <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Contact">联系我们</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">隐私政策</a></li>
                    </ul>
                </div>

                <div class="about" style="padding-left: 120px;">
                    <h6>友情链接</h6>
                    <ul>
                        <li><a target="_blank" href="https://www.boc.cn/sourcedb/whpj/">中行汇率查询</a></li>
                        <li><a target="_blank" href="http://credit.customs.gov.cn/ccppwebserver/pages/ccpp/html/ccppindex.html">海关备案编码</a></li>
                        <li><a target="_blank" href="http://www.customs.gov.cn/customs/syx/index.html">海关总署</a></li>
                        <li><a target="_blank" href="http://www.mofcom.gov.cn/">商务部</a></li>
                        <li><a target="_blank" href="https://www.guanwuxiaoer.com/">关务小二</a></li>
                    </ul>
                </div>

                <div class="contact">
                    <h6>联系方式</h6>
                    <ul>
                        <li><span>深圳市华芯通供应链管理有限公司</span></li>
                        <li><span>工作时间: 周一至周六 9:00-20:00</span></li>
                        <li><span>服务邮箱：aaa@qq.com</span></li>
                        <li><span>服务热线：0755-29360458</span></li>
                        <li><span>联系地址：深圳市龙华区龙华街道富康社区富康商业广场7号富康科技大厦12层1201-1202</span></li>
                    </ul>
                </div>

                <div class="contact">
                    <h5 style="padding-top: 60px;"><img src="~/hxt_img/icon-redline.png" style="padding: 0 12px;" />服务热线：0755-29360458</h5>
                </div>
            </div>
        </div>
        <div class="irfooter">
            <div class="container ircopy">
                &copy; 2024 - 深圳市华芯通供应链管理有限公司 版权所有- <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-light">隐私政策</a>
            </div>
            <div class="container ircopy">
                粤ICP备2024260250号
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
