<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Html.Raw(ViewBag.CompanyShortName)- 一站式报关服务平台</title>

    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/polyfill.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Shared/Common.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/Home/style.css" />
    @*<link href="~/Content/Home/jigsaw.css" type="text/css" rel="stylesheet" />*@
</head>
<body>
    @*登录注册*@
    <header id="header" class="header_main">
        <div class="w1200 clearfix">
            <div class="logo">
                <img src="~/Content/img/@Html.Raw(ViewBag.Logo)" />
            </div>
            <div class="fr">
                <nav>
                    <ul class="clearfix nav_item">
                        <li class="nav_item_li">
                            <a href="@Html.Raw(ViewBag.WebUrl)">首页</a>
                        </li>
                        <li class="nav_item_li">
                            <a href="">
                                <span>服务</span>
                                <i class="nav_item_icon mm"></i>
                            </a>
                            <ul class="nav_item_ul nav_item_ul1">
                                <li class="pt19">
                                    <a class="pl35">
                                        <span class="nav_span">服务</span>
                                        <i class="nav_item_icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://wl.net.cn/Service.html?activeName=S1">进口报关</a>
                                </li>
                                <li>
                                    <a href="http://wl.net.cn/Service.html?activeName=S2">付汇</a>
                                </li>
                                <li>
                                    <a href="http://wl.net.cn/Service.html?activeName=S3">代收/发货</a>
                                </li>
                                <li>
                                    <a href="http://wl.net.cn/Service.html?activeName=S3">代仓储</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav_item_li">
                            <a>
                                <span>帮助</span>
                                <i class="nav_item_icon mm"></i>
                            </a>
                            <ul class="nav_item_ul nav_item_ul2">
                                <li class="pt19">
                                    <a class="pl35">
                                        <span class="nav_span">帮助</span>
                                        <i class="nav_item_icon"></i>
                                    </a>
                                </li>
                                <li><a href="http://wl.net.cn/sort/query.html">归类查询</a></li>
                                <li><a href="http://wl.net.cn/FAQ.html">常见问题</a></li>
                                <li><a href="http://wl.net.cn/sort/help.html">新手入门</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="iphone">
                    <div>报关热线：</div>
                    <div class="iphone_number">0755-83988698</div>
                </div>
            </div>
        </div>
    </header>
    <!--登录内容-->
    @RenderBody()

    <!--底部-->
    <footer>
        <p class="footer_text">禁限售规则 - 知识产权保护政策 - 隐私权政策 - 使用条款</p>
        <p>©️1999-2020 wl.net.cn 粤ICP备15026887号 版权所有 - 创新恒远</p>
    </footer>
    <script src="~/Scripts/Home/jquery.placeholder.min.js"></script>
</body>
</html>
