@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误页面</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>
    <div class="w1200 clearfix position_r">
        <div class="backpic">
            <span class="error1">404</span>
            <span class="error2">很抱歉！</span>
            <span class="error3">您要访问的页面不存在！</span>
            <span class="error4">请检查您输入的网址是否正确，或者点击链接继续访问</span>
            <span class="error5">您可以访问<a href="http://wl.net.cn">华芯通首页</a>，了解更多报关信息</span>
        </div>
    </div>
    <!--底部-->
    <footer>
        <p class="footer_text">禁限售规则 - 知识产权保护政策 - 隐私权政策 - 使用条款</p>
        <p>©️1999-2020 wl.net.cn 版权所有 - 创新恒远</p>
    </footer>
</body>
</html>