@{
    ViewBag.Title = "订单详情";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}
<style>
    .el-message {
        top: 250px;
        min-width: 150px;
    }

    .el-message__content {
        font-size: 16px;
    }

    .el-message .el-icon-error {
        font-size: 16px;
    }
</style>
<div id="confirm" v-cloak class="center_right backshow fl">
    <div class="breaklist">
        <span class="fl first_title">订单详情</span>
        <span class="fl second_title" v-on:click="history.back(-1)">返回</span>
    </div>
    <div class="content">
        <div>
            <div style="margin-top:10px">
                <span class="SplitOrderInfoOrderNO">订单编号:{{forms.MainOrderID}}</span>
            </div>
            <div style="margin-top:20px">
                <span class="SplitOrderInfoOrderRelative">下单时间：{{forms.CreateDate}}</span>
                <span class="SplitOrderInfoOrderRelative" style="margin-left:60px">报关总价：{{parseFloat(forms.DeclarePrice).toFixed(2)}}</span>
            </div>
            <div>
                @*<a v-if="showIDs.indexOf(form.ID)>-1" v-on:click="closeItem(form.ID)">收起<i class="el-icon-arrow-up"></i></a>
                    <a v-else v-on:click="closeItem(form.ID)">展开<i class="el-icon-arrow-down"></i></a>*@
            </div>
        </div>
        <div style="margin-top:20px;margin-left:10px">
            <span class="SplitOrderInfoOrderNO"><i class="icon_hui_fujian mr6"></i> 附件</span>
        </div>
        <div style="margin-top:20px">
            <div class="supplier_information overhide">
                <div class="fl AgentProxy">
                    <div class="overhide">
                        <p class="title fl"><i class="icon_hui_fujian mr6"></i>对账单</p>
                    </div>
                    <p class="upload fl tips" v-if="billFileUrl==null">提示：未上传</p>
                    <div class="AgentProxyFile mt16">
                        <div v-if="billFileUrl!=null">
                            <i class="icon_wenjian fl mr6"></i>
                            <span class="fl">
                                <span class="file_name">{{billFileName}} ({{billFileStatus}})</span>
                                <a :href="billFileUrl" target="_blank">预览</a>
                            </span>
                        </div>
                    </div>
                    <div v-if="(!forms.OrderBillStatus)&&forms.IsShowOrderBill" class="AgentProxy_btn overhide mb8">
                        <div class="fl">
                            <el-button v-on:click="ExportOrderBill" class="el-icon-ump-xiazai">导出</el-button>
                            <a id="exportInfoForm" style="display:none" download><span id="ex-li" style="display:none"></span></a>
                        </div>
                        <div class="fl">
                            <el-upload class="fl"
                                       action="/Orders/UploadOrderFile"
                                       :http-request="httpRequestOrderBillFile"
                                       :show-file-list="false"
                                       accept="image/jpg, image/bmp, image/jpeg, image/gif, image/png, application/pdf">
                                <el-button class="el-icon-ump-upload" size="small">上传</el-button>
                            </el-upload>
                        </div>
                    </div>
                    <div v-if="(!forms.OrderBillStatus)&&forms.IsShowOrderBill" class="file_tip">仅限图片、PDF文件，且文件不超过3M</div>
                </div>
                <div class="fl AgentProxy">
                    <div class="overhide">
                        <p class="title fl"><i class="icon_hui_fujian mr6"></i>代理报关委托书</p>
                    </div>
                    <p class="upload fl tips" v-if="fileUrl==null">提示：未上传</p>
                    <div class="AgentProxyFile mt16">
                        <div v-if="fileUrl!=null">
                            <i class="icon_wenjian fl mr6"></i>
                            <span class="fl">
                                <span class="file_name">{{fileName}} ({{agencyfileStatus}})</span>
                                <a :href="fileUrl" target="_blank">预览</a>
                            </span>
                        </div>
                    </div>
                    <div v-if="(!forms.AgentProxyStatus)&&forms.IsShowAgentProxy" class="AgentProxy_btn overhide mb8">
                        <div class="fl">
                            <el-button v-on:click="ExportAgentProxy" class="el-icon-ump-xiazai">导出</el-button>
                            <a id="exportInfoForm" style="display:none" download><span id="ex-li" style="display:none"></span></a>
                        </div>
                        <div class="fl">
                            <el-upload class="fl" action="/Orders/UploadOrderFile"
                                       :http-request="httpRequestAgentProxyFile"
                                       :show-file-list="false"
                                       accept="image/jpg, image/bmp, image/jpeg, image/gif, image/png, application/pdf">
                                <el-button class="el-icon-ump-upload" size="small">上传</el-button>
                            </el-upload>
                        </div>
                    </div>
                    <div v-if="(!forms.AgentProxyStatus)&&forms.IsShowAgentProxy" class="file_tip">仅限图片、PDF文件，且文件不超过3M</div>
                </div>
                <div class="fl supplier">
                    <div class="overhide">
                        <p class="title fl">
                            <i class="icon_hui_fujian mr6">
                            </i>合同发票({{PIFiles.length}}个)
                            <a v-if="PIFiles.length>2&&showSize!=PIFiles.length" style="font-size:12px;margin-left:22px" v-on:click="showSize=PIFiles.length">全部显示<i class="el-icon-arrow-up"></i></a>
                            <a v-else v-on:click="showSize=2" style="font-size:12px;margin-left:22px">收起<i class="el-icon-arrow-down"></i></a>
                        </p>
                    </div>
                    <p class="upload fl tips" v-if="isVisiableUpload">提示：未上传</p>
                    <div class="PI_files overhide" v-if="!isVisiableUpload">
                        <ul class="fl">
                            <li class="overhide" v-for="(item,index) in PIFiles" v-if="index<showSize">
                                <i class="icon_wenjian fl mr10"></i>
                                <span class="fl">
                                    <span class="file_name">{{item.Name}}</span>
                                    <a :href="item.Url" target="_blank">预览</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span class="SplitOrderInfoOrderNO">产品明细</span>
        </div>
        <div class="products" v-for="(form,index) in forms.Confirms" v-if="index==0">
            <table border="0" cellspacing="0" cellpadding="0" style="word-wrap:break-word; word-break:break-all;">
                <tr>
                    <th class="first_th" style="width:22px;">#</th>
                    <th style="width:79px;">批号</th>
                    <th style="width:120px;">规格型号</th>
                    <th style="width:110px;">品名</th>
                    <th style="width:110px;">品牌</th>
                    <th style="width:79px;">产地</th>
                    <th style="width:58px;">数量</th>
                    <th style="width:39px;">单位</th>
                    <th style="width:79px;">单价({{form.CurrencyCode}})</th>
                    <th style="width:79px;">总价({{form.CurrencyCode}})</th>
                    <th style="width:60px;">毛重</th>
                </tr>
            </table>
        </div>
        <div>            
            <div class="products">
                <table border="0" cellspacing="0" cellpadding="0" style="word-wrap:break-word; word-break:break-all;">
                    <tr v-for="(item,index) in forms.ProductsForIcgoo" v-if="showDetail">
                        <td>{{index+1}}</td>
                        <td style="width:79px;">{{item.Batch}}</td>
                        <td style="width:120px;word-wrap:break-word;word-break:break-all;padding:0 5px;text-align:left">
                            {{item.Model}}
                            <p v-if="item.ItemCategoryTypes.length>0 && item.ItemCategoryTypes[0]!=''"> <span class="spacialTip" v-for="sub_item in item.ItemCategoryTypes">{{sub_item}}</span></p>
                        </td>
                        <td style="width:110px;word-wrap:break-word;word-break:break-all;padding:0 5px;text-align:left">{{item.Name}}</td>
                        <td style="width:110px;">{{item.Manufacturer}}</td>
                        <td style="width:79px;">{{item.Origin}}</td>
                        <td style="width:58px;">{{item.Quantity}}</td>
                        <td style="width:39px;">{{item.Unit}}</td>
                        <td style="width:79px;">{{toFixed(4,item.UnitPrice)}}</td>
                        <td style="width:79px;">{{toFixed(2,item.TotalPrice)}}</td>
                        <td style="width:60px;">{{item.GrossWeight}}</td>
                    </tr>
                    <tr v-for="(item,index) in forms.PartProductsForIcgoo" v-if="!showDetail">
                        <td>{{index+1}}</td>
                        <td style="width:79px;">{{item.Batch}}</td>
                        <td style="width:120px;word-wrap:break-word;word-break:break-all;padding:0 5px;text-align:left">
                            {{item.Model}}
                            <p v-if="item.ItemCategoryTypes.length>0 && item.ItemCategoryTypes[0]!=''"> <span class="spacialTip" v-for="sub_item in item.ItemCategoryTypes">{{sub_item}}</span></p>
                        </td>
                        <td style="width:110px;word-wrap:break-word;word-break:break-all;padding:0 5px;text-align:left">{{item.Name}}</td>
                        <td style="width:110px;">{{item.Manufacturer}}</td>
                        <td style="width:79px;">{{item.Origin}}</td>
                        <td style="width:58px;">{{item.Quantity}}</td>
                        <td style="width:39px;">{{item.Unit}}</td>
                        <td style="width:79px;">{{toFixed(4,item.UnitPrice)}}</td>
                        <td style="width:79px;">{{toFixed(2,item.TotalPrice)}}</td>
                        <td style="width:60px;">{{item.GrossWeight}}</td>
                    </tr>
                    <tr style="background-color:#FBFBFB">
                        <td colspan="11">
                            <a v-show="!showDetail" v-on:click="showDetail=true">显示全部<i class="el-icon-arrow-down"></i></a>
                            <a v-show="showDetail" v-on:click="showDetail=false">折叠<i class="el-icon-arrow-up"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div v-for="(form,index) in forms.Confirms" v-if="index==0">
            <div class="detail_information">
                <ul class="overhide">
                    <li class="first fl overhide">
                        <div class="wrap fl">
                            <p class="title">订单信息</p>
                            <div class="information">
                                <span>订单编号：{{forms.MainOrderID}}</span>
                                <div class="overhide"><span class="fl">交货供应商：</span><span style="margin-left:85px">{{form.Supplier}}</span></div>
                                <span>报关总价：{{parseFloat(forms.DeclarePrice).toFixed(2)}}</span>
                                <span>币种：{{form.Currency}}</span>
                                <span>是否包车：{{form.IsFullVehicle}}</span>
                                <span>是否代垫货款：{{form.IsAdvanceMoneny}}</span>
                                <span>包装种类：{{form.WrapType}}</span>
                                <div class="overhide"><span class="fl">下单人：</span><span style="margin-left:55px">{{form.OrderMaker}}</span></div>
                                <span>下单日期：{{form.CreateDate}}</span>
                                <div class="overhide"><span class="fl">备注：</span><span style="margin-left:40px">{{form.Summary}}</span></div>
                            </div>
                        </div>
                    </li>
                    <li class="fl"><div class="divider fl"></div></li>
                    <li class="second fl">
                        <div class="wrap" style="min-height:300px">
                            <p class="title">香港交货方式</p>
                            <div class="information">
                                <span>交货方式：{{form.HKDeliveryType}}</span>
                                <div v-if="form.isPickUp">
                                    <div class="overhide"><span class="fl">联系人：</span><span style="margin-left:53px;word-wrap:break-word; white-space:normal; word-break:break-all;">{{form.supplierContact}}</span></div>
                                    <div class="overhide"><span class="fl">电话：</span><span style="margin-left:45px;word-wrap:break-word; white-space:normal; word-break:break-all;">{{form.supplierContactMobile}}</span></div>
                                    <div class="overhide"><span class="fl">地址：</span><span style="margin-left:45px;word-wrap:break-word; white-space:normal; word-break:break-all;">{{form.SupplierAddress}}</span></div>
                                    <div class="overhide"><span class="fl">提货时间：{{form.PickupTime}}</span><span style="margin-left:158px"><i class="bule_fujian"></i><a download target="_blank" :href="forms.DeliveryFiles">查看提货文件</a></span></div>
                                </div>
                                <div v-if="!form.isPickUp" style="margin-bottom:55px;">
                                    <div>
                                        <span>物流单号：{{form.WayBillNo}}</span>
                                    </div>
                                </div>

                            </div>
                            <p class="title2">国内交货方式</p>
                            <div class="information">
                                <div class="overhide">
                                    <span class="fl">送货方式：{{form.SZDeliveryType}}</span>
                                </div>
                                <div v-if="!form.isSZPickUp">
                                    <div class="overhide"><span class="fl">联系人：</span><span style="margin-left:53px">{{form.clientContact}}</span></div>
                                    <div class="overhide"><span class="fl">电话：</span><span style="margin-left:45px">{{form.clientContactMobile}}</span></div>
                                    <div class="overhide"><span class="fl">地址：</span><span style="margin-left:45px">{{form.clientConsigneeAddress}}</span></div>
                                </div>
                                <div v-if="form.isSZPickUp">
                                    <div class="overhide"><span class="fl">提货人：</span><span style="margin-left:53px">{{form.clientContact}}</span></div>
                                    <div class="overhide"><span class="fl">电话：</span><span style="margin-left:45px">{{form.clientContactMobile}}</span></div>
                                    <div class="overhide"><span class="fl">证件号码：</span><span style="margin-left:45px">{{form.IDNumber}}</span></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="fl"><div class="divider fl"></div></li>
                    <li class="third fl">
                        <div class="wrap fl">
                            <div class="fl supplier">
                                <p class="title">付汇供应商</p>
                                <p v-if="PayExchangeSupplier.length==0" class="tips">提示：未选择付汇供应商</p>
                                <div class="information">
                                    <ol>
                                        <li v-for="(item,index) in PayExchangeSupplier">
                                            <span class="mb4">&nbsp;&nbsp;{{item.Name}}</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<script>

    var confirm = new Vue({
        el: "#confirm",
        data: function () {
            return {
                @*items: @Html.Raw(Json.Encode(Model.Products)),*@
                forms: @Html.Raw(Json.Encode(Model)),
                PayExchangeSupplier: @Html.Raw(Json.Encode(Model.PayExchangeSupplier)),
                PIFiles: @Html.Raw(Json.Encode(Model.PIFiles)),
                dialogConfirmVisible: false,
                dialogCancelVisible:false,
                check: false,
                isVisiableUpload: false,
                ruleForm: {
                    Cancel_Reason: "",
                },
                dialogFormVisible: false,
                fileUrl: "",
                URL:"",
                fileName: "",
                fileFormat:"",
                fileStatus: "未审核",
                showIDs: [],//控制下拉显示的id
                billFileUrl: "",
                billURL: "",
                billFileName: "",
                billFileFormat: "",
                billFileStatus: "未审核",
                agencyfileStatus: "未审核",
                showSize: 2,
                showDetail: false,
            }
        },
        mounted: function () {
            this.$nextTick(function(){
                if (confirm.PIFiles.length> 0){
                    confirm.isVisiableUpload = false;
                } else {
                    confirm.isVisiableUpload = true;
                }
                if (confirm.forms.AgentProxyURL != "") {
                    confirm.fileUrl = confirm.forms.AgentProxyURL;
                    confirm.fileName = confirm.forms.AgentProxyName;
                }
                if (confirm.forms.OrderBillURL != "") {
                    confirm.billFileUrl = confirm.forms.OrderBillURL;
                    confirm.billFileName = confirm.forms.OrderBillName;
                }
                debugger
                if (confirm.forms.AgentProxyStatus) {
                    this.agencyfileStatus = "已审核";
                }
                if (confirm.forms.OrderBillStatus) {
                    this.billFileStatus = "已审核";
                }
            })
        },
        methods: {
            httpRequest: function (options,ref) {
                var that = this;
                var file = options.file;
                var size = file.size / 1024;
                var imgArr = ["image/jpg", "image/bmp", "image/jpeg", "image/gif", "image/png"];
                let config = {
                    headers: { 'Content-Type': 'multipart/form-data' }
                };
                if (imgArr.indexOf(file.type) > -1 && size > 500) { //大于500kb的图片压缩
                    photoCompress(file, { quality: 0.8 }, function (base64Codes) {
                        var bl = convertBase64UrlToBlob(base64Codes);
                        var form = new FormData(); // FormData 对象
                        form.append("file", bl, "file_" + Date.parse(new Date()) + ".jpg"); // 文件对象
                        //添加请求头
                        axios.post('/Orders/UploadOrderFile', form, config)
                            .then(function (response) {
                                var file = JSON.parse(response.data.data);
                                if (response.data.type != "error") {
                                    if (ref == "uploadOrderBill") {
                                        that.billFileUrl = file.fullURL;
                                        that.billURL = file.URL;
                                        that.billFileName = file.name;
                                        that.billFileFormat = file.fileFormat;
                                        that.saveOrderBill();
                                    } else {
                                        that.fileUrl = file.fullURL;
                                        that.URL = file.URL;
                                        that.fileName = file.name;
                                        that.fileFormat = file.fileFormat;
                                        that.saveFile();
                                    }
                                }
                            });
                    });
                } else if (imgArr.indexOf(file.type) <= -1 && size > 1024*3) {
                    that.onAlert("error", "上传的文件大小不能大于3M");
                    return;
                } else {
                    var form = new FormData(); // FormData 对象
                    form.append("file", file); // 文件对象
                    //添加请求头
                    axios.post('/Orders/UploadOrderFile', form, config)
                        .then(function (response) {
                            var file =JSON.parse(response.data.data);
                            if (response.data.type != "error") {
                                if (ref == "uploadOrderBill") {
                                    that.billFileUrl = file.fullURL;
                                    that.billURL = file.URL;
                                    that.billFileName = file.name;
                                    that.billFileFormat = file.fileFormat;
                                    that.saveOrderBill();
                                } else {
                                    that.fileUrl = file.fullURL;
                                    that.URL = file.URL;
                                    that.fileName = file.name;
                                    that.fileFormat = file.fileFormat;
                                    that.saveFile();
                                }
                            }
                        });
                }
            },
            httpRequestOrderBillFile: function (options) {
                this.httpRequest(options, "uploadOrderBill")
            },
            httpRequestAgentProxyFile: function (options) {
                this.httpRequest(options, "uploadAgentProxy")
            },
            saveFile: function () {
                var that = this;
                axios({
                    url: "/Orders/SaveAgentProxy",
                    method: "post",
                    data: {
                        id: that.forms.MainOrderID,
                        URL: that.URL,
                        name: that.fileName,
                        fileFormat: that.fileFormat,
                    },
                }).then(function (response) {
                    that.onAlert(response.data.type, response.data.msg);
                }).catch(function (error) {
                    that.onAlert("warning", error);
                });
            },
            saveOrderBill: function () {
                var that = this;
                axios({
                    url: "/Orders/SaveOrderBill",
                    method: "post",
                    data: {
                        id: that.forms.MainOrderID,
                        URL: that.billURL,
                        name: that.billFileName,
                        fileFormat: that.billFileFormat,
                    },
                }).then(function (response) {
                    that.onAlert(response.data.type, response.data.msg);
                }).catch(function (error) {
                    that.onAlert("warning", error);
                });
            },
            ExportAgentProxy: function () {
                axios({
                    url: "/Orders/DownloadAgentProxy",
                    method: "post",
                    data: {
                        id: this.forms.MainOrderID
                    }
                }).then(function (response) {
                    if (response.data.type == "error") {
                        confirm.onAlert(response.data.type, response.data.msg);
                    } else {
                        $('#exportInfoForm').attr("href", response.data.data);
                        $('#exportInfoForm').attr("target", "_blank");
                        $('#ex-li').trigger("click");
                    }
                }).catch(function (error) {
                    confirm.onAlert("warning", error);
                });
            },
            ExportOrderBill: function () {
                axios({
                    url: "/Orders/GetBillsPDF2",
                    method: "post",
                    data: {
                        id: this.forms.MainOrderID
                    }
                }).then(function (response) {
                    if (response.data.type == "error") {
                        confirm.onAlert(response.data.type, response.data.msg);
                    } else {
                        $('#exportInfoForm').attr("href", response.data.data);
                        $('#exportInfoForm').attr("target", "_blank");
                        $('#ex-li').trigger("click");
                    }
                }).catch(function (error) {
                    confirm.onAlert("warning", error);
                });
            },
            toFixed: function (num, val) {
                return val.toFixed(num);
            },
            //消息提示框
            onAlert: function (type, message) {
                this.$message({
                    message: message,
                    type: type,
                });
            },
            closeItem: function (id) {
                if (this.showIDs.indexOf(id) > -1) {
                    this.showIDs.splice(id);
                } else {
                    this.showIDs.push(id);
                }
            },
        }
    });
</script>

