@{
    ViewBag.Title = "已完成订单";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
    ViewBag.navid = "UnInvoicedOrders";
}

<div class="content_right backshow">
    <h2>待开票</h2>
    <div id="uninvoiced" v-cloak style="padding:30px;min-height:650px;">
        <div class="orderlist">
            <div class="title">
                <ul class="overhide">
                    <li class="fl" style="width:226px">
                        <span>订单</span>
                    </li>
                    <li class="fl" style="width:136px">
                        <span>订单状态</span>
                    </li>
                    <li class="fl" style="width:217px">
                        <span>开票类型</span>
                    </li>
                    <li class="fl" style="width:119px">
                        <span>开票状态</span>
                    </li>
                    <li class="fl" style="width:189px">
                        <span>付汇状态</span>
                    </li>
                </ul>
            </div>
            <div v-loading="indexData.loading" style="min-height:400px;" v-on:scroll="ss('viewBox1')" ref="viewBox1">
                <div v-if="!indexData.loading">
                    <div v-for="t of indexData.curItems" style="margin-top:10px">
                        <div class="main_TitleTop">
                            <span class="main_TitleTopOrderNo">订单号：{{t.MainOrderID}}</span>
                            <span class="main_TitleTopCreateTime">{{t.createTime}}</span>

                            <img src="~/Content/images/Shpae1.png" style="margin-left:350px" />
                            <a v-on:click="orderDetails(t.MainOrderID)" style="text-align:right">订单详情</a>
                        </div>
                      
                        <div v-for="item of t.Orders">
                            <div class="subTitle">
                                <span class="subTitleOrderNO" style="margin-left:17px">订单号：{{item.ID}}</span>
                                @*<span class="lignt_text">{{item.CreateDate}}</span>*@                               
                            </div>
                            <div class="subItems">
                                <table class="subItemsTable">
                                    <tr class="cellSplit">
                                        <td style="width:225px;text-align:left">
                                            <div style="padding-left:60px;">
                                                <p>交易币种 {{item.Currency}}</p>
                                                <p>报关总价 {{item.DeclarePrice.toFixed(2)}}</p>
                                            </div>

                                        </td>
                                        <td style="width:134px;text-align:center">
                                            <span>{{item.OrderStatus}}</span><br />
                                            <a v-on:click="orderTrace(item.ID)">订单跟踪</a>
                                        </td>
                                        <td style="width:176px;word-wrap:break-word;word-break:break-all;padding:0 20px;text-align:left">
                                            <span>{{item.InvoiceType}}</span>
                                            <p>税率: <span>{{item.InvoiceTaxRate}}</span></p>
                                        </td>
                                        <td style="width:117px;text-align:center">
                                            <p>{{item.InvoiceStatus}}</p>
                                        </td>
                                        <td style="width:189px;text-align:left">
                                            <div style="padding-left:30px;">
                                                <p>{{item.PayExchangeStatus}}</p>
                                                <p>可付汇: {{item.Remittance}}</p>
                                                <p>已付汇 {{item.Remittanced}}</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="order" v-for="t of indexData.curItems">
                        @*<table class="myorder" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <th class="overhide main_title" colspan="6">
                                        <div class="fl">
                                            <span class="lignt_text">
                                                订单号：
                                            </span>
                                            <span>{{t.MainOrderID}}</span>
                                        </div>
                                        <div class="fr detail">
                                            <a v-on:click="orderDetails(t.MainOrderID)">订单详情</a>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="order subitem">
                                            <table class="myorder" border="0" cellspacing="0" cellpadding="0" v-for="item of t.Orders">
                                                <tr>
                                                    <th class="overhide" colspan="6">
                                                        <div class="fl">
                                                            <span class="lignt_text">
                                                                订单号：
                                                            </span>
                                                            <span>{{item.ID}}</span>
                                                        </div>
                                                        <div class="fl txtdate">
                                                            <span class="lignt_text">{{item.CreateDate}}</span>
                                                        </div>
                                                        <div class="fr" style="width:189px;text-align:center">
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr class="cell">
                                                    <td style="width:225px;text-align:left">
                                                        <div style="padding-left:60px;">
                                                            <p>交易币种 {{item.Currency}}</p>
                                                            <p>报关总价 {{item.DeclarePrice.toFixed(2)}}</p>
                                                        </div>

                                                    </td>
                                                    <td style="width:134px">
                                                        <span>{{item.OrderStatus}}</span><br />
                                                        <a v-on:click="orderTrace(item.ID)">订单跟踪</a>
                                                    </td>
                                                    <td style="width:176px;word-wrap:break-word;word-break:break-all;padding:0 20px;text-align:left">
                                                        <span>{{item.Suppliers}}</span>
                                                    </td>
                                                    <td style="width:117px">
                                                        <p>{{item.InvoiceStatus}}</p>
                                                    </td>
                                                    <td style="width:189px;text-align:left">
                                                        <div style="padding-left:30px;">
                                                            <p>{{item.PayExchangeStatus}}</p>
                                                            <p>可付汇: {{item.Remittance}}</p>
                                                            <p>已付汇 {{item.Remittanced}}</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>*@
                    </div>

                    <div v-if="indexData.curItems.length > 0" class="foot">
                        <el-pagination style="float:right" v-on:size-change="handleSizeChange"
                                       v-on:current-change="handleCurrentChange"
                                       :current-page="indexData.pageIndex"
                                       :page-sizes="[5, 10, 20, 40]"
                                       :page-size="indexData.pageSize"
                                       layout="total, sizes, prev, pager, next, jumper"
                                       :total="indexData.total">
                        </el-pagination>
                    </div>
                    <div v-else>
                        <div class="nodata-container">
                            <el-row class="nodata-row1">
                                <img src="~/Content/img/nodata.png" />
                            </el-row>
                            <el-row class="nodata-row2">
                                <span class="nodata-info">暂无数据！</span>
                            </el-row>
                            <el-row class="nodata-row3">
                                <button class="nodata-button" v-on:click="location.href='/Orders/MyOrders'">查看全部订单</button>
                                <button class="nodata-button" v-on:click="location.href='/Home/Index'">返回首页</button>
                            </el-row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <el-dialog title="订单跟踪" :lock-scroll="false" class="trace_dialog" width="700px" :visible.sync="traceFormVisible">
            <div class="order-track">
                <div class="track-rcol">
                    <div v-if="list.length>0" class="track-list">
                        <ul>
                            <li class="" v-for="item of list">
                                <div class="line"></div>
                                <i class="dot" v-if="item.isDot"></i>
                                <i v-else :class="[item.isCompleted?'complete':'state-icon']"></i>
                                <span class="date">
                                    {{item.Date}}
                                </span>
                                <span class="time">{{item.Time}}</span>
                                <span class="txt">
                                    <span class="stress-txt">{{item.Step}}</span>
                                    <span v-html="item.Summary"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <p v-else class="no_data">
                        暂无数据...
                    </p>
                </div>
            </div>
        </el-dialog>
    </div>
</div>


<script>
    var uninvoiced = new Vue({
        el: "#uninvoiced",
        data: function () {
            return {
                traceFormVisible: false,
                list: [],
                indexData: {
                    loading: true,
                    total: 0,
                    curItems: [],
                    pageIndex: 1, //初始页
                    pageSize: 5,    //每页的数据
                    scrollTop: 0, //滚动条位置
                }
            }
        },
        mounted: function () {
            var that = this;
            var userJsonStr = sessionStorage.getItem('UnInvoicedOrders');
            userEntity = JSON.parse(userJsonStr);
            if (userEntity == null) {
                that.paging();
            } else {
                that.indexData = userEntity;
                that.$nextTick(function () {
                    that.$refs['viewBox1'].scrollTop = that.indexData.scrollTop;
                })

                sessionStorage.removeItem('UnInvoicedOrders');
            }
        },
        methods: {
            orderTrace: function (id) {
                var that = this;
                that.list = [];
                axios({
                    url: "/Orders/GetTrace",
                    method: "post",
                    data: { id: id },
                }).then(function (res) {
                    if (res.data.type == "success") {
                        that.list = that.dataProcessing(JSON.parse(res.data.data))
                        that.traceFormVisible = true;
                    } else {

                    }
                }).catch(function (error) {
                    that.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                });
            },
            dataProcessing: function (data) {
                var arr = [];
                var date = "";
                var step = "";
                for (var i = 0; i < data.length; i++) {
                    var temp = data[i];
                    if (data[i].Date == date) {
                        temp.Date = "";
                    } else {
                        date = data[i].Date;
                    }
                    if (data[i].Step == step) {
                        temp.isDot = true;
                        temp.Step = "";
                    } else {
                        step = data[i].Step;
                    }
                    if (i > 0) {
                        temp.isCompleted = false;
                    }
                    arr.push(temp);
                }
                return arr;
            },
            ss: function (ref) {
                // 监听这个dom的scroll事件
                var that = this;
                this.$refs[ref].addEventListener('scroll', function () {
                    that.indexData.scrollTop = that.$refs[ref].scrollTop;
                }, false)
            },
            paging: function () {
                var that = this;
                that.indexData.loading = true;
                axios({
                    url: "/Orders/GetUnInvoicedOrders",
                    method: "post",
                    data: {
                        page: this.indexData.pageIndex,
                        rows: this.indexData.pageSize,
                    },
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                    transformRequest: [function (data) {
                        var ret = ''
                        for (var it in data) {
                            ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
                        }
                        return ret;
                    }],
                }).then(function (response) {
                    var data = JSON.parse(response.data.data);
                    var MianIDs = [];
                    var newData = [];
                    for (var irow = 0; irow < data.list.length; irow++) {
                        if (MianIDs.indexOf(data.list[irow].MainOrderID) < 0) {
                            MianIDs.push(data.list[irow].MainOrderID);
                        }
                    }

                    for (var i = 0; i < MianIDs.length; i++) {
                        var d = [];
                        var declarePrice = 0;
                        for (var j = 0; j < data.list.length; j++) {
                            if (data.list[j].MainOrderID == MianIDs[i]) {
                                d.push(data.list[j]);
                                declarePrice += data.list[j].DeclarePrice;
                            }
                        }
                        var isSplit = false;
                        if (d.length > 1) {
                            isSplit = true;
                        }
                        newData.push(
                            {
                                MainOrderID: MianIDs[i],
                                Orders: d,
                                isSplit: isSplit,
                                createTime: d[0].MainOrderCreateDate,
                                currency: d[0].Currency,
                                declarePrice: declarePrice
                            })
                    }
                    that.indexData.curItems = newData;
                    that.indexData.total = data.total;
                    that.indexData.loading = false;
                }).catch(function (error) {
                    that.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                });
            },
            orderDetails: function (id) {
                sessionStorage.setItem('UnInvoicedOrders', JSON.stringify(this.indexData));
                location.href = "/Orders/Info/?id=" + id +"&v="+'@ViewBag.navid';
            },
            // 初始页currentPage、初始每页数据数pagesize和数据data
            handleSizeChange: function (size) {
                this.indexData.pageSize = size;
                this.paging();
            },
            handleCurrentChange: function (currentPage) {
                this.indexData.pageIndex = currentPage;
                this.paging();
            },
            //消息提示框
            onAlert: function (type, message) {
                this.$message({
                    message: message,
                    type: type,
                });
            },
        }
    });
</script>

