@{
    ViewBag.Title = "修改密码";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>会员中心</title>
    <link rel="stylesheet" href="~/Content/css/border.css">
    <link rel="stylesheet" href="~/Content/css/reset.css">
    <link rel="stylesheet" href="~/Content/css/index.css">
    <link rel="stylesheet" href="~/Content/css/element.css">
    <link rel="stylesheet" href="~/Content/css/mint-ui.css">
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/elementui.js"></script>
    <script src="~/Scripts/mint-ui.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/Shared/Common.js"></script>
</head>
<body>
    <div class="second_header">
        <a onClick="javascript :history.back(-1);"><span class="el-icon-arrow-left icon"></span></a>
        <div class="second_nav">
            <span class="header-title">修改密码</span>
        </div>
    </div>
    <div id="phone_bindings" class="bind_user">
        <div class="bind_content">
            <div class="bind_content_box">
                <div class="input_box">
                    <span class="input_laber">原密码:</span>
                    <span>
                        <el-input placeholder="请输入原密码" v-model="fromdata.Password" v-on:blur="old_pwd" type="password"></el-input>
                        <p v-if='is_old_pwd==1' class="error_content">原密码不能为空</p>
                    </span>
                </div>
                <div class="input_box">
                    <span class="input_laber">新密码:</span>
                    <span>
                        <el-input type="password" placeholder="请输入新密码(6~12位字母、数字)" v-model="fromdata.NewPassword" v-on:blur='new_pwd'></el-input>
                    </span>
                    <p v-if='is_new_pwd==1' class="error_content">新密码不能为空</p>
                    <p v-else-if='is_new_pwd==2' class="error_content">请输入新密码(6~12位字母、数字)</p>
                    <p v-else-if='is_new_pwd==3' class="error_content">新密码与原密码不能相同</p>
                </div>
                <div class="input_box">
                    <span class="input_laber">确认密码:</span>
                    <span>
                        <el-input type="password" placeholder="请再次输入新密码" v-model="fromdata.ConfirmPassword" v-on:blur='confirm_pwd'></el-input>
                    </span>
                    <p v-if='is_confirm_pwd==1' class="error_content">确认密码不能为空</p>
                </div>
                <div class="sumbit_btn" v-on:click="sumbit_btn">
                    <div class="sumbit_btn_span">保存</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    var phone_bindings = new Vue({
        el: "#phone_bindings",
        data: {
            fromdata: {
                Password: "",
                NewPassword: "",
                ConfirmPassword: ""
            },
            is_old_pwd: 0,
            is_new_pwd: 0,
            is_confirm_pwd: 0
        },
        methods: {
            old_pwd: function () {
                if (this.fromdata.Password == "") {
                    this.is_old_pwd = 1
                } else {
                    this.is_old_pwd = 0
                }
            },
            new_pwd: function () {
                if (this.fromdata.NewPassword == "") {
                    this.is_new_pwd = 1
                } else if (!ValidPassword(this.fromdata.NewPassword)) {
                    this.is_new_pwd = 2
                } else if (this.fromdata.Password == this.fromdata.NewPassword) {
                    this.is_new_pwd = 3
                } else {
                    this.is_new_pwd = 0
                }
            },
            confirm_pwd: function () {
                if (this.fromdata.ConfirmPassword == "") {
                    this.is_confirm_pwd = 1
                } else {
                    this.is_confirm_pwd = 0
                }
            },
            sumbit_btn: function () {  //保存按钮
                this.old_pwd();
                this.new_pwd();
                this.confirm_pwd();

                if (this.is_old_pwd != 1 && this.is_new_pwd != 1 && this.is_confirm_pwd != 1) {
                    axios({
                        url: "/Account/Password",
                        method: "post",
                        data: phone_bindings.fromdata,
                    }).then(function (response) {
                        if (response.data.type == "success") {
                            phone_bindings.$toast({
                                message: response.data.msg,
                                iconClass: 'icon el-icon-check',
                                duration: 1000
                            });

                            setTimeout(() => {
                                window.location.href = "/Account/Settings";
                            }, 1000);
                        } else {
                            phone_bindings.$toast({
                                message: response.data.msg,
                                iconClass: 'icon el-icon-close',
                                duration: 1000
                            });
                        }
                    }).catch(function (error) {
                        console.log(error);
                        phone_bindings.$toast({
                            message: '系统发生错误，请稍后重试或联系客服',
                            iconClass: 'icon el-icon-close',
                            duration: 1000
                        });
                    });
                }
            }
        },

    })
</script>
