<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserName" value="u_wl"/>
    <add key="Password" value="oNfE8EN721r2yPU5LLnfa5i38O6hNs"/>
    <add key="HostName" value="172.30.10.52"/>
    <add key="Port" value="5672"/>
    <!--<add key="VirtualHost" value="wl"/>-->
    <add key="VirtualHost" value="foric"/>
    <!--合同双方: Purchaser(买方)[HY/XDT], Vendor(卖方)[HT/WLT]-->
    <add key="Purchaser" value="XDT"/>
    <add key="Vendor" value="WLT"/>
    <!--内单付汇供应商-->
    <add key="InsidePayExchangeSupplier" value="dcbcd3f0b9a0fee08c6822876427d7d7"/>
    <!--Icgoo付汇供应商-->
    <add key="a7f0a9f7e352a66e2e95ec02459e094c" value="5ce22f6cd6c946f8007308308619e13f"/>
    <!--快包付汇供应商-->
    <add key="5DEAE1100CC624003F93EF4CB757308C" value="107C97581A73151D0DBB97A2C671EA98"/>
    <add key="InsideOrder" value="1"/>
    <add key="IcgooOrder" value="0"/>
    <add key="DeclareCompany" value="深圳市芯达通供应链管理有限公司"/>
    <add key="AdminID" value="Admin0000000333"/>   
    <add key="FileServerUrl" value="http://bvn.erp.b1b.com/Chains/Files"/>
    <add key="AutoDriver" value="李楠"/>
    <add key="AutoVehicle" value="粤B8P1K1"/>
    <add key="OutAdminID" value="Admin0000000333"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=udata;Password=udata123"/>-->
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc"/>-->
    <add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_wl_szWF;Password=quVGg8IcUxX687sBBdu992e9RHspYM"/>
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_wl_szWF;Password=quVGg8IcUxX687sBBdu992e9RHspYM"/>-->
  </connectionStrings>
</configuration>
