<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.6"/>
		<httpRuntime targetFramework="4.6"/>
	</system.web>
	<appSettings>
		<!-- 文件保存路径 -->
		<add key="FileSavePath" value="D:\uuws.b1b.com" />
		<!--<add key="FileSavePath" value="E:\v8_0\szwh\filessz0" />-->
		<!-- 文件路径前缀 -->
		<add key="FileUrlPrefix" value="http://filessz0.ic360.cn/" />
		<!-- 开发 -->
		<!--<add key="PvWsOrderApiUrl" value="http://hv.erp.b1b.com/PvWsOrderApi/"/>-->
		<!-- 测试 -->
		<add key="PvWsOrderApiUrl" value="http://erp80.ic360.cn/PvWsOrderApi/"/>
		<!-- 正式 -->
		<!--<add key="PvWsOrderApiUrl" value="http://erp8.ic360.cn/PvWsOrderApi/"/>-->
	</appSettings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<connectionStrings>
		<add name="PsOrderConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PsOrder;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
	</connectionStrings>
</configuration>