html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}



/********************/

.index-bg {
    padding: 80px 0 100px;
    background: url(/hxt_img/index-bg.png) no-repeat center bottom;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.9;
    height: 660px;
}








/********************/
.logoHeader {
    display: block;
    width: 200px;
    height: 50px;
    /*    padding-top: 60px;*/
    overflow: hidden;
    text-indent: -9999px;
    background: url(/hxt_img/logo_smal.png) 0 0 no-repeat;
    text-decoration: none;
    /*    margin: 10px 0;*/
}

.divHeader {
    height: 50px;
    vertical-align: middle;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
}

    .divHeader a {
        display: block;
    }

    .divHeader .loginHeader {
        width: 90px;
        top: 15px;
        position: absolute;
        /*        height: 50px;
        line-height: 50px;*/
        margin-left: 1100px;
        text-decoration: none;
        text-align: center;
    }

    .divHeader .registerHeader {
        width: 90px;
        top: 15px;
        position: absolute;
        /*        height: 50px;
        line-height: 50px;*/
        margin-left: 1200px;
        text-decoration: none;
        text-align: center;
    }


.divBackBaner {
    width: 100%;
    height: 40px;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
}

    .divBackBaner .irmenu {
        width: 124px;
        text-align: center;
        font-size: 20px;
        margin: 0 100px;
    }

        .divBackBaner .irmenu:hover {
            color: #FFA61B !important;
        }

.divBlackGB {
    background-color: #30343A;
}




/*************公司简介 start***************/

.irAboutCompany {
    padding: 80px 0 100px;
    background: url(/hxt_img/company-bg.jpg) no-repeat center bottom;
    background-size: cover;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    background-color: white;
    opacity: 0.9;
    /*z-index:-1;*/
}

    .irAboutCompany .conCompany {
        margin: 0 auto;
        max-width: 1250px;
        width: 94%;
    }

    .irAboutCompany .detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
    }

        .irAboutCompany .detail .wordcon {
            visibility: visible;
            animation-delay: 0.3s;
            width: 46%;
            animation-name: fadeInLeft;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

            .irAboutCompany .detail .wordcon .title {
                font-size: 40px;
                color: #000;
                font-weight: bold;
            }

            .irAboutCompany .detail .wordcon .txt {
                font-size: 16px;
                color: #666666;
                line-height: 30px;
                margin-top: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box !important;
                -webkit-box-orient: vertical;
            }

        .irAboutCompany .detail .imgbox {
            width: 60%;
            height: 410px;
            overflow: hidden;
            border-radius: 60px 0 60px 0;
            animation-name: fadeInRight;
            animation-duration: 1s;
            animation-fill-mode: both;
            margin-left: 30px;
            margin-top: 80px;
            visibility: visible;
            animation-delay: 0.3s;
        }

        .irAboutCompany .detail .imgfull {
            border: 0;
            display: inline-block;
            max-width: 100%;
            vertical-align: middle;
        }


/*******************/

.wenhuabg {
    /*padding: 80px 0 100px;*/
    background: url(/hxt_img/wenhua-bg.jpg) no-repeat center bottom;
    background-size: cover;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    background-color: white;
    opacity: 0.9;
    height: 900px;
}

.irculture {
    padding: 10px 0 220px;
}

    .irculture .title {
        letter-spacing: 1px;
        font-size: 38px;
        color: #333333;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: inherit;
    }

    .irculture .detail {
        width: 96.5%;
        max-width: 1140px;
        margin: 0 auto !important;
        position: relative;
    }

        .irculture .detail .kuai {
            min-height: 129px;
            padding: 20px 20px;
            background: #fff;
            box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
            width: 31%;
            float: left;
            height: 200px;
            text-align: center;
        }

            .irculture .detail .kuai:not(:last-child) {
                margin-right: 3.5%;
            }

            .irculture .detail .kuai:last-child {
                margin-right: 0;
            }

            .irculture .detail .kuai .neirong {
                padding: 40px 0px;
                vertical-align: middle;
            }

            .irculture .detail .kuai .biaoti h5 {
                font-weight: 700;
            }

            .irculture .detail .kuai .line {
                width: 49px;
                height: 6px;
                background-color: #FFA61B;
                border-radius: 3px;
                display: block;
                margin: 18px auto 10px;
            }



/*************公司简介 end***************/



/*************业务范围 start***************/

.irbusiness {
    padding: 0px 0 120px;
}

    .irbusiness .ieport-bg {
        padding: 80px 0 100px;
        background: url(/hxt_img/jinchukou-bg.jpg) no-repeat center bottom;
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        opacity: 0.9;
    }


    .irbusiness .storagebg {
        padding: 80px 0 100px;
        background: url(/hxt_img/storage-bg.jpg) no-repeat center bottom;
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        opacity: 0.9;
    }

    .irbusiness .payexbg {
        padding: 80px 0 100px;
        background: url(/hxt_img/storage-bg.jpg) no-repeat center bottom;
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        opacity: 0.9;
    }



    .irbusiness .title {
        letter-spacing: 1px;
        font-size: 38px;
        color: #333333;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 5px;
        font-family: inherit;
    }

    .irbusiness .line {
        width: 49px;
        height: 6px;
        background-color: #FFA61B;
        border-radius: 3px;
        display: block;
        margin: 50px auto 50px;
    }

.whitebg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.9;
}



/*************业务范围 end***************/


/*************联系我们 start***************/


.ircontactus {
    height: 1020px;
    padding: 80px 0 100px;
    background: url(/hxt_img/contact-bg.jpg) no-repeat center bottom;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.9;
}

    .ircontactus .linesmall {
        width: 30px;
        height: 0px;
        background-color: #FFA61B;
        border-radius: 2px;
        display: block;
        margin: 15px auto 15px;
        float:left;
    }

    .ircontactus .rightcon p {
        margin: 6px 0;
    }

    .ircontactus .rightcon img {
        padding: 0 10px;
    }

    .ircontactus .rightcon h5 {
        padding: 0 10px;
    }

/**************************************/

.irfooter-con {
    width: 100%;
    height: 160px;
    background-color: #30343A;
    padding: 10px;
    font-size: 12px;
}

    .irfooter-con .about {
        display: block;
        float: left;
    }

    .irfooter-con ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        .irfooter-con ul li {
            padding: 2px 0;
        }

    .irfooter-con a {
        padding: 0;
        text-decoration: none;
        color: #999 !important;
    }

    .irfooter-con span {
        padding: 0;
        color: #999;
    }

    .irfooter-con a:hover {
        color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
    }

    .irfooter-con .contact {
        padding-left: 120px;
        display: block;
        float: left;
    }


.irfooter {
    background-color: #202427;
    padding: 3px;
    font-size: 12px;
}

    .irfooter .ircopy {
        line-height: 20px;
        text-align: center;
    }

        .irfooter .ircopy a {
            text-decoration: none;
        }

body {
    margin-bottom: 60px;
}
