<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Layers.Data.Properties.Settings.PvbErmConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvbErm;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvOmsConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvOms;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvOverallsConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvOveralls;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.VAERPConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=VAERP;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvbCrmConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvbCrm;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.HvRFQConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=HvRFQ;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvCenterConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvCenter;Persist Security Info=True;User ID=udata;Password=Turing2019"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvDataConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvData;Persist Security Info=True;User ID=udata;Password=Turing2019"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvLsOrderConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvLsOrder;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWmsConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvWms;Persist Security Info=True;User ID=udata;Password=Turing2019"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.ScCustomsConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.ScCustomsConnectionString3"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.HvRFQConnectionString1"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=HvRFQ;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.ScCustomsConnectionString1"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvcCrmConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvcCrm;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWmsConnectionString1"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvWms;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWmsConnectionString2"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvWms;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWmsConnectionString3"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvWms;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvbErmConnectionString1"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvbErm;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString1"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=ScCustoms;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.ScCustomsConnectionString2"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=ScCustoms;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvcCrmConnectionString1"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvcCrm;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWmsConnectionString4"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.VAERPConnectionString2"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=VAERP;Persist Security Info=True;User ID=udata;Password=Turing2019"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.VAERPConnectionString1"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=VAERP;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString2"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=foricScCustoms;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PSLConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PSL;Persist Security Info=True;User ID=udata;Password=Turing2019"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWmsConnectionString5"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWms;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvbErmConnectionString3"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvbErm;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvFinanceConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvFinance;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvdCrmConnectionString"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvdCrm;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.HvRFQConnectionString2"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=HvRFQ;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvCenterConnectionString1"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvDataConnectionString1"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvData;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvRouteConnectionString"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvRoute;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.HvRFQConnectionString3"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=HvRFQ;Persist Security Info=True;User ID=udata;Password=Turing2019"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvRouteConnectionString1"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvRoute;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString3"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=foricScCustoms;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString4"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PsWmsConnectionString"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PsWms;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PsWmsConnectionString1"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PsWms;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PsWmsConnectionString2"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PsWms;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PsOrderConnectionString"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PsOrder;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvDataConnectionString2"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvData;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PsOrderConnectionString1"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PsOrder;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvDataConnectionString3"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString1"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvWsOrder;User ID=udata;Password=Turing2019"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.pvwsorderConnectionString2"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=pvwsorder;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString3"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvbErmConnectionString2"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvbErm;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString4"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=pvwsorder;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString5"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString6"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=udata;Password=Turing2019"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString7"
      connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PsOrderConnectionString2"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PsOrder;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvdCrmConnectionString5"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvdCrm;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvdCrmConnectionString1"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvdCrm;Persist Security Info=True;User ID=udata;Password=Turing2019"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PsOrderConnectionString3"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PsOrder;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvbCrmConnectionString1"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvbCrmConnectionString2"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvbCrm;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PveCrmConnectionString"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PveCrm;Persist Security Info=True;User ID=udata;Password=Turing2019"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.HvRFQConnectionString4"
      connectionString="Data Source=172.30.10.49,6522;Initial Catalog=HvRFQ;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PveCrmConnectionString2"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PveCrm;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.ElsaConnectionString"
      connectionString="Data Source=192.168.29.19,1433;Initial Catalog=Elsa;Persist Security Info=True;User ID=sa" />
    <add name="Layers.Data.Properties.Settings.PveStandardConnectionString"
      connectionString="Data Source=.;Initial Catalog=PveStandard;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PveSmsConnectionString"
      connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PveSms;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWmsConnectionString6"
      connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString5"
      connectionString="Data Source=172.30.10.49,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvCenterConnectionString2"
      connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString8"
      connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvLsOrderConnectionString1"
      connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvLsOrder;Persist Security Info=True;User ID=udata"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvLsOrderConnectionString2"
      connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvLsOrder;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvDataConnectionString4"
      connectionString="Data Source=221.122.108.49,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString6"
      connectionString="Data Source=221.122.108.49,6522;Initial Catalog=foricScCustoms;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString7"
      connectionString="Data Source=221.122.108.49,6522;Initial Catalog=foricScCustoms;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvDataConnectionString5"
      connectionString="Data Source=221.122.108.49,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString9"
      connectionString="Data Source=221.122.108.49,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString8"
      connectionString="Data Source=172.30.10.49,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_v0;Packet Size=512"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString9"
      connectionString="Data Source=172.30.10.49,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_v0;Packet Size=512"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString10"
      connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Packet Size=512"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.foricScCustomsConnectionString10"
      connectionString="Data Source=.;Initial Catalog=foricScCustoms;User ID=sa;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvbCrmConnectionString3"
      connectionString="Data Source=.;Initial Catalog=PvbCrm;User ID=sa;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWsOrderConnectionString11"
      connectionString="Data Source=.;Initial Catalog=PvWsOrder;User ID=sa;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Layers.Data.Properties.Settings.PvWmsConnectionString7"
      connectionString="Data Source=.;Initial Catalog=PvWms;User ID=sa;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
