
@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<section class="findPwd" id="app">
    <div class="findPwd_box">
        <h1>重置密码</h1>
        <!--
            忘记密码时的状态
            第一步：step1_active
                <div class="step_box clearfix step1_active">
            第二步：step2_active
                <div class="step_box clearfix step2_active">
            第三步：step2_active
                <div class="step_box clearfix step2_active">
        -->
        <div class="step_box clearfix step1_active">
            <div class="step step1">
                <i></i>
                <span>1</span>
                <p>验证身份</p>
            </div>
            <div class="step step2">
                <i></i>
                <span>2</span>
                <p>重置登录密码</p>
            </div>
            <div class="step step3">
                <i></i>
                <span>3</span>
                <p>重置成功</p>
            </div>
            <div class="step_line1"></div>
            <div class="step_line2"></div>
            <div class="step_line_default"></div>
        </div>
        <div class="step_content">
            <!--step0 step1为第一步-->
            <div class="step0_content">
                <ul class="input_list">
                    <li class="clearfix">
                        <label for="">邮箱账号</label>
                        <!--
                            提示input框输入正确还是错误
                            <div class="input_list_right">默认
                            <div class="input_list_right input_correct">正确提示
                            <div class="input_list_right input_error">错误提示
                        -->
                        <div class="input_list_right">
                            <input type="text" name="" id="email" v-model="form.Email" v-on:blur="emailBlur" placeholder="请输入邮箱账号" class="btn btn_line mb30" />
                            <i class="input_correct_i"></i>
                            <div class="input_error_hint hintFixed">
                                <i></i>
                                <span>{{errMsg}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <label for="">验证</label>
                        <div class="input_list_right">
                            <div class="btn btn_bg_gray" id="box" onselectstart="return false;">
                                <div class="bgColor"></div>
                                <div class="txt">请按住滑块，拖到最右边</div>
                                <div class="slider"><i></i></div>
                                <input type="hidden" id="isSuccess" v-model="isSuccess" />
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="input_list_right">
                            <label></label>
                            <button class="btn btn_bg_gray2 btn_big mt70" disabled="disabled" id="findPwdStep1" v-on:click="findPwdStep1">下一步</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="step1_content clearfix hidden">
                <div class="step1_left">
                    <i></i>
                </div>
                <div class="step1_right">
                    <h2>验证码已发送，重置登录密码，即可完成重置！</h2>
                    <p>
                        只需登录邮箱
                        <span>{{form.email}}</span> 点击链接,激活即可。
                    </p>
                    <button  :class="{ 'btn':true, 'step1_right_a':true,'btn_bg_gray2':dis,'btn_bg_yellow':!dis}" :disabled="dis" v-on:click="mailSubmit">立即登录邮箱验证</button>
                    <div class="bt">
                        <h3>还没有收到验证邮件？</h3>
                        <ol>
                            <li>1.尝试到广告邮件、垃圾邮件目录里找找看</li>
                            <li>
                                2.
                                <a v-on:click="mailSubmit" style="cursor:pointer;text-decoration:none" class="hint hint_blue">再次发送验证邮件</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    //模拟进度条进行到第三步
    $(function () {
        $("input").placeholder();//jquery兼容ie9一下的palceholder，如果页面有input这句必须写
    })
    //滑块验证通过的函数
    function success() {
        bgColor.style.backgroundColor = "#FAA613";
        slider.className = "slider active";
        slider.style.backgroundColor = "#FAA613";
        box.style.backgroundColor = "#FAA613";
        bgColor.style.width = successMoveDistance + "px";
        slider.style.left = successMoveDistance - 2 + "px";
        txt.innerHTML = "验证通过";
        txt.style.color = "#FFFFFF";
        txt.style.zIndex = 100;
        isSuccess = true;
        app.$data.isSuccess = true;
        //滑动成功时，移除鼠标按下事件和鼠标移动事件
        slider.onmousedown = null;
        document.onmousemove = null;
    };

    var app = new Vue({
        el: "#app",
        data: function () {
            return {
                form:@Html.Raw(Json.Encode(Model)),
                isSuccess: false, //邮箱滑动验证
                dis: false,
                errMsg:""
            }
        },
        computed: {
            Email() {
                return this.form.Email;
            },
        },
        watch: {
            Email(newValue, oldValue) {
                this.allValidation();
            },
            isSuccess(newValue, oldValue) {
                this.allValidation();
            }
        },
        methods: {
            emailBlur: function () {
                if (this.mailValidation()) {
                    $("#email").parent().removeClass("input_error").addClass("input_correct");
                } else {
                    this.errMsg = "邮箱格式不正确，请重新输入";
                    $("#email").parent().removeClass("input_correct").addClass("input_error");
                }
            },
            //邮箱验证
            mailValidation: function () {
                var reg = new RegExp(/^([a-zA-Z0-9._-])+@{@Html.Raw("@");}([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/);
                return reg.test(this.form.Email);
            },
            allValidation: function () {
                if (this.mailValidation() && this.isSuccess) {
                    $("#findPwdStep1").removeAttr("disabled");
                    $("#findPwdStep1").removeClass("btn_bg_gray2").addClass("btn_bg_blue");
                }
                else {
                    $("#findPwdStep1").prop("disabled", "disabled");
                    $("#findPwdStep1").removeClass("btn_bg_blue").addClass("btn_bg_gray2");
                }
            },
            //第一步验证邮箱
            findPwdStep1: function () {
                axios({
                    url: "/Home/ValidateEmail",
                    method: "post",
                    data: this.form,
                }).then(function (response) {
                    if (response.data.type == "success") {
                        app.goStep(1);
                    } else {
                        app.errMsg = response.data.msg;
                        $("#email").parent().removeClass("input_correct").addClass("input_error");
                    }
                }).catch(function (error) {

                });
            },
            //发送邮件验证地址
            mailSubmit: function () {
                this.dis = true;
                axios({
                    url: "/Home/FindPassword",
                    method: "post",
                    data: this.form,
                }).then(function (response) {
                    
                }).catch(function (error) {
                    
                });
            },
            goStep: function (index) {
                if (index == 0) {
                    this.goStepFunction("step1_active", ".step0_content");
                } else if (index == 1) {
                    this.goStepFunction("step1_active", ".step1_content");
                } else if (index == 2) {
                    this.goStepFunction("step2_active", ".step2_content");
                } else if (index == 3) {
                    this.goStepFunction("step3_active", ".step3_content");
                }
            },
            goStepFunction: function (className, changeClassName) {
                $(".step_box").addClass(className);
                $(".step_content").children().hide();
                $(".step_content").find(changeClassName).show();
            }
        }
    });
</script>
<script src="~/Scripts/Home/common.js"></script>
