
@{
    ViewBag.Title = "重置密码";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script src="~/Scripts/Shared/Common.js"></script>
<section class="findPwd" id="app">
    <div class="findPwd_box">
        <h1>重置密码</h1>
        <!--
            忘记密码时的状态
            第一步：step1_active
                <div class="step_box clearfix step1_active">
            第二步：step2_active
                <div class="step_box clearfix step2_active">
            第三步：step2_active
                <div class="step_box clearfix step2_active">
        -->
        <div class="step_box clearfix step1_active step2_active">
            <div class="step step1">
                <i></i>
                <span>1</span>
                <p>验证身份</p>
            </div>
            <div class="step step2">
                <i></i>
                <span>2</span>
                <p>重置登录密码</p>
            </div>
            <div class="step step3">
                <i></i>
                <span>3</span>
                <p>重置成功</p>
            </div>
            <div class="step_line1"></div>
            <div class="step_line2"></div>
            <div class="step_line_default"></div>
        </div>
        <div class="step_content">            
            <div class="step2_content">
                <ul class="input_list">
                    <li class="clearfix mb6">
                        <label class="black">邮箱账号</label>
                        <div class="input_list_right">
                            <em>{{form.Email}}</em>
                        </div>
                    </li>
                    <li class="clearfix mb2">
                        <label class="black">请重置登录密码</label>
                    </li>
                    <li class="clearfix">
                        <label for="">登录密码</label>
                        <div class="input_list_right">
                            <input type="password"  id="Password" v-model="form.Password" placeholder="请重置您的登录密码" class="btn btn_line" />
                            <i class="input_correct_i"></i>
                        </div>
                    </li>
                    <li class="clearfix">
                        <label for="">再次输入</label>
                        <div class="input_list_right">
                            <input type="password"  id="ConfirmPassword" v-model="form.ConfirmPassword" placeholder="请再次输入您的密码" class="btn btn_line" />
                            <i class="input_correct_i"></i>
                            <div class="input_error_hint">
                                <i></i>
                                <span>{{msgConfirmPassword}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="input_list_right">
                            <label></label>
                            <button class="btn btn_bg_gray2 btn_big mt34" disabled="disabled" id="findPwdStep2" v-on:click="onSubmit">确认</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="step3_content hidden">
                <i></i>
                <h2>密码修改成功</h2>
                <p>请重新登录</p>
                <div class="btn btn_bg_blue step3_operation_a">
                    <a href="/Home/Login">去登录</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $("input").placeholder();//jquery兼容ie9一下的palceholder，如果页面有input这句必须写
    })

    var app = new Vue({
        el: "#app",
        data: function () {
            return {
                form:@Html.Raw(Json.Encode(Model)),
                dis: false,
                msgConfirmPassword:"",
            }
        },
        computed: {
            Password() {
                return this.form.Password;
            },
            ConfirmPassword() {
                return this.form.ConfirmPassword;
            },
        },
        watch: {
            Password(newValue, oldValue) {
                if (this.form.ConfirmPassword != "" && this.form.ConfirmPassword != null && newValue != null && newValue != "") {
                    $("#findPwdStep2").removeAttr("disabled");
                    $("#findPwdStep2").removeClass("btn_bg_gray2").addClass("btn_bg_blue");
                }
                else {
                    $("#findPwdStep2").prop("disabled", "disabled");
                    $("#findPwdStep2").removeClass("btn_bg_blue").addClass("btn_bg_gray2");
                }
            },
            ConfirmPassword(newValue, oldValue) {
                if (this.form.Password != "" && this.form.Password != null && newValue != null && newValue != "") {
                    $("#findPwdStep2").removeAttr("disabled");
                    $("#findPwdStep2").removeClass("btn_bg_gray2").addClass("btn_bg_blue");
                }
                else {
                    $("#findPwdStep2").prop("disabled", "disabled");
                    $("#findPwdStep2").removeClass("btn_bg_blue").addClass("btn_bg_gray2");
                
                }
            }
        },
        methods: {
            //提交
            onSubmit: function () {
                if (app.form.Password != app.form.ConfirmPassword) {
                    app.msgConfirmPassword = "两次密码输入不一致";
                    $("#ConfirmPassword").parent().removeClass("input_correct").addClass("input_error");
                    return false;
                }
                else if (!ValidPassword(app.form.Password)) {
                    app.msgConfirmPassword = "请输入新密码(6-12位字母+数字)";
                    $("#ConfirmPassword").parent().removeClass("input_correct").addClass("input_error");
                    return false;
                }
                else {
                    $("#ConfirmPassword").parent().removeClass("input_error").addClass("input_correct");
                    $("#Password").parent().removeClass("input_error").addClass("input_correct");
                }
                axios({
                    url: "/Home/ResetPassword",
                    method: "post",
                    data: this.form,
                }).then(function (response) {
                    if (response.data.type == "success") {
                        app.goStep(3);
                    } else {
                        app.msgConfirmPassword = response.data.msg;
                        $("#ConfirmPassword").parent().removeClass("input_correct").addClass("input_error");
                    }
                }).catch(function (error) {

                });
            },
            goStep: function (index) {
                if (index == 0) {
                    this.goStepFunction("step1_active", ".step0_content");
                } else if (index == 1) {
                    this.goStepFunction("step1_active", ".step1_content");
                } else if (index == 2) {
                    this.goStepFunction("step2_active", ".step2_content");
                } else if (index == 3) {
                    this.goStepFunction("step3_active", ".step3_content");
                }
            },
            goStepFunction: function (className, changeClassName) {
                $(".step_box").addClass(className);
                $(".step_content").children().hide();
                $(".step_content").find(changeClassName).show();
            }
        }
    });
</script>