/*公共样式*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
table,
thead,
tbody,
tr,
th,
td,
div,
a,
span {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Tahoma, "Microsoft YaHei", "Hiragino Sans GB", "SimHei", "SimSun";
	font-size: 12px;
	color: #323232;
}

i,
em {
	font-style: normal;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	background-color: transparent;
}

a:visited{
	background-color: transparent;
}
a:active{
	background-color: transparent;
}

fieldset,
img,
button,
textarea {
	border: 0;
}

input[type='text'],
input[type='password'],
button,
textarea,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
	outline: none;
}

button:disabled {
	cursor: not-allowed;
}
input,textarea,.btn,.input_list li .input_list_right input,.placeholder{
	font-family: "微软雅黑";
}
/*  
 * 		::-webkit-     WebKit, Blink, Edge 
 * 		:-moz-         Mozilla Firefox 4 to 18
 * 		::-moz-        Mozilla Firefox 19+
 * 		::-ms-     	   Internet Explorer 10-11
 * 		.placeholder   jquery.placeholder兼容ie9以下（ie9以下没有placeholder） 
 * */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.placeholder {
	color: #B3B3B3;
	font-size: 14px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}

.w1200 {
	width: 1200px;
	margin: 0 auto;
}

.pt70 {
	padding-top: 70px;
}

.mt70 {
	margin-top: 70px;
}
.mb0{
	margin-bottom: 0!important;
}
.mb6 {
	margin-bottom: 6px!important;
}

.mb2 {
	margin-bottom: 2px!important;
}

.mb30 {
	margin-bottom: 30px;
}

.w50 {
	width: 45px!important;
}

.w160 {
	width: 160px!important;
}

.pt19 {
	padding-top: 19px;
}

.b0 {
	border: none!important;
}

.mb24 {
	margin-bottom: 24px!important;
}

.pl35{
	padding-left: 35px!important;
}
.mr3{
	margin-right: 3px!important;
}
.noselect{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mt6{
	margin-top: 6px!important;
}

/*所有带圆角的*/
.btn,.login_content,.login_error_hint,.step i,.register textarea,.findPwd_box{
	border-radius: 6px;
	-moz-border-radius: 6px;
}

/*类似按钮样式开始*/
.btn {
	width: 276px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
}

.btn_line {
	width: 274px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ddd;
	background-color: #ffffff;
}

.btn_bg_gray2,
.btn_bg_blue,
.btn_bg_yellow {
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.btn_bg_gray {
	background-color: #e8e8e8;
}

.btn_bg_gray2 {
	background-color: #b3b3b3;
}

.btn_bg_blue {
	background-color: #31b0f3;
}

.btn_bg_yellow {
	background-color: #FAA613;
}

.btn_big {
	font-size: 16px;
}
/*长度为一半*/
.btn_half {
	width: 134px;
}
/*类似按钮样式结束*/


/*提示信息样式开始*/
.hint {
	font-size: 12px;
}
.hint:hover,
.login_content_a:hover,
.login_operation a:hover,
.step3_operation p a:hover {
	text-decoration: underline;
}

.hint_yellow {
	color: #faa613;
}

.hint_blue {
	color: #31B0F3;
}
/*提示信息样式结束*/

/*头部样式*/
header {
	width: 100%;
	height: 70px;
	background-color: #FFFFFF;
	font-size: 16px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
	-webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
}

/*当页面滚动时，header加透明度为96%的背景色*/
#header.transport {
	background-color: rgba(255, 255, 255, .96);
	/*box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
	-webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
	-ms-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);*/
	/*box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);*/
}
.header_bb{
	border-bottom: 1px solid #E0DCDC;
}
.logo {
	width: 228px;
	height: 46px;
	margin-top: 14px;
	float: left;
}

    .logo img {
        /*width: 138px;
        height: 46px;*/
        top: -3px;
        position: relative;
    }

nav,
.iphone,
.nav_item {
	float: left;
}

.nav_item .nav_item_li {
	position: relative;
	float: left;
	line-height: 70px;
	height: 70px;
	margin-right: 8px;
}

.nav_item .nav_item_li a {
	display: block;
	padding: 0 15px;
}
.nav_item .nav_item_li .nav_item_ul a {
	padding-left: 15px;
	padding-right: 0;
}
/*登录的头部*/
.header_main .nav_item .nav_item_li{
	margin-right: 12px;
}
.header_main .nav_item .nav_item_li a {
	padding: 0 35px;
}
.header_main .nav_item .nav_item_li .nav_item_ul a {
	padding-left: 25px;
    padding-right: 0;
}

.nav_item.active {
	border: 1px solid #ddd;
	border-bottom: none;
	border-top: none;
}

.nav_item a {
	color: #333333;
}

.nav_item a:hover {
	color: #0071bb;
}

.login_operation input[type='checkbox'],
.login_operation label {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.mm {
	vertical-align: middle;
}
.nav_item_icon {
	display: inline-block;
	background: url(../img/public.png) no-repeat;
	margin-left: 8px;
	height: 6px;
	width: 10px;
	background-position: -200px -96px;
	-moz-transition: all .5s linear;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}

.nav_item_ul {
	width: 93px;
	position: absolute;
	top: 0;
	left: 1px;
	background-color: #FFFFFF;
	border-top: 0;
	margin-left: -1px;
	height: 0;
	-moz-transition: height .3s linear;
	-webkit-transition: height .3s linear;
	-o-transition: height .3s linear;
	transition: height .3s linear;
	overflow: hidden;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
}
.header_main .nav_item_ul{
	width: 110px;
}
.nav_item_ul li {
	height: 30px;
	line-height: 30px;
}

.nav_item_li:hover .nav_item_ul1 {
	height: 169px;
	padding-bottom: 10px;
}

.nav_item_li:hover .nav_item_ul2 {
	height: 139px;
	padding-bottom: 10px;
}

.nav_item_li:hover .nav_item_ul li .nav_item_icon {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);/*IE 9 */
	-moz-transform: rotate(180deg);/*Firefox */
	-webkit-transform: rotate(180deg);/*Safari 和 Chrome */
	-o-transform: rotate(180deg);
}

.nav_item_ul li a {
	display: block;
	padding-left: 36px;
	font-size: 14px;
	color: #333333;
	height: 30px;
	line-height: 30px;
}

.nav_span {
	font-size: 16px;
	color: transparent;
	color: #0071BB;
}

.iphone {
    margin-left: 41px;
    margin-top: 10px;
}

.iphone_number {
	margin-top: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #faa613;
	font-family: "times new roman";
}

.login {
	margin-top: 70px;
}
.register,
.findPwd {
	margin-top: 100px;
}

/*底部样式*/
footer {
	background-color: #f7f7f7;
	height: 68px;
	width: 100%;
	min-width: 1200px;
	color: #999999;
	text-align: center;
	padding-top: 36px;
}
.footer_text {
	margin-bottom: 10px;
}


/*登录页样式*/
.login {
	width: 100%;
	height: 540px;
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.login_content {
	position: relative;
	float: right;
	width: 276px;
	height: 340px;
	padding: 30px 26px;
	background-color: #FFFFFF;
}
.login_content h1 {
	font-size: 20px;
	font-weight: 500;
}
.login_error_hint {
	display: none;
	float: left;
	width: 200px;
	height: 24px;
	line-height: 24px;
	background-color: #ff7e7e;
	text-align: center;
	color: #FFFFFF;
	margin-top: 12px;
	margin-bottom: 9px;
}
.login_content_a {
	float: right;
	margin-top: 21px;
	margin-bottom: 9px;
	color: #faa613;
}
.login_operation {
	padding-top: 20px;
	padding-bottom: 26px;
}
.login_operation a {
	float: right;
	color: #31b0f3;
}
.login_icon_left {
	float: left;
	width: 36px;
	padding-left: 12px;
}
.login_icon_left i,
.login_icon_right i,
.login_operation i,
.slider>i,
.input_error_hint i,
.input_correct_i,
.step1_content .step1_left i,
.step3_hint i,
.findPwd .step3_content i,
.chooseArea .select_box i,
.slider_error_icon{
	background: url(../img/public.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.login_operation i {
	cursor: pointer;
}
.login_operation i.checked_no {
	height: 14px;
	width: 14px;
	background-position: -246px -101px;
}
.login_operation i.checked_yes {
	height: 14px;
	width: 14px;
	background-position: -264px -101px;
}
.login_icon_left i.login_user {
	height: 20px;
	width: 18px;
	background-position: 0 -95px;
}
.login_icon_left i.login_psd {
	height: 20px;
	width: 20px;
	background-position: -25px -96px;
}

.login_icon_right {
	float: right;
	width: 14px;
	padding-right: 12px;
}

.login_icon_right i {
	height: 10px;
	width: 14px;
	background-position: -200px -80px;
	cursor: pointer;
}
.sliderImg{
	position: absolute;
	width: 276px;
	height: 126px;
	background: url(../img/sliderBg0.png);
	top: 103px;
	top:98px;
    left: 26px;
    z-index:3;
}
.sliderSmImg{
    position: absolute;
	width: 52px;
	height: 52px;
	background: url(../img/sliderSm0.png) no-repeat;
    top: 71px;
    left: 10px;
    z-index:10;
}
/*滑块样式login页，register页，findpwd页公用样式*/
#box {
	position: relative;
}
.bgColor {
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 36px;
	background-color: #faa613;
	color: #FFFFFF;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	z-index:10;
}
.txt {
	position: absolute;
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #666666;
    text-align: center;
}
.slider_error_icon{
	display: none;
	float: left;
	height:14px;width:14px;background-position:-218px -100px;
	margin-right: 5px;
    margin-left: 106px;
    margin-top: 11px;
}
.txt_span{
	float: right;
	margin-right: 46px;
}
.txt_span.error{
	margin-right: 80px;
    color: #ea4141;
}
.slider {
	position: absolute;
	left: 0;
	top: 0px;
	height: 36px;
	width: 56px;
	margin-right: 20px;
	cursor: move;
	background: #e8e8e8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	z-index:20;
	border:0;
	overflow: hidden;
}
.slider>i {
	height: 32px;
	width: 54px;
	background-position: -217px -65px;
	margin-left: 2px;
	margin-top: -3px;
	margin-top:-5px\9;
}
.slider.active>i {
	background-position: -137px -79px;
}
.sliderImg{
	display: none;
}
.btn.focus,
textarea:focus {
	border-color: #31B0F3;
}

/*注册页样式*/

.bt {
	border-top: 1px solid #e0dcdc;
}

.bb {
	border-bottom: 1px solid #e0dcdc;
}

.step_box,
.step_content,
.step0_content,
.step3_content,
.step3_hint {
	margin: 0 auto;
}

.step_box {
	width: 730px;
	margin-top: 30px;
}

.step_content {
	width: 710px;
	margin-top: 60px;
	height: auto;
}

.step0_content,
.step3_content {
	width: 708px;
}

.step0_content {
	padding-bottom: 150px;
}

.step3_content {
	height: 320px;
	margin-bottom: 68px;
	border: 1px solid #999999;
}

/*进度条样式开始*/
.step {
	position: relative;
	float: left;
	text-align: center;
	width: 100px;
	z-index: 3;
}

.step.step1 {
	/* margin-left: 0; */
}

.step.step2 {
	margin-left: 215px;
}

.step.step3 {
	margin-left: 215px;
}

.step i {
	display: block;
	width: 28px;
	height: 28px;
	margin: 0 auto;
	background-color: #B3B3B3;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.step1 i {
	-moz-transition: background-color .3s linear;
	-webkit-transition: background-color .3s linear;
	-o-transition: background-color .3s linear;
	transition: background-color .3s linear;
}

.step2 i {
	-moz-transition: background-color .3s .4s linear;
	-webkit-transition: background-color .3s .4s linear;
	-o-transition: background-color .3s .4s linear;
	transition: background-color .3s .4s linear;
}

.step3 i {
	-moz-transition: background-color .3s .8s linear;
	-webkit-transition: background-color .3s .8s linear;
	-o-transition: background-color .3s .8s linear;
	transition: background-color .3s .8s linear;
}

.step span {
	position: absolute;
	top: 3px;
	left: 44px;
	font-size: 20px;
	color: #fff;
	margin: 0 auto;
}

.step p {
	font-size: 16px;
	margin-top: 10px;
	color: #b3b3b3;
}

.step1 p {
	-moz-transition: color .3s linear;
	-webkit-transition: color .3s linear;
	-o-transition: color .3s linear;
	transition: color .3s linear;
}

.step2 p {
	-moz-transition: color .3s .4s linear;
	-webkit-transition: color .3s .4s linear;
	-o-transition: color .3s .4s linear;
	transition: color .3s .4s linear;
}

.step3 p {
	-moz-transition: color .3s .8s linear;
	-webkit-transition: color .3s .8s linear;
	-o-transition: color .3s .8s linear;
	transition: color .3s .8s linear;
}

.step_line_default,
.step_line1,
.step_line2 {
	height: 2px;
	margin-top: 0;
	position: relative;
}

.step_line_default {
	width: 620px;
	background-color: #b3b3b3;
	z-index: 0;
	top: 9px;
	left: 49px;
}

.step_line1,
.step_line2 {
	width: 0;
	background-color: #FAA613;
	z-index: 1;
	top: 13px;
	width: 0;
}

.step_line1 {
	left: 50px;
	-moz-transition: width .3s .2s linear;
	-webkit-transition: width .3s .2s linear;
	-o-transition: width .3s .2s linear;
	transition: width .3s .2s linear;
}

.step_line2 {
	left: 370px;
	top: 11px;
	-moz-transition: width .3s .6s linear;
	-webkit-transition: width .3s .6s linear;
	-o-transition: width .3s .6s linear;
	transition: width .3s .6s linear;
}

.step_box.step1_active .step1 i,
.step_box.step2_active .step1 i,
.step_box.step2_active .step2 i,
.step_box.step3_active .step1 i,
.step_box.step3_active .step2 i,
.step_box.step3_active .step3 i{
	background-color: #FAA613;
}

.step_box.step1_active .step1 p,
.step_box.step2_active .step1 p,
.step_box.step2_active .step2 p,
.step_box.step3_active .step1 p,
.step_box.step3_active .step2 p,
.step_box.step3_active .step3 p{
	color: #FAA613;
}

.step_box.step2_active .step_line1{
	width: 304px;
}
.step_box.step3_active .step_line1{
	width: 304px;
}
.step_box.step3_active .step_line2{
	width: 304px;
}

/*进度条样式结束*/

/*注册每一步的内容*/
.input_list li label {
	float: left;
	width: 238px;
	text-align: right;
	font-size: 16px;
	line-height: 36px;
	margin-right: 20px;
	height: 36px;
	color: #666;
}

.input_list li label.black {
	color: #323232;
	font-weight: bold;
}

.input_list li .input_list_right {
	position: relative;
	float: left;
	/*width: 276px;*/
}
/*.input_list li .input_list_right input{
	font-family: "微软雅黑";
}*/
.input_list_right em {
	display: block;
	font-size: 16px;
	line-height: 36px;
	color: #FFA200;
}

.hidden {
	display: none;
}

.input_list li input {
	text-indent: 16px;
}

.input_list li input.input_tc{
	text-align: center;
    text-indent: 0;
}
input:focus {
	border-color: #31B0F3;
}

.input_correct_i {
	display: none;
	height: 20px;
	width: 20px;
	background-position: -50px -96px;
	margin-left: 14px;
	margin-top: -2px;
}

.input_correct .input_correct_i {
	display: inline-block;
}

.input_correct input {
	border-color: #31B0F3;
}

.input_error_hint{
	display: none;
	margin: 5px 0;
}
.input_error_hint.hintFixed{
	position: absolute;
	left: 0;
	top: 36px;
}

.input_error_hint i {
	height: 20px;
	width: 20px;
	background-position: -80px -96px;
	margin-right: 10px;
}

.input_error_hint span {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #ea4141;
}

.input_error .input_error_hint {
	display: block;
}

.input_error input {
	border-color: #ea4141;
}

.step1_content {
	margin-bottom: 70px;
}

.step1_content .step1_left {
	float: left;
	width: 126px;
	margin-left: 44px;
	margin-right: 60px;
}

.step1_content .step1_left i {
	height: 88px;
	width: 128px;
	background-position: 0 0;
}

.step1_content .step1_right {
	float: left;
	width: 480px;
}

.step1_right h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

.step1_right p {
	margin-bottom: 48px;
	color: #b3b3b3;
}

.step1_right p span {
	color: #faa613;
	font-size: 14px;
}

.step1_right .step1_right_a,
.step3_operation_a {
	display: block;
	color: #fff;
	text-align: center;
	font-size: 16px;
}

.step1_right .step1_right_a {
	line-height: 46px;
	height: 46px;
	margin-bottom: 52px;
	width: 174px;
}

.step1_right h3 {
	margin-top: 24px;
	font-size: 16px;
	margin-bottom: 20px;
}

.step1_right ol li {
	margin-bottom: 12px;
	color: #b3b3b3;
}

.step2_content {
	padding-bottom: 42px;
}

.step2_content ul li {
	margin-bottom: 12px;
}

.chooseArea{
	
}
.chooseArea .select{
	position: relative;
	float: left;
	margin-right: 3px;
	cursor: pointer;
}
.chooseArea .select span{
	font-size: 14px;
	margin-left: 1px;
}
.chooseArea .select_box span{
	float: left;
	margin-right: -2px;
	width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chooseArea .select_box i{
	float: right;
	height: 10px;
	width: 14px;
	background-position: -200px -80px;
	margin-top: 5px;
	margin-right: 2px;
}
.chooseArea .select .select_fixed{
	display: none;
	position: absolute;
	top:30px;
	left: -1px;
	z-index:80;
	padding-top: 6px;
	height: 140px;
    overflow-y: auto;
}
.chooseArea .select .select_fixed span{
	display: block;
	margin-bottom: 8px;
    padding-left: 5px;
}
.chooseArea .select .select_fixed span:hover,.chooseArea .select .select_fixed span.selected{
	color: #31B0F3;
}
.step3_content {
	text-align: center;
}

.step3_hint {
	width: 600px;
	border-bottom: 1px dashed #b3b3b3;
}

.step3_hint i {
	height: 58px;
	width: 58px;
	background-position: -217px 0;
	margin-right: 26px;
}

.step3_hint span {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	color: #ffa200;
	margin-top: 64px;
	margin-bottom: 50px;
}

.step3_operation {
	padding-top: 48px;
}

.step3_operation p {
	font-size: 14px;
	margin-bottom: 44px;
}

.step3_operation p a {
	color: #31B0F3;
}

.step3_operation_a {
	margin: 0 auto;
}
.step3_operation_a a{
	display: block;
	width: 100%;
	color: #FFFFFF;
	height: 36px;
}
.register textarea {
	width: 274px;
	text-indent: 10px;
	line-height: 23px;
	height: 69px!important;
	border: 1px solid #ddd;
	resize: none;
	color: #323232;
}

.btn_smsize{
	height: 22px;
	line-height: 22px;
	width:88px;
}


/*忘记密码样式*/

.findPwd {
	width: 100%;
	background-color: #f7f7f7;
	height: auto;
	overflow: hidden;
}

.findPwd_box {
	width: 1160px;
	margin: 0 auto;
	background-color: #fff;
}

.findPwd_box h1 {
	border-bottom: 1px solid #e0dcdc;
	padding-left: 30px;
	font-size: 16px;
	line-height: 66px;
}
/*进度条*/
.findPwd .step_box.step1_active .step1 i,
.findPwd .step_box.step2_active .step1 i,
.findPwd .step_box.step2_active .step2 i,
.findPwd .step_box.step3_active .step1 i,
.findPwd .step_box.step3_active .step2 i,
.findPwd .step_box.step3_active .step3 i{
	background-color: #31B0F3;
}

.findPwd .step_box.step1_active .step1 p,
.findPwd .step_box.step2_active .step1 p,
.findPwd .step_box.step2_active .step2 p,
.findPwd .step_box.step3_active .step1 p,
.findPwd .step_box.step3_active .step2 p,
.findPwd .step_box.step3_active .step3 p{
	color: #31B0F3;
}
.findPwd .step_line1,
.findPwd .step_line2 {
	background-color: #31B0F3;
}
.findPwd .step_content {
	margin-top: 40px;
}

.findPwd .step1_right p span {
	color: #31B0F3;
}

.findPwd .step1_content {
	margin-bottom: 0;
	padding-bottom: 20px;
	margin-top: 60px;
}

.findPwd .step3_content {
	width: 276px;
	text-align: center;
	border: none;
}

.findPwd .step3_content i {
	display: block;
	margin: 0 auto;
	margin-bottom: 14px;
	height: 72px;
	width: 72px;
	background-position: -136px 0;
}

.findPwd .step3_content h2 {
	margin-bottom: 10px;
	color: #323232;
	font-size: 16px;
}

.findPwd .step3_content p {
	font-size: 12px;
	color: #b3b3b3;
	margin-bottom: 44px;
}