
@{
    ViewBag.Title = "公司简介";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公司简介</title>
    <link rel="stylesheet" href="~/Content/css/index.css">
</head>
<body>
    <div id="company_profile" class="company_profile">

        <div class="company_header">
            <div class="icon">
                <img src="~/Content/img/logo-1.png" alt="Alternate Text" />
            </div>
            <p class="icon_right">
                <a href="/Order/Menu_folding">
                    <span><img src="~/Content/img/菜单.png" alt=""></span>
                </a>
            </p>
        </div>
        <div class="bc_img">
            <p class="txt1">ABOUT US/<span class="txt_us">关于我们</span></p>
            <p>我们提供专业报关服务，为您打造聚物流、商业信息流、资金流综合型服务项目！</p>
        </div>
        <div class="companyWrap">
            <div class="wrap">
                <p class="title">公司简介</p>
                <p class="content">深圳市芯达通供应链管理有限公司隶属于北京创新在线网络技术有限公司旗下。芯达通供应链管理有限公司总部设立在深圳， 另外在北京、上海、香港设有分公司。香港拥有中转货仓5000平方英尺，深圳货仓2000平米，主要从事一般贸易进出口、香港代收代发、 香港仓储及周边其他增值服务，为客户提供集物流、商流、信息流、资金流为一体的综合服务。</p>
                <p class="content">公司各类人才集聚，核心团队成员都是拥有十几年同行经验的高素质人才，公司拥有一套自主研发的物流管理系统（一站式报关通关系统）。 该系统前端实现了客户自主下单，订单的实时跟踪，可以一目了然的掌控资金、物流情况，最大化让客户安心、省心；后端实现与海关单一窗口无缝对接， 减少操作风险、大大提高工作效率、实现通关快捷智能化。我司服务涉及通讯、IT、网络、电子消费类产品、仪器仪表、光电设备、大型设备、 医疗设备等行业。</p>
                <p class="content">我司实力雄厚，以“重诚信、守合同”的服务理念，赢得了广大客户的一致好评和认可。 用“芯”服务、通达天下是我们的服务宗旨， 为客户提供更专业高效的物流服务是我们矢志不渝的使命和追求。</p>
            </div>
        </div>
        <div class="clientWrap">
            <div class="wrap">
                <p class="title">我的客户</p>
                <ul>
                    <li>
                        <img src="~/Content/img/客户-1.png" alt="Alternate Text" />
                    </li>
                    <li>
                        <img src="~/Content/img/客户-2.png" alt="Alternate Text" />
                    </li>
                    <li>
                        <img src="~/Content/img/客户-3.png" alt="Alternate Text" />
                    </li>
                    <li>
                        <img src="~/Content/img/客户-4.png" alt="Alternate Text" />
                    </li>
                    <li>
                        <img src="~/Content/img/客户-5.png" alt="Alternate Text" />
                    </li>
                    <li>
                        <img src="~/Content/img/客户-6.png" alt="Alternate Text" />
                    </li>
                    <li>
                        <img src="~/Content/img/客户-7.png" alt="Alternate Text" />
                    </li>
                    <li>
                        <img src="~/Content/img/客户-8.png" alt="Alternate Text" />
                    </li>
                    <li>
                        <img src="~/Content/img/客户-9.png" alt="Alternate Text" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="industyWrap">
            <div class="wrap">
                <p class="title">企业理念</p>
                @*<p class="content">创新恒远秉承着“创新无止境，服务恒久远”的企业理念，秉承“诚信，安全，专业，快捷” 服务宗旨，为客户提供一流的服务，让行业的发展展现新的格局,同时我们希望与客户、合作伙伴及我们的员工共同发展互利互惠，致力于成为全国乃至全球物流行业的领航者！</p>*@
            <p class="content">加快进口报关环节，缩短物流仓储时效，体验高效/智慧供应链服务。秉承“诚信，安全，专业，快捷” 服务宗旨，为客户提供一流的服务，让行业的发展展现新的格局,同时我们希望与客户、合作伙伴及我们的员工共同发展互利互惠，致力于成为全国乃至全球物流行业的领航者！</p>
            </div>
        </div>
        <div class="company_foot">
            <p class="txt1">怎样联系我们？</p>
            <p class="txt2">电话：0755-83765188</p>
            <p class="txt2">传真：0755-83995933</p>
            <p class="txt2">邮件：shenzhen@wl.net.cn</p>
            <p class="txt2">地址：深圳市龙岗区坂田吉华路393号英达丰科技园 </p>
            <div class="links">
                <span><a href="/Home/CompanyProfile">公司简介</a></span>
                <span>|</span>
                <span><a href="/Home/Recruitment">人才招聘</a></span>
                <span>|</span>
                <span><a href="/Account/ClientService">客户服务</a></span>
            </div>
            <p class="txt3">禁限售规则 - 知识产权保护政策 - 隐私权政策 - 使用条款</p>
            <p class="txt3">&copy;2019-2020 深圳市芯达通供应链管理有限公司 版权所有</p>
        </div>
        <div class="fixedMenu">
            <ul>
                <li>
                    <a href="/Account/Index"><i></i><span>会员中心</span></a>
                </li>
                <li>
                    <a href="/Order/MyOrders"><i></i><span>我的订单</span></a>
                </li>
                <li>
                    <a href="tel:0755-83988698"><i></i><span>报关热线</span></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
