
@{
    ViewBag.Title = "人才招聘";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>人才招聘</title>
    <link rel="stylesheet" href="~/Content/css/index.css">
</head>

<body>
    <div id="recruitment">
        <div class="company_header">
            <div class="icon">
                <img src="~/Content/img/logo-1.png" alt="Alternate Text" />
            </div>
            <p class="icon_right">
                <a href="/Order/Menu_folding">
                    <span><img src="~/Content/img/菜单.png" alt=""></span>
                </a>
            </p>
        </div>
        <div class="recruitment_bc_img">
            <p class="txt1">Recruitment/<span class="txt_us">人才招聘</span></p>
            <p>深圳华芯通：无限动力，无限人生——华芯通邀您一起畅想未来！</p>
        </div>
        <div class="companyWrap">
            <div class="wrap">
                <p class="title">人才观念</p>
                <p class="content">倡导“以人为本，德才兼备，唯才是举，各尽其能” 的人才观，视员工为公司的宝贵资源和财富，始终坚持“以员工为本”、“让所有员工分享公司经营成果”的理念，努力为员工营造一个积极、简单、和谐的工作氛围，创建一种平等竞争、相互尊重、共同进步的职业发展平台，让每一位员工都能尽情施展自己的才能，最终实现员工与公司的共赢。</p>
            </div>
        </div>
        <div class="position_box">
            <div class="position_info">
                <div class="position_info_left">
                    <p>
                        <span>
                            <em class="set_nbsp">职</em>
                            <em>位</em>:
                        </span>
                        <span>业务员</span>
                    </p>
                    <p>
                        <span>工作性质:</span>
                        <span>全职</span>
                    </p>
                    <p>
                        <span>
                            <em class="set_nbsp">学</em>
                            <em>历</em>:
                        </span>
                        <span>大专</span>
                    </p>
                    <p>
                        <span>发布日期:</span>
                        <span>2019.01.22</span>
                    </p>
                </div>
                <div class="interval_bar"></div>
                <div class="position_info_right">
                    <p>
                        <span>需求人数:</span>
                        <span>3人</span>
                    </p>
                    <p>
                        <span>
                            <em class="set_nbsp">性</em>
                            <em>别</em>:
                        </span>
                        <span>不限</span>
                    </p>
                    <p>
                        <span>工作年限:</span>
                        <span>两年以上</span>
                    </p>
                    <p>
                        <span>有效日期:</span>
                        <span>长期有效</span>
                    </p>
                </div>
            </div>
            <div class="position_responsibility">
                <h1>岗位职责:</h1>
                <p>1.开拓市场，维护客户关系，完成公司制定的销售目标。</p>
                <p>2.拜访潜在客户，了解客户需求，为客户提供合理的供应链解决方案，不断拓宽客户群体。</p>
                <p>3.做好售后服务，反馈客户信息，提升公司服务满意度。</p>
                <h1>任职资格:</h1>
                <p>1.大专及以上学历，相关国际贸易、市场营销、经济类专业优先考虑；</p>
                <p>2.了解国际金融结算相关知识、进出口基本流程和一般操作方法；</p>
                <p>3.良好的沟通表达能力，较强的学习能力。</p>
            </div>
        </div>
        @*<div class="position_box">
            <div class="position_info">
                <div class="position_info_left">
                    <p>
                        <span>
                            <em class="set_nbsp">职</em>
                            <em>位</em>:
                        </span>
                        <span>商务助理</span>
                    </p>
                    <p>
                        <span>工作性质:</span>
                        <span>全职</span>
                    </p>
                    <p>
                        <span>
                            <em class="set_nbsp">学</em>
                            <em>历</em>:
                        </span>
                        <span>大专</span>
                    </p>
                    <p>
                        <span>发布日期:</span>
                        <span>2019.01.22</span>
                    </p>
                </div>
                <div class="interval_bar"></div>
                <div class="position_info_right">
                    <p>
                        <span>需求人数:</span>
                        <span>3人</span>
                    </p>
                    <p>
                        <span>
                            <em class="set_nbsp">性</em>
                            <em>别</em>:
                        </span>
                        <span>不限</span>
                    </p>
                    <p>
                        <span>工作年限:</span>
                        <span>两年以上</span>
                    </p>
                    <p>
                        <span>有效日期:</span>
                        <span>长期有效</span>
                    </p>
                </div>
            </div>
            <div class="position_responsibility">
                <h1>岗位职责:</h1>
                <p>1.开拓市场，维护客户关系，完成公司制定的销售目标。</p>
                <p>2.拜访潜在客户，了解客户需求，为客户提供合理的供应链解决方案，不断拓宽客户群体。</p>
                <p>3.做好售后服务，反馈客户信息，提升公司服务满意度。</p>
                <h1>任职资格:</h1>
                <p>1.大专及以上学历，相关国际贸易、市场营销、经济类专业优先考虑；</p>
                <p>2.了解国际金融结算相关知识、进出口基本流程和一般操作方法；</p>
                <p>3.良好的沟通表达能力，较强的学习能力。</p>
            </div>
        </div>*@
        <div class="Resume_delivery">
            <p>简历投递</p>
            <p>有意者请将简历投递至邮箱<a href="">job@for-ic.net</a></p>
        </div>
        <div class="company_foot">
            <p class="txt1">怎样联系我们？</p>
            <p class="txt2">电话：0755-83765188</p>
            <p class="txt2">传真：0755-83995933</p>
            <p class="txt2">邮件：shenzhen@wl.net.cn</p>
            <p class="txt2">地址：深圳市龙岗区坂田吉华路393号英达丰科技园 </p>
            <div class="links">
                <span><a href="/Home/CompanyProfile">公司简介</a></span>
                <span>|</span>
                <span><a href="/Home/Recruitment">人才招聘</a></span>
                <span>|</span>
                <span><a href="/Account/ClientService">客户服务</a></span>
            </div>
            <p class="txt3">禁限售规则 - 知识产权保护政策 - 隐私权政策 - 使用条款</p>
            <p class="txt3">&copy;2019-2020 深圳市华芯通供应链管理有限公司 版权所有</p>
        </div>
        <div class="fixedMenu">
            <ul>
                <li>
                    <a href="/Account/Index"><i></i><span>会员中心</span></a>
                </li>
                <li>
                    <a href="/Order/MyOrders"><i></i><span>我的订单</span></a>
                </li>
                <li>
                    <a href="tel:0755-83988698"><i></i><span>报关热线</span></a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
