<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FileUpLoadRootPath" value="d:\FileUpLoadRootPath"/>
    <add key="FileUpLoadRootUrl" value="/FileUpLoadRootUrl"/>
    <add key="XlsPath" value="d:\XlsExportPath"/>
  </appSettings>
  <connectionStrings>
    <add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc"/>
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
