html,
body {
  height: 100%;
  overflow: hidden;
}
html {
  background: #559eff;
  background: -webkit-linear-gradient(#6ab6ff, #467fff); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#6ab6ff, #467fff); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#6ab6ff, #467fff); /* Firefox 3.6 - 15 */
  background: linear-gradient(#6ab6ff, #467fff); /* 标准的语法 */
}
.login {
  position: relative;
  width: 100%;
  height: 642px;
  background: url('../Image/login-bg.png') no-repeat center center;
  overflow: hidden;
  top: 50%;
  margin-top: -321px;
}

.login-content {
  position: absolute;
  top: 132px;
  right: 10%;
  width: 320px;
  height: 324px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 6px 10px rgba(11, 2, 5, 0.14);
  padding: 20px;
  color: #ccc;
}
.login-content h1 {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  color: #333333;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px;
}
.login-content h1 i {
  position: absolute;
  display: block;
  width: 77px;
  height: 3px;
  background-color: #1a89de;
  bottom: -2px;
  left: 0;
}

.login .textbox-focused {
  border-color: #2399f3;
}
.login .textbox-invalid,
.login .validatebox-invalid {
  border-color: #fb4d4d !important;
  background-color: #ffffff;
}

.login-content .login-submit {
  text-align: center;
}
.login-content .login-submit button {
  border: none;
  width: 280px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  color: #ffffff;
  background: #2399f3;
  font-size: 16px;
  letter-spacing: 5px;
  cursor: pointer;
}
.login-content .login-submit button:hover {
  opacity: 0.8;
}
.tooltip {
  background-color: #fb4d4d !important;
  border-color: #fb4d4d !important;
  color: #ffffff !important;
}
.login-content .textbox .textbox-text {
  font-size: 14px;
}

.login-content .checkbox1 {
    margin: 0px 0 0 100px;
    font-size: 14px;
}

.login-content .login_weixin {
    background: url(../Image/login_weixin.png) no-repeat 0 center;
}

.login-content .login_weixin a{
   text-decoration:none;
}
