/*第一种左侧为深蓝色*/

.blue {
	color: #1b7bd4;
}

html,
body,
form {
	height: 100%;
	width: 100%;
}

body {
	position: relative;
}

body.gray {
	background: #eaeaea;
}

.overflowStyle .tabs-panels .panel .panel-body {
	overflow: hidden;
}

.panel-body {
	color: #666666;
}

.header-box {
	position: relative;
	height: 60px;
	overflow: hidden;
	border: none;
}

.header {
	position: relative;
	font-size: 14px;
	height: 60px;
	background-color: #f6f6f6;
}

.header-left {
	width: 200px;
	height: 60px;
	float: left;
	background: #1b7bd4;
}

.header-left-logo {
	width: 52px;
	height: 53px;
	background: url('../Image/logo-bg.png') no-repeat;
	margin-top: 6px;
	margin-left: 20px;
	margin-right: 10px;
}

.header-left-logo img {
	display: block;
	width: 37px;
	height: 36px;
	margin: 4px auto;
}

.header-left-comName {
	color: #ffffff;
}

.header-left-comName h1 {
	font-size: 18px;
	line-height: 18px;
	margin-top: 8px;
}

.header-left-business {
	margin-top: 6px;
	cursor: pointer;
}

.header-left-business span {
	float: left;
}

.header-left-business i {
	display: block;
	float: left;
	width: 9px;
	height: 5px;
	background: url(../Image/trigle.png) no-repeat;
	margin-top: 8px;
	margin-left: 5px;
}

.header-left-business.header-left-business-single {
	display: none;
}

.header-left-business.header-left-business-multiple {
	display: none;
}

.header-business-list {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	height: auto;
	overflow: hidden;
	width: 200px;
	background: #f4f4f4;
	padding-top: 12px;
	z-index: 88;
	border: 1px solid #387ce2;
}

.header-business-list.open {
	display: block;
}

.header-business-list li {
	margin-bottom: 10px;
	padding-left: 26px;
	line-height: 44px;
	color: #333333;
	cursor: pointer;
}

.header-business-list li img {
	margin-right: 10px;
}

.header-business-list li img,
.header-business-list li span {
	display: inline-block;
	vertical-align: middle;
}

.header-business-list li span {
	font-size: 14px;
}

.header-business-list li:hover {
	color: #1b7bd4;
}

.header-left-logo-select {
	margin-top: 14px;
	margin-right: 20px;
}

.toggleSide {
	position: relative;
	float: left;
	margin-left: 16px;
	color: #666666;
	line-height: 60px;
	cursor: pointer;
}

.toggleSide i {
	display: none;
	font-size: 34px;
	color: #aaaaaa;
}

.toggleSide.open .open {
	display: block;
}

.toggleSide.open .close {
	display: none;
}

.toggleSide.close .close {
	display: block;
}

.toggleSide.close .open {
	display: none;
}

.msg-light {
	position: absolute;
	right: -6px;
	top: 16px;
	display: block;
	width: 10px;
	height: 10px;
	background: #f6f6f6;
	border-radius: 5px;
	vertical-align: middle;
	margin-left: 8px;
}

.msg-light.white {
	background: #f6f6f6;
}

.msg-light.red {
	background: #f54545;
}

.msg-light.green {
	background: #46e24d;
}

.msg-light.yellow {
	background: #ffac38;
}

.header-right {
	float: right;
	line-height: 30px;
	padding: 15px 0;
	height: 30px;
}

.header-right a {
	color: #1b7bd4;
	text-decoration: none;
}

.header-right-helpdoc,
.header-right-msg,
.header-right-fullscreen,
.header-right-line,
.header-right-componey,
.header-right-person,
.header-right-exit {
	height: 30px;
}

.header-right-line {
	width: 1px;
	background: #dddddd;
	margin-right: 30px;
}

.header-right-helpdoc,
.header-right-msg,
.header-right-fullscreen,
.header-right-person,
.header-right-exit,
.header-right-changePsd {
	margin-right: 30px;
	cursor: pointer;
}

.header-right-componey {
	margin-right: 20px;
}

.header-right-helpdoc i,
.header-right-msg i,
.header-right-fullscreen i,
.header-right-person i,
.header-right-exit i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	font-size: 20px;
	color: #aaaaaa;
}

.header-right-msg.gray i {
	color: #aaaaaa;
}

.header-right-msg {
	position: relative;
}

.header-right-msg b {
	color: #d81d1e;
}

.header-right-componey span {
	cursor: pointer;
}

.header-right-helpdoc a {
	color: #666666;
}

.header-right-helpdoc:hover,
.header-right-helpdoc:hover i,
.header-right-helpdoc:hover a,
.header-right-msg:hover i,
.header-right-msg.blue i,
.header-right-componey span:hover,
.header-right-fullscreen:hover,
.header-right-fullscreen:hover i,
.header-right-changePsd:hover,
.header-right-exit:hover,
.header-right-exit:hover i,
.header-right-person span {
	color: #1b7bd4;
}

.user-box {
    display: none;
    background-color: transparent;
    position: fixed;
    min-width: 100px;
    top: 50px;
    z-index: 8888;
    cursor:default;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow: 0px 1px 10px 2px #cdcdcd;
	-moz-box-shadow: 0px 1px 10px 2px #cdcdcd;
	-ms-box-shadow: 0px 1px 10px 2px #cdcdcd;
	-o-box-shadow: 0px 1px 10px 2px #cdcdcd;
    box-shadow: 0px 1px 10px 2px #cdcdcd;
    overflow:hidden;
}
.user-box ul {
    background: #fff;
    padding: 0 10px;
}


#toplayer>.layout-panel-west {
	width: 200px!important;
}

.nav-left {
	width: 217px!important;
	border: none;
	background: #363e44;
	overflow-x: hidden;
}

.nav-left .layout-expand-west {
	display: none;
}

#sm {
	width: 200px;
	margin-top: 12px;
}

#sm .accordion {
	border-top: none;
	border-right: none;
	border: none;
	background-color: #363e44;
}

#sm.sidemenu .accordion-header .panel-title {
	color: #b7b7b7;
}

#sm.sidemenu .accordion-header.accordion-header-selected .panel-title {
	color: #ffffff;
}

#sm .tree-title {
	color: #ffffff;
}

#sm .accordion-collapse {
	background: url('../Image/collapse.png') no-repeat;
}

#sm .accordion-expand {
	background: url('../Image/expand-white.png') no-repeat;
}

#sm.sidemenu .tree-node {
	padding-left: 20px;
}

#sm.sidemenu .accordion-header:hover {
	background: #363e44;
}

#sm.sidemenu .accordion-header:hover .panel-title {
	color: #ffffff;
}

#sm.sidemenu .accordion-header:hover .panel-tool a {
	opacity: 1;
}

#sm.sidemenu .accordion-header.accordion-header-selected .panel-tool a {
	opacity: 1;
}

#sm.sidemenu .tree-node-hover,
#sm.sidemenu .tree-node-selected {
	background: #2a2e31;
	border-right: 2px solid #2a2e31;
}

#sm.sidemenu .sidemenu-tree li.active {
	background: #2a2e31;
}

#sm.sidemenu .tree-node-selected .side-icon,
#sm.sidemenu .tree-node-hover .side-icon {
	background: url('../../jquery-easyui-1.7.6/themes/icons/yg-cool/side-icon-blue.png') no-repeat center center !important;
}

.changePsd {
	width: 100%;
	height: 100%;
	padding-top: 60px;
}

.changePsd .textbox-focused {
	border-color: #2399f3;
}

.changePsd .textbox-invalid,
.changePsd .validatebox-invalid {
	border-color: #fb4d4d !important;
	background-color: #ffffff;
}


/*.changePsd input {
    width:280px;
    height:36px;
    line-height:36px;
    padding:0 10px;  
    border:1px solid #d3d3d3;  
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; 
}
.changePsd input:focus {
    border-color: #2399f3; 
}*/

.changePsd .changePsd-submit {
	text-align: center;
}

.changePsd .changePsd-submit button {
	border: none;
	width: 280px;
	height: 36px;
	line-height: 36px;
	border-radius: 6px;
	color: #ffffff;
	background: #2399f3;
	font-size: 16px;
	letter-spacing: 5px;
	cursor: pointer;
}

.changePsd .changePsd-submit button:hover {
	opacity: 0.8;
}

#readNoticeContent ul li .readed_title {
	position: relative;
}

#readNoticeContent ul li .readed_title,
#readNoticeContent ul li p {
	border-bottom: 1px solid #ddd;
}

#readNoticeContent ul li h3 {
	color: #333333;
	width: 630px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 16px;
}

#readNoticeContent ul li i {
	position: absolute;
	top: 6px;
	right: 10px;
	transition: transform 0.3s linear;
}

#readNoticeContent ul li:hover i {
	color: #ffffff;
	cursor: pointer;
}

#readNoticeContent ul li.readed .readed_title h3 {
	font-weight: normal;
}

#readNoticeContent ul li h3 .readed_blue {
	font-size: 14px;
	margin-left: 8px;
	color: #2196f3;
	vertical-align: top;
}

#readNoticeContent ul li.readed h3 .readed_blue {
	display: none;
}

#readNoticeContent ul li:hover .readed_title,
#readNoticeContent ul li:hover .readed_title h3 {
	background: #1b7bd4;
	color: #ffffff;
}

#readNoticeContent ul li.expand .readed_title,
#readNoticeContent ul li.expand .readed_title h3 {
	background: #1b7bd4;
	color: #ffffff;
}

#readNoticeContent ul li.expand i {
	transform: rotate(180deg);
	color: #ffffff;
}

#readNoticeContent ul li p {
	display: none;
	line-height: 30px;
	word-break: normal;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 10px;
	font-size: 14px;
	color: #888;
}

.liebiao {
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.liebiao tr td {
	margin: 0 10px;
	padding: 10px;
	border: 1px solid #ddd;
}

.liebiao .liebiao-label {
	text-align: right;
	width: 100px;
	font-weight: bold;
}

.liebiao .btd {
	stroke-width: 120px;
	font-weight: bold;
	text-align: center;
}

.liebiao-compact {
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.liebiao-compact tr td {
	margin: 0 3px;
	padding: 3px;
	border: 1px solid #ddd;
	font-size: 12px;
}

.liebiao-compact .liebiao-label {
	text-align: right;
	width: 100px;
	font-weight: bold;
}


/*.read_box {
    
}
.read_box .read_context {
    display:none;
    background:#ffffff;
    color:#666666;    
}*/


/*等级 vip*/

.vip {
	background-image: url('../Image/vip.png');
	display: inline-block;
	width: 13px;
	height: 12px;
}


/*重要*/

.star {
	background-image: url('../Image/star.png');
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-top: -2px;
}

.level1 {
	background-image: url('../Image/Level/1.png');
	display: inline-block;
	width: 23px;
	height: 12px;
}

.level2 {
	background-image: url('../Image/Level/2.png');
	display: inline-block;
	width: 23px;
	height: 12px;
}

.level3 {
	background-image: url('../Image/Level/3.png');
	display: inline-block;
	width: 23px;
	height: 12px;
}

.level4 {
	background-image: url('../Image/Level/4.png');
	display: inline-block;
	width: 23px;
	height: 12px;
}

.level5 {
	background-image: url('../Image/Level/5.png');
	display: inline-block;
	width: 23px;
	height: 12px;
}

.level6 {
	background-image: url('../Image/Level/6.png');
	display: inline-block;
	width: 23px;
	height: 12px;
}

.level7 {
	background-image: url('../Image/Level/7.png');
	display: inline-block;
	width: 23px;
	height: 12px;
}

.level8 {
	background-image: url('../Image/Level/8.png');
	display: inline-block;
	width: 23px;
	height: 12px;
}

.level9 {
	background-image: url('../Image/Level/9.png');
	display: inline-block;
	width: 23px;
	height: 12px;
}

.RFQ_Quotes_ul li {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.RFQ_Quotes_ul li span {
	vertical-align: middle;
	margin-right: 3px;
}
/*多系统切换*/
#systemSwitch ul {
    padding:44px 0 0 44px;
}
#systemSwitch ul li {
    float:left;
    width:200px;
    height:144px;
    border:1px solid #ececec;
    margin-right:44px;
    margin-bottom:44px;
    text-align:center;
}
#systemSwitch ul li:hover {
    -webkit-box-shadow:0px 0 10px 5px #f6f6f6;
    -ms-box-shadow:0px 0 10px 5px #f6f6f6;
    -moz-box-shadow:0px 0 10px 5px #f6f6f6;
    -o-box-shadow:0px 0 10px 5px #f6f6f6;
    box-shadow:0px 0 10px 5px #f6f6f6;
}
#systemSwitch ul li img,#systemSwitch ul li span {
    display:block;    
}
#systemSwitch ul li img {
    width:70px;
    margin:16px auto;
}
#systemSwitch ul li span {
   font-size:16px;
   
}
#systemSwitch ul li:hover span {
    color:#1b7bd4;
}
/*搜索区域按钮的分割线*/
.toolLine {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 18px;
    margin: 0 5px;
    background-color: #bbb;
}
/*VIP等级样式*/
.vip1, .vip2, .vip3, .vip4, .vip5, .vip6, .vip7, .vip8, .vip9, .vip10 {
    background-size:cover;
	display: inline-block;
	width: 16px;
	height: 12px;
}
.vip1 {
	background-image: url('../Image/Vip/v1.png');
}
.vip2 {
	background-image: url('../Image/Vip/v2.png');
}
.vip3 {
	background-image: url('../Image/Vip/v3.png');
}
.vip4 {
	background-image: url('../Image/Vip/v4.png');
}
.vip5 {
	background-image: url('../Image/Vip/v5.png');
}
.vip6 {
	background-image: url('../Image/Vip/v6.png');
}
.vip7 {
	background-image: url('../Image/Vip/v7.png');
}
.vip8 {
	background-image: url('../Image/Vip/v8.png');
}
.vip9 {
	background-image: url('../Image/Vip/v9.png');
}