/*reset样式*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  font-family:'微软雅黑'
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
ul,
li,
ol {
  list-style: none;
}

iframe {
  border: none;
}
input,
button {
  outline: none;
}
/*去除ie上的x*/
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
/*去除safair上的小图标*/
input:focus::-webkit-contacts-auto-fill-button {
  opacity: 0;
}
html,
body,
input,
button,
table {
  font-family: '微软雅黑';
}
.tree-node-selected {
  background: #1b7bd4;
  color: #fff;
}
.mb30 {
  margin-bottom: 30px;
}

.panel-body {
  font-size: 14px;
}
.panel-title {
  font-size: 14px;
}
.l-btn-text {
  font-size: 12px;
}
.textbox .textbox-text {
  font-size: 12px;
}
.textbox .textbox-prompt {
  font-size: 12px;
}
.form-floating-label.form-field-empty .textbox-label {
  font-size: 12px;
}
.combobox-item,
.combobox-group,
.combobox-stick {
  font-size: 12px;
}
.tabs-title {
  font-size: 14px;
}
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
  font-size: 12px;
}
.datagrid-header .datagrid-cell span {
  font-size: 12px;
}

.datagrid-view .datagrid-editable-input {
  font-size: 12px;
}

.pagination .pagination-num {
  font-size: 12px;
}

.pagination-info {
  font-size: 12px;
}
.pagination span {
  font-size: 12px;
}

.calendar table {
  font-size: 14px;
}
.calendar table td,
.calendar table th {
  font-size: 14px;
}
.calendar-title span {
  font-size: 14px;
}
.calendar-menu {
  font-size: 14px;
}
.calendar-menu-year {
  font-size: 14px;
}
.datebox-button a {
  font-size: 14px;
}
.progressbar-text {
  font-size: 14px;
}
.slider-tip {
  font-size: 14px;
}
.slider-rulelabel span {
  font-size: 14px;
}
.menu-text,
.menu-text span {
  font-size: 14px;
}
.tree-title {
  font-size: 12px;
}
.tree-node-proxy {
  font-size: 12px;
}
.tree-editor {
  font-size: 12px;
}
.tooltip-content {
  font-size: 14px;
}
.switchbutton-on,
.switchbutton-off,
.switchbutton-handle {
  font-size: 14px;
}
.liebiao tr td {
  font-size: 12px;
}
.handsontable td,
.handsontable th {
  font-size: 12px;
}
.datagrid-cell {
  height: auto;
}

.l-btn-small .l-btn-icon-left {
    margin-top:-4px!important;
}
.datagrid .panel-body {
    font-family:'微软雅黑';
}