<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserName" value="u_wl"/>
    <add key="Password" value="oNfE8EN721r2yPU5LLnfa5i38O6hNs"/>
    <add key="HostName" value="172.30.10.52"/>
    <add key="Port" value="5672"/>
    <!--<add key="VirtualHost" value="HXT"/>-->
    <add key="VirtualHost" value="foric"/>
    <add key="keyValue" value="bd74ee897e5c9bf097117ff30b9862c6"/>
    <add key="ListUrl" value="http://210.51.190.36:810/CodePart/GetApplyCustomsInfo"/>
    <add key="SingleProductUrl" value="http://210.51.190.36:810/CodePart/GetApplyCustomInfoByID"/>
    <!--内网地址-->
    <!--<add key="ListUrl" value="http://172.16.6.160:810/CodePart/GetApplyCustomsInfo"/>
    <add key="SingleProductUrl" value="http://172.16.6.160:810/CodePart/GetApplyCustomInfoByID"/>-->
    <add key="InsideClientID" value="68248e7e4c6f95240c93e5eae81a64ea"/>
    <add key="InsideProduct" value="0"/>
    <add key="IcgooProduct" value="1"/>
    <add key="InsideOrder" value="0"/>
    <add key="InsideOrderStatus" value="待报关"/>
    <add key="DutiablePricePost" value="0"/>  
    <add key="InsideDutiablePricePostKey" value="80bf27bf7b556836e17e465decca413f"/>
    <add key="InsideDutiablePricePostUrl" value="http://office.51db.com:81/ApiCenter/outService/ApplyCustomsPrice.ashx"/>
    <!--<add key="IcgooDutiablePricePostUrl" value=" http://baoguan.k0v.cn/api_recept_confirm_json_data/"/>-->
    <add key="IcgooDutiablePricePostUrl" value=" http://package.dzji.com/api_recept_confirm_json_data/"/>
    <!--获取Icgoo预归类产品-->
    <add key="pagesizepara" value="50"/>
    <add key="daypara" value="0"/>
    <add key="IcgooClientID" value="a7f0a9f7e352a66e2e95ec02459e094c"/>
    <add key="IcgooPreProductUrl" value="http://baoguan.k0v.cn/api_confirm_partno/"/>    
    <!--<add key="IcgooPreProductUrl" value="http://package.dzji.com/api_confirm_partno/"/>-->
    <!--获取Fastbuy预归类产品-->
    <add key="FastBuyClientID" value="5DEAE1100CC624003F93EF4CB757308C"/>
    <add key="FastBuyPreProductUrl" value="http://baoguan.k0v.cn/faw/api_confirm_partno/"/>
    <!--<add key="FastBuyPreProductUrl" value="http://package.dzji.com/faw/api_confirm_partno/"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=udata;Password=Turing2019"/>
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=udata;Password=udata123"/>-->
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=210.51.190.51,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_bv;Password=G9RCzkV9hC4Gu6VF5QuZp6dxw8a9XErNTDR66Uwxww24hNBJtF"/>-->   
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_wl_szWF;Password=quVGg8IcUxX687sBBdu992e9RHspYM"/>-->
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_wl_szWF;Password=quVGg8IcUxX687sBBdu992e9RHspYM"/>-->
  </connectionStrings>
</configuration>
