@{
    ViewData["Title"] = "华芯通-业务范围";
}

<div class="irbusiness">
    <div class="ieport-bg">
        <div class="title">
            <p>代理进出口</p>
        </div>
        <em class="line"></em>
        <div class="module">
            <div class="auto">
                <div class="trade-sec wow fadeInUp animated animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;">
                    <div class="col">
                        <div class="item item1">
                            <img src="~/Content/hxt_img/trade_01.png" class="img img_full" alt="">
                            <div class="shade">
                                <h6 class="title">
                                    <img src="~/Content/hxt_img/import-icon.png" class="icon" alt="">代理进口
                                </h6>
                                <div class="txt clamp">
                                    2H急速通关，为企业提供一站式进口报关服务：香港收货、海关申报、急速通关、一键发货、物流跟踪
                                </div>
                            </div>
                        </div>
                        <div class="item item2">
                            <img src="~/Content/hxt_img/trade_08.jpg" class="img img_full whitebg" alt="">
                            <div class="shade">
                                <h6 class="title">
                                    <img src="~/Content/hxt_img/fuwu-icon.png" class="icon" alt="">一站式服务
                                </h6>
                                <div class="txt clamp">
                                    签订协议后，可在平台进行自主下单、申报进度查询、通关提醒、自定义发货、账单查询、海关票导出
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item item3">
                            <img src="~/Content/hxt_img/trade_03.png" class="img img_full whitebg" alt="">
                            <div class="shade">
                                <h6 class="title">
                                    <img src="~/Content/hxt_img/export-icon.png" class="icon" alt="">代理出口
                                </h6>
                                <div class="txt clamp">
                                    丰富的出口申报和出口退税经验，致力于为企业提供专业、高效、安全的外贸代理一站式服务
                                </div>
                            </div>
                        </div>
                        <div class="item item4">
                            <img src="~/Content/hxt_img/trade_07.jpg" class="img img_full whitebg" alt="">
                            <div class="shade">
                                <h6 class="title">
                                    <img src="~/Content/hxt_img/kefu-icon.png" class="icon" alt="">全时客服
                                </h6>
                                <div class="txt clamp">
                                    专业客服人员7*24小时在线，实时回复，及时响应，随时随地为企业提供安心服务，为您的货物保驾护航
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="storagebg">
        <div class="title">
            <p>本港仓储</p>
        </div>
        <em class="line"></em>
        <div class="module">
            <div class="bc-pp">
                <div class="auto">
                    <div class="detail">
                        <div class="imgbox">
                            <img src="~/Content/hxt_img/cangku.jpg" class="img img_full" alt="">
                        </div>
                        <div class="info">
                            <h6 class="smtit">
                                <span>为电子元器件行业企业</span>提供一站式代收/代发服务
                            </h6>
                            <ul class="list">
                                <li>
                                    <img src="~/Content/hxt_img/icon-fahuo.png" class="icon" alt="">
                                    <p class="fz">香港代收</p>
                                </li>
                                <li>
                                    <img src="~/Content/hxt_img/icon-shouhuo.png" class="icon" alt="">
                                    <p class="fz">香港代发</p>
                                </li>
                                <li>
                                    <img src="~/Content/hxt_img/icon-zhuanyun.png" class="icon" alt="">
                                    <p class="fz">即收即发</p>
                                </li>
                                <li>
                                    <img src="~/Content/hxt_img/icon-cangchu.png" class="icon" alt="">
                                    <p class="fz">香港仓储</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="bc-zz">
                <div class="auto">
                    <!-- <div class="idx-tt center wow fadeInDown animated" data-wow-delay="0.3s">
                        <h5 class="bt">服务宗旨</h5>
                    </div> -->
                    <ul class="list">
                        <li class="item wow fadeInUp animated" data-wow-delay="0.3s" style="animation-delay: 0.3s; animation-name: none;">
                            <h6 class="tit" style="text-align:center;">香港代收</h6>
                            <div class="txt">
                                <p>收货核对</p>
                                <p>清点数量</p>
                                <p>真空包装</p>
                                <p>更换标签</p>
                                <p></p>
                            </div>
                        </li>
                        <li class="item wow fadeInUp animated" data-wow-delay="0.4s" style="animation-delay: 0.4s; animation-name: none;">
                            <h6 class="tit" style="text-align:center;">香港代发</h6>
                            <div class="txt">
                                <p>一键代发</p>
                                <p>出库单打印</p>
                                <p>更换外箱</p>
                                <p>本港送货</p>
                            </div>
                        </li>
                        <li class="item wow fadeInUp animated" data-wow-delay="0.5s" style="animation-delay: 0.5s; animation-name: none;">
                            <h6 class="tit" style="text-align:center;">即收即发</h6>
                            <div class="txt">
                                <p>货到即发</p>
                                <p>上门提货</p>
                                <p>更换文件</p>
                                <p>代打卡板</p>
                            </div>
                        </li>
                        <li class="item wow fadeInUp animated" data-wow-delay="0.6s" style="animation-delay: 0.6s; animation-name: none;">
                            <h6 class="tit" style="text-align:center;">香港仓储</h6>
                            <div class="txt">
                                <p>定期盘货</p>
                                <p>价格优惠</p>
                                <p>7天免租</p>
                                <p>24小时监控</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="payexbg">
        <div class="title">
            <p>供应链金融</p>
        </div>
        <em class="line"></em>
        <div class="module">
            <div class="bc-manage">
                <div class="auto">
                    <ul class="list">
                        <li class="item wow fadeInUp animated" data-wow-delay="0.3s" style="animation-delay: 0.3s; animation-name: none;">
                            <img src="~/Content/hxt_img/icon-payex.png" class="icon" alt="">
                            <h6 class="title">外币付汇</h6>
                            <div class="txt">
                                <span>当天结汇</span>
                                <span>优惠BP</span>
                                <span>任选多点汇率</span>
                                <span>支持多银行</span>
                            </div>
                        </li>
                        <li class="item wow fadeInUp animated" data-wow-delay="0.4s" style="animation-delay: 0.4s; animation-name: none;">
                            <img src="~/Content/hxt_img/icon-tax.png" class="icon" alt="">
                            <h6 class="title">垫付税费</h6>
                            <div class="txt">
                                <span>灵活收费</span>
                                <span>超长账期</span>
                                <span>多种汇率模式</span>
                                <span>自由组合</span>
                            </div>
                        </li>
                        <li class="item wow fadeInUp animated" data-wow-delay="0.5s" style="animation-delay: 0.5s; animation-name: none;">
                            <img src="~/Content/hxt_img/icon-return.png" class="icon" alt="">
                            <h6 class="title">出口退税</h6>
                            <div class="txt">
                                <span>极速申报</span>
                                <span>结汇即退</span>
                                <span>智能配单</span>
                                <span>便捷高效</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
