<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!--开发区-->
    <!--<add key="PvDataApiUrl" value="http://hv.erp.b1b.com/PvDataApi/" />    
    <add key="ApiWmsUrl" value="http://hv.warehouse.b1b.com/wmsapi/"/>-->
    <!--测试区-->
    <add key="PvDataApiUrl" value="http://erp80.ic360.cn/PvDataApi/"/>
    <add key="ApiWmsUrl" value="http://warehouse0.ic360.cn/wmsapi/"/>
    <add key="WlAdminApiUrl" value="http://foricapi0.wapi.ic360.cn/"/>
    <!--深圳市芯达通供应链管理有限公司-->
    <add key="CompanyID" value="DBAEAB43B47EB4299DD1D62F764E6B6A"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <!--测试区-->
    <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <add name="ScCustomConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <!--开发区-->
    <!--<add name="PvDataConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvData;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient"   />
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvCenter;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient"   />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient"   />
    <add name="ScCustomConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient"  />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>
