
/*公共样式*/
body,
h1,h2,h3,h4,h5,h6,
hr,p,blockquote,
dl,dt,dd,
ul,ol,li,
pre,form,fieldset,legend,
button,input,textarea,
table,thead,tbody,tr,th,td,
div,a,span {
	margin: 0;
	padding: 0;
}

body {
    font-family: "Microsoft YaHei", "Hiragino Sans GB", "SimHei", "SimSun";
    font-size: 12px;
    color: #323232;
}

i,em {
	font-style: normal;
}
.division_line {
    display: block;
    border-left: 1px solid #d1cfcf;
    height: 10px;
    line-height: 20px;
    margin: 5px 6px;
}
.mt12{
    margin-top:12px;
}
.ml18{
    margin-left:18px;
}
.ml28{
    margin-left:28px;
}
.ml12{
    margin-left:12px;
}
.ml20{
    margin-left:20px;
}
.mr70{
    margin-right:70px !important;
}
.mr6{
margin-right:6px;
}
ul,ol,li {
	list-style: none;
}
.lignt_text{
    color:#999999;
}
a {
	text-decoration: none;
	background-color: transparent;
}
.ml40{
    margin-left:40px;
}
.ml14{
    margin-left:14px;
}
.mb30{
    margin-bottom:30px;
}
.mb6 {
    margin-bottom: 6px !important;
}
.mb0 {
    margin-bottom: 0px !important;
}
.mb10{
    margin-bottom:10px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mt16{
    margin-top:16px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mt2 {
    margin-top: 2px !important;
}
.mt4 {
    margin-top: 4px !important;
}
.mt20 {
    margin-top: 16px;
}
.mt40 {
    margin-top: 40px;
}
.mt8 {
    margin-top: 8px;
}
.overhide{
    overflow:hidden;
}
a:visited,a:active{
	background-color: transparent;
}
h2 {
    border-bottom: 1px solid #eeeeee;
}
.w80{
    width:80px;
}
.w150{
    width:150px;
}
.w125{
    width:125px;
}
.w106{
    width:106px;
}
.w60{
    width:60px;
}
.w110{
    width:110px;
}
.w95{
    width:95px;
}
.pl5{
   padding-left:5px !important;
}
.pl10{
    padding-left:10px !important; 
}
.pr10{
    padding-right:10px;
}
.ml16{
    margin-left:16px;
}
fieldset,
img,
button,
textarea {
	border: 0;
}
.label_text {
    color: #666666;
    font-size: 16px;
}
input[type='text'],
input[type='password'],
button,
textarea,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
    outline: none;
}
span.label_tile {
    color: #666666;
    font-size: 14px;
    display: block;
    height: 36px;
    line-height: 36px;
    /*float:right;*/
}
.el-button--warning {
    color: #fff;
    background-color: #faa613;
    border-color: #faa613;
}

ul.BasicInfo li div {
    height: 14px;
    line-height: 14px;
}

    ul.BasicInfo li div span.label {
        display: block;
        text-align: right;
        font-size: 14px;
        color: #666666;
        float: left
    }

    ul.BasicInfo li div em {
        font-size: 14px;
        color: #666666;
    }
.text_right{
    text-align:right;
}
button:disabled {
	cursor: not-allowed;
}
input,textarea,.btn,.input_list li .input_list_right input,.placeholder{
	font-family: "微软雅黑";
}

input,textarea{
	font-size: 14px;
}
/*  
 * 		::-webkit-     WebKit, Blink, Edge 
 * 		:-moz-         Mozilla Firefox 4 to 18
 * 		::-moz-        Mozilla Firefox 19+
 * 		::-ms-     	   Internet Explorer 10-11
 * 		.placeholder   jquery.placeholder兼容ie9以下（ie9以下没有placeholder） 
 * */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.placeholder{
	color: #B3B3B3;
	font-size: 14px;
}
/*去除ie上的x*/
input::-ms-clear{
	display: none;
}
input::-ms-reveal{
	display: none;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
textarea.placeholder{
	color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}

.w1200 {
	width: 1200px;
	margin: 0 auto;
}

.pt70 {
	padding-top: 70px;
}
.pt8{
    padding-top: 8px;
}

.mt70 {
	margin-top: 70px;
}
.mb0{
	margin-bottom: 0!important;
}
.mb4 {
    margin-bottom: 4px !important;
}
.mb6 {
	margin-bottom: 6px!important;
}
.mb8 {
    margin-bottom: 8px !important;
}

.mb2 {
	margin-bottom: 2px!important;
}

.mb30 {
	margin-bottom: 30px;
}

.mb54{
	margin-bottom: 54px!important;
}

.w50 {
	width: 45px!important;
}

.w160 {
	width: 160px!important;
}

.pt19 {
	padding-top: 19px;
}

.b0 {
	border: none!important;
}

.mb24 {
	margin-bottom: 24px!important;
}
.ml150{
    margin-left:150px;
}
.mb6{
    margin-bottom:6px;
}
.pl35{
	padding-left: 35px!important;
}
.mr3{
	margin-right: 3px!important;
}
.mr0{
	margin-right: 0!important;
}
.mr11 {
    margin-right: 11px;
}
.mr14 {
    margin-right: 14px;
}
.mr25{
	margin-right: 25px;
}
.mr20 {
    margin-right: 20px;
}
.mr2 {
    margin-right: 2px;
}
.mr80 {
    margin-right: 80px;
}
.mr10 {
    margin-right: 10px;
}
.mr26{
	margin-right: 26px;
}
.mr40 {
    margin-right: 40px;
}
.mr100 {
    margin-right: 100px;
}
.mr4{
	margin-right: 4px;
}
.m0{
	margin: 0;
}
.mb16{
	margin-bottom: 16px;
}
.mb10{
	margin-bottom: 10px;
}
.noselect{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mt6{
	margin-top: 6px!important;
}

.mr12{
	margin-right: 12px!important;
}
.mb29{
	margin-bottom: 29px;
}
/*所有带圆角的*/
.btn{
	border-radius: 6px;
	-moz-border-radius: 6px;
}

/*类似按钮样式开始*/
.btn {
	width: 276px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
}

.btn_line {
	width: 274px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ddd;
	background-color: #ffffff;
}

.btn_bg_gray2,
.btn_bg_blue,
.btn_bg_yellow {
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.btn_bg_gray {
	background-color: #e8e8e8;
}

.btn_bg_gray2 {
	background-color: #b3b3b3;
}

.btn_bg_blue {
	background-color: #31b0f3;
}

.btn_bg_yellow {
	background-color: #FAA613;
}

.btn_big {
	font-size: 16px;
}
/*长度为一半*/
.btn_half {
	width: 134px;
}
.btn_smsize {
    height: 22px;
    line-height: 22px;
    width: 88px;
}
/*类似按钮样式结束*/


/*提示信息样式开始*/
.hint {
	font-size: 12px;
}
.hint:hover{
	text-decoration: underline;
}

.hint_yellow {
	color: #faa613;
}

.hint_blue {
	color: #31B0F3;
}
/*提示信息样式结束*/

/*vue防止出现{{}}，防止v-show的内容之类的出现*/
[v-cloak] {
    display: none !important;
}
 .hint_text {
    color: #B3B3B3;
}
.el-button--primary {
    color: #fff;
    background-color: #31b0f3;
    border-color: #31b0f3;
}
.el-table thead {
    color: #666666;
}
.txt_yellow {
    color: #FDA100;
}