<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--邮件服务器-->
    <add key="MailServer" value="smtp.exmail.qq.com"/>
    <!--邮件发件人-->
    <add key="MailUserName" value="service@wl.net.cn"/>
    <!--邮箱密码-->
    <add key="MailPassword" value="QDVH123!09nj76hb2"/>
    <!--程序异常收件人-->
    <add key="Receivers" value="wangzc@b1b.com"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="PvDataConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvData;Persist Security Info=True;User ID=udata;Password=Turing2019" />-->
    <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
  </connectionStrings>
</configuration>