html,
body { width: 100%; height: 100%; overflow: hidden; }

* { margin: 0px; padding: 0px; }
 
.allmain { border: none; height: 100%; width: 100%; }
.table-main { border: none; height: 100%; width: 100%; }
    .table-main td { vertical-align: middle; text-align: center; }

.title-1 { font-family: 微软雅黑; font-size: 30.7px; letter-spacing: 2.3px; }

.title-2 { font-family: 微软雅黑; color: #666; padding-top: 10px; font-size: 20.1px; letter-spacing: 2.1px; }

.weight { font-weight: bolder; }

.orange { color: #f50; }
.grean { color: green; }

.title-3 { font-family: 微软雅黑; padding-top: 10px; font-size: 20.1px; letter-spacing: 2.1px; }

.line { margin-top: 1px; height: 1px; line-height: 1px; background-color: #ddd; }

.finger { margin: 0 auto; width: 80%; height: 90%; border: 1px solid #ddd; position: relative; border-radius: 25px; padding: 50px 50px 25px 50px; text-align: center; }
/*.content { position: absolute; top: 50%; left: 50%; margin-top: -150px; margin-left: -; margin-left: -140px;border:solid 1px red; }*/
.content { margin: 0 auto; position: relative; top: 20%; }
