<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Yahv.PvWsClient.WebAppNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PvDataApiUrl" value="http://hv.erp.b1b.com/PvDataApi/"/>
    <!--开发区-->
    <!--<add key="ApiWmsUrl" value="http://hv.warehouse.b1b.com/wmsapi/" />-->
    <!--测试区-->
    <add key="ApiWmsUrl" value="http://warehouse0.ic360.cn/wmsapi/"/>
    <add key="WlAdminApiUrl" value="http://api0.szhxt.net/"/>
    <add key="CompanyID" value="DBAEAB43B47EB4299DD1D62F764E6B6A"/>
    <!--深圳市芯达通供应链管理有限公司-->
    <add key="CompanyName" value="深圳市芯达通供应链管理有限公司"/>
    <add key="ThirdCompanyID" value="10528B3C5358D2A78B32DD90F911C13B"/>
    <!--香港畅运国际物流有限公司-->
    <add key="CYCompanyID" value="8C7BF4F7F1DE9F69E1D96C96DAF6768E"/>
    <!--默认畅运库房-->
    <add key="WareHouseID" value="HK02"/>
    <add key="WareHouseEnglishName" value="HONG KONG CHANGYUN INTERNATIONAL LOGISTICS CO., LIMITED"/>
    <!-- 香港库房英文名 -->
    <!--深圳库房-->
    <add key="SZWareHouseID" value="TH01"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CrmApi" value="http://hv.erp.b1b.com/csrmapi/"/>
    <!--cookie登录的名称-->
    <add key="Cookie_Name" value="xingdatong_user"/>
    <!--邮件服务器-->
    <add key="MailServer" value="smtp.exmail.qq.com"/>
    <!--邮件发件人-->
    <add key="MailUserName" value="service@for-ic.net"/>
    <!--邮箱密码-->
    <add key="MailPassword" value="QDVH123!09nj76hb2"/>
    <!--文件服务器Url-->
    <add key="FileServerUrl" value="http://uuws.b1b.com"/>
    <!--<add key="XDTFileServerUrl" value="http://foricerp0.ic360.cn/wladmin/Files" />-->
    <!--下载税单请求的路径-->
    <add key="DownLoadInvoiceUrl" value="http://erp80.ic360.cn/foricadmin/WebService/DownLoadInvoiceListWebForm.aspx"/>
    <!--下载报关单请求路径-->
    <add key="DownLoadDecheadUrl" value="http://erp80.ic360.cn/foricadmin/WebService/DownLoadDeclareListWebForm.aspx"/>
    <!--下载税单请求的路径solo-->
    <add key="DownLoadInvoiceUrlSolo" value="http://erp80.ic360.cn/foricadmin/WebService/DownLoadInvoiceListWebFormSolo.aspx"/>
    <!--下载报关单请求路径solo-->
    <add key="DownLoadDecheadUrlSolo" value="http://erp80.ic360.cn/foricadmin/WebService/DownLoadDeclareListWebFormSolo.aspx"/>
    <!--下载销售合同请求路径-->
    <!--正式:http://api.for-ic.net/Order/SalesContract-->
    <add key="DownLoadSalesUrl" value="http://api0.for-ic.net/Order/SalesContract"/>
    <!--会员中心域名地址-->
    <add key="DomainUrl" value="http://localhost:50024"/>
    <!--门户网站域名地址-->
    <add key="DomainForIC" value="http://foric.ic360.cn"/>
    <!--上级域名-->
    <add key="Domain" value=".ic360.cn"/>
    <!--测试环境芯达通接口-->
    <add key="UnifyApiUrl" value="http://foricapi0.wapi.ic360.cn/api"/>
    <!--正式环境恒远接口-->
    <!--<add  key="UnifyApiUrl" value="http://icgooapiv2.wl.net.cn/api"/>-->
    <add key="Purchaser" value="XDT"/>
    <add key="Vendor" value="WLT"/>
    <!--通用上传地址，依据部署要求进行修改-->
    <add key="Uploader" value="http://uuws.b1b.com/"/>
    <!--下载我的报关协议书-->
    <add key="DownloadAgreementUrl" value="http://api0.for-ic.net/api/agreement/download"/>
    <!--下载我的仓储协议书-->
    <add key="StorageDownloadAgreementUrl" value="http://api0.for-ic.net/api/storageagreement/download"/>
    <!--小程序appid-->
    <add key="miniprogramappid" value="wx6e82bec334d91401"/>
    <!--小程序secret-->
    <add key="miniprogramsecret" value="79a603a7f43093564c63626c7137b508"/>
    <!--客服企业id-->
    <add key="CustomerServiceId" value="wwcf5cee642e743608"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <connectionStrings>
    <!--测试区-->
    <add name="PvbCrmConnectionString" connectionString="Data Source=.;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Packet Size=512" providerName="System.Data.SqlClient"/>
    <add name="PvLsOrderConnectionString" connectionString="Data Source=.;Initial Catalog=PvLsOrder;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Packet Size=512" providerName="System.Data.SqlClient"/>
    <add name="PvDataConnectionString" connectionString="Data Source=.;Initial Catalog=PvData;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Packet Size=512" providerName="System.Data.SqlClient"/>
    <add name="PvCenterConnectionString" connectionString="Data Source=.;Initial Catalog=PvCenter;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Packet Size=512" providerName="System.Data.SqlClient"/>
    <add name="PvWsOrderConnectionString" connectionString="Data Source=.;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Packet Size=512" providerName="System.Data.SqlClient"/>
    <add name="ScCustomsConnectionString" connectionString="Data Source=.;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Packet Size=512" providerName="System.Data.SqlClient"/>
    <add name="foricScCustomsConnectionString" connectionString="Data Source=.;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Packet Size=512" providerName="System.Data.SqlClient"/>
    <add name="OverallsConnectionString" connectionString="Data Source=.;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Packet Size=512" providerName="System.Data.SqlClient"/>
    <!--正式区-->
    <!--<add name="OverallsConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=su149_shenchen;Password=C01PBg86Av83Np7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1" />
    <add name="PvbCrmConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=su149_shenchen;Password=C01PBg86Av83Np7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1" />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=su149_shenchen;Password=C01PBg86Av83Np7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1" />
    <add name="ScCustomsConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=su149_wangzc;Password=q6PrJO9hSV1R1qBjMz1C01PBg86Av83Np7h9B5P53B3o7" />
    <add name="PvDataConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=su149_wangzc;Password=q6PrJO9hSV1R1qBjMz1C01PBg86Av83Np7h9B5P53B3o7" />
    <add name="PvCenterConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=su149_shenchen;Password=C01PBg86Av83Np7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1" />
    <add name="PvLsOrderConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvLsOrder;Persist Security Info=True;User ID=su149_shenchen;Password=C01PBg86Av83Np7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1" />-->
    <!--开发区-->
    <!--<add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="PvLsOrderConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvLsOrder;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvData;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvCenter;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="OverallsConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <applicationSettings>
    <Yahv.PvWsClient.WebAppNew.Properties.Settings>
      <setting name="Yahv_PvWsClient_WebAppNew_SmsService_Service1" serializeAs="String">
        <value>http://cf.51welink.com/submitdata/Service.asmx</value>
      </setting>
    </Yahv.PvWsClient.WebAppNew.Properties.Settings>
  </applicationSettings>
</configuration>