@{
//Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>芯达通供应链平台</title>

    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/css/element.css" rel="stylesheet" />
    <script src="~/Scripts/elementui.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css" />
</head>
<body>
    <div id="app">
        正在退出...
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: function () {
                return {
                }
            },
            created: function () {
            },
            mounted: function () {
                setTimeout(this.init(), 0);
            },
            methods: {
                init: function () {
                    location.replace('/Home/Login');
                }
            }
        });
    </script>
</body>
</html>

