
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        h3 {
            text-align: center;
        }

        .date {
            text-align: right;
            margin-right: 20px;
        }

        .paraspace {
            text-indent: 2em;
        }
    </style>
</head>
<body>
    <div>
        <h3>芯达通香港仓--畅运搬迁通知</h3>
        <p>尊敬的客户：</p>
        <p class="paraspace">您好，感谢您一直以来对我司的信任及支持！</p>
        <p class="paraspace">因观塘仓库合约到期，且目前仓库容量已经无法满足我们的业务发展需求，为了给广大客户提供更优质的服务，我司决定于6月1日启用新的仓库收货，公司名称不变，新仓库位于新界沙田，面积将近3万平英尺，大大提高了仓库的储存能力。</p>
        <p class="paraspace">观塘老仓库将于6月26日停用。</p>
        <p class="paraspace">新仓库信息如下：</p>
        <h4>香港公司：香港速逹國際物流有限公司</h4>
        <p>HONG KONG EXPRESS INTERNATIONAL LOGISTICS LIMITED</p>
        <h4>公司地址： 香港九龙观塘成业街27号日昇中心1204室</h4>
        <p>FLAT/RM 1204 12/F SUNBEAM CENTRE NO.27 SHIN  G YIP STREET KL</p>
        <p>联 系 人：马小姐</p>
        <p>电    话：00852-23688398</p>
        <p>传    真：00852- 98822668</p>
        <br>
        <h4>给您带来的不便，我们深表歉意。再次感谢您的支持与理解!</h4>
        <br>
        <br>
        <p style="text-align:right">深圳市华芯通供应链管理有限公司</p>
        <p style="text-align:right">HONG KONG EXPRESS INTERNATIONAL LOGISTICS LIMITED</p>
        <br />
        <p class="date" style="text-align:right">2023年5月25日</p>
    </div>
</body>
</html>
