
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        h3 {
            text-align: center;
        }

        .date {
            text-align: right;
            margin-right: 20px;
        }

        .paraspace {
            text-indent: 2em;
        }
    </style>
</head>
<body>
    <div>

    </div>
</body>
</html>
