
<link href="~/Content/css/tab.css" rel="stylesheet" />

<div id="vMyApplies" v-cloak class="tab_content">
    <div class="query_wrap">
        <div class="clearfix">
            <div class="fl">
                <el-select style="width:120px;" class="mr16 input-style" size="small" v-model="payStatus" filterable clearable placeholder="付汇状态">
                    <el-option v-for="item in ApplyStatusOptions"
                               :key="item.value"
                               :label="item.text"
                               :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="fl ml8">
                <el-input class="input-style" style="width:120px;" size="mini" v-model="orderID" @@keyup.enter.native="queryData" placeholder="订单号"></el-input>
            </div>
            <div class="fl ml8">
                <el-input class="input-style" style="width:120px;" size="mini" v-model="supplierName" @@keyup.enter.native="queryData" placeholder="供应商"></el-input>
            </div>
            <div class="fl ml8">
                <el-input class="input-style" style="width:120px;" size="mini" v-model="accountName" @@keyup.enter.native="queryData" placeholder="收款方"></el-input>
            </div>
            <div class="fl ml8">
                @*<el-date-picker style="width:250px;" size="small" v-model="dataValue"
                    type="daterange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
            </el-date-picker>*@
                <date-picker-daterange ref="datePickerDaterange" class="fl"></date-picker-daterange>
            </div>

            <div class="fr">
                <button v-on:click="queryData" class="btn btn1">查询</button>
                <button v-on:click="clearData" class="btn btn2 ml12">重置</button>
            </div>
        </div>
    </div>
    <div class="tb_wrap" v-loading="loading">
        <table class="common_tb1 mt30">
            <tr>
                <th width="36px">序号</th>
                <th>申请单号</th>
                <th width="80px">申请日期</th>
                <th>付汇申请状态</th>
                <th>供应商名称</th>
                <th>付汇金额</th>
                <th width="80px">付款日期</th>
                <th>操作</th>
            </tr>
            <tr v-for="(item,index) in indexData.dataList">
                <td>{{(indexData.pageIndex-1)*indexData.pageSize+index+1}}</td>
                <td>{{item.ID}}</td>
                <td>{{item.CreateDateDateString}}</td>
                <td>{{item.ApplyStatus}}</td>
                <td>{{item.Supplier}}</td>
                <td>{{item.TotalAmount}}</td>
                <td>{{item.CompletedDate}}</td>
                <td class="operate">
                    <a v-if="item.isUploadFile" v-on:click="uploadFile(item.ID)">上传付汇委托书</a>
                    <a v-on:click="applyDetails(item.ID)">查看详情</a>
                    @*<a>查看水单</a>*@
                    <a v-on:click="deleteApply(item.ID)" v-if="item.isDelete">删除</a>
                </td>
            </tr>
            <tr v-if="indexData.dataList.length==0"><td colspan="8" style="height:500px"><img src="/Content/hxt_img/list_nodata.png" style="height:64px;width:87px;" /><label style="display: block; color: currentcolor;">暂无数据</label></td></tr>

        </table>
        <div class="foot">
            <el-pagination class="fr" style="margin-top:20px;" v-on:size-change="handleSizeChange"
                           v-on:current-change="handleCurrentChange"
                           :current-page="indexData.pageIndex"
                           :page-sizes="[10, 20, 50, 100]"
                           :page-size="indexData.pageSize"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="indexData.total">
            </el-pagination>
        </div>
    </div>
    <el-dialog title="上传付汇委托书" class="fh_file" :lock-scroll="false" width="500px" :visible.sync="dialogVisible" :close-on-click-modal="false" v-on:close="dialog_Closed">
        <div class="dialog_body">
            <p class="txt txt1">如果已经导出付汇委托书，请直接上传。</p>
            <div class="mt20">
                <el-button v-on:click="downloadPDF" class="el-icon-ump-xiazai btn">
                    导出付汇委托书
                </el-button>
                <a id="exportInfoForm" style="display:none" download><span id="ex-li" style="display:none"></span></a>
            </div>
            <div class="mt12 mb8">
                <el-upload action="/PayExchanges/UploadOrderFile"
                           :show-file-list="false"
                           :http-request="httpRequest"
                           :file-list="fileList"
                           accept="image/jpg, image/bmp, image/jpeg, image/gif, image/png, application/pdf">
                    <el-button size="small" class="el-icon-ump-upload btn">上传付汇委托书</el-button>
                </el-upload>
            </div>
            <p class="txt txt2">仅限图片或PDF文件，且文件不超过3M</p>
            <ul class="mt20">
                <li v-for="(item,index) in fileList">
                    <div class="file_item">
                        <i class="file_icon"></i>
                        <span class="file_name">{{item.name}}</span>
                        <i class="file_del ml11" v-on:click="del_file(index)"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div slot="footer" class="dialog-footer">
            <button v-on:click="dialogVisible = false" class="btn1">取消</button>
            <button v-on:click="onSubmit" class="btn2 ml12">提交</button>
        </div>
    </el-dialog>
</div>
<style>
    .label-style-6word {
        width: 80px;
        float: left;
        margin-top: 5px;
    }

    .label-style-2word {
        width: 32px;
        float: left;
        margin-top: 5px;
    }

    .label-style {
        width: 60px;
        float: left;
        margin-top: 5px;
    }

    .input-style {
        width: 120px !important;
    }
</style>
@{Html.RenderAction("_DatePickerDateRange", "Home");}
<script>
    var vMyApplies = new Vue({
        el: "#vMyApplies",
        data: function () {
            return {
                indexData: {
                    pageIndex: 1, //初始页
                    pageSize: 10,    //每页的数据
                    total: 0,
                    scrollTop: 0, //滚动条位置
                    dataList: [],
                },
                fileList: [],
                dialogVisible: false,
                loading: true,
                dataValue: "",
                ApplyStatusOptions: [],
                payStatus: "",
                startDate: "",
                endDate: "",
                orderID: "",
                supplierName: "",
                accountName: "",
                applyID: "",
            }
        },
        mounted: function () {
            this.ApplyStatusOptions = @Html.Raw(Json.Encode(@ViewBag.ApplyStatusOptions));
            this.$refs.datePickerDaterange.orderDateSimpleBtnClicked('7天');
            this.queryData(); // this.paging();
        },
        methods: {
            applyDetails: function (id) {
                sessionStorage.setItem('vMyApplies', JSON.stringify(this.indexData));
                commonSkipUrl(id, '/PayExchange/ApplyInfo', "/" + "@(ViewContext.RouteData.Values["controller"].ToString())"
                                                          + "/" + "@(ViewContext.RouteData.Values["action"].ToString())")
            },
            //删除申请
            deleteApply: function (id) {
                var that = this;
                this.$confirm('是否删除该申请?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    lockScroll: false,
                }).then(function () {
                    axios({
                        url: "/PayExchange/DeleteApply",
                        method: "post",
                        data: {
                            id: id,
                        }
                    }).then(function (response) {
                        if (response.data.type != "error") {
                            that.queryData(); // that.paging();
                        }
                        that.onAlert(response.data.type, response.data.msg);
                    }).catch(function (error) {
                        that.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                    });
                }).catch(function () {
                });
            },
            //删除文件
            del_file: function (i) {
                this.fileList.splice(i, 1);
            },
            dialog_Closed: function () {
                this.fileList = [];
            },
            httpRequest: function (options) {
                var that = this;
                that.fileList = [];
                UploadFile(options, '/Files/UploadPickUpFile', function (res) {
                    if (res.type) {
                        that.fileList.push(JSON.parse(res.file));
                    } else {
                        that.onAlert("error", res.msg)
                    }
                });
            },
            //下载委任书
            downloadPDF: function () {
                var that = this;
                axios({
                    url: "/Files/DownloadPayProxy",
                    method: "post",
                    data: {
                        id: this.applyID
                    },
                }).then(function (response) {
                    if (response.data.type == "error") {
                        that.onAlert(res.data.type, res.data.msg);
                    } else {
                        $('#exportInfoForm').attr("href", response.data.data);
                        $('#ex-li').trigger("click");
                    }
                }).catch(function (error) {
                    that.onAlert("warning", error);
                });
            },
            onSubmit: function () {
                var that = this;
                if (that.fileList.length == 0) {
                    that.onAlert("warning", "请上传付汇委托书！");
                } else {
                    var list = that.fileList[0];
                    axios({
                        url: "/Files/SavePayProxy",
                        method: "post",
                        data: {
                            id: this.applyID,
                            filename: list.name,
                            ext: list.fileFormat,
                            url: list.URL,
                        },
                    }).then(function (response) {
                        this.fileList = [];
                        if (response.data.type != "error") {
                            that.dialogVisible = false;
                        }
                        that.onAlert(response.data.type, response.data.msg);
                    }).catch(function (error) {
                        that.onAlert("warning", error);
                    });
                }
            },
            //上传付汇委任书
            uploadFile: function (id) {
                this.applyID = id;
                this.dialogVisible = true;
            },
            //查询数据
            queryData: function () {
                this.dataValue = this.$refs.datePickerDaterange.getDataValue();
                if (this.dataValue != "" && this.dataValue != null) {
                    var start = new Date(this.dataValue[0]);
                    var startDate = start.getFullYear() + '-' + (start.getMonth() + 1) + '-' + start.getDate();
                    var end = new Date(this.dataValue[1]);
                    var endDate = end.getFullYear() + '-' + (end.getMonth() + 1) + '-' + end.getDate();
                    this.startDate = startDate;
                    this.endDate = endDate;
                } else {
                    this.startDate = "";
                    this.endDate = "";
                }
                this.indexData.pageIndex = 1;
                this.paging();
            },
            //重置数据
            clearData: function () {
                this.$refs.datePickerDaterange.orderDateSimpleBtnClicked('7天');
                // this.dataValue = "";
                this.payStatus = "";
                this.startDate = "";
                this.endDate = "";
                this.orderID = "";
                this.supplierName = "";
                this.accountName = "";
                this.indexData.pageIndex = 1;
                this.indexData.pageSize = 10;
                this.queryData(); // this.paging();
            },
            // 初始页currentPage、初始每页数据数pagesize和数据data
            handleSizeChange: function (size) {
                this.indexData.pageSize = size;
                this.paging();
            },
            handleCurrentChange: function (currentPage) {
                this.indexData.pageIndex = currentPage;
                this.paging();
            },
            paging: function () {
                var that = this;
                that.loading = true;
                axios({
                    url: "/PayExchange/GetApplies",
                    method: "post",
                    data: {
                        page: this.indexData.pageIndex,
                        rows: this.indexData.pageSize,
                        payStatus: this.payStatus,
                        startDate: this.startDate,
                        endDate: this.endDate,
                        supplierName: this.supplierName,
                        orderID: this.orderID,
                        accountName: this.accountName,
                    },
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                    transformRequest: [function (data) {
                        var ret = ''
                        for (var it in data) {
                            ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
                        }
                        return ret;
                    }],
                }).then(function (response) {
                    var data = JSON.parse(response.data.data);
                    that.indexData.dataList = data.list;
                    that.indexData.total = data.total;
                    that.loading = false;
                }).catch(function (error) {
                    that.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                });
            },
            //消息提示框
            onAlert: function (type, message) {
                this.$message({
                    message: message,
                    type: type,
                    offset:100,
                });
            },
        }
    });

</script>
