* {
    font-weight: bolder;
}

.print_paper {
    margin-left: 8px;
}

body {
    padding-top: 26px;
}

body > table:nth-child(1) tbody > tr:first-child td:first-child {
    padding-top: 12px;
}

body > table:nth-child(8) tbody > tr:first-child td:first-child {
    padding-top: 18px;
}

body > table:nth-child(12) tbody > tr:first-child td:first-child {
    padding-bottom: 31px;
}

body > table:nth-child(13) tbody > tr:first-child td:first-child {
    padding-top: 19.5px;
}
