.fr { float: right; }
input { outline: none; border: none; border: 1px solid #d3d3d3; }

.l-btn-icon { font-size: 20px; color: #2196F3; }

a,
.menu { font-family: "微软雅黑"; }

.currency-noIcon .menu-line { border: none; }
/*品牌和型号的提示logo*/
.icon-CCC, .icon-CIQ, .icon-embargo, .icon-IsAgent, .icon-tariff, .icon-AddedTariffs, .icon-ECCN { display: inline-block; background-color: transparent; height: 20px; }

.icon-CCC { width: 25px; background: url('../image/3C.png') center center no-repeat; }

.icon-CIQ { width: 22px; background: url('../image/CIQ.png') center center no-repeat; }

.icon-embargo { width: 20px; background: url('../image/jy.png') center center no-repeat; }

.icon-IsAgent { width: 20px; background: url('../image/dl.png') center center no-repeat; }

.icon-tariff { width: 20px; background: url('../image/tariff.png') center center no-repeat; }

.icon-AddedTariffs { width: 24px; background: url('../image/AddedTariffs.png') center center no-repeat; }
.icon-ECCN { width: 22px; background: url('../image/ECCN.png') center center no-repeat; }

    .icon-CCC.small, .icon-CIQ.small, .icon-embargo.small, .icon-IsAgent.small, .icon-tariff.small, .icon-AddedTariffs.small, .icon-ECCN.small { height: 16px; width: 16px; background-size: contain; vertical-align: sub; }


/*修改添加*/
.icon-ccc1, .icon-ciq1, .icon-embargo1, .icon-isAgent1, .icon-tariff1, .icon-addedTariffs1, .icon-eccn1, .icon-unpopular { display: inline-block; background-color: transparent; height: 20px; }
.icon-ccc1 { width: 28px; background: url('../image/3C1.png') center center no-repeat; }
.icon-ciq1 { width: 28px; background: url('../image/CIQ1.png') center center no-repeat; }
.icon-embargo1 { width: 28px; background: url('../image/jy1.png') center center no-repeat; }
.icon-isAgent1 { width: 28px; background: url('../image/dl1.png') center center no-repeat; }
.icon-tariff1 { width: 28px; background: url('../image/tariff1.png') center center no-repeat; }
.icon-addedTariffs1 { width: 28px; background: url('../image/AddedTariffs1.png') center center no-repeat; }
.icon-eccn1 { width: 28px; background: url('../image/ECCN1.png') center center no-repeat; }
.icon-unpopular { width: 28px; background: url('../image/unpopular.png') center center no-repeat; }

.icon-ccc1.small, .icon-ciq1.small, .icon-embargo1.small, .icon-isAgent1.small, .icon-tariff1.small, .icon-addedTariffs1.small, .icon-eccn1.small { height: 16px; width: 16px; background-size: contain; vertical-align: sub; }
/*修改添加*/

.ml5 { margin-left: 5px; }

em { font-style: normal; }
/*客户地址、客户发票、供应商受益人 指派控件 格式化列表样式*/
.formatList { padding: 5px 0; }

    .formatList span { display: block; padding: 1px 5px; }

        .formatList span em { display: inline-block; width: 76px; text-align: right; margin-right: 10px; }

.cus-address span em { width: 76px; }

.cus-contact span em,
.cus-billinfo span em { width: 88px; }

.supplier-beneficiary span em { width: 128px; }

.assginment span em { width: 60px; }

.textbox-invalid,
.validatebox-invalid { border-color: #fb4d4d !important; background-color: #ffffff; }

.tooltip { /*background-color: #fb4d4d !important;
    border-color: #fb4d4d !important;
    color: #ffffff !important;*/ }

.textbox .textbox-text.red { color: #fb4d4d; }
.pd { padding-top: 9px; padding-left: 20px; }

/*.timeouts-alert样式*/
.timeouts-alert { min-width: 380px; -webkit-box-sizing: border-box; box-sizing: border-box; border-width: 1px; border-style: solid; border-color: #ebeef5; position: fixed; z-index: 99999; /*left: 50%;
    top: 20px;*/ /*-webkit-transform: translateX(-50%);
    transform: translateX(-50%);*/ background-color: #edf2fc; /*-webkit-transition: opacity 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.3s, transform 0.4s;
    transition: opacity 0.3s, transform 0.4s, -webkit-transform 0.4s;*/ padding: 15px 15px 15px 20px; border-radius: 4px; overflow: hidden; zoom: 1; }

    .timeouts-alert.TL { left: 20px; top: 20px; }

    .timeouts-alert.TR { right: 20px; top: 20px; }

    .timeouts-alert.TC { left: 50%; top: 20px; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

    .timeouts-alert.BL { left: 20px; bottom: 20px; }

    .timeouts-alert.BR { right: 20px; bottom: 20px; }

    .timeouts-alert.BC { left: 50%; bottom: 20px; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

    .timeouts-alert.CC { left: 50%; bottom: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }

    .timeouts-alert:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

    .timeouts-alert.is-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

    .timeouts-alert p { margin: 0; }

.timeouts-alert--info .timeouts-alert_content { color: #909399; }

.timeouts-alert--success { background-color: #f0f9eb; border-color: #e1f3d8; }

    .timeouts-alert--success .timeouts-alert_content { color: #67c23a; }

.timeouts-alert--warning { background-color: #fdf6ec; border-color: #faecd8; }

    .timeouts-alert--warning .timeouts-alert_content { color: #e6a23c; }

.timeouts-alert--error { background-color: #fef0f0; border-color: #fde2e2; }

    .timeouts-alert--error .timeouts-alert_content { color: #f56c6c; }

.timeouts-alert_icon { margin-right: 10px; float: left; }
    .timeouts-alert_icon.noicon { display: none; }
.timeouts-alert_content { padding: 0; font-size: 14px; line-height: 1; float: left; }

.timeouts-alert_closeBtn { position: absolute; top: 50%; right: 15px; -webkit-transform: translateY(-50%); transform: translateY(-50%); cursor: pointer; color: #c0c4cc; font-size: 16px; }
    .timeouts-alert_closeBtn.noclosebtn { display: none; }
    .timeouts-alert_closeBtn:hover { color: #909399; }

.timeouts-alert .icon-success { color: #67c23a; }

.timeouts-alert .icon-error { color: #f56c6c; }

.timeouts-alert .icon-info { color: #909399; }

.timeouts-alert .icon-warning { color: #e6a23c; }

.timeouts-alert-fade-enter,
.timeouts-alert-fade-leave-active { /*opacity: 0;*/ -webkit-transform: translate(-50%, -100%); transform: translate(-50%, -100%); }


/*文件上传样式*/
.fileUl,
.fileUl li { padding: 0; margin: 0; list-style: none; }
.fileUl { min-width: 400px; margin-top: 5px; max-height: 120px; overflow-y: scroll; }
    .fileUl li { padding: 0 5px; font-size: 12px; line-height: 24px; color: #666; border-radius: 5px; }
        .fileUl li a { color: #666; }
        .fileUl li i { font-size: 14px; }
            .fileUl li i.icon-wenjian { margin-right: 3px; }
            .fileUl li i.icon-close { margin-left: 5px; cursor: pointer; }
        .fileUl li:hover { background: #f5f7fa; color: #2196F3; }
            .fileUl li:hover a { color: #2196F3; }
            .fileUl li:hover i { color: #666; }
        .fileUl li span { float: right; color: #fb4d4d; margin-left: 30px; }
.filebox_bg { display: inline-block; font-size: 80px; padding: 20px 50px; color: #e3e3e3; border: 1px dashed #ccc; }
    .filebox_bg:hover { border-color: #2196F3; }
.filebox_img { width: auto; max-height: 200px; margin-right: 10px; }
    .filebox_img.hide { display: none; }
    .filebox_img.show { display: inline-block; vertical-align: bottom; }
a.easyui-fileUpload { text-decoration: none; }

/*bom插件*/
.liebiao.bom_liebiao { table-layout: fixed; min-width: 1461px; }

    .liebiao.bom_liebiao tr th { margin: 0 10px; padding: 10px; border: 1px solid #ddd; text-align: left; font-size: 12px; background-color: #f0f0f0; }

    .liebiao.bom_liebiao tr td.first { background-color: #f0f0f0; text-align: center; }
    .liebiao.bom_liebiao tr td { /*box-sizing:unset;*/ }
        .liebiao.bom_liebiao tr td.pd0 { padding: 0; }
    .liebiao.bom_liebiao tr th span { color: red; margin-left: 5px; }
    .liebiao.bom_liebiao .easyui-radio .textbox-label { width: auto; }

    .liebiao.bom_liebiao .easyui-radio.w46 .textbox-label { width: 46px; }
    .liebiao.bom_liebiao .easyui-radio .radiobutton-f, .liebiao.bom_liebiao .easyui-checkboxlist .checkbox-f { display: block !important; width: 0; height: 0; border: none; }
.bom_shadow { width: 800px; height: 600px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: rgba(204, 204, 204, 0.5); text-align: center; color: #fff; z-index: 999; }
.liebiao.bom_liebiao tr th .bom_shadow span { display: block; padding-top: 0; color: #666 !important; font-size: 14px; font-weight: normal; }
/*币种控件readonly的样式*/
.numberbox .textbox-text.validatebox-readonly { background-color: #efefef; color: #aaa; }

/*供应商收款人*/
.supplier-payer { border-bottom: 1px solid #333; }
    .supplier-payer div { padding: 0px 0px 3px 0px; }
    .supplier-payer em { display: inline-block; width: 81px; }
