* { font-size: 12px; padding: 0px; margin: 0px; text-decoration: none; color: #000; }
body { background-color: #fff; }
h1 { font-size: 13px; font-weight: bold; }
.liebiao { border-bottom: 1px solid #ccc; border-right: 1px dotted #ccc; border-collapse: collapse; width: 100%; }
    .liebiao tr th, .liebiao tr td { padding: 1px; font-weight: normal; border-top: 1px dotted #ccc; border-left: 1px dotted #ccc; text-align: left; height: 20px; line-height: 20px; }

    .liebiao thead tr th { text-align: center; font-weight: bolder; background-color: #eee; }

input[type=text]::-ms-clear { display: none; }
input[type="text"], input[type="submit"], input[type="file"] textarea, select, input[type="password"], button { border: 1px solid #d3d3d3; padding: 3px; border-radius: 4px; resize: none; margin: 0 3px 0 4px; }
select { height: 22px; line-height: 18px; padding: 2px 0; }
