.swiper-container {
	
	width:100%;
	height:100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-pagination {
	height: 46px;
	line-height: 46px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	bottom: 0;
}

.bigImgs {
	
	
	
}

.close {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../imgs/n_culture_close.png) no-repeat;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	z-index: 100;
}
.mod{
	width: 800px;
	height: 600px;
	border: 4px solid #fff;
	z-index: 1000;
	position: fixed;
	left: 50%;
	margin-left: -400px;
	top: 50%;
	margin-top: -300px;
	visibility:hidden;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
	content:'';
}
.swiper-button-next{
	background: url(../imgs/n_culture_right.png) no-repeat;
	width: 40px;
    height:40px;
}
.swiper-button-prev{
	background: url(../imgs/n_culture_left.png) no-repeat;
	width: 40px;
    height:40px;
}