/*头部和轮播图*/
.n_header{
    width:1920px;
    height:667px;
    position:relative;
}
.n_lunbt{
    width:100%;
    height:100%;
    background:url(../imgs/banner_n.png) no-repeat;
    background-size:cover;
}
.n_top{
    width:100%;
    height:95px;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
}
.n_logo{
    overflow:hidden;
    margin-top:19px;
}
.n_logo a {
    display: block;
    width: 200px;
    height: 0;
    padding-top: 54px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../imgs/logo_white_n.png) 0 0 no-repeat;
}
.n_nagivation{
    margin:0 40px 0 60px;
}
.n_nagivation>ul>li{
    float:left;
    /*position:relative;*/
}
.n_nagivation>ul>li>a{
    display:block;
    line-height:95px;
    color:#fff;
    padding:0 20px;
}

.n_nagivation>ul>li>a i{
    display:inline-block;
    width:10px;
    height:6px;
    background:url(../imgs/arrow_white_bottom_n.png) no-repeat;
    vertical-align:middle;
    overflow:hidden;
    margin:-1px 0 0 8px;
}
.n_func a{
    color:#fff;
    line-height:95px;
}
.n_login{
    margin-right:34px;
}
.n_func i{
    display:inline-block;
    width:24px;
    height:24px;
    background:url(../imgs/lock_login_white_n.png) no-repeat center center;
    vertical-align:middle;
    overflow:hidden;
    margin-right:6px;
}
.n_func i.n_login_icon{
    margin-top:-2px;
}
.n_func i.n_regis_icon{
    background-image:url(../imgs/user_regis_white_n.png);
    margin-top:1px;
}

.n_bottom{
    width:100%;
    height:52px;
    line-height:52px;
    background-color:rgba(0,82,204,0.95);
    position:absolute;
    bottom:0;
}
.n_bottom h3{
    font-size:18px;
    font-weight:bold;
    color:#fff;
    margin-right:42px;
}

.n_bottom h3 i{
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../imgs/notice_white_n.png) no-repeat;
    vertical-align:middle;
    overflow:hidden;
    margin:-2px 0 0 6px;
}
.n_notice li{
    float:left;
    width:466px;
}
.n_notice li a{
    color:#fff;
}

.n_notice li i{
    display:inline-block;
    width:5px;
    height:5px;
    border-radius:50%;
    background-color:#fff;
    vertical-align:middle;
    overflow:hidden;
    margin:-2px 4px 0 0;
}

.n_drop{
    width:1920px;
    height:auto;
    background:#f5fafe;
    position:absolute;
    top:95px;
    left:50%;
    margin-left:-960px;
    display:none;
}

.n_service{
    padding:26px 0 30px;
}

.n_service li{
    float:left;
    text-align:center;
    margin-right:65px;
    
}
.n_service li p{
    font-size:12px;
    color:#999;
}
.n_service li h5{
    color:#666;
    font-size:18px;
    font-weight:normal;
    margin:14px 0 6px;
}
.n_service li:hover{
    opacity:0.8;
}
.n_drop{
    box-shadow:4px 4px 6px #ddecf7;
}
.n_drop_con{
    height:86px;
    line-height:86px;
}
.n_drop_con li{
    float:left;
    font-size:18px;
    
}
.n_drop_con li a{
    color:#666;
    display:block;
    padding:0 38px;
    height:100%;
}

.n_drop_con li i{
    display:inline-block;
    width:31px;
    height:31px;
    background:url(../imgs/assistant_spirit_n.png) no-repeat 0 0;
    vertical-align:middle;
    overflow:hidden;
}
.n_drop_con li:nth-child(2) i{
    width:26px;
    background-position:-50px 0;
}
.n_drop_con li:nth-child(3) i{
     width:27px;
    background-position:-100px 0;
}
.n_drop_con li:last-child i{
    width:26px;
    background-position:-150px 0;
}
.n_drop_con li a.active{
    background-color:#0064cb;
    color:#fff;
}

.n_drop_con li:nth-child(1) .active i{
    background-position:0 -42px;
}
.n_drop_con li:nth-child(2) .active i{
    background-position:-50px -42px;
}
.n_drop_con li:nth-child(3) .active i{
    background-position:-100px -42px;
}
.n_drop_con li:last-child .active i{
    background-position:-150px -42px;
}

/*信息中心的下拉*/
.n_info_drop_con li i{
    width:27px;
    background:url(../imgs/info_spirit_n.png) no-repeat 0 0;
}

.n_info_drop_con li:nth-child(2) i{
    width:25px;
}
.n_info_drop_con li:last-child i{
     width:24px;
     background-position:-100px 0;
}

.n_info_drop_con li:last-child .active i{
    background-position:-100px -42px;
}

/*关于我们的下拉*/

.n_about_drop li i{
    width:21px;
    background:url(../imgs/about_spirit_n.png) no-repeat 0 0;
}

.n_about_drop li:nth-child(2) i{
    width:26px;
}
.n_about_drop li:last-child i{
     width:29px;
    
}

/*联系我们下拉*/

.n_contact_drop li i{
    width:23px;
    background:url(../imgs/contact_spirit_n.png) no-repeat 0 0;
}

.n_contact_drop li:nth-child(2) i{
    width:26px;
}
.n_contact_drop li:last-child i{
     width:24px;
    
}



/*鼠标hover到头部导航时，头部样式的整体变化*/

.m_top_hover{
    background-color:rgba(255,255,255,1);
}

.m_top_hover .n_logo a{
    background-image:url(../imgs/logo_n.png);
}
.m_top_hover .n_nagivation>ul>li>a{
    color:#444;
}

.m_top_hover .n_nagivation>ul>li>a i{
    background-image:url(../imgs/arrow_grey_bottom_n.png);
}
.m_top_hover .n_func a{
    color:#444;
}
.m_top_hover .n_func i{
    background-image:url(../imgs/lock_login_n.png);
}
.m_top_hover .n_func i.n_regis_icon{
    background-image:url(../imgs/user_regis_n.png);
}

/*导航中第一个Li的样式*/
.n_nagivation>ul>li.current>a{
    color:#0064cb;
    font-weight:700;
}

.n_nagivation>ul>li.current>a i{
    background-image:url(../imgs/arrow_blue_top_n.png);
}

/*服务项目*/
.n_mol{
    background-color:#f5fafe;
    padding:64px 0 52px;
}
.n_mol_title{
    text-align:center;
    margin-bottom:50px;
}
.n_mol_title h3{
    font-size:30px;
    color:#333;
    font-weight:normal;
    margin-bottom:6px;
}
.n_mol_title p{
    font-size:18px;
    color:#0064cb;
}
.n_mol_zw li{
    width:396px;
    height:340px;
    background:url(../imgs/n_mol_p1.png) no-repeat;
    float:left;
    position:relative;
    cursor:pointer;
}
.n_mol_zw li:nth-child(2){
    background-image:url(../imgs/n_mol_p2.png);
}
.n_mol_zw li:nth-child(3){
    background-image:url(../imgs/n_mol_p3.png);
}
.n_mol_desc{
    width:100%;
    height:125px;
    background-color:rgba(0,0,0,0.4);
    position:absolute;
    bottom:0;
    text-align:center;
    
}
.n_mol_desc a{
    display:block;
    width:100%;
    height:100%;
    color:#fff;
}

.n_mol_desc h4{
    font-size:18px;
    margin-top:17px;
}
.n_mol_desc .n_mol_text{
    margin:14px 0 14px;
}
.n_mol_desc .n_mol_hover_text{
    display:none;
}
.n_mol_desc span{
    color:#89ceff;
}
.n_mol_zw li .n_mol_desc.active{
    height:100%;
    background-color:rgba(31,107,221,0.8);
    color:#fff;
}
.n_mol_zw li .n_mol_desc.active h4{
    margin-top:70px;
}
.n_mol_zw li .n_mol_desc.active .n_mol_hover_text{
    margin:24px 0 50px;
    padding:0 38px;
    display:block;
    line-height:30px;
    text-align:left;
    text-indent:2em;
}
.n_mol_zw li .n_mol_desc.active .n_mol_text{
    display:none;
}
.n_mol_zw li .n_mol_desc.active span{
    color:#fff;
}

/*芯达通助手*/
.n_mol_2{
    height:296px;
    background:url(../imgs/n_mol_assit_bg.png) no-repeat;
    padding:64px 0 50px;
}
.n_mol_2 .n_mol_title{
    margin-bottom:26px;
}
.n_mol_assit li{
    float:left;
    width:295px;
    height:170px;
    background:url(../imgs/n_assit_line.png) no-repeat right center;
    
}
.n_mol_assit li:nth-child(4){
    background:none;
}

.n_mol_a {
    display:block;
    width:147px;
    height:133px;
    /*background:url(../imgs/n_mol_assit_mbg.png) no-repeat;*/
    text-align:center;
    /*color:#fff;*/
    padding-top:40px;
    margin:0 auto;
    color:#666;
}
.n_mol_a i{
    display:inline-block;
    width:52px;
    height:55px;
    background:url(../imgs/n_mol_assit_spirit.png) no-repeat 0 0;
}
.n_mol_a p{
    font-size:16px;
    margin-top:15px;
}

.n_mol_assit li:nth-child(2) .n_mol_a i{
    width:45px;
    background-position:-70px 0;
}
.n_mol_assit li:nth-child(3) .n_mol_a i{
    width:48px;
    background-position:-140px 0;
}
.n_mol_assit li:nth-child(4) .n_mol_a i{
    width:45px;
    background-position:-210px 0;
}
.n_mol_assit li .n_mol_a.active{
    background:url(../imgs/n_mol_assit_mbg.png) no-repeat;
    color:#fff;
}
.n_mol_assit li:nth-child(1) .n_mol_a.active i{
    background-position:0 -80px;
}
.n_mol_assit li:nth-child(2) .n_mol_a.active i{
    background-position:-70px -80px;
}
.n_mol_assit li:nth-child(3) .n_mol_a.active i{
    background-position:-140px -80px;
}
.n_mol_assit li:nth-child(4) .n_mol_a.active i{
    background-position:-210px -80px;
}

/*合作伙伴*/
.n_mol_3{
    height:491px;
    background:url(../imgs/n_mol_partner_bg.png) no-repeat;
    padding:64px 0 50px;
    text-align:center;
}
.n_mol_3 .n_more{
    margin-top:24px;
}
.n_mol_3 .n_more a{
    color:#0064cb;
    font-size:18px;
}
.n_mol_3 .n_more a:hover{
    text-decoration:underline;
}
.n_mol_3 .n_mol_title{
    margin-bottom:20px;
}

/*侧边栏导航*/
.n_sidebar{
    position:fixed;
    top:100px;
    right:50px;
    z-index:100;
}
.n_sidebar li{
    margin-bottom:5px;
    position:relative;
}
.n_sidebar li a{
    display:block;
    width:58px;
    height:42px;
    padding-top:6px;
    border-radius:7px;
    background-color:#0064cb;
    color:#fff;
    font-size:12px;
    text-align:center;
}
.n_sidebar li .n_sidebar_i{
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../imgs/n_sidebar_spirit.png) no-repeat 0 0;
}
.n_sidebar li .n_text{
    margin-top:-1px;
}
.n_sidebar li:nth-child(2) .n_sidebar_i{
    background-position:-50px 0;
}

.n_sidebar li:nth-child(3) .n_sidebar_i{
    background-position:-100px 0;
}

.n_sidebar li:nth-child(4) .n_sidebar_i{
    background-position:-150px 0;
}

.n_sidebar li:nth-child(5) .n_sidebar_i{
    background-position:-200px 0;
}

.n_sidebar li a:hover{
    width:56px;
    height:40px;
    background-color:#fff;
    border:1px solid #b4d9ff;
    color:#0064cb;
}
.n_sidebar li:nth-child(1) a:hover .n_sidebar_i{
    background-position:0 -50px;
}
.n_sidebar li:nth-child(2) a:hover .n_sidebar_i{
    background-position:-50px -50px;
}
.n_sidebar li:nth-child(3) a:hover .n_sidebar_i{
    background-position:-100px -50px;
}
.n_sidebar li:nth-child(4) a:hover .n_sidebar_i{
    background-position:-150px -50px;
}
.n_sidebar li:nth-child(5) a:hover .n_sidebar_i{
    background-position:-200px -50px;
}

.n_sidebar_expand{
    position:absolute;
    left:-144px;
    top:0;
    width:128px;
    box-shadow:0px 0px 16px #bfe3fe;
    background-color:#fff;
}

.n_se_con{
    padding:6px 14px 6px 20px;
}
.n_se_con p{
    margin-bottom:6px;
}
.n_se_con span{
    color:#0c68c8;
}
.n_se_arrow{
    width:0;
    height:0;
    border-width: 6px;
    border-color: transparent transparent transparent #fff;
    border-style: dashed dashed dashed solid;
    position:absolute;
    right:-12px;
    top:50%;
    margin-top:-6px;
}

.n_se_gongzh{
    height:175px;
    top:-62px;
    text-align:center;
}
.n_se_gongzh .n_se_con{
    padding:0;
    padding:10px 0;
}
.n_se_gongzh .n_se_con p{
    font-size:12px;
    margin:4px 0;
}

/*.n_se_advice{
    width:625px;
    height:498px;
    right:0;
    margin-left:-1000px;
    top:-200px;
}*/













