/*头部和轮播图*/
.n_header {
    width: 100%;
    width:expression(document.body.clientWidth <= 1000? "1000px": "auto"); 
    min-width:1200px;
    height: 600px;
    position: relative;
}

.n_lunbt {
    width: 100%;
    height: 100%;
    background: url(../imgs/banner_n.png) no-repeat 50% 50%;
    background-size: cover;
}


/*轮播图*/
.swiper-container {
      width: 100%;
      height: 100%;

    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      background-repeat:no-repeat;
      background-position:center center;
	  /*background: url(../imgs/banner1.png) no-repeat center center;*/
	  background-size:cover;
    }
	/*.swiper-slide:nth-child(2){
	    background-image: url(../imgs/banner2.png);
	}
	.swiper-slide:nth-child(3){
		background-image: url(../imgs/banner3.png);
	}*/

    .swiper-pagination-bullet{
        width:67px;
        height:6px;
        border-radius:3px;
        background:#fff;
        opacity:.7;
    }
    .swiper-pagination-bullet-active{
        background:#0064cb;
        opacity:1;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
        margin:0 8px;
    }

    /*新的pagination*/
    .pagination {
			  position: absolute;
			  z-index: 20;
			  bottom: 10px;
			  width: 100%;
			  text-align: center;
			}
			.swiper-pagination-switch {
			  display: inline-block;
			  width: 67px;
			  height: 6px;
			  border-radius: 6px;
			  background: #fff;
			  margin: 0 5px;
			  opacity: 0.8;
			 
			  cursor: pointer;
			}
			.swiper-active-switch {
			  background: #0064cb;
			}
            .arrow{
				display: inline-block;
				width:23px;
				height:43px;
				background-repeat: no-repeat;
				position: absolute;
				top:50%;
				cursor: pointer;
                margin-top:-22px;
			}
			.arrow-left{
				background-image: url(../imgs/arrow_index_left.png);
				left:5px;
			}
			.arrow-right{
				background-image: url(../imgs/arrow_index_right.png);
				right:5px;
			}

.n_bottom {
    width: 100%;
    height: 52px;
    line-height: 52px;
    background-color: rgba(0,82,204,0.95);
    position: absolute;
    bottom: 0;
}

    .n_bottom h3 {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        margin-right: 42px;
    }

        .n_bottom h3 i {
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url(../imgs/notice_white_n.png) no-repeat;
            vertical-align: middle;
            overflow: hidden;
            margin: -2px 0 0 6px;
        }

.n_notice {
    width: 1050px;
    height: 52px;
    overflow: hidden;
}

    .n_notice li {
        float: left;
        margin-right: 130px;
        height: 100%;
    }

        .n_notice li a {
            color: #fff;
        }

        .n_notice li i {
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #fff;
            vertical-align: middle;
            overflow: hidden;
            margin: -2px 4px 0 0;
        }


/*服务项目*/
.n_mol {
    width:expression(document.body.clientWidth <= 1000? "1000px": "auto"); 
    min-width:1200px;
    background-color:#f5fafe; 
    /*background-color: #fff;*/
    padding: 64px 0 52px;
}

.n_mol_title {
    text-align:center; 
    /*text-align: left;*/
    margin-bottom: 50px;
}

    .n_mol_title h3 {
        font-size: 30px;
        color: #333;
        font-weight: normal;
        margin-bottom: 6px;
    }

    .n_mol_title p {
        font-size: 18px;
        color: #0064cb;
    }

.n_mol_zw li {
    width: 396px;
    height: 340px;
    background: url(../imgs/n_mol_p1.png) no-repeat;
    float: left;
    position: relative;
    cursor: pointer;
}

    .n_mol_zw li:nth-child(2) {
        background-image: url(../imgs/n_mol_p2.png);
    }

    .n_mol_zw li:nth-child(3) {
        background-image: url(../imgs/n_mol_p3.png);
    }

.n_mol_desc {
    width: 100%;
    height: 125px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    text-align: center;
}

    .n_mol_desc a {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
    }

    .n_mol_desc h4 {
        font-size: 18px;
        margin-top: 17px;
    }

    .n_mol_desc .n_mol_text {
        margin: 14px 0 14px;
    }

    .n_mol_desc .n_mol_hover_text {
        display: none;
    }

    .n_mol_desc span {
        color: #89ceff;
    }

.n_mol_zw li .n_mol_desc.active {
    background-color: rgba(31,107,221,0.8);
    color: #fff;
}

    .n_mol_zw li .n_mol_desc.active h4 {
        margin-top: 70px;
    }

    .n_mol_zw li .n_mol_desc.active .n_mol_hover_text {
        margin: 24px 0 50px;
        padding: 0 38px;
        display: block;
        line-height: 30px;
        text-align: left;
        text-indent: 2em;
    }

    .n_mol_zw li .n_mol_desc.active .n_mol_text {
        display: none;
    }

    .n_mol_zw li .n_mol_desc.active span {
        color: #fff;
    }

/*芯达通助手*/
.n_mol_2 {
    height: 296px;
    background: url(../imgs/n_mol_assit_bg.png) no-repeat;
    /* background-color: #fff; */
    padding: 64px 0 50px;
}

    .n_mol_2 .n_mol_title {
        margin-bottom: 26px;
    }

.n_mol_assit li {
    float: left;
    width: 295px;
    height: 170px;
    background: url(../imgs/n_assit_line.png) no-repeat right center;
}

    .n_mol_assit li:nth-child(4) {
        background: none;
    }

.n_mol_a {
    display: block;
    width: 147px;
    height: 133px;
    /*background:url(../imgs/n_mol_assit_mbg.png) no-repeat;*/
    text-align: center;
    /*color:#fff;*/
    padding-top: 40px;
    margin: 0 auto;
    color: #666;
    position:relative;
}
.n_normal_con{
    position:absolute;
    z-index:10;
    width: 96px;
    left: 50%;
    margin-left: -48px;
}
.n_mol_assit li .n_fade_bg{
    position:absolute;
    width: 147px;
    height: 170px;
    background:url(../imgs/n_mol_assit_mbg.png) no-repeat;
    z-index:1;
    top:0;
    left:0;
    display:none;
    /*opacity:0;*/
}
    .n_mol_a i {
        display: inline-block;
        width: 52px;
        height: 55px;
        background: url(../imgs/n_mol_assit_spirit.png) no-repeat 0 0;

    }

    .n_mol_a p {
        font-size: 16px;
        margin-top: 15px;
    }

.n_mol_assit li:nth-child(2) .n_mol_a i {
    width: 45px;
    background-position: -70px 0;
}

.n_mol_assit li:nth-child(3) .n_mol_a i {
    width: 48px;
    background-position: -140px 0;
}

.n_mol_assit li:nth-child(4) .n_mol_a i {
    width: 45px;
    background-position: -210px 0;
}

.n_mol_assit li .n_mol_a.active {
    /*background: url(../imgs/n_mol_assit_mbg.png);*/
    color: #fff;
    /*background-repeat:no-repeat;*/
    /*animation:myBgImg 3s;*/
}

/*@keyframes myBgImg
{
0%   {background:none; }
100% { background-image:url(../imgs/n_mol_assit_mbg.png);}
}*/
.n_mol_assit li:nth-child(1) .n_mol_a.active i {
    background-position: 0 -80px;
}

.n_mol_assit li:nth-child(2) .n_mol_a.active i {
    background-position: -70px -80px;
}

.n_mol_assit li:nth-child(3) .n_mol_a.active i {
    background-position: -140px -80px;
}

.n_mol_assit li:nth-child(4) .n_mol_a.active i {
    background-position: -210px -80px;
}

/*合作伙伴*/
.n_mol_3 {
    height: 511px;
    background:url(../imgs/n_mol_partner_bg.png) no-repeat; 
    /*background: #fff;*/
    padding: 44px 0 50px;
    text-align: center;
}


    .n_mol_3 .n_more {
        margin-top: 24px;
    }

        .n_mol_3 .n_more a {
            color: #0064cb;
            font-size: 18px;
        }

            .n_mol_3 .n_more a:hover {
                text-decoration: underline;
            }

    .n_mol_3 .n_mol_title {
        margin-bottom: 20px;
    }
    .n_mol_partner_new h4{
        margin-bottom:22px;
    }
    .n_mol_partner_new li{
        float:left;
        width:190px;
        height:124px;
        background:#fff;
        text-align:center;
        margin:0 12px 12px 0;
        box-shadow:0 0 10px rgba(12,113,216,0.3);
       
    }
     .n_mol_partner_new li.nomargin{
         margin-right:0;
     }

/* 轮播图上浮动的内容 */
.n_float_text {
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -600px;
}

.n_float_mol {
    width: 510px;
    height: 210px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    color: #0064cb;
}

.n_float_title h3 {
    font-size: 42px;
    padding: 28px 0 6px;
}

.n_float_title .n_float_subtitle {
    font-size: 24px;
}

.n_float_feature {
    padding: 20px 77px 0;
}

    .n_float_feature li {
        float: left;
        margin: 0 22px;
    }

        .n_float_feature li i {
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../imgs/n_float_icon.png) no-repeat 0 0;
        }

        .n_float_feature li:nth-child(2) i {
            width: 28px;
            background-position: -50px 0;
        }

        .n_float_feature li:nth-child(3) i {
            width: 23px;
            background-position: -100px 0;
        }

        .n_float_feature li:nth-child(4) i {
            background-position: -150px 0;
        }

        .n_float_feature li p {
            color: #555;
            font-size: 15px;
        }
