/*其他页面的头部和轮播图*/
.n_header {
    width: 100%;
    width:expression(document.body.clientWidth <= 1000? "1000px": "auto"); 
    min-width:1200px;
    height: 549px;
    position: relative;
}

.n_lunbt {
    width: 100%;
    height: 100%;
    width:expression(document.body.clientWidth <= 1000? "1000px": "auto"); 
    min-width:1200px;
    background: url(../imgs/n_service_banner.png) no-repeat 50% 50%;
    background-size: cover;
}

/* 中间不同的内容 */
.n_mid {
    position: relative;
}

/* 进口报关服务 */
.n_select {
    width: 771px;
    height: 72px;
    line-height: 72px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 3px 3px 15px rgba(52,52,52,0.1);
    position: absolute;
    top: -36px;
    left: 50%;
    margin-left: -385px;
}

    .n_select li {
        float: left;
        width: 257px;
        text-align: center;
    }

        .n_select li a {
            display: block;
            width: 100%;
            color: #333;
            font-size: 18px;
        }

        .n_select li.active a {
            background-color: #0064cb;
            color: #fff;
        }

        .n_select li a:hover {
            color: #0064cb;
        }

        .n_select li.active a:hover {
            color: #fff;
        }

.n_custom_con {
    padding-top: 100px;
}

.n_custom_desc {
    text-align: center;
    /* margin:60px 0 80px 0; */
    margin-bottom: 80px;
}
.n_query_desc{
    margin-bottom:0;
    padding-bottom:60px;
}
    .n_custom_desc h3,
    .n_custom_service h3 {
        font-weight: normal;
        font-size: 30px;
        height: 60px;
        text-align: center;
    }

    .n_custom_desc p {
        font-size: 18px;
        color: #666;
    }

.n_custom_service {
    width: 100%;
    height: 341px;
    background: url(../imgs/n_custom_pic.png) no-repeat 50% 50%;
    background-size: cover;
    /* margin-top:80px; */
    padding-top: 50px;
}

.n_custom_service_con {
    margin-top: 64px;
}

    .n_custom_service_con li {
        float: left;
        width: 399px;
        border-right: 1px solid #0064cb;
        text-align: center;
    }

        .n_custom_service_con li:nth-child(3) {
            border: none;
        }

        .n_custom_service_con li h4 {
            font-size: 24px;
            color: #0064cb;
            margin: 40px 0 14px;
        }
        .n_custom_service_con li p{
            font-size:18px;
        }

.n_custom_process {
    background: #f5fafe;
    height: 520px;
    text-align: center;
    margin-top: 0;
    padding-top: 70px;
}

    .n_custom_process h3 {
        margin-bottom: 56px;
    }

/* 香港代收发服务 */
.n_express_service {
    height: 533px;
    background: url(../imgs/n_express_pic.png) no-repeat 50% 50%;
    background-size: cover;
}

.n_express_feature {
    padding: 70px 0 0 180px;
    width: 370px;
}

    .n_express_feature h3 {
        font-weight: normal;
        font-size: 30px;
        margin-bottom: 44px;
    }

    .n_express_feature li {
        margin-bottom: 45px;
    }

        .n_express_feature li h4 {
            font-size: 24px;
            color: #0064cb;
            font-weight: normal;
            margin-bottom: 16px;
        }

        .n_express_feature li i {
            display: inline-block;
            width: 10px;
            height: 21px;
            background: url(../imgs/n_express_arrow.png) no-repeat;
            vertical-align: middle;
            overflow: hidden;
            margin-right: 10px;
        }

        .n_express_feature li p {
            font-size: 18px;
            color: #333;
            text-indent: 20px;
        }

.n_express_process {
    height: 730px;
    background-color: #eee;
}

    .n_express_process h3 {
        text-align: center;
        font-size: 30px;
        font-weight: normal;
        padding: 45px 0;
    }

.n_express_process_img {
    width: 722px;
    height: 473px;
    background-color: #fff;
    text-align: center;
    padding-top: 40px;
}

/* 香港仓储服务 */
.n_storage_feature {
    height: 532px;
    background-image: url(../imgs/n_storage_pic.png);
    color: #fff;
    text-align: center;
}

    .n_storage_feature h3 {
        margin-bottom: 50px;
    }

.n_storage_process {
    background-color: #f0f9ff;
}

.n_express_storage_img {
    width: 663px;
    height: 438px;
    background-color: #fff;
    text-align: center;
    padding-top: 60px;
}

/* 归类查询信息 */
.n_assist_mid {
    background-color: #f5fafe;
    min-height: 948px;
    
}

.n_assist_select {
    width: 1028px;
    height: 132px;
    line-height: 0;
    margin-left: -514px;
    top: -66px;
}

    .n_assist_select li a {
        display: block;
        width: 100%;
        height: 132px;
        text-align: center;
    }

    .n_assist_select li i {
        display: inline-block;
        width: 43px;
        height: 43px;
        background: url(../imgs/n_assist_spirit_page.png) no-repeat 0 0;
        margin: 26px 0 26px;
    }

    .n_assist_select li:nth-child(2) i {
        background-position: -50px 0;
    }

    .n_assist_select li:nth-child(3) i {
        background-position: -100px 0;
    }

    .n_assist_select li:nth-child(4) i {
        background-position: -150px 0;
    }

    .n_assist_select li.active:nth-child(1) i {
        background-position: 0 -50px;
    }

    .n_assist_select li.active:nth-child(2) i {
        background-position: -50px -50px;
    }

    .n_assist_select li.active:nth-child(3) i {
        background-position: -100px -50px;
    }

    .n_assist_select li.active:nth-child(4) i {
        background-position: -150px -50px;
    }

/* .n_assist_select li.active i{
	background-position: 0 -50px;
} */

.n_assist_con {
    padding-top: 160px;
}

.input_jquery {
    width: 838px;
    height: 54px;
    line-height: 54px;
    background-color: #fff;
    border: 1px solid #0064cb;
    margin: 0 auto;
    border-radius: 27px;
    margin-top: 30px;
}

.n_info_search {
    display: inline-block;
    width: 95px;
    height: 54px;
    ;
    background-color: #0064cb;
    color: #fff;
    border-radius: 0 26px 26px 0;
    text-align: center;
    cursor: pointer;
}

.input_jquery input {
    width: 683px;
    height: 54px;
    line-height: 54px;
    border-radius: 27px 0 0 27px;
    padding-left: 60px;
    font-size: 16px;
}

.n_info_note {
    margin: 32px 0 55px;
}

    .n_info_note p {
        font-size: 14px;
        color: #aeaeae;
        line-height: 24px;
    }

.n_info_result {
}

    .n_info_result h2 {
        border-top: 1px dashed #969699;
        color: #0064cb;
        padding: 40px 0 28px;
    }

    .n_info_result table {
        width: 100%;
        border: 1px solid #bccedd;
        border-collapse: collapse;
    }

        .n_info_result table th{
            line-height: 44px;
            background-color: #cee7f9;
            color: #575f66;
            border: 1px solid #bccedd;
        }

        .n_info_result table td {
            line-height: 44px;
            color: #575f66;
            border: 1px solid #bccedd;
        }

            /* .n_info_result table .n_tr_details td{
	background-color: #ecf7ff;
	box-shadow: -1px 2px 10px #d5dee4 inset;
	
} */
            .n_info_result table td a {
                color: #1e83cd;
            }

    .n_info_result .n_result_note {
        text-align: right;
        color: #d10000;
        font-size: 14px;
        margin-top: 12px;
    }

.n_quto_table {
    /* border:1px solid #ddd;
	border-right:top;
	border-left:none; */
}

.el-table--border,
.el-table--group {
    border: none;
}

.n_info_result table th,
.n_info_result table td {
    border: 1px solid #ddd;
    /* border: none; */
}

.n_info_result table th {
    background-color: #cee7f9;
}

.el-table td {
    border: none;
}

.el-table th.is-leaf {
    border-bottom: 1px solid #cee7f9;
    /* border: none; */
    text-align: center;
}

.n_info_result table {
    border: 1px solid #ddd;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
    background-color: #ddd;
}

.el-table__expanded-cell[class*=cell] {
    background-color: #ecf7ff;
    /* box-shadow: -1px 0px 10px #d5dee4 inset; */
    box-shadow: inset 0px 10px 10px -10px #d5dee4, inset 0px -10px 10px -10px #d5dee4;
    text-align: left;
}

.el-form--inline .el-form-item__content {
    vertical-align: middle;
}

.el-form-item {
    margin-bottom: 0;
}

.el-form--inline {
    border-bottom: 1px solid #ddd;
}

.el-table__expanded-cell[class*=cell] .n_hide {
    border: none;
    text-align: center;
    color: #71c0f9;
}

.n_hide .el-form-item__label {
    color: #71c0f9;
}

    .n_hide .el-form-item__label span {
        display: inline-block;
        width: 11px;
        height: 7px;
        background: url(../imgs/n_top_arrow_blue.png) no-repeat;
    }

.n_hide, .el-form-item__label {
    cursor: pointer;
}

.el-form-item__label {
    padding-right: 6px;
}

.n_quto_table .el-form--inline .el-form-item__content, .n_quto_table .el-form--inline .el-form-item__label {
    color: #999;
}

.el-table__expanded-cell:hover {
    background-color: #ecf7ff !important;
}

.el-table__empty-block {
    border-left: 1px solid #ddd;
    /*border-left:none\9;*/
}

.el-form .el-form-item {
    margin-right: 30px;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: transparent;
}
.el-table--enable-row-hover .el-table__body tr:hover {
    background-color: #f5f7fa;
}

.el-table__header-wrapper{
    border-left:1px solid #ddd;
}












/* 实时汇率查询 */
.n_assist_rate_con {
    padding-top: 140px;
}

.n_rate_desc {
    margin-bottom: 0;
}

.n_rate_note {
    margin: 10px 0 60px;
}

    .n_rate_note p {
        font-size: 18px;
        color: #666;
    }

        .n_rate_note p a {
            color: #89ceff;
        }

.n_rate_result {
    width: 100%;
    height: 603px;
    background: url(../imgs/n_rate_pic.png) no-repeat 50% 50%;
    background-size: cover;
    padding-top: 65px;
}

.n_rate_table {
    width: 1052px;
    height: 507px;
    background-color: #fff;
    font-size: 12px;
    margin: 0 auto;
}

    .n_rate_table table {
        width: 953px;
        margin: 30px auto 0;
        border-collapse: collapse;
    }

        .n_rate_table table th,
        .n_rate_table table td {
            line-height: 38px;
        }

        .n_rate_table table tbody tr:nth-child(odd) {
            background-color: #f8f8f8;
        }

.n_rate_more {
    margin-top: 30px;
}

    .n_rate_more a {
        font-size: 18px;
        color: #89ceff;
    }

/* 费用计算 */
.n_fee_desc h3 {
    margin-bottom: 50px;
}

.n_fee_con {
    height: 650px;
    text-align: left;
}

.n_fee_left_form {
    width: 475px;
    height: 580px;
    background-color: #fff;
    padding: 35px 60px;
}

    .n_fee_left_form h4,
    .n_fee_right_form h4 {
        font-size: 18px;
        color: #0064cb;
        font-weight: normal;
        margin-bottom: 15px;
    }

.n_fee_input_mol {
    position: relative;
}

    .n_fee_input_mol p {
        font-size: 14px;
        margin-bottom: 7px;
    }

    .n_fee_input_mol .n_text {
        width: 448px;
        height: 37px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 14px;
        color:#666;
    }

    .n_fee_input_mol .n_text_error {
        border-color: #d10000;
    }

.n_fee_input_mol {
    margin-bottom: 18px;
}

.n_fee_btn_mol {
    margin-top: 25px;
}

    .n_fee_btn_mol button {
        width: 108px;
        height: 37px;
        line-height: 37px;
        color: #fff;
        text-align: center;
        background-color: #0064cb;
        cursor: pointer;
    }

        .n_fee_btn_mol button:nth-child(2) {
            background-color: #b1b1b1;
            margin-left: 35px;
        }

.n_fee_right_form {
    width: 475px;
    height: 580px;
    padding: 35px 60px;
    background-color: #0064cb;
    position: relative;
    color: #fff;
}

    .n_fee_right_form .n_fee_form_con {
        padding-bottom: 40px;
        border-bottom: 1px dashed #588bd6;
    }

.n_fee_arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 22px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -11px;
}

.n_fee_right_form p {
    color: #fff;
    font-weight: bold;
}

.n_fee_right_form h4 {
    color: #fff;
}

.n_fee_right_desc {
    margin-top: 16px;
}

    .n_fee_right_desc p {
        font-size: 12px;
        font-weight: normal;
        line-height: 20px;
    }

/* 表单的验证 */
.n_fee_input_mol .error {
    font-size: 12px;
    color: #d10000;
    position: absolute;
    top: 66px;
    left: 16px;
    background: url(../imgs/n_register_error.png) no-repeat 0 center;
    padding-left: 17px;
}

/* 下载中心 */

.n_download_con {
    width: 1070px;
    padding: 0 65px;
    text-align: left;
}

    .n_download_con .n_download_pic {
        margin-right: 65px;
    }

.n_download_docs li {
    width: 520px;
    padding: 22px 0 10px;
    border-bottom: 1px dashed #cacdd0;
}

    .n_download_docs li i {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #0064cb;
        vertical-align: middle;
        overflow: hidden;
        margin: 10px 10px 0 0;
    }

    .n_download_docs li .n_docs_name {
        display: inline-block;
        width: 302px;
        font-size: 18px;
    }

    .n_download_docs li a {
        color: #0064cb;
        margin-left: 40px;
    }
    .n_download_docs li a:hover{
        text-decoration:underline;
    }
/* 企业简介 */
.n_profile {
    line-height: 40px;
    text-indent: 2em;
    font-size: 18px;
}

.n_aboutus_mol {
    margin: 60px 0 20px;
}

.n_aboutus_title {
    font-size: 30px;
    text-align: center;
}

    .n_aboutus_title i {
        display: inline-block;
        width: 36px;
        height: 44px;
        background: url(../imgs/n_aboutus_profile.png) no-repeat;
        vertical-align: middle;
        overflow: hidden;
    }

.n_profile_m {
    margin: 35px auto 50px;
}

.n_profile_text {
    width: 454px;
}

.n_profile_m2 {
    width: 100%;
    height: 483px;
    background: url(../imgs/n_aboutus_profile_pic2.png) no-repeat 50% 50%;
    background-size: cover;
}

    .n_profile_m2 .wrapper {
        position: relative;
    }

.n_profile_text2 {
    width: 522px;
    height: 271px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 0;
    top: 80px;
    padding: 30px 68px;
}

/* 企业文化 */

.n_culture_title i {
    width: 43px;
    background-image: url(../imgs/n_aboutus_culture.png);
}



/* 企业文化轮播图 */

#picSlideWrap {
    margin-top: 30px;
}


.imgnav {
    width: 1200px;
    margin: 10px auto;
}

.imgnav {
    position: relative;
    margin: 0 auto;
    width: 1200px;
}

#img {
    z-index: 10;
    width: 800px;
    position: fixed;
    text-align: center;
    display: none;
    z-index: 1000;
    left: 50%;
    margin-left: -394px;
    top: 50%;
    margin-top: -304px;
}

    #img img {
        width: 800px;
        height: 600px;
        display: none;
        border: 4px solid #fff;
    }

.pngFix {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.n_culture_left {
    left: 10px;
    background: url(../imgs/n_culture_left.png) no-repeat;
}

.n_culture_right {
    right: 10px;
    background: url(../imgs/n_culture_right.png) no-repeat;
}

#cbtn {
    position: relative;
}

    #cbtn ul li {
        float: left;
        width: 320px;
        cursor: pointer;
        text-align: center;
        margin-right: 28px;
        position: relative;
        padding-bottom: 40px;
    }

        #cbtn ul li:last-child {
            margin-right: 0;
        }

        #cbtn ul li h5 {
            font-size: 18px;
            margin: 28px 0 8px;
        }

        #cbtn ul li p {
            color: #999;
        }

        #cbtn ul li img {
            display: block;
        }

#cSlideUl {
    width: 1200px;
    position: relative;
    top: 10px;
}

.n_hover_m {
    width: 320px;
    height: 320px;
    background-color: rgba(0, 100, 203, 0.8);
    color: #fff;
    text-align: center;
    line-height: 320px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.mask {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}

.n_culture_close {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../imgs/n_culture_close.png) no-repeat;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

/* 合作伙伴 */
.n_partner_mol {
    height: 926px;
    background: url(../imgs/n_mol_partner_bg2.png) no-repeat;
    padding: 54px 0 50px;
    text-align: center;
}
.n_partner_title{
    margin-bottom:45px;
}
.n_partner_title i {
    width: 47px;
    background-image: url(../imgs/n_aboutus_partner.png);
}

.n_partner_img {
    padding-top: 56px;
}

 .n_mol_3 .n_mol_title {
        margin-bottom: 20px;
    }
    .n_mol_partner_new h4{
        margin-bottom:22px;
    }
    .n_mol_partner_new li{
        float:left;
        width:190px;
        height:124px;
        background:#fff;
        text-align:center;
        margin:0 12px 12px 0;
        box-shadow:0 0 10px rgba(12,113,216,0.3);
       
    }
     .n_mol_partner_new li.nomargin{
         margin-right:0;
     }

/* 人才招聘 */
.n_differ_mid{
    width:expression(document.body.clientWidth <= 1000? "1000px": "auto"); 
    min-width:1200px;
}
.n_zhaopin {
    width: 100%;
    height: 597px;
    background: url(../imgs/n_join_zhaopin_bg.png) no-repeat 50%;
    background-size: cover;
    margin: 0;
    padding-top: 46px;
}

.n_zhaopin_title i {
    width: 40px;
    background-image: url(../imgs/n_join_zhaopin_icon.png);
}

.n_zhaopin_con .n_zhaopin_email {
    font-size: 22px;
    text-align: center;
    margin: 20px 0 30px;
}

.n_zhaopin_position {
    width: 420px;
    margin: 0 auto;
}

    .n_zhaopin_position li {
        width: 140px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        float: left;
        background-color: #fff;
        position: relative;
        cursor: pointer;
    }

        .n_zhaopin_position li.active {
            background-color: #0064cb;
            color: #fff;
        }

            .n_zhaopin_position li.active i {
                display: inline-block;
                width: 0;
                height: 0;
                border-width: 6px;
                border-style: solid;
                border-color: #0064cb transparent transparent transparent;
                position: absolute;
                bottom: -12px;
                left: 50%;
                margin-left: -3px;
            }

.n_zp_mod {
    width: 639px;
    height: 274px;
    background-color: #0064cb;
    color: #fff;
    margin: 24px auto 0;
    padding: 48px 58px;
    display: none;
}

    .n_zp_mod li {
        margin-bottom: 42px;
    }

        .n_zp_mod li h5 {
            font-size: 18px;
            height: 28px;
        }

            .n_zp_mod li h5 span {
                font-weight: normal;
            }

        .n_zp_mod li p {
            line-height: 26px;
            font-size: 16px;
        }

            .n_zp_mod li p .n_education {
                margin-left: 35px;
            }

/* 员工福利 */
.n_js_walfare {
    width: 100%;
    height: 487px;
    background: url(../imgs/n_joinus_walfare_bg.png) no-repeat 50% 50%;
    background-size: cover;
    text-align: center;
    padding-top: 95px;
}

/* 联系我们 */
.n_js_contact {
    width: 100%;
    height: 1380px;
    background: url(../imgs/n_js_contact_bg.png) no-repeat center bottom;
    background-size: cover;
    margin: 0;
}

.n_contact_title {
    padding-top: 80px;
}

    .n_contact_title i {
        width: 39px;
        height: 40px;
        background-image: url(../imgs/n_js_contact_phone.png);
    }

.n_contact_con {
    padding: 55px 30px;
    width: 1140px;
    margin: 0 auto;
}

    .n_contact_con li {
        float: left;
        margin: 0 70px 60px 0;
    }

        .n_contact_con li:nth-child(even) {
            margin-right: 0;
        }

.n_contact_address {
    width: 475px;
    padding: 0 25px;
    font-size: 18px;
    line-height: 38px;
    margin-top: 20px;
}

/* 意向留言 */
.n_js_msg {
    width: 100%;
    height: 504px;
    background: url(../imgs/n_js_msg_bg.png) no-repeat 50% 50%;
    background-size: cover;
    color: #fff;
    margin: 0;
}

.n_msg_con {
    padding: 0 135px;
    width: 930px;
    margin: 36px auto;
}

.n_msg_txt input {
    width: 256px;
    height: 48px;
    line-height: 48px;
    border-radius: 5px;
    padding: 0 18px;
    font-size: 18px;
    margin-right: 18px;
    color:#666;
}

    .n_msg_txt input:last-child {
        margin-right: 0;
    }

.n_msg_advice {
    margin: 18px 0 30px;
}

    .n_msg_advice textarea {
        width: 896px;
        height: 101px;
        border-radius: 5px;
        resize: none;
        padding: 10px;
    }

.n_msg_btn {
    text-align: center;
}

.n_msg_submit {
    width: 128px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #0064cb;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

    .n_msg_submit:hover {
        opacity: 0.8;
    }

/* 信息中心 */
.n_mid{
    width:expression(document.body.clientWidth <= 1000? "1000px": "auto"); 
    min-width:1200px;
}
.n_info_mid {
    background-color: #fff;
}

.n_info_select {
    width: 771px;
    margin-left: -385px;
}

    .n_info_select li i {
        background-image: url(../imgs/n_info_spirit.png);
    }

.n_info_con {
    padding-top: 100px;
}

    .n_info_con h4 {
        width: 1085px;
        margin: 0 auto;
        font-size: 30px;
        border-bottom: 1px solid #ccc;
        font-weight: normal;
        height: 44px;
    }

.n_info_news {
    width: 1120px;
    margin: 0 auto;
    padding-top: 15px;
}

    .n_info_news li {
        width: 1086px;
        margin: 15px auto 0;
        background-color: #fff;
        padding: 10px;
        height:160px;
        overflow:hidden;
    }

        .n_info_news li:hover {
            box-shadow: 3px 3px 14px rgba(0, 118, 240, 0.1);
        }

.n_info_news_details {
    width: 814px;
    margin-top: 16px;
}

    .n_info_news_details h3 {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
        line-height: 26px;
    }

.n_info_news_desc {
    line-height: 20px;
    color: #999;
    margin-bottom: 18px;
}
.n_info_news_desc li{
    width: auto;
}
.n_info_news_desc li:hover{
    box-shadow:none;
}
.n_info_news_details p {
    font-size: 12px;
    color: #666;
}

    .n_info_news_details p span {
        margin-right: 50px;
    }

/* 页码 */
.n_page {
    margin-top: 65px;
    text-align: center;
}

    .n_page a {
        display: inline-block;
        padding: 0 11px;
        border: 1px solid #ccc;
        height: 28px;
        line-height: 28px;
        margin: 0 4px;
    }

        .n_page a.active,
        .n_page a:hover {
            background-color: #0064cb;
            border-color: #0064cb;
            color: #fff;
        }

/* 信息详情 */
.n_news_header {
    height: 338px;
}

.n_news_mid {
    width: 995px;
    min-height: 793px;
    margin: 0 auto;
    padding-top: 42px;
}

.n_news_title {
    padding: 0 88px;
    text-align: center;
}

    .n_news_title h3 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 22px;
    }

    .n_news_title span {
        margin: 0 12px;
        font-size: 12px;
        color: #999;
    }

.n_news_img {
    text-align: center;
    margin: 36px 0;
}

.n_news_text {
    color: #666;
    line-height: 24px;
}

.n_news_link {
    padding: 0 36px;
}

    .n_news_link a {
        color: #666;
    }

.n_news_attachment {
    margin: 35px 0;
}

.n_news_link a:hover {
    color: #0064cb;
}


/*关于芯达通页面*/
 .n_aboutxdt_select li i {
        background-image: url(../imgs/n_aboutxdt_spirit.png);
}
.n_aboutxdt_profile{
    width:100%;
    width:expression(document.body.clientWidth <= 1000? "1000px": "auto"); 
    min-width:1200px;
    height:640px;
    padding-top:120px;
    background:url(../imgs/n_aboutxdt_new_bg1.png) no-repeat;
    background-size:cover;
}
.n_aboutxdt_text{
    font-size:18px;
    line-height:40px;
    padding: 0 25px;
    width: 1150px;
}
.n_aboutxdt_text2{
    margin-top:5px;
}
.n_aboutxdt_text .n_paragraph{
    text-indent:2em;
}
.n_aboutxdt_advantage{
    width:100%;
    width:expression(document.body.clientWidth <= 1000? "1000px": "auto"); 
    min-width:1200px;
    height:413px;
    padding-top:70px;
    background:url(../imgs/n_aboutxdt_new_bg2.png) no-repeat;
}
.n_aboutxdt_advantage h2{
    font-size:30px;
    font-weight:normal;
    margin:0 0 75px 22px;
}
.n_aboutxdt_advantage h2 i{
    display:inline-block;
    width:0;
    height:0;
    border: 22px solid #0064cb;
   border-color:transparent #0064cb transparent transparent;
   vertical-align:middle;
   margin-right:16px;
}
.n_aboutxdt_advantage ul{
    margin-left:50px;
}
.n_aboutxdt_advantage li{
    float:left;
    width:220px;
    height:203px;
    background:rgba(255,255,255,0.8);
    position:relative;
    padding:39px 22px 0;
    margin-right:10px;
}
.n_aboutxdt_advantage li .decoration{
    display:inline-block;
    width:119px;
    height:6px;
    background:#ff8c5f;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-59px;
}
.n_aboutxdt_advantage li h4{
    font-size:24px;
    color:#0064cb;
    text-align:center;
    margin-bottom:20px;
}
.n_aboutxdt_advantage li p{
    font-size:18px;
    color:#666;
    line-height:30px;
}

/*企业文化页面*/
.n_culture_items{
    padding:100px 0 66px;
}
.n_culture_items h2{
    font-size:30px;
    font-weight:normal;
    text-align:center;
    margin-bottom:58px;
}
.n_culture_items ul{
    margin-left:60px;
}
.n_culture_items li{
    width:270px;
    height:190px;
    float:left;
    text-align:center;
    border-right:1px solid #d9d9d9;
}
.n_culture_items li:last-child{
    border-right:none;
}
.n_culture_items li h4{
    font-size:20px;
}
.n_culture_items li h4{
    margin:24px 0 12px;
}
.n_culture_items li p{
    line-height:30px;
    color:#666;
    font-size:16px;
}

.n_culture_mol{
    height:476px;
    margin:0;
    padding-top:55px;
    background:url(../imgs/n_culture_bg.png) no-repeat;
}
#cbtn .n_culture_imgs ul li {
    background:#fff;
    padding-bottom:24px;
}

/*合作伙伴*/
.n_partner_mol_2{
    background:#f5fafe;
    height:808px;
    padding:110px 0 60px;
}









