
<template id="company" v-cloak>
    <div>
        @*子账号开始*@
        <div >
            <div >
                <ul class="BasicInfo" style="padding-left:30px;margin-top:38px;">
                    <li class="clearfix">
                        <div class=" cl">
                            <span class="label w150">公司名称：</span>
                            <em class="fl">{{ruleForm3.Company_Name}}</em>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class=" cl">
                            <span class="label w150">公司法人：</span>
                            <em class="fl">{{ruleForm3.Corporat}}</em>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class=" cl">
                            <span class="label w150">注册地址：</span>
                            <em class="fl">{{ruleForm3.AllAddress}}</em>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="cl">
                            <span class="label w150">海关编码：</span>
                            <em class="fl">{{ruleForm3.CustomsCode}}</em>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class=" cl">
                            <span class="label w150">统一社会信用代码：</span>
                            <em class="fl">{{ruleForm3.Code}}</em>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class=" cl">
                            <span class="label w150">联系人：</span>
                            <em class="fl">{{ruleForm3.Contacts}}</em>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class=" cl ">
                            <span class="label w150">手机号码：</span>
                            <em class="fl">{{ruleForm3.Contacts_Moblie}}</em>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class=" cl">
                            <span class="label w150">电话：</span>
                            <em class="fl">{{ruleForm3.Phone}}</em>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class=" cl">
                            <span class="label w150">传真：</span>
                            <em class="fl">{{ruleForm3.Fax}}</em>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class=" cl">
                            <span class="label w150">QQ：</span>
                            <em class="fl">{{ruleForm3.QQ}}</em>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        @*子账号结束*@
    </div>
    @*主账号结束*@
</template>

<script>
    Vue.component(
        'my-company',
        {
            template: "#company",
            data: function () {
                return {
                    ruleForm3: @Html.Raw(Json.Encode(Model)),
                };
            },
            methods: {

            }
        });
</script>
