@model WebMvc.Models.MyConsigneesViewModel
@{
    /**/

    ViewBag.Title = "收货地址";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.navid = "MyConsignees";
}

<div id="consignee" v-cloak class="backshow">
    <h2>收货地址</h2>
    <div class="mod-main mod-comm content">
        <div class="mt" v-if="isMain">
            <a class="e-btn add-btn btn-5" v-on:click="add_Consignee">新增收货地址</a>
            <span class="ftx-03">您已创建<span class="ftx-02">{{items.length}}</span>个收货地址，最多可创建<span class="ftx-02">20</span>个</span>
        </div>
        <div class="mc">
            <div class="sm easebuy-m" v-for="item of items">
                <div class="smt">
                    <div class="name">
                        {{item.Consignee}}
                        <span v-if="item.IsDefault" class="ftx-04 ml10">默认地址</span>
                    </div>
                    <div class="extra" v-if="isMain">
                        <a class="del-btn" v-on:click="del_Consignee(item.ID)">删除</a>
                    </div>
                </div>
                <div class="smc">
                    <div class="items new-items">
                        <div class="item-lcol">
                            <div class="item">
                                <span class="itemtitle">收货单位：</span>
                                <div class="itemvalue">
                                    {{item.Name}}
                                </div>
                            </div>
                            <div class="item">
                                <span class="itemtitle">
                                    收货人：
                                </span>

                                <div class="itemvalue">
                                    {{item.Consignee}}
                                </div>
                            </div>
                            <div class="item">
                                <span class="itemtitle">
                                    地址：
                                </span>
                                <div class="itemvalue">
                                    {{item.AllAddress}}
                                </div>
                            </div>
                            <div class="item">
                                <span class="itemtitle">手机：</span>
                                <div class="itemvalue">
                                    {{item.Mobile}}
                                </div>
                            </div>
                            <div class="item">
                                <span class="itemtitle">电子邮箱：</span>
                                <div class="itemvalue">
                                    {{item.Mail}}
                                </div>
                            </div>
                        </div>

                        <div class="flink" v-if="isMain">
                            <a v-if="!item.IsDefault" class="ml10 ftx-05" v-on:click="setDefault(item.ID)">设为默认</a>
                            <a class="ml10 ftx-05" v-on:click="edit_Consignee(item.ID)">编辑</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <el-dialog :title="dialogFormName" :lock-scroll="false" width="40%" :visible.sync="dialogFormVisible" v-on:close="dialog_Closed" :close-on-click-modal="false">
        <my-consignee ref="header"></my-consignee>
        <div slot="footer" class="dialog-footer" style="padding-right:20px;">
            <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" v-on:click="onSubmit_ruleForm('header')">确 定</el-button>
        </div>
    </el-dialog>
</div>
@{Html.RenderAction("_ParticalConsignee", "Account");}
<script>

    var consignee = new Vue({
        el: "#consignee",
        data: {
            dialogFormVisible:false,
            items: @Html.Raw(Json.Encode(Model.consignees)),
            isMain:@Html.Raw(Json.Encode(Model.IsMain)),
            dialogFormName: "",  //弹框名称
        },
        methods: {
            //删除地址
            del_Consignee: function (id) {
                this.$confirm('您确定要删除该收货地址吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    lockScroll:false,
                }).then(function(){
                    axios({
                        url: "/Account/DeleteConsignee",
                        method: "post",
                        data: {
                            id: id
                        }
                    }).then(function (res) {
                        consignee.handleMyConsigneesList(); //刷新列表
                        consignee.onAlert(res.data.type, res.data.msg);

                    }).catch(function (error) {
                        consignee.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                    });
                }).catch(function() {
                    //取消
                });
            },
            //设为默认地址
            setDefault: function (id) {
                axios({
                    url: "/Account/SetDefaultConsignee",
                    method: "post",
                    data: {
                        id:id
                    }
                }).then(function (res) {
                    consignee.handleMyConsigneesList(); //刷新列表
                    if (res.data.type == "error") {
                        consignee.onAlert(res.data.type, res.data.msg);
                    }
                }).catch(function (error) {
                    consignee.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                });
            },
            //弹框关闭后事件
            dialog_Closed: function () {
                 //初始化列表值
                consignee.$refs.header.$refs.form1.resetFields();
                consignee.$refs.header.$refs.form1.Address = [];
            },
            handleMyConsigneesList:  function () {
                var that = this;
                axios({
                    url: "/Account/GetMyConsigneesList",
                    method: "post",
                    data: {
                    }
                }).then(function (res) {
                    that.items = JSON.parse(res.data.data);
                }).catch(function (error) {
                    consignee.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                });
            },
            //新增收货地址
            add_Consignee: function () {
                if (this.items.length >= 20) {
                    consignee.onAlert("error", "最多只能新增20个收货地址！");
                    return;
                }
                consignee.dialogFormName = "新增收货地址";
                consignee.dialogFormVisible = true;
                setTimeout(function(){
                    consignee.$refs.header.$refs.form1.resetFields();
                    consignee.$refs.header.form1.Address = [];
                    consignee.$refs.header.form1.ID = "";
                }, 0);
            },
            //收货地址编辑
            edit_Consignee: function (id) {
                axios({
                    url: "/Account/GetConsigneesInfo",
                    method: "post",
                    data: {
                        id:id
                    }
                }).then(function (res) {
                    consignee.dialogFormName = "编辑收货地址";
                    consignee.dialogFormVisible = true;
                    setTimeout(function(){
                        consignee.$refs.header.$refs.form1.resetFields();
                        consignee.$refs.header.form1.Address = [];
                        consignee.$refs.header.form1 = JSON.parse(res.data.data);
                        console.log(consignee.$refs.header.form1)
                    }, 0)
                }).catch(function (error) {
                    consignee.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                });
            },
            onSubmit_ruleForm: function (header) {
                this.$refs.header.$refs.form1.validate(function(valid) {
                    if (valid) {
                        consignee.dialogFormVisible = false;
                        axios({
                            url: "/Account/_ParticalConsignee",
                            method: "post",
                            data: consignee.$refs.header.form1,
                        }).then(function (response) {
                            consignee.handleMyConsigneesList(); //刷新列表
                            consignee.onAlert(response.data.type, response.data.msg);
                        }).catch(function (error) {
                            consignee.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                        });
                    } else {
                        //验证失败
                    }
                });
            },
            //消息提示框
            onAlert: function (type, message) {
                this.$message({
                    message: message,
                    type: type
                });
            }
        }
    });
</script>

