/* tab style */
.tab_switch {
    border-bottom: 1px solid #eee;
    padding-left: 10px;
    margin-bottom: 15px;
}

    .tab_switch li {
        float: left;
        position: relative;
        margin-right: 10px;
        padding: 0 12px;
        height: 34px;
        line-height: 34px;
        border: 1px solid #eee;
        border-bottom: none;
    }

        .tab_switch li a {
            color: #333;
            display: block;
        }

            .tab_switch li a i {
                display: inline-block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                bottom: -1px;
                left: 0;
                display: none;
            }

            .tab_switch li.active a, .tab_switch li a:hover {
                color: #1796d9;
                font-weight: bold;
            }

                .tab_switch li.active a i {
                    display: inline-block;
                }
