<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--深圳芯达通库房-->
    <add key="SzWareHouseID" value="SZ01_XDT"/>
    <!--深圳芯达通内单出库时默认的承运商信息-->
    <add key="AutoDriver" value="李楠"/>
    <!--<add key="AutoVehicle" value="粤B8P1K1" />-->
    <add key="AutoVehicle" value=""/>
    <add key="AutoPhone" value="13418878120"/>
    <add key="OutAdminID" value="Admin0000000333"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="confirmDaysCount" value="7"/>
  </appSettings>
  <!--<connectionStrings>
      <add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="OverallsConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
    </connectionStrings>-->

  <connectionStrings>
    <add name="PvWmsConnectionString" connectionString="Data Source=121.89.195.124,1433;Initial Catalog=PvWms;Persist Security Info=True;User ID=sa;Password=fPkVxFwG*Udv;Application Name=chenhanceshi;MultipleActiveResultSets=true" />
    <add name="PvbErmConnectionString" connectionString="Data Source=121.89.195.124,1433;Initial Catalog=PvbErm;Persist Security Info=True;User ID=sa;Password=fPkVxFwG*Udv;Application Name=chenhanceshi" />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=121.89.195.124,1433;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=sa;Password=fPkVxFwG*Udv;Application Name=chenhanceshi" />
    <add name="PvbCrmConnectionString" connectionString="Data Source=121.89.195.124,1433;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=sa;Password=fPkVxFwG*Udv;Application Name=chenhanceshi" />
    <add name="PvCenterConnectionString" connectionString="Data Source=121.89.195.124,1433;Initial Catalog=PvCenter;Persist Security Info=True;User ID=sa;Password=fPkVxFwG*Udv;Application Name=chenhanceshi" />
    <add name="PvDataConnectionString" connectionString="Data Source=121.89.195.124,1433;Initial Catalog=PvData;Persist Security Info=True;User ID=sa;Password=fPkVxFwG*Udv;Application Name=chenhanceshi" />
    <add name="OverallsConnectionString" connectionString="Data Source=121.89.195.124,1433;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=sa;Password=fPkVxFwG*Udv;Application Name=chenhanceshi" />
    <add name="PvRouteConnectionString" connectionString="Data Source=121.89.195.124,1433;Initial Catalog=PvRoute;Persist Security Info=True;User ID=sa;Password=fPkVxFwG*Udv;Application Name=chenhanceshi" />
    <!--<add name="PvWmsConnectionString" connectionString="Data Source=.;Initial Catalog=PvWms;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Application Name=chenhanceshi;MultipleActiveResultSets=true"/>
    <add name="PvbErmConnectionString" connectionString="Data Source=.;Initial Catalog=PvbErm;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Application Name=chenhanceshi"/>
    <add name="PvWsOrderConnectionString" connectionString="Data Source=.;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Application Name=chenhanceshi"/>
    <add name="PvbCrmConnectionString" connectionString="Data Source=.;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Application Name=chenhanceshi"/>
    <add name="PvCenterConnectionString" connectionString="Data Source=.;Initial Catalog=PvCenter;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Application Name=chenhanceshi"/>
    <add name="PvDataConnectionString" connectionString="Data Source=.;Initial Catalog=PvData;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Application Name=chenhanceshi"/>
    <add name="OverallsConnectionString" connectionString="Data Source=.;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Application Name=chenhanceshi"/>
    <add name="PvRouteConnectionString" connectionString="Data Source=.;Initial Catalog=PvRoute;Persist Security Info=True;User ID=sa;Password=qwerasdf12;Application Name=chenhanceshi"/>-->
  </connectionStrings>

  <!--<connectionStrings>
        <add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="OverallsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
    </connectionStrings>-->

  <!--<connectionStrings>
    <add name="PvWmsConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvWms;Persist Security Info=True;User ID=udata;Password=Turing2019" />
    <add name="PvbErmConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvbErm;Persist Security Info=True;User ID=udata;Password=Turing2019" />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=udata;Password=Turing2019" />
    <add name="PvbCrmConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=udata;Password=Turing2019" />
    <add name="PvCenterConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvCenter;Persist Security Info=True;User ID=udata;Password=Turing2019" />
    <add name="PvDataConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvData;Persist Security Info=True;User ID=udata;Password=Turing2019" />
    <add name="OverallsConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=udata;Password=Turing2019" />
  </connectionStrings>-->

  <!--<connectionStrings>
    <add name="PvWmsConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="PvbErmConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="PvbCrmConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="PvCenterConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="PvDataConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="OverallsConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
