<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>芯达通供应链平台</title>
    <script src="~/Content/script/vue.min.js"></script>
    <script src="~/Content/script/vue-router.min.js"></script>
    <script src="~/Content/script/vuex.js"></script>
    <script src="~/Content/script/axios.min.js"></script>

    <link href="~/Content/css/element.css" rel="stylesheet" />
    <script src="~/Content/script/elementui.js"></script>

    <script src="~/Content/script/common.js"></script>
    <link href="~/Content/css/common.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="head">
        <div class="head_inner clearfix" style="padding-left: 100px;">
            <span class="title"><a href="/Notice/Log">日志</a></span>
            <span class="title"><a href="/Notice/DeliveryCompleteLog">同步Delivery日志</a></span>
            <span class="title"><a href="/Notice/Manual">手工发送通知</a></span>
            <span class="title"><a href="/Notice/Enum">查看枚举</a></span>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <style>
        .head {
            width: 100%;
            height: 36px;
            background: url(/Content/img/header_bg.png) repeat;
            padding-top: 8px;
        }

            .head .title a {
                color: aliceblue;
                font-size: 18px;
                margin-left: 30px;
            }
    </style>
</body>
</html>