<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="BvOverallsConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=BvOveralls;Persist Security Info=True;User ID=udata;Password=udata123"/>
        <add name="BvnErpConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=BvnErp;Persist Security Info=True;User ID=udata;Password=udata123"/>
        <add name="Bv3CrmConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=Bv3Crm;Persist Security Info=True;User ID=udata;Password=udata123"/>
        <add name="BvOrdersConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=BvOrders;Persist Security Info=True;User ID=udata;Password=udata123"/>
        <add name="BvSsoConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=Bvsso;Persist Security Info=True;User ID=udata;Password=udata123"/>
        <add name="BvOtherConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=BvOther;Persist Security Info=True;User ID=udata;Password=udata123"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
