body {
}

.checkbox + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 1em;
    height: 1em;
    margin-right: .2em;
    border-radius: .2em;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: .65;
}

.checkbox:checked + label::before {
    content: "\2713";
    background-color: #01cd78;
    color: white;
}

.checkbox {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}


