<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="BvTesterConnectionString" connectionString="Data Source=.;Initial Catalog=BvTester;Persist Security Info=True;User ID=sa;Password=sa"/>
    <add name="BvOverallsConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=BvOveralls;Persist Security Info=True;User ID=udata;Password=udata123"/>
    <add name="BvnErpConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=BvnErp;Persist Security Info=True;User ID=udata;Password=udata123"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
