
@{
    ViewBag.Title = "对账单详情";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>对账单</title>
    <link rel="stylesheet" href="~/Content/css/border.css">
    <link rel="stylesheet" href="~/Content/css/reset.css">
    <link rel="stylesheet" href="~/Content/css/element.css">
    <link rel="stylesheet" href="~/Content/css/mint-ui.css">
    <link rel="stylesheet" href="~/Content/css/index.css">
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/elementui.js"></script>
    <script src="~/Scripts/mint-ui.js"></script>
    <script src="~/Scripts/axios.min.js"></script>

    <style>
        .shuoming p {
            text-indent: -0.2rem;
            margin-left: 0.26rem;
        }

        .contents_laber p {
            height: auto;
            min-height: 30px;
        }
    </style>
</head>
<body>
    <div class="second_header">
        <a onClick="javascript :history.back(-1);"><span class="el-icon-arrow-left icon"></span></a>
        <div class="second_nav">
            <span class="header-title">对账单</span>
        </div>
    </div>
    <div id="Reconciliation" v-cloak>
        <p class="bag_biaoti">对账单(文件)</p>
        <p class="bag_biaoti_neirong">订单编号: {{form.OrderID}}</p>
        <p class="bag_biaoti_neirong">下单日期: {{form.CreateDate}}</p>
        <p class="bag_biaoti_neirong" v-if="fileUrl==null||fileUrl==''">对账单: 未上传</p>
        <div v-if="fileUrl!=null&&fileUrl!=''">
            <p class="bag_biaoti_neirong">
                对账单: &nbsp;
                <a :href="fileUrl" target="_blank">
                    <img style="width: 0.24rem; height: 0.28rem; display:inline-block;" src="~/Content/img/file_small.png" alt="">
                    {{fileName}} ({{fileStatus}})
                </a>
                <a v-if="!form.BillFileStatus" v-on:click="del_file" style="float: right; margin-right: 0.25rem;"><span>删除</span></a>
            </p>
        </div>

        <div class="shuoming">
            <h1>委托方及被委托方信息</h1>
            <p>委托方：{{form.User_name}}</p>
            <p>委托方电话：{{form.User_tel}}</p>
            <p>被委托方：{{form.AgentName}}</p>
            <p>被委托方电话：{{form.AgentTel}}</p>
            <p>订单编号：{{form.OrderID}}</p>
            <p v-if="form.ContractNO!='' && form.ContractNO!=null">合同编号：{{form.ContractNO}}</p>
            <p>实时汇率：{{form.RealExchangeRate}}&nbsp;&nbsp;&nbsp;&nbsp;海关汇率：{{form.CustomsExchangeRate}}</p>
        </div>

        <div class="Goods_detail_list">
            <p class="Goods_detail_title">账单</p>
            <ul class="ul_borders">
                <li v-for="(item,index) in productlist">
                    <div class="unconfirmed_tiele" v-on:click="showdetail(index)">
                        <div class="title_box">
                            <p>{{index+1}}</p>
                            <p>{{subStr(item.Model, 6)}}</p>
                            <p>数量: <span>{{item.Quantity}}</span></p>
                            <p>总价: <span class="tax_price">{{item.DeclarePrice}}</span></p>
                            <p>
                                <span v-if="icontrue==true&&showindex==index" class="order_icon el-icon-arrow-up"></span>
                                <span v-else class="order_icon el-icon-arrow-down"></span>
                            </p>
                        </div>
                    </div>
                    <div class="unconfirmed_contents" v-if="showindex==index">
                        <div class="showindex_back">
                            <div class="contents_laber">
                                <p>
                                    <span class="laber_name">报关品名</span>
                                    <span class="laber_contents">{{item.Name}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">规格型号</span>
                                    <span class="laber_contents">{{item.Model}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">数量</span>
                                    <span class="laber_contents">{{item.Quantity}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">报关单价({{form.Currency}})</span>
                                    <span class="laber_contents">{{item.UnitPrice}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">报关总价({{form.Currency}})</span>
                                    <span class="laber_contents">{{item.DeclarePrice}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">关税率</span>
                                    <span class="laber_contents">{{item.TariffRate}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">报关货值(CNY)</span>
                                    <span class="laber_contents">{{item.TotalCNYPrice}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">关税(CNY)</span>
                                    <span class="laber_contents">{{item.Traiff}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">增值税(CNY)</span>
                                    <span class="laber_contents">{{item.AddedValueTax}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">代理费(CNY)</span>
                                    <span class="laber_contents">{{item.AgencyFee}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">杂费(CNY)</span>
                                    <span class="laber_contents">{{item.IncidentalFee}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">税费合计(CNY)</span>
                                    <span class="laber_contents">{{item.TotalTax}}</span>
                                </p>
                                <p>
                                    <span class="laber_name">报关总金额(CNY)</span>
                                    <span class="laber_contents">{{item.TotalDeclarePrice}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="baoguan duizhang_baoguan">
                <div class="total">
                    <p class="title">合计</p>
                    <p>
                        <span class="laber_name">数量：</span>
                        <span class="laber_contents">{{form.SumQuantity}}</span>
                    </p>
                    <p>
                        <span class="laber_name">报关总价({{form.Currency}})：</span>
                        <span class="laber_contents">{{form.SumDeclarePrice}}</span>
                    </p>
                    <p>
                        <span class="laber_name">报关货值(CNY)：</span>
                        <span class="laber_contents">{{form.SumTotalCNYPrice}}</span>
                    </p>
                    <p>
                        <span class="laber_name">关税(CNY)：</span>
                        <span class="laber_contents">{{form.SumTraiff}}</span>
                    </p>
                    <p>
                        <span class="laber_name">增值税(CNY)：</span>
                        <span class="laber_contents">{{form.SumAddedValueTax}}</span>
                    </p>
                    <p>
                        <span class="laber_name">代理费(CNY)：</span>
                        <span class="laber_contents">{{form.SumAgencyFee}}</span>
                    </p>
                    <p>
                        <span class="laber_name">杂费(CNY)：</span>
                        <span class="laber_contents">{{form.SumIncidentalFee}}</span>
                    </p>
                    <p>
                        <span class="laber_name">税费合计(CNY)：</span>
                        <span class="laber_contents">{{form.SumTotalTax}}</span>
                    </p>
                    <p>
                        <span class="laber_name">报关总金额(CNY)：</span>
                        <span class="laber_contents">{{form.SumTotalDeclarePrice}}</span>
                    </p>
                </div>
                <div class="total_bottom">
                    <p class="baoguan_item"><span class="total_title">货值小计：</span><span>{{form.SumDeclarePrice}}({{form.Currency}})<br /><span class="item1">{{form.SumTotalCNYPrice}}(CNY)</span></span></p>
                    <p class="baoguan_item"><span>实际应收小计(CNY)：</span><span>{{form.SumTotalTax}}</span></p>
                    <p class="baoguan_item"><span>应收总额合计(CNY)：</span><span class="red_txt">{{form.SumTotalDeclarePrice}}</span></p>
                </div>

            </div>
            <div class="bar_color "></div>
        </div>

        <div class="shuoming">
            <h1>公司信息</h1>
            <p>公司名称：{{form.AgentName}}</p>
            <p>地址：{{form.AgentAddress}}</p><span></span>
            <p>公司电话：{{form.AgentTel}}</p>
            <p>传真：{{form.AgentFax}}</p>
        </div>

        <div class="shuoming">
            <h1>付款账户</h1>
            <div class="list_item">
                <span class="title">开户行及账号：</span>
                <span class="content">{{form.Account}}、{{form.AccountID}}</span>
            </div>
            <p>开户名：{{form.AgentName}}</p>
            <h1>备注</h1>
            <p v-if="!form.IsLoan">1.我司深圳市芯达通供应链管理有限公司为委托方代垫本金(0.00元)+关税({{form.SumTraiff}}元)+增值税({{form.SumAddedValueTax}}元)+代理费({{form.SumAgencyFee}}元)+杂费({{form.SumIncidentalFee}}元),共计应收人民币({{form.SumTotalTax}}元)，委托方需在({{form.DueDate}})前与我方结清所有欠款，逾期未结款的，按日加收万分之五的滞纳金。 </p>
            <p v-else>1.我司深圳市芯达通应链管理有限公司为委托方代垫本金({{form.SumTotalCNYPrice}}元)+关税({{form.SumTotalCNYPrice}}元)+增值税({{form.SumAddedValueTax}}元)+代理费({{form.SumAgencyFee}}元)+杂费({{form.SumIncidentalFee}}元),共计应收人民币({{form.SumTotalDeclarePrice}}元)，委托方需在({{form.DueDate}})前与我方结清所有欠款，逾期未结款的，按日加收万分之五的滞纳金。 </p>
            <p>2.客户在90天内完成付汇手续，付汇汇率为实际付汇当天的中国银行上午十点后的第一个现汇卖出价</p>
            <p>3.委托方应在收到帐单之日起二个工作日内签字和盖章确认回传。 </p>
            <p>4.此传真件、扫描件、复印件与原件具有同等法律效力。 </p>
            <p>5.如若对此帐单有发生争议的，双方应友好协商解决，如协商不成的，可通过被委托方所在地人民法院提起诉讼解决。</p>
        </div>
    </div>
</body>
</html>
<script>
    var bill = new Vue({
        el: "#Reconciliation",
        data: function () {
            return {
                showindex: -1, //商品明细
                icontrue: true, //商品明细图标
                cost_index: -1, //费用明细
                cost_icon: true, //费用明细图标

                form: @Html.Raw(Json.Encode(Model)),
                productlist:@Html.Raw(Json.Encode(Model.Productlist)),

                fileUrl: "",
                fileName: "",
                fileStatus: "未审核",
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                if (bill.form.BillFileUrl != "") {
                    bill.fileUrl = bill.form.BillFileUrl;
                    bill.fileName = bill.form.BillFileName;
                }
                if (this.form.BillFileStatus) {
                    this.fileStatus = "已审核";
                }
            });
        },
        methods: {
            // 显示对应的数据
            showdetail: function (index) {
                if (this.showindex == index) {
                    this.showindex = -1;
                    this.icontrue = false;
                } else {
                    this.showindex = index;
                    this.icontrue = true;
                }
            },
            cost_indexbtn: function (index) {
                if (this.cost_index == index) {
                    this.cost_index = -1;
                    this.cost_icon = false;
                } else {
                    this.cost_index = index;
                    this.cost_icon = true;
                }
            },
            del_file: function () {
                axios({
                    url: "/Order/DelBillFile",
                    method: "post",
                    data: {
                        id: bill.form.OrderID,
                    },
                }).then(function (response) {
                    if (response.data.type != "error") {
                        bill.fileUrl = "";
                        bill.fileName = "";
                    }

                    if (response.data.type == "success") {
                        bill.$toast({
                            message: response.data.msg,
                            iconClass: 'icon el-icon-check',
                            duration: 1000
                        });
                    } else {
                        bill.$toast({
                            message: response.data.msg,
                            iconClass: 'icon el-icon-close',
                            duration: 1000
                        });
                    }
                }).catch(function (error) {
                    bill.$toast({
                        message: '删除失败,系统发生错误',
                        iconClass: 'icon el-icon-close',
                        duration: 1000
                    });
                });
            },
            subStr(str, maxLen) {
                if (str.length <= maxLen) {
                    return str;
                } else {
                    return str.substr(0, maxLen) + "....";
                }
            },
        },
    })
</script>
