<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="warn"
      internalLogFile="logfiles/internal-nlog.txt">
	<targets>
		<target xsi:type="Null" name="blackhole" />
		<!--<target name="defaultlog" xsi:type="File" keepFileOpen="false" encoding="utf-8"
		        fileName="${basedir}/logs/${level}/${shortdate}.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />-->
		<target name="database" xsi:type="Database"
		        dbProvider="System.Data.SqlClient"
		        connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvFinance;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;">

			<commandText>
				insert into NLog (
				Application, Logged, Level, Message,
				Logger, CallSite, Exception
				) values (
				@Application, @Logged, @Level, @Message,
				@Logger, @Callsite, @Exception
				);
			</commandText>

			<parameter name="@application" layout="FinanceApiLog" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
	</targets>
	<rules>
		<!--<logger name="*" minlevel="trace" writeTo="defaultlog" />-->
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>