@{
	ViewData["Title"] = "华芯通-公司简介";
}

<div style="">


<div class="irAboutCompany">
	<div class="conCompany container">
		<div class="detail">
			<div class="wordcon" data-wow-delay="0.3s">
				<h6 class="title">华芯通供应链</h6>
				<div class="txt clamp">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳市华芯通供应链管理有限公司，一直专注于供应链物流领域，通过打造优秀的国际化物流平台，为客户提供端到端一站式智慧型供应链物流服务。<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司不仅为客户提供进口申报、出口申报、通关、本港仓储等物流业务，通过平台化、规模化服务，降低供应链物流成本，提升效率；也为客户提供货物运输、关务管理、仓储分拨等物流服务，通过个性化专业化的供应链物流解决方案，赋能客户供应链。<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资深进出口申报团队，为品牌提供全模式通关、舱单申报、跨境陆运、本地配送等一站式供应链解决方案；专业出纳服务人员，为进出口企业提供收汇结汇、代理退税、代理付汇等安全便捷的供应链金融服务。<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华芯通致力于打造：集进出口申报、货物通关、供应链金融、香港仓储于一体的一站式供应链管理服务平台。<br>
				</div>
			</div>
			<div class="imgbox" data-wow-delay="0.3s" style="margin-left: 30px; margin-top: 80px; visibility: visible; animation-delay: 0.3s;">
				<img src="~/hxt_img/company.jpg" class="imgfull" alt="" />
				
			</div>
		</div>
    </div>
</div>
<div class="wenhuabg">
    <div class="irculture container">
        <div class="title">
            <p>企业文化</p>
        </div>
        <div class="detail">
            <div class="kuai">
                <div class="biaoti">
                    <h5>宗旨</h5>
                </div>
                <em class="line"></em>
                <div class="neirong">
                    <span>诚信立足 </span>
                    <span>通商惠工</span>
                </div>

            </div>
            <div class="kuai">
                <div class="biaoti">
                    <h5>愿景</h5>
                </div>
                <em class="line"></em>
                <div class="neirong" style="padding-top: 30px;">
                    <p>致力于打造一流的<br />供应链管理服务平台</p>
                </div>
            </div>
            <div class="kuai">
                <div class="biaoti">
                    <h5>价值观</h5>
                </div>
                <em class="line"></em>
                <div class="neirong">
                    <span>责任 </span>
                    <span>进取 </span>
                    <span>合作 </span>
                    <span>共赢</span>
                </div>
            </div>
        </div>
    </div>


    <div class="irculture container">
        <div class="title">
            <p>企业优势</p>
        </div>
        <div class="detail">
            <div class="kuai">
                <div class="biaoti">
                    <h5>快速响应</h5>
                </div>
                <em class="line"></em>
                <div class="neirong">
                    <span>7*24小时 </span>
                    <span>人工在线</span>
                </div>

            </div>
            <div class="kuai">
                <div class="biaoti">
                    <h5>行业经验</h5>
                </div>
                <em class="line"></em>
                <div class="neirong">
                    <span>海关高级认证 </span>
                    <span>贸易安全认证 </span>
                </div>
            </div>
            <div class="kuai">
                <div class="biaoti">
                    <h5>专业团队</h5>
                </div>
                <em class="line"></em>
                <div class="neirong" style="padding-top: 30px;">
                     <p>深耕电子元器件行业<br />二十年余载</p>
                </div>
            </div>
        </div>
    </div


    
</div>

</div>