@{
    ViewData["Title"] = "芯通网";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="index-bg">
    <div style="padding-left:20%">
        <h1 style="padding: 16px 0;">深圳市华芯通供应链管理有限公司</h1>
        <p>专注于电子元器件行业进出口贸易、供应链物流、仓储、本港收发货</p>
    </div>
</div>