@{

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <div id="error">
        <div class="wrapper">
            <div class="error_display">
                <span>
                    您可以访问<a href="/Home/Index">芯达通首页</a>，了解更多报关信息
                </span>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var $windowHeight = $(window).height();
            $("#error").height($windowHeight)
        })
    </script>
</body>
</html>
