<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!--local,sql-->
		<add key="SettingsManager" value="local" />
		<!--standard api-->
		<add key="standardhost" value="http://standarddata0.ic360.cn" />
		<!--<add key="standardhost" value="http://standarddata.ic360.cn"/>-->
		<!--<add key="standardhost" value="http://pv.standard.api.cn"/>-->
		<!--Local,Debug-->
		<!--<add key="fixed" value="http://fixed2.b1b.com"/>-->
		<add key="fixed" value="http://fixed8.for-ic.net" />
		<!--Develop-->
		<!--<add key="fixed" value="http://fixed8.ic360.cn"/>-->
		<add key="fixedVersion" value="2021.06.11.1" />
		<!--自动化报价-->
		<add key="automatic" value="true" />

		<!-- 封账日 -->
		<add key="ClosedDay" value="10" />

		<!-- 微信相关 -->
		<add key="weixinAppID" value="wx84283c6f6bb6cdb7" />
		<add key="weixinAppSecret" value="b0f10231100be9a1447a2fbe09e5c57d" />
		<add key="weixinCallBackURI" value="http://sso.ic360.cn/js/w.aspx?b1bcallbacktype=ErpLocal" />

		<add key="uploaderPathRoot" value="" />
		<add key="uploaderUrlRoot" value="" />

	</appSettings>
	<!--开发库无法连接暂时用测试库-->
	<!--<connectionStrings>
        <add name="OverallsConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="HvRFQConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=HvRFQ;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvbCrmConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvbErmConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvbErm;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="VAERPConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=VAERP;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvWsOrderConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="ScCustomConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvDataConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvData;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvCenterConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvCenter;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvLsOrderConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvLsOrder;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvFinanceConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvFinance;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvdCrmConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvdCrm;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvWmsConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvWms;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvRouteConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PvRoute;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PsWmsConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PsWms;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PveCrmConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PveCrm;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PveCrm2ConnectionString" connectionString="Data Source=192.168.80.25,5311;Initial Catalog=PveCrm2;Persist Security Info=True;User ID=udata;Password=Turing2019" />
    </connectionStrings>-->
	<connectionStrings>
		<add name="OverallsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="HvRFQConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=HvRFQ;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="VAERPConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=VAERP;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="ScCustomConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<!--<add name="foricScCustomsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />-->
		<add name="foricScCustomsConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u149_v8site;Password=WH1g0LfN42o29HyS7fsqvuTMMh7wgOa6X798cshVI14ae1ylnta" />
		<add name="PvDataConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PvLsOrderConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvLsOrder;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PvFinanceConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvFinance;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PvRouteConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvRoute;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PsWmsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PsWms;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PvdCrmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvdCrm;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PveCrmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PveCrm;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PveCrm2ConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PveCrm2;Persist Security Info=True;User ID=u_v0;Password=Hh6xlGSp38X6LmNW2REh" />
		<add name="PveStandardConnectionString" connectionString="Data Source=.;Initial Catalog=PveStandard;Persist Security Info=True;User ID=sa;Password=123456"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.6" executionTimeout="180" maxRequestLength="10240" />
	</system.web>
	<!--为了实现单浏览器直接登录多个用户添加，由于已经决定使用泛解析方式开发放弃本方式：system.webServer-modules-->
	<!--  <system.webServer>
     <modules>
            <add name="PlatsUrlWriter" type="Yahv.Web.PlatsUrlWriter,Yahv.Web"/>
        </modules>
    </system.webServer>-->
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
    <system.webServer>
        <defaultDocument>ccc
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
