
@{
    ViewBag.SubTitle = "出库订单详情";
}

@{Html.RenderAction("StorageDetailOutBaseInfo", "Order");}
@{Html.RenderAction("StorageDetailOutSpecialRequire", "Order");}
@{Html.RenderAction("StorageDetailOutTransport", "Order");}
@{Html.RenderAction("StorageDetailOutCostInfo", "Order");}

<div id="storagedetailout" v-cloak class="order_detail">
    <div class="info_item_wrap">
        <span class="icon_img">1</span>
        <span class="title">订单基本信息</span>
    </div>
    <storagedetailoutbaseinfo ref="storagedetailoutbaseinfo"
                              v-bind:baseinfo="baseinfo"></storagedetailoutbaseinfo>

    <div class="info_item_wrap mt40">
        <span class="icon_img">2</span>
        <span class="title">特殊要求</span>
    </div>
    <storagedetailoutspecialrequire ref="storagedetailoutspecialrequire"
                                    v-bind:specialrequire="specialrequire"></storagedetailoutspecialrequire>

    <div class="info_item_wrap mt40">
        <span class="icon_img">3</span>
        <span class="title">货运信息</span>
    </div>
    <storagedetailouttransport ref="storagedetailouttransport"
                               v-bind:transport="transport"
                               v-bind:storagetransportinfo="storagetransportinfo"></storagedetailouttransport>

    <div class="info_item_wrap mt40">
        <span class="icon_img">4</span>
        <span class="title">费用信息</span>
    </div>
    <storagedetailoutcostinfo ref="storagedetailoutcostinfo"
                              v-bind:orderid="baseinfo.OrderID"></storagedetailoutcostinfo>
</div>
<script>
    var storagedetailin = new Vue({
        el: "#storagedetailout",
        data: function () {
            return {
                baseinfo: {
                    OrderID: '@(ViewBag.id)', //订单号
                    OrderItems: [], //订单项
                    AllPackageNumber: 0, //数量总和
                    AllItemTotal: 0, //总数总和
                },
                specialrequire: {
                    SpecialRequires: [], //特殊要求
                },
                transport: {
                    TransportModeInt: 0, //货运类型 Int
                    TransportModeName: '', //货运类型名称
                    DeliverTargetManShow: '', //送货地址联系人显示(快递)
                    DeliverTargetTelShow: '', //送货地址电话显示(快递)
                    DeliverTargetAddressShow: '', //送货地址地址显示(快递)
                    DeliverTargetMan2Show: '', //送货地址联系人显示(送货上门)
                    DeliverTargetTel2Show: '', //送货地址电话显示(送货上门)
                    DeliverTargetAddress2Show: '', //送货地址地址显示(送货上门)
                    ExpressCompanyShow: '', //快递公司显示
                    ExpressMethodShow: '', //快递方式显示
                    FreightPayInt: '', //运费支付 Int
                    FreightPayShow: '', //运费支付显示
                    ThirdParty: '', //月结账号显示
                    TakingDate: '', //提货时间
                    TakingMan: '', //提货人
                    TakingTel: '', //提货人电话
                    ProofTypeShow: '', //证件类型显示
                    ProofNumber: '' //证件号码
                },
                storagetransportinfo: {
                    IsHasValue: false,
                    TransportModeInt: 0, //货运类型
                    CarrierName: '', //承运商名称
                    WaybillCode: '', //运单号
                    ExpressPayerInt: 0, //支付方式 Int
                    ExpressPayerShow: '', //支付方式显示
                    ExpressTransportShow: '', //快递方式显示
                },
            }
        },
        methods: {

        },
        created: function () {
            //获取出库订单信息
            var that = this;
            axios.get('/Order/GetStorageDetailOut?OrderID=' + that.baseinfo.OrderID, { params: {} })
                .then(function (res) {
                    if (res.data.success == 200) {
                        that.baseinfo.OrderID = res.data.result.OrderID;
                        that.baseinfo.OrderItems = res.data.result.OrderItems;
                        that.baseinfo.AllPackageNumber = res.data.result.AllPackageNumber;
                        that.baseinfo.AllItemTotal = res.data.result.AllItemTotal;
                        that.specialrequire.SpecialRequires = res.data.result.SpecialRequires;
                        that.transport.TransportModeInt = res.data.result.TransportModeInt;
                        that.transport.TransportModeName = res.data.result.TransportModeName;
                        that.transport.DeliverTargetManShow = res.data.result.DeliverTargetManShow;
                        that.transport.DeliverTargetTelShow = res.data.result.DeliverTargetTelShow;
                        that.transport.DeliverTargetAddressShow = res.data.result.DeliverTargetAddressShow;
                        that.transport.DeliverTargetMan2Show = res.data.result.DeliverTargetMan2Show;
                        that.transport.DeliverTargetTel2Show = res.data.result.DeliverTargetTel2Show;
                        that.transport.DeliverTargetAddress2Show = res.data.result.DeliverTargetAddress2Show;
                        that.transport.ExpressCompanyShow = res.data.result.ExpressCompanyShow;
                        that.transport.ExpressMethodShow = res.data.result.ExpressMethodShow;
                        that.transport.FreightPayInt = res.data.result.FreightPayInt;
                        that.transport.FreightPayShow = res.data.result.FreightPayShow;
                        that.transport.ThirdParty = res.data.result.ThirdParty;
                        that.transport.TakingDate = res.data.result.TakingDate;
                        that.transport.TakingMan = res.data.result.TakingMan;
                        that.transport.TakingTel = res.data.result.TakingTel;
                        that.transport.ProofTypeShow = res.data.result.ProofTypeShow;
                        that.transport.ProofNumber = res.data.result.ProofNumber;
                        if (res.data.result.StorageTransportInfo != null) {
                            that.storagetransportinfo.IsHasValue = true;
                            that.storagetransportinfo.TransportModeInt = res.data.result.StorageTransportInfo.TransportModeInt;
                            that.storagetransportinfo.CarrierName = res.data.result.StorageTransportInfo.CarrierName;
                            that.storagetransportinfo.WaybillCode = res.data.result.StorageTransportInfo.WaybillCode;
                            that.storagetransportinfo.ExpressPayerInt = res.data.result.StorageTransportInfo.ExpressPayerInt;
                            that.storagetransportinfo.ExpressPayerShow = res.data.result.StorageTransportInfo.ExpressPayerShow;
                            that.storagetransportinfo.ExpressTransportShow = res.data.result.StorageTransportInfo.ExpressTransportShow;
                        }
                    }
                })
                .catch(function (err) {
                    console.log(err);
                });
        },
    });
</script>