/*清除默认样式*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
textarea,
table {
	font: 12px/1.5 Arial, Verdana, "微软雅黑";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

i,
address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
pre,
samp {
	font-family: courier new,courier, monospace,"微软雅黑";
}

small {
	font-size: 12px;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
legend {
	color: #000;
}
fieldset,
img {
	border: 0;
}
img{
	border: none;
}
button,
input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	color: #666;
}

input {
	border: none;
	font-family: "微软雅黑";
}
.clearfix {
    zoom:1;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.wjl_mb10{
	margin-bottom: 10px;
}
.wjl_mr0{
	margin-right: 0!important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #b2b2b2;
	font-family: "微软雅黑";
	font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #b2b2b2;
	font-family: "微软雅黑";
	font-size: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #b2b2b2;
	font-family: "微软雅黑";
	font-size: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #b2b2b2;
	font-family: "微软雅黑";
	font-size: 14px;
}
.placeholder{
	color: #b2b2b2;
	font-size: 14px;
}
/*去除ie上的x*/
input::-ms-clear{
	display: none;
}
input::-ms-reveal{
	display: none;
}
/*去除safair上的小图标*/
input:focus::-webkit-contacts-auto-fill-button{
    opacity: 0;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b2b2b2;
	font-family: "微软雅黑";
	font-size: 14px;
}
textarea.placeholder{
	color: #b2b2b2;
	font-family: "微软雅黑";
	font-size: 14px;
}
.sethover:hover {
    cursor:pointer;
}

html,body{
    width:100%;
    height: 100%;
  }
  input:-webkit-autofill { 
	-webkit-box-shadow: 0 0 0px 1000px white inset;
　　-webkit-text-fill-color: #333;
	} 