@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>芯达通供应链平台</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/n_common.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/n_register.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css" />
    <link href="~/Content/css/element.css" rel="stylesheet" />

    <script src="~/Content/script/vue.min.js"></script>
    <script src="~/Content/script/axios.min.js"></script>
    <script src="~/Content/script/elementui.js"></script>
    <script src="~/Content/script/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
</head>
<body>
    <!-- 头部 -->
    <div class="n_register_top">
        <div class="wrapper">
            <div class="left n_register_logo">
                <h1>
                    <a href="@(ViewBag.OfficialWebsite)"></a>
                </h1>
            </div>
            <p class="right n_register_phone">热线电话：400-833-8321</p>
        </div>
    </div>
    <!-- 中间部分 -->
    <div class="n_register_mid" id="login">
        <div class="wrapper">
            <!-- 登录 -->
            <div class="n_login_mod" style="padding-top: 45px;">
                <h3 style="margin-bottom: 35px;">账户登录</h3>
                <div class="n_login_input">
                    <div class="clearfix">
                        <span class="left">用户名:</span>
                        <input type="text" class="left" :class="{'n_login_error':userStatus}" v-model="UserName" v-on:blur="vertifyUser" />
                    </div>
                    <p class="n_login_error" v-show="userStatus" id="uservertify"></p>
                </div>
                <div class="n_login_input">
                    <div class="clearfix">
                        <span class="left">密码:</span>
                        <input type="password" class="left" :class="{'n_input_error':psdStatus}" v-model.trim="Password" v-on:blur="vertifyPsd" />
                    </div>
                    <p class="n_login_error" v-show="psdStatus" id="psdvertify"></p>
                </div>
                <div class="n_login_check">
                    <input type="checkbox" :class="{'selected':checkStatus}" v-on:click="selectCheck" />
                    <i>记住账号和密码</i>
                </div>
                <div class="n_login_button" style="margin-top: 23px;">
                    <button type="button" v-on:click="submitData">登录</button>
                </div>
                <!--<div class="clearfix n_login_link">
                    <a href="/ForgetPassword.html" class="left">忘记密码</a>
                    <a href="@(ViewBag.OfficialWebsite)/register.html" class="right">注册新用户</a>
                </div>-->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="n_register_bottom">
        <p>
            <span>禁限售规则 - 知识产权保护政策 - 隐私权政策 - 使用条款</span>
        </p>
        <p>
            <div style="display: flex; align-items: center; width: 392px; line-height: 30px; margin: 0 auto;">
                <span>©️2010-2020 北京创新在线 版权所有 |&nbsp;</span>
                <img src="/Content/img/gonganlogo.png" style="margin-top: -3px;" />
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030702003264" target="_blank" style="color: #333;">粤公网安备 44030702003264号</a>
            </div>
        </p>
        <p>
            <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" style="color: #333;">粤ICP备20066739号-3</a>
        </p>
    </div>
    <script>
        var login = new Vue({
            el: "#login",
            data: function () {
                return {
                    UserName: '',
                    Password: '',
                    RemberMe: false, //是否记住
                    ReturnUrl: null,

                    userStatus: false, //用户名填写是否不正确
                    psdStatus: false, //密码填写是否不正确
                    checkStatus: false, //记住账号和密码是否勾选状态
                }
            },
            computed: {

            },
            methods: {
                // 选中多选框
                selectCheck: function () {
                    this.checkStatus = !this.checkStatus;
                    this.RemberMe = this.checkStatus;
                },
                //验证用户名
                vertifyUser: function () {
                    if (this.UserName == "") {
                        this.userStatus = true;
                        $("#uservertify").stop().show().html("用户名不能为空");
                        return false;
                    } else {
                        this.userStatus = false;
                        $("#uservertify").stop().hide();
                        return true;
                    }
                },
                //验证密码
                vertifyPsd: function () {
                    if (this.Password == "") {
                        this.psdStatus = true;
                        $("#psdvertify").stop().show().html("密码不能为空");
                        return false;
                    } else {
                        this.psdStatus = false;
                        $("#psdvertify").stop().hide();
                        return true;
                    }
                },
                checkVal: function () {
                    if (this.vertifyUser() && this.vertifyPsd()) {
                        return true;
                    } else {
                        return false;
                    }
                },
                submitData: function () {
                    var that = this;
                    if (this.checkVal()) {
                        axios({
                            url: "/Home/Login",
                            method: "post",
                            data: {
                                UserName: that.UserName,
                                Password: that.Password,
                                RemberMe: that.RemberMe,
                                ReturnUrl: that.ReturnUrl,
                            },
                        }).then(function (response) {
                            if (response.data.type == "success") {
                                setTimeout(function () {
                                    if (that.ReturnUrl != null) {
                                        window.location.href = that.ReturnUrl;
                                    } else {
                                        window.location.href = "/Home/Index";
                                    }
                                }, 2);

                            } else {
                                that.onAlert("warning", "用户名或密码不正确！");
                            }
                        }).catch(function (error) {
                            that.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                        });
                    }
                },
                //消息提示框
                onAlert: function (type, message) {
                    this.$message({
                        message: message,
                        type: type,
                        offset: 300
                    });
                },
            },
            created: function () {

            },
        });
    </script>
</body>
</html>
