<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0"/>
        <add key="webpages:Enabled" value="false"/>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
        <!--深圳芯达通库房-->
        <add key="SzWareHouseID" value="SZ01_XDT" />
        <!--深圳芯达通内单出库时默认的承运商信息-->
        <add key="AutoDriver" value="李楠" />
        <!--<add key="AutoVehicle" value="粤B8P1K1" />-->
        <add key="AutoVehicle" value="" />
        <add key="AutoPhone" value="13418878120" />
        <add key="OutAdminID" value="Admin0000000333" />
        <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
        <add key="confirmDaysCount" value="7"/>
    </appSettings>
    <!--<connectionStrings>
      <add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
      <add name="OverallsConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
    </connectionStrings>-->

  <connectionStrings>
    <add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi;MultipleActiveResultSets=true" />
    <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi" />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi" />
    <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi" />
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi" />
    <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi" />
    <add name="OverallsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi" />
    <add name="PvRouteConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvRoute;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi" />
  </connectionStrings>

    <!--<connectionStrings>
        <add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
        <add name="OverallsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=u353s_wangzc;Password=RY9THg3EW9MiAg895Ocp" />
    </connectionStrings>-->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>