
/*公共样式开始*/
body,
h1,h2,h3,h4,h5,h6,
hr,p,blockquote,
dl,dt,dd,
ul,ol,li,
pre,form,fieldset,legend,
button,input,textarea,
table,thead,tbody,tr,th,td,
div,a,span {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Tahoma, "Microsoft YaHei", "Hiragino Sans GB", "SimHei", "SimSun";
	font-size: 12px;
	color: #323232;
    background:#ffffff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:normal
}
i,em {
	font-style: normal;
}

ul,ol,li {
	list-style: none;
}

a {
	text-decoration: none;
	background-color: transparent;
}

a:visited,a:active{
	background-color: transparent;
}

fieldset,
img,
button,
textarea,
input {
	border: 0;
}

input[type='text'],
input[type='password'],
button,
textarea,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
	outline: none;
}

button:disabled {
	cursor: not-allowed;
}
input,textarea,.btn,.input_list li .input_list_right input,.placeholder{
	font-family: "微软雅黑";
}

input,textarea{
	font-size: 14px;
}
/*  
 * 		::-webkit-     WebKit, Blink, Edge 
 * 		:-moz-         Mozilla Firefox 4 to 18
 * 		::-moz-        Mozilla Firefox 19+
 * 		::-ms-     	   Internet Explorer 10-11
 * 		.placeholder   jquery.placeholder兼容ie9以下（ie9以下没有placeholder） 
 * */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.placeholder{
	color: #B3B3B3;
	font-size: 14px;
}
/*去除ie上的x*/
input::-ms-clear{
	display: none;
}
input::-ms-reveal{
	display: none;
}
input:focus {
    border-color: #31b0f3;    
}
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
textarea.placeholder{
	color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}

.noselect{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn,
.suggestions-box{
  border-radius:6px; 
  -webkit-border-radius:6px;
  -moz-border-radius:6px;  
}
/*类似按钮样式开始*/
.btn {
	width: 276px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
}

.btn_line {
	width: 274px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ddd;
	background-color: #ffffff;
}

.btn_bg_gray2,
.btn_bg_blue,
.btn_bg_yellow {
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.btn_bg_gray {
	background-color: #e8e8e8;
}

.btn_bg_gray2 {
	background-color: #b3b3b3;
}

.btn_bg_blue {
	background-color: #31b0f3;
}

.btn_bg_yellow {
	background-color: #FAA613;
}

.btn_big {
	font-size: 16px;
}
/*长度为一半*/
.btn_half {
	width: 134px;
}
.btn_smsize {
    height: 22px;
    line-height: 22px;
    width: 88px;
}
/*类似按钮样式结束*/

.button {
    background:#FAA613;
    color:#ffffff;
    cursor:pointer;
}
.button:hover {
    background:#f86969;
}
.button.blue {
    background:#31b0f3;
    color:#ffffff;
    cursor:pointer;
}
.button.blue:hover {
    background:#0071bb;
}
.button:disabled {
    background: #b3b3b3!important;
    cursor: not-allowed!important;
}
.button.nohover:hover {
    background:#FAA613;
}

/*提示信息样式开始*/
.hint {
	font-size: 12px;
}
.hint:hover{
	text-decoration: underline;
}

.hint_yellow {
	color: #faa613;
}

.hint_blue {
	color: #31B0F3;
}
/*提示信息样式结束*/

/*vue防止出现{{}}，防止v-show的内容之类的出现*/
[v-cloak]{
	display: none;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
.w48 {
    width: 48px!important;
}
.w213 {
    width:213px!important;
}
.w1200 {
	width: 1200px;
	margin: 0 auto;
}

.pt19 {
	padding-top: 19px;
}

.pl35{
	padding-left: 35px!important;
}
.mb0 {
    margin-bottom: 0!important;
}
.mr0{
	margin-right: 0;
}
.mb10 {
    margin-bottom:10px;
}
.ml27 {
    margin-left:27px;
}
.pr20 {
    padding-right:20px;
}
.ml30 {
    margin-left:30px;
}
.mb20 {
    margin-bottom:20px;
}
.mb52 {
    margin-bottom:52px;
}
.pb66 {
    padding-bottom:66px;
}
.ml8 {
    margin-left:8px;
}
.ml28 {
    margin-left:28px;
}
.mb30 {
    margin-bottom:30px;
}
.mt40 {
    margin-top:40px;
}
.mt20 {
    margin-top: 20px !important;
}
.mb72 {
    margin-bottom:72px;
}
.ml48 {
    margin-left:48px!important;
}
.mb125 {
    margin-bottom:125px;
}
.mb110 {
    margin-bottom:110px;
}
.mb46 {
    margin-bottom:46px;
}
.mr32 {
    margin-right:32px;
}
.mb8 {
    margin-bottom:8px;
}
.mb6 {
    margin-bottom:6px;
}
.mb22 {
    margin-bottom:22px;
}
.w970 {
    width:970px;
}
.pl20 {
   padding-left:20px; 
}
.pt4 {
    padding-top:4px;
}
.pl15 {
    padding-left:15px!important;
}
.pl98 {
    padding-left: 98px !important;
}
.mr20 {
    margin-right:20px;
}
/*公共样式结束*/

/*头部样式开始*/
/*.header {
    height:108px;
}*/
#header {
	width: 100%;
	height: 108px;
	background-color: transparent;
	font-size: 16px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.header_top_box{
	width: 100%;
	height: 37px;
	border-bottom: 1px solid #efefef;
	background: #f7f7f7;
}
.header_top{
	height: 38px;
	line-height: 38px;
}
.header_top,.header_top a{
	color: #666666;
	font-size: 14px;
}
.header_top_left{
	float: left;
}
    .header_top_left .memeber_center{
        color:#faa613;
        font-weight:bold;
    }
    .header_top .header_top_left {
        float: left;
    }
.header_top .header_top_left a{
	height: 38px;
	line-height: 38px;
}
.header_top .header_top_left a.red {
	color: #f86969;
	margin-right: 20px;
}
.header_top ul{
	float: left;
}
.header_top ul li{
    position:relative;
	float: left;
	margin-right: 40px;
}
.header_top .header_top_left a:hover,
.header_top ul li a:hover,
.header_main .nav_item .nav_item_li .nav_item_ul a:hover,
.nav_item a:hover{
	color: #0071BB;
}
.iphone{
	float: right;
}
.iphone_title{
	float: left;
}
.iphone_number {
	float: left;
	font-size: 15px;
	font-weight: bold;
	color: #faa613;
	font-family: "times new roman";
}

.header_main{
    width:100%;
    height: 70px;
	background: #FFFFFF;
	border-bottom: 1px solid #e0dcdc;
}
.header_main .logo {
	width: 228px;
	height: 70px;
	float: left;
}
.header_main .logo a {
    display:block;
	margin-top: 14px;
    width: 228px;
	height: 46px;
    background:url('/Content/images/logo.png') no-repeat;    
}
.header_main nav,
.nav_item {
	float: left;
}
.nav_item .nav_item_li {
	position: relative;
	float: left;
	line-height: 70px;
	height: 70px;
	margin-right: 12px;
}
.nav_item .nav_item_li a {
	display: block;
	padding: 0 35px;
	color: #323232;
}
.nav_item .nav_item_li .nav_item_ul a {
	padding-left: 25px;
    padding-right: 0;
    color: #666666;
}
.nav_item.active {
	border: 1px solid #ddd;
	border-bottom: none;
	border-top: none;
}
.nav_item a {
	color: #333333;
}
.nav_item_icon {
    display: inline-block;
    margin-left: 6px;
    height: 6px;
    width: 10px;
    background: url(/Content/images/public.png) -200px -96px no-repeat;
    -moz-transition: all .3s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
li.firstli .nav_item_icon {
    height: 8px;
    width: 10px;
    background: url(/Content/images/la.png) no-repeat;
}
.nav_item_ul {
	position: absolute;
	top: 0;
	left: 1px;
    width: 110px;
	background-color: #FFFFFF;
	border-top: 0;
	margin-left: -1px;
	height: 0;
	-moz-transition: height .3s linear;
	-webkit-transition: height .3s linear;
	transition: height .3s linear;
	overflow: hidden;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
}
.nav_item_ul li {
	float: left;
	height: 30px;
	line-height: 30px;
}
.nav_item_li:hover .nav_item_ul1 {
	height: 169px;
	padding-bottom: 10px;
}
.nav_item_li:hover .nav_item_ul2 {
	height: 109px;
	padding-bottom: 10px;
}
.nav_item_li:hover .nav_item_ul li .nav_item_icon {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);/*IE 9 */
	-moz-transform: rotate(180deg);/*Firefox */
	-webkit-transform: rotate(180deg);/*Safari 和 Chrome */
	-o-transform: rotate(180deg);
}
.nav_item_ul li a {
	display: block;
	padding-left: 36px;
	font-size: 14px;
	color: #333333;
	height: 30px;
	line-height: 30px;
}
.nav_span {
	font-size: 16px;
	color: transparent;
	color: #0071BB;
}
.nav_item .nav_item_li a.applyServer,
.nav_item .nav_item_li a.login_btn{
	width: auto;
	line-height: 30px;
	height: 30px;
	margin-top: 20px;
}
.nav_item .nav_item_li a.applyServer {
	color: #ffffff;
	padding: 0 10px;
	margin-left: 29px;
}

.nav_item .nav_item_li a.login_btn {
	padding: 0 18px;
	color: #323232;
	border-color: #323232;
	margin-left: 76px;
    background: transparent;
    height:28px;
    line-height:28px;
}
.nav_item .nav_item_li a.login_btn:hover {
    color:#0071BB;
    border-color:#0071bb;
}
#header.nofixed{
	position: static;
}
.header_top_box.transport{
	background: rgba(247, 247, 247, .96);
}
.header_main.transport{
	background: rgba(255, 255, 255, .96);
}
.header_top ul li .nav_item_ul {
    width: 120px;
    height: 0;
    z-index: 1000;
    left: -15px;
}
.header_top ul li .nav_item_ul li {
   margin-right:0;     
}
.header_top ul li .nav_span {
    font-size:14px;
}
.header_top ul li .nav_item_ul li a {
    padding-left: 26px;
}
.header_top ul li:hover .nav_item_ul li .nav_item_icon {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);/*IE 9 */
	-moz-transform: rotate(180deg);/*Firefox */
	-webkit-transform: rotate(180deg);/*Safari 和 Chrome */
	-o-transform: rotate(180deg);
}
.header_top ul li:hover .nav_item_ul {
    height:134px;
}
/*头部样式结束*/


/*底部样式开始*/
.footer {
    height:412px;
}
footer {
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 412px;
    overflow: hidden;
    background: url(/Content/images/tab.png) center bottom no-repeat;
    background-color: #f7f7f7;
}
.footer-top {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -24px;
    width: 48px;
    height: 42px;
    background-color: transparent;
    cursor: pointer;
}
.footer-top i {
   display:block;
   width:48px;
   height:10px;
   background:url('/Content/images/tab-top.png') no-repeat;     
}
.footer-top span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #537ef7;
    padding-top: 10px;    
}
.footer-top:hover i {
     background:url('/Content/images/tab-top-yellow.png') no-repeat;    
}
.footer-top:hover span {
    color:#FAA613;    
}
.footer_content {
    width:1104px;
    margin:0 auto;
}
.footer_content ul {
    margin-top:80px;  
    height:auto;
    overflow:hidden;  
}
.footer_content ul li {
   position:relative;
   float:left;
   width:185px; 
   color:#ffffff;    
}
.footer_content ul li.w250{
  width:250px;      
}
.footer_content ul li.w194{
  width:194px;     
}
.footer_content ul li.w96{
  width:96px;      
}
.footer_content ul li i, 
.footer_content ul li a {
    display:inline-block;    
}
.footer_content ul li i {
    width:15px;
    height:1px;
    background:#ffffff;   
    margin-bottom:10px;
}
.footer_content ul li h3 {
    font-size:16px;
    margin-bottom:44px;
}
.footer_content ul li a {
    font-size:12px;
    color:#e5e5e5;
    margin-bottom:16px;
    cursor:pointer;
}
.footer_content ul li a:hover {
    color:#ffffff;
    text-decoration:underline;
}
.footer_content ul li a.mb0 {
    margin-bottom:0;
}
.footer_content ul li .line {
    position:absolute;
    width:1px;
    height:142px;
    background-color:#a2c7df;
    right:94px;
    top:17px;
}
.footer_QRCode,
.footer_QRCode img{
    width:96px;
    height:96px;
}
.footer_text {
    width:100%;
    position:absolute;
    color:#ccd0d7;
	text-align: center;
    bottom:32px;
}


/*底部样式结束*/

/*投诉建议*/
.suggestions,
.login{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,.5);
    z-index:105;
}
.suggestions-box {
    position:absolute;
    width:1070px;
    height:570px;
    top:50%;
    left:50%;
    margin-left:-535px;
    margin-top:-285px;
    background:#f7f7f7;
    overflow:hidden;
}
.suggestions-title {
    position:relative;
    height:48px;
    line-height:48px;
    background-color:#FAA613;
    color:#ffffff;
    text-align:center;
    font-size:18px;
}
.suggestions-title i,.login-close {
    position:absolute;
    display:block;
    width:16px;
    height:16px;
    right:20px;
    top:17px;
    background:url('/Content/images/us2.png') no-repeat;
    background-position: -175px -66px;
    cursor:pointer;
}
.suggestions-content {
    width:800px;
    height:auto;
    margin:0 auto;
    overflow:hidden;
}
.suggestions-content h1{
    margin-top:32px;
    margin-bottom:22px;
    line-height:24px;
    font-size:24px;
}
.suggestions-content h1 span {
    display:inline-block;
    margin-left:5px;
    color:#bbbbbb; 
    font-size:14px;
    vertical-align:baseline;  
}
.suggestions-style {
    margin-bottom:16px;
}

.suggestions-style span,
.suggestions-style em,
.suggestions-input input,
.suggestions-input span,
.login-right-text span {
    display:inline-block;
    vertical-align:middle;   
}
.suggestions-style span,
.suggestions-style em{
    font-size:14px;
    line-height:20px;
    color:#666666;
}
.suggestions-style em {
    color:#999999;
    margin-right:26px;
    margin-left:2px;
}
.suggestions-text {
    color:#FAA613;
    font-size:16px;
    margin-bottom:36px;
}
.suggestions-textarea {
    margin-bottom:22px;
}
.suggestions-textarea p{
    font-size:16px;
    color:#666666;
    margin-bottom:14px;
}

.suggestions-textarea textarea{
    width: 734px;
    height:110px;
    border:1px solid #ddd;
    text-indent: 10px;
    line-height: 24px;
    padding:10px 10px;
    resize: none;
}
.suggestions-input {
    margin-bottom:45px;
}
.suggestions-input span {
    font-size:14px;
    color:#666666;
    margin-right:22px;
}
.suggestions-input input{
    margin-right:44px;
    text-indent:8px;
    height:24px;
    line-height:24px;
    border: 1px solid #ddd;
}
.suggestions-textarea textarea:focus,
.suggestions-input input:focus {
   border-color: #31b0f3;  
}
.suggestions-button {
    width:100%;
    height:36px;
    overflow:hidden;
    text-align:center;
}
.suggestions-button button {
    width:126px;
    height:36px;
}
.gray {
    background:#f7f7f7;
}
.white {
    background:#ffffff;
}

/*登录页面开始*/
.login-box {
    position:absolute;
    top:50%;
    left:50%;
    width:766px;
    height:470px;
    margin-left:-383px;
    margin-top:-235px;
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    background:#ffffff;
}
.login-left {
    float:left;
    width:456px;
    height:470px;
}
.login_content_a:hover,
.login_operation a:hover {
	text-decoration: underline;
}
.login_operation input[type='checkbox'],
.login_operation label {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.login_content,.login_error_hint{
	border-radius: 6px;
	-moz-border-radius: 6px;
}

.login_content {
	position: relative;
	width: 276px;
	height: 340px;
	background-color: #FFFFFF;
    margin: 0 auto;
}
.login_content h1 {
	font-weight: 500;
    margin-top:50px;
    text-align:center;
    font-size:26px;
}
.login_error_hint {
	width: 200px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 9px;
    background-color: #ffffff;
}
.login_error_hint.active {
	background-color: #ff7e7e;
}
.login_content_a {
	float: right;
	margin-top: 21px;
	margin-bottom: 9px;
	color: #faa613;
}
.login_operation {
	padding-top: 18px;
	padding-bottom: 26px;
}
.login_operation a {
	float: right;
	color: #31b0f3;
}
.login_icon_left {
	float: left;
	width: 36px;
	padding-left: 12px;
}
.login_icon_left i,
.login_icon_right i,
.login_operation i,
.slider>i,
.slider_error_icon{
	background: url(/Content/images/public.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.login_operation i {
	cursor: pointer;
}
.login_operation i.checked_no {
	height: 14px;
	width: 14px;
	background-position: -246px -101px;
}
.login_operation i.checked_yes {
	height: 14px;
	width: 14px;
	background-position: -264px -101px;
}
.login_icon_left i.login_user {
	height: 20px;
	width: 18px;
	background-position: 0 -95px;
}
.login_icon_left i.login_psd {
	height: 20px;
	width: 20px;
	background-position: -25px -96px;
}
.login_icon_right {
	float: right;
	width: 14px;
	padding-right: 12px;
}
.login_icon_right i {
	height: 10px;
	width: 14px;
	background-position: -200px -80px;
	cursor: pointer;
}
.sliderImg{
	display: none;
	position: absolute;
	width: 276px;
	height: 126px;
	background: url(/Content/images/sliderBg0.png);
	top: 78px;
    left: 0px;
    z-index:3;
}
.sliderSmImg{
	position: absolute;
	width: 52px;
	height: 52px;
	background: url(/Content/images/sliderSm0.png) no-repeat;
    top: 71px;
    left: 10px;
    z-index:10;
}
/*滑块样式*/
#box {
	position: relative;
}
.bgColor {
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 36px;
	background-color: #faa613;
	color: #FFFFFF;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	z-index:10;
}
.txt {
	position: absolute;
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #666666;
    text-align: center;
}
.slider_error_icon{
	display: none;
	float: left;
	height:14px;width:14px;background-position:-218px -100px;
	margin-right: 5px;
    margin-left: 106px;;
    margin-top: 11px;
}
.txt_span{
	float: right;
	margin-right: 46px;
}
.txt_span.error{
	margin-right: 80px;
    color: #ea4141;
}
.slider {
	position: absolute;
	left: 0;
	top: 0px;
	height: 36px;
	width: 56px;
	margin-right: 20px;
	cursor: move;
	background: #e8e8e8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	z-index:20;
	border:0;
	overflow: hidden;
}
.slider>i {
    display: block;
    margin-top: 2px;
	height: 32px;
	width: 54px;
	background-position: -217px -65px;
	margin-left: 2px;
}
.slider.active>i {
	background-position: -137px -79px;
}

.login-right {
    width:310px;
    height:470px;
    float:left;
    background:url(/Content/images/sign-in.png) no-repeat;
}
.login-right-img,
.login-right-img img {
    display:block;
    width:168px;
    height:168px;
}
.login-right-img {
    margin: 120px auto 26px auto;
}
.login-right-text {
    text-align:center;
    margin-bottom:8px;
}
.login-right-text span {
   margin-right:8px;
   font-size:16px;
   color:#ffffff;  
   line-height:16px;   
}
.login-right-text .text-line {
    width:35px;
    height:1px;
    background:#ffffff;
}
.login-right p {
    text-align:center;
    color:#ffffff;
    line-height:12px;
}
.login-noAccount {
    font-size:12px;
    color:#999999;
    margin-top:20px;
    text-align:center;
    line-height:12px;
}
.login-noAccount a {
    color:#faa613;
}
.login-noAccount a:hover {
    color: #0071bb;
    text-decoration: underline;
}
.btn.focus{
	border-color: #31B0F3;
}
/*登录页面结束*/