#aboutus,
#contactus,
#Recruitment,
#download,
#FAQ,
#RegistGuide,
#AccountSecurity,
#NoticeSection,
#service {
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    margin-top: 108px;
}

/* 关于我们开始*/
.us-title {
    width: 100%;
    background: url(/Content/images/us-bg1.png) center center no-repeat;
    height: 492px;
    overflow: hidden;
}
.us-title-text {
    width: 590px;
    margin: 0 auto;
    height: 75px;
    margin-top: 184px;
    background: url(/Content/images/us-line.png) center center no-repeat;
    color:#ffffff;
    text-align:center;
}
.us-title-text h1 {
    position: relative;
    top: -18px;
    line-height: 38px;  
}
.us-title-text h1 span,
.AccSecContent-opera span,
.AccSecContent-opera i,
.map-right-content .map-right-location i,
.map-right-content .map-right-location span,
.contactus-content-msg .msg-right p i,
.contactus-content-msg .msg-right p span,
.download-data-box tr td a i,
#Query .Query-hint i,
#Query .Query-hint span,
.content-boxShadow span,
.content-boxShadow em
 {
    display:inline-block;
    vertical-align:middle;    
}
.us-title-text h1 .us-title-text-en {
     font-size:28px;
     font-weight:lighter; 
     margin-right:10px;  
}
.us-title-text h1 .us-title-text-ch {
    font-size:36px; 
    font-weight:bold; 
}
#aboutus .us-title-text {
    width:521px;
    background-position: 0 0;
}
.abouts-company-box, .abouts-customer-box {
    height: auto;
    overflow: hidden;
}
.abouts-company-box {
    background: #FFFFFF;
    padding-top: 72px;
}
.el-button--warning {
    border-color: #FAA613 !important;
    background-color: #FAA613 !important;
}

.el-button--warning :active {
    border-color: #FAA613 !important;
    background-color: #FAA613 !important;
}

.el-button--warning :hover {
    border-color: #FAA613 !important;
    background-color: #FAA613 !important;
}

.abouts-company {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 162px;
}
.h2 .h2_line {
    width: 87px;
    height: 2px;
    background: #778493;
    margin-bottom: 36px;
}
.h2 h2 {
    position:relative;
    font-size: 28px;
    line-height:28px;
    margin-bottom: 40px;
    color:#323232;
}
.h2 h2.graycolor {
    color: #F7F7F7;
}
.h2 h2 span {
    position:absolute;
    left:0;
    top:0;
    color: #323232;
}
.us-text, 
.Recruitment-content-jobInfo-msg ol li,
.service-content p {
    font-size: 14px;
    line-height: 30px;
    color: #666666;
}
.abouts-company-left {
    width: 410px;
    float: left;
    overflow: hidden;
}
.abouts-company-right {
    float: right;
    width: 498px;
    height: 629px;
    background: url(/Content/images/company.png) no-repeat;
}
.abouts-company-fixed {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 832px;
    height: 172px;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(217,212,212,.8);
    -webkit-box-shadow: 0 0 10px rgba(217,212,212,.8);
    -moz-box-shadow: 0 0 10px rgba(217,212,212,.8);
}
.proxy {
    width: 100%;
}
.proxy li {
    float: left;
    width: 25%;
    padding: 50px 0 32px 0;
    text-align: center;
    font-size: 16px;
    -moz-transition: padding-top .3s linear;
	-webkit-transition: padding-top .3s linear;
	transition: padding-top .3s linear;
}
.proxy li a {
    width: 206px;
    display: block;
    float: left;
    color: #323232;
    text-align: center;
}
.proxy li .proxy_line {
    float: right;
    width: 2px;
    height: 71px;
    background: #f4f4f4;
    -moz-transition: margin-top .3s linear;
    -webkit-transition: margin-top .3s linear;
    transition: margin-top .3s linear;
}
.proxy li a .proxy_img,
.contactus-content-msg .msg-right p i,
.map-right-content .map-right-location i,
.download-data-box tr td a i {
   background: url(/Content/images/us2.png) no-repeat; 
}
.proxy li a .proxy_img {
    width: 58px;
    height: 52px;
    margin: 0 auto;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.proxy li a .proxy_img.proxy_img1 {
   background-position:0 0;
}
.proxy li a .proxy_img.proxy_img2 {
    background-position:-216px 0;
}
.proxy li a .proxy_img.proxy_img3 {
    background-position:-144px 0;
}
.proxy li a .proxy_img.proxy_img4 {
    background-position:-72px 0;
}
.proxy li:hover {
    padding-top: 20px;
}
.proxy li:hover .proxy_line {
    margin-top: 30px;
}
.h2_center {
    text-align: center;
}
.h2_center .h2_line {
    margin: 0 auto;
    margin-bottom: 28px;
}
.h2_center h2 {
    font-size: 28px;
    margin-bottom: 12px;
}
.h2_center p {
    font-size: 14px;
    color: #b3b3b3;
}
.abouts-customer-box {
    background: #f3f7fa;
    padding-top: 20px;
}
.abouts-customer {
    width: 1000px;
    margin: 0 auto;
}
.abouts-customer-content,
.abouts-company-fixed,
.abouts-customer-content li .custImg,
.contactus-content-msg,
.content-boxShadow{
  border-radius:6px; 
  -webkit-border-radius:6px;
  -moz-border-radius:6px;  
  background:#ffffff;
}
.abouts-customer-content {
    width: 1000px;
    height: 270px;
    border-top: 2px solid #e8eff4;
    border-left: 2px solid #e8eff4;
    margin-top: 40px;
    margin-bottom: 86px;
}
.abouts-customer-content li {
    width: 198px;
    height: 88px;
    float: left;
    border-bottom: 2px solid #e8eff4;
    border-right: 2px solid #e8eff4;
    
}
.abouts-customer-content li .custImg {
    width: 198px;
    height: 88px;
    -moz-transition: transform 0.25s ease;
    -webkit-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
    text-align:center;
    line-height:88px;
}
.abouts-customer-content li:hover .custImg{
    transform: scale(1.04,1.04);
    -ms-transform: scale(1.04,1.04);
    -moz-transform: scale(1.04,1.04);
    -webkit-transform: scale(1.04,1.04);
    -o-transform: scale(1.04,1.04);
    box-shadow: 0 0 12px rgba(153,153,153,.3);
    -webkit-box-shadow: 0 0 12px rgba(153,153,153,.3);
    -moz-box-shadow: 0 0 12px rgba(153,153,153,.3);
}
.abouts-customer-content li .custImg img  {
    transform: scale(.9,.9);
    -ms-transform: scale(.9,.9);	/* IE 9 */
    -moz-transform: scale(.9,.9);	/* Firefox */
    -webkit-transform: scale(.9,.9); /* Safari 和 Chrome */
    -o-transform: scale(.9,.9);
    vertical-align:middle;
    -moz-transition: transform 0.25s ease;
    -webkit-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
}
.abouts-customer-content li:hover .custImg img {
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
.abouts-idea-box {
    background: #ffffff;
    padding-top: 72px;
    padding-bottom: 114px;
}
.abouts-idea .us-text {
    width: 870px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
/* 关于我们结束*/


/*联系我们开始*/
#contactus .us-title {
    background-image: url(/Content/images/us-bg2.png);
}
#contactus .us-title-text {
    width:553px;
    background-position: 0 -80px;
}

#contactus .h2_center,
#Recruitment .h2_center {
    padding: 72px 0 50px 0;
    background: #ffffff;
}

.contactus-content {
    height: 1560px;
    overflow: hidden;
    background: url(/Content/images/map-background.png) top center no-repeat;
}

.contactus-content-map {
    width: 940px;
    height: 130px;
    margin: 0 auto;
    margin-top: 67px;
    background-color: transparent;
}

.contactus-content-map .map-left,
.contactus-content-map .map-right {
    float: left;
    height: 130px;
}

.contactus-content-map .map-left {
    width: 440px;
}

.contactus-content-map .map-left .circle-box {
    position: relative;
    overflow: hidden;
    float: right;
    width: 120px;
    height: 120px;
    margin-right: 43px;
    margin-top: 10px;
}

.circle-box .circle-small,
.circle-box .circle-middle,
.circle-box .circle-big {
    position: absolute;
    left: 50%;
    top: 50%;
}

.circle-box .circle-small,
.circle-box .circle-middle,
.circle-box .circle-big {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 16px;
}

.circle-box .circle-small {
    z-index: 3;
    background-color: rgba(160,105,255,.8);
}

.circle-box .circle-middle {
    z-index: 2;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 0 20px rgba(168,167,167,.3);
    -webkit-box-shadow: 0 0 20px rgba(168,167,167,.3);
    -moz-box-shadow: 0 0 20px rgba(168,167,167,.3);
    animation: middle 1.6s linear infinite;
}

.circle-box .circle-big {
    z-index: 1;
    background-color: rgba(255,255,255,.5);
    animation: big 1.6s linear infinite;
}

@-webkit-keyframes middle {
    0% {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        margin-left: -8px;
        margin-top: -8px;
    }
    50% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }
    100% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }
}

@-moz-keyframes middle {
    0% {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        margin-left: -8px;
        margin-top: -8px;
    }
    50% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }

    100% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }
}

@-ms-keyframes middle {
    0% {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        margin-left: -8px;
        margin-top: -8px;
    }
    50% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }
    100% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }
}

@keyframes middle {
    0% {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        margin-left: -8px;
        margin-top: -8px;
    }
    50% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }
    100% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }
}

@-webkit-keyframes big {
    0% {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        margin-left: -8px;
        margin-top: -8px;
    }

    50% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }

    100% {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        margin-left: -60px;
        margin-top: -60px;
    }
}

@-moz-keyframes big {
    0% {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        margin-left: -8px;
        margin-top: -8px;
    }

    50% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }

    100% {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        margin-left: -60px;
        margin-top: -60px;
    }
}

@-ms-keyframes big {
    0% {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        margin-left: -8px;
        margin-top: -8px;
    }

    50% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }

    100% {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        margin-left: -60px;
        margin-top: -60px;
    }
}

@keyframes big {
    0% {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        margin-left: -8px;
        margin-top: -8px;
    }

    50% {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: -35px;
        margin-top: -35px;
    }

    100% {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        margin-left: -60px;
        margin-top: -60px;
    }
}


.contactus-content-map .map-right {
    width: 500px;
}

.contactus-content-map .map-right .img {
    float: left;
    width: 131px;
    height: 130px;
    background: url('/Content/images/jianzhu.png') right bottom no-repeat;
    background-size: 57.25%;
    -moz-transition: background-size .3s linear;
    -webkit-transition: background-size .3s linear;
    transition: background-size .3s linear;
}

.contactus-content-map .map-right .img:hover {
    background-size: 68%;
}

.contactus-content-map .map-right .map-right-content {
    float: left;
    padding: 34px 0 0 32px;
}

.map-right-content p {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 14px;
}

.map-right-content .map-right-location i {
    width: 13px;
    height: 18px;
    background-position:-126px -64px;
    margin-right: 10px;
}

.map-right-content .map-right-location span {
    color: #31b0f3;
    font-size: 14px;
}

.contactus-content-msg {
    width: 680px;
    height: auto;
    overflow: hidden;
    background: url("/Content/images/map.png") top right #ffffff;
    background-size: 64.57%;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 72px;
    box-shadow: 0px 2px 4px rgba(35, 35, 35, .1);
    -webkit-box-shadow: 0px 2px 4px rgba(35, 35, 35, .1);
    -moz-box-shadow: 0px 2px 4px rgba(35, 35, 35, .1);
    padding: 0 130px;
    padding-top: 80px;
    color: #323232;
    -moz-transition: background-size .3s linear;
    -webkit-transition: background-size .3s linear;
    transition: background-size .3s linear;
}

.contactus-content-msg:hover {
    background-size: 71%;
}

.contactus-content-msg .how {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 20px;
}

.contactus-content-msg h1 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 34px;
}

.contactus-content-msg .how-line {
    width: 60px;
    height: 2px;
    background-color: #83a3f7;
    margin-bottom: 40px;
}

.contactus-content-msg ul li {
    margin-bottom: 70px;
}

.contactus-content-msg .msg-left,
.contactus-content-msg .msg-right {
    float: left;
}

.contactus-content-msg .msg-left{
    position:relative;
    width: 100px;
    height: 30px;
    overflow:hidden;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    background: url("/Content/images/fangkuai.png") no-repeat;
    margin-right: 180px;
}
.msg-left .light {
    position:absolute;
    width:60px;
    height:44px;
    top: -12px;
    left:-60px;
    background:url('/Content/images/guang.png') no-repeat;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.contactus-content-msg .msg-left:hover .light {
    left:102px;    
}

.contactus-content-msg .msg-right {
    font-size: 18px;
    margin-bottom: 24px;
}

.contactus-content-msg .msg-right p {
    margin-bottom: 14px;
}

.contactus-content-msg .msg-right p i {
    width:20px;
    height:20px;
    margin-right:8px;
}

.contactus-content-msg .msg-right p i.i1 {
     background-position:-62px -64px;   
}
.contactus-content-msg .msg-right p i.i2 {
     background-position: -98px -64px;  
}
.contactus-content-msg .msg-right p i.i3 {
     background-position:-32px -64px;   
}
.contactus-content-msg .msg-right p i.i4 {
     background-position:0 -64px; 
}
/*联系我们结束*/


/*人才招聘开始*/
#Recruitment .us-title {
    background-image: url(/Content/images/us-bg3.png);
}

#Recruitment .us-title-text {
    background-position: 0 -160px;
}

.h2_fs26 h2 {
    font-size: 26px;
}

.Recruitment-content .h2 h2 {
    margin-bottom: 28px;
}

.Recruitment-content-talentConcept {
    margin-bottom: 64px;
}

.Recruitment-content-jobInfo {
    margin-bottom: 66px;
}

.Recruitment-content-resumeDelivery {
    margin-bottom: 100px;
}

.us-text a {
    color: #33b1f2;
}

.us-text a:hover,
.Applies-content-left a:hover
 {
    color: #0071bb;
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

table tr th,
table tr td {
    border:none;
    border-bottom:1px solid #ddd;
    font-size:14px;
    color: #666666;
}
table tr th {
  text-align:left;   
  font-weight:normal;
  background:#f5f5f5;
}
table tr td a {
    color:#31b0f3;
}
table tr td a:hover {
   color:#0071BB;
   text-decoration:underline;     
}

.Recruitment-content-jobInfo table {
    margin-bottom: 16px;
}

.Recruitment-content-jobInfo table tr td {
    border:1px solid #ddd;
    height: 34px;
    line-height: 34px;
    padding-left: 13px;
}

.Recruitment-content-jobInfo table tr th {
    text-align: center;
    font-size: 16px;
    background: #f7f7f7;
    height: 40px;
    line-height: 40px;
    color: #323232;
    padding-left: 0;
}

.Recruitment-content-jobInfo-msg {
    float: left;
    width: 526px;
    margin-right: 24px;
    height: auto;
    overflow: hidden;
}

.Recruitment-content-jobInfo-msg.mr13 {
    width: 536px;
    margin-right: 13px;
}

.Recruitment-content-jobInfo-msg p {
    line-height: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
/*人才招聘结束*/

/*文件下载开始*/
#download {
    margin-bottom:96px;
}
.download-banner {
    width:100%;
    height:492px;
    background:url('/Content/images/down-banner.png') center center no-repeat;
    color:#ffffff;
}
.download-banner h2 {
    padding:128px 0 36px 56px;
    font-size:46px;  
    line-height:46px;
    font-weight:bold;
}
.download-banner h3 {
   padding-left:56px;
   font-size:30px;
   line-height:30px;  
}
.download-data-box {
    overflow:hidden;
    width:100%;
    height:auto;
    padding-top:72px;
    background:#ffffff;
}
.download-data-box .h2 {
    margin-bottom:40px;    
}
.download-data-box tr th,
.download-data-box tr td {
    height:44px;
    line-height:44px;
    padding-left:20px;
}

.download-data-box tr td a i {
    height:15px;width:17px;background-position:-146px -66px;  
    margin-left:8px; 
}
/*文件下载结束*/

/*常见问题开始*/
.grayBg {
    background-color:#f7f7f7;
    padding-top:24px;
    padding-bottom:102px;
}
.content-boxShadow {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(35, 35, 35, .1);
    -webkit-box-shadow: 0px 2px 4px rgba(35, 35, 35, .1);
    -moz-box-shadow: 0px 2px 4px rgba(35, 35, 35, .1);
}
.content-left,
.content-right {
    float: left;
    height: auto;
    overflow: hidden;
}
.content-left {
    width: 228px;
    margin-right: 24px;
}
.content-right {
    width: 948px;
    padding-bottom: 60px;
    min-height: 260px;
}
#FAQ .content-right {
   padding-bottom:40px;
}
.content-left h1,
.content-left h2,
.content-right h1,
.content-right h2{
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-top: 22px;
    margin-bottom: 20px;
    text-indent: 22px;
    color: #323232;
    font-size: 20px;
    font-family: "微软雅黑";
}
.content-right h1 {
   text-indent: 30px;  
   margin-bottom: 15px; 
}
.content-left ul {
    padding-bottom:24px;
}
.content-left ul li {
    position: relative;
    margin-bottom: 20px;
    margin-left: 40px;
}

.content-left ul li>i {
    background: url('/Content/images/accountPic.png') no-repeat;
    display: none;
    height: 10px;
    width: 8px;
    background-position: -91px -20px;
    position: absolute;
    left: -18px;
    top: 3px;
    vertical-align: middle;
}
.content-left ul li.active i {
    display: inline-block;
}
.content-right-list {
    padding:0 30px;
    padding-bottom:38px;
    min-height:60px;
}
.content-right-list li {
   border-bottom:1px solid #ddd; 
   padding:20px 0;    
}
.content-left ul li a,
.content-right-list li a,
.content-right p,
#AccountSecurity .content-right h1 a,
.AccSecContent-opera span{
    font-size:14px;
    color: #666666;
    font-family: "微软雅黑";
}
.content-left ul li.active a,
.content-left ul li:hover a,
.content-right-list li:hover a,
#AccountSecurity .content-right h1 a:hover,
.content-boxShadow.noborder h2 a:hover{
    color: #0071BB;
}
#AccountSecurity .content-right h1 a:hover,
.content-boxShadow.noborder h2 a:hover {
    text-decoration:underline;
}
.content-right p {
    text-indent: 30px;  
    margin-bottom:20px;
}
.content-right img {
    display:block;
    width:887px;
    margin:0 auto;
    margin-bottom:36px;
}
/*常见问题结束*/

/*新手入门开始*/
#RegistGuide {
    padding-bottom:94px;
}
#RegistGuide .content-right {
    padding-bottom:40px;
}
#RegistGuide .content-right h1{
    margin-bottom:34px;
}
/*新手入门结束*/

/*账户安全开始*/
#AccountSecurity button {
    width:60px;
    height:24px;
    line-height:24px;
}
#AccountSecurity .content-right h1 {
    margin:0 30px;
    height:60px;
    line-height:60px;
    border-bottom:1px solid #ddd;
    text-indent:0;
}
#AccountSecurity .content-right h1 a {
    font-weight:normal;
    margin-left:14px;
}
#AccountSecurity .content-right p {
    line-height:14px;
}
#AccountSecurity .content-right p.mb24 {
    margin-bottom:24px;
}
#AccountSecurity .content-right p.mb34 {
    margin-bottom:34px;
}
#AccountSecurity .content-right p.mt34 {
    margin-top:34px;
}
#AccountSecurity .content-right p.blue {
    color:#31b0f3;
}
.AccSecContent-opera {
    margin-left:30px;
}
.AccSecContent-opera span {
   color:#323232;   
   margin-right:38px;  
}
.AccSecContent-opera i {
    margin-right:8px; 
    width:14px;
    height:14px;   
    background: url('/Content/images/public.png') no-repeat;
    background-position: -246px -101px;
}
.AccSecContent-opera span,
.AccSecContent-opera i {
    cursor:pointer;
}
.AccSecContent-opera i.select {
    background-position: -264px -101px;     
}
.AccSecContent-opera button {
    margin-top:18px;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:6px;  
}
/*账户安全结束*/

/*归类查询开始*/
.content-boxShadow h2.title,
.content-boxShadow h3,
.Procedure-content-text h2{
    height: 65px;
    line-height: 65px;
    text-indent: 30px;
    color:#323232;
    font-family: 微软雅黑;
    font-size: 18px;
    font-weight:bold;
    border-bottom: 1px solid #e0dcdc;
}

#Query,
#Search,
#QueryDetail,
#Applies{
    margin-top:148px;
    height:auto;
    overflow:hidden;
    padding-bottom:34px;
    margin-bottom: 76px;
}
#Query table {
    margin:0 30px;
    width:1138px;
    margin-bottom:16px;
    /*min-height:228px;*/
}
#Query table,
#Query table th,
#Query table td{
    border-color:#e1e8f1;
    border-width:2px;
}
#Query table th,
#Query table td {
    height:46px;
    line-height:46px;
    padding-left:20px;
}
#Query table tr:nth-child(2n+1)
{
    background: #f5f5f5;
}
#Query table tr:hover {
    background: #fbfbfb;
}
#Query p {
   height:60px;
   line-height:60px;
   font-size:16px;
   color:#666666;
   text-indent:30px;
}
.btnClassfy a,
.btnClassfy button{
    display:inline-block;
    text-align:center;
    margin-left:30px;
    width:126px;
    height:36px;
}


#Query .Query-hint {
   margin-bottom:38px;
   color:#ea4141; 
   padding-left:30px;
}

.Procedure-content-left i,
.Procedure-content-text,
i.waring,
.Procedure-content ul li i {
   background:url('/Content/images/page-icon.png') no-repeat;     
}
i.waring{
    width:14px;
    height:14px;
    background-position:-1132px -368px; 
}
#Query .Query-hint i {
   margin-right:9px;
}
.input-content label {
    float: left;
    width: 308px;
    text-align: right;
    font-size: 16px;
    line-height: 36px;
    margin-right: 20px;
    height: 36px;
    color: #666;
}
.input-content .input_list_right {
    position: relative;
    float: left;
}
.input-content .input_list_right input {
    text-indent: 16px;
    height: 14px;
    line-height: 14px;
    padding: 10px 0;
}
#Search .input-content {
    margin-top:32px;
    margin-bottom:188px;
}
#QueryDetail {
    margin-bottom:70px;
}
.content-boxShadow.noborder h2.title {
    height: 66px;
    line-height: 66px;
    text-indent: 30px;
    color:#323232;
    font-size: 22px;
    font-family: 微软雅黑;
    border-bottom:none;
    /*font-weight:normal;*/
}
.content-boxShadow.noborder h2 a {
    font-weight: normal;
    font-size:14px;
    color:#666666;
    margin-left:14px;
}
.content-boxShadow h3 {
    margin-bottom:22px;
}
.content-boxShadow span {
    text-indent:0;
    margin-top:-1px;
}
.content-boxShadow.noborder span,
.content-boxShadow.noborder em{
    margin-bottom:22px;
    font-size:16px;
    color:#666666;
    margin-top:0;
}
.content-boxShadow.noborder span {
    width:410px;
    margin-right:10px;
    text-align:right;
}
/*归类查询结束*/

/*合作流程开始*/
#Procedure {
   height:auto;
   overflow:hidden;
   margin-top:108px;
   margin-bottom:-14px;
}
#Procedure h1 {
   text-align:center;
   padding:56px 0 40px 0;     
   font-size:26px;
}
.Procedure-content-left {
    position:relative;
    float:left;
    width:58px;
    height: 1410px;
    margin-right:20px;
}
.Procedure-content-left i{
    display:block;
    height:60px;width:58px;
    margin-bottom:201px;
}
.Procedure-content-left i.i1 {
  background-position:-1128px -67px;      
}
.Procedure-content-left i.i2 {
  background-position:-1128px -205px;      
}
.Procedure-content-left i.i3 {
  background-position:-1128px -136px;     
}
.Procedure-content-left i.i4 {
  background-position:-1128px -272px;     
}
.Procedure-content-left i.i5 {
  background-position:-1128px 0;  
}
.Procedure-content-left .line {
    position:absolute;
    left:29px;
    top:1px;
    width:1px;
    height: 1410px;   
    background:#31b0f3;  
    z-index:-1;
}
.Procedure-content ul {
    float:left;
    width:1121px;
}
.Procedure-content ul li{
    float:left;
}
.Procedure-content-text {
   height:213px;
   width: 1096px;
   background-position:0 -311px; 
   padding-left: 22px;
}
.Procedure-content-text.big {
   height:304px;width:1121px;background-position:0 0;      
}
.Procedure-content ul li i {
    display:block;
    height:18px;width:28px;background-position:-1131px -342px;
    margin:15px auto;
}
.Procedure-content-text h2 {
    font-weight:normal;
    margin-bottom:32px;
}
.Procedure-content-text p,
.Procedure-content-text button,
.Procedure-content-text a {
    margin-left:34px;
}
.Procedure-content-text p {
    font-size:16px;
    color:#666666;
    margin-bottom:20px;
}
.Procedure-content-text button,
.Procedure-content-text a {
    display:block;
    text-align:center;
    width:126px;
    height:36px;
    line-height:36px;
    margin-top:6px;
}
.Procedure-content-text p.text-big {
    margin-top:10px;
    font-size:18px;
    font-weight:bold;
}
/*合作流程结束*/

/*报名申请开始*/
#Applies h2.title{
    font-size:20px;
}

.input_error_hint i,
.input_correct_i,
.checkbox i{
	display: inline-block;
	vertical-align: middle;
    background: url('/Content/images/public.png') no-repeat;
}
.input_list li {
    margin-bottom:12px;
}
.input_list li label {
	float: left;
	width: 238px;
	text-align: right;
	font-size: 16px;
	line-height: 36px;
	margin-right: 20px;
	height: 36px;
	color: #666;
}
.input_list li.lh24{
	height: 24px;
	line-height: 24px;
}
.input_list li.lh24 label{
	line-height: 24px;
}
.input_list li label em{
	margin-right: 4px;
}
.input_list li label.black {
	color: #323232;
	font-weight: bold;
}

.input_list li .input_list_right {
	position: relative;
	float: left;
}

.input_list_right em {
	display: block;
	font-size: 16px;
	line-height: 36px;
	color: #FFA200;
}

.input_list li input {
	text-indent: 16px;
	height: 14px;
	line-height: 14px;
	padding: 10px 0;
}
.input_list li input.el-input__inner {
    color: #323232;
    height: 16px;
    line-height: 16px;
    padding: 9px 0;
    box-sizing: content-box;
}
.input_list li input.el-input__inner::-webkit-input-placeholder { 
    color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.input_list li input.el-input__inner:-moz-placeholder {
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.input_list li input.el-input__inner::-moz-placeholder {
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.input_list li input.el-input__inner:-ms-input-placeholder {
    color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.input_list li input.el-input__inner.placeholder{
	color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.input_list li .input_list_right .el-cascader {
    width: 274px;
}
.input_list li .el-cascader__label{
	display: inline-block;
	color:#323232;
	padding: 0 25px 0 16px;
}
.input_list li input.input_tc{
	text-align: center;
    text-indent: 0;
}
input:focus {
	border-color: #31B0F3;
}

.input_correct_i {
	display: none;
	height: 20px;
	width: 20px;
	background-position: -50px -96px;
	margin-left: 14px;
	margin-top: -2px;
}

.input_correct .input_correct_i {
	display: inline-block;
}

.input_correct input {
	border-color: #31B0F3;
}

.input_error_hint{
	display: none;
	margin: 5px 0;
}
.input_error_hint.hintFixed{
	position: absolute;
	left: 0;
	top: 36px;
}

.input_error_hint i {
	height: 20px;
	width: 20px;
	background-position: -80px -96px;
	margin-right: 10px;
}

.input_error_hint span {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #ea4141;
}

.input_error .input_error_hint {
	display: block;
}

.input_error input {
	border-color: #ea4141;
}
.input_list_right .hint_text{
	color: #B3B3B3;
	margin-left: 20px;
}
.checkbox i,
.checkbox label {
    cursor: pointer;
}
.input_list li label.noselect {
    float:none;
    display: inline-block;
    vertical-align: middle;
    width:auto!important;
    font-size:12px;
    color:#323232;
}
.Applies-content-left a {
    color:#31b0f3;
}
.checkbox i.checked_no {
    height: 14px;
    width: 14px;
    background-position: -246px -101px;
}
.checkbox i.checked_yes {
    height: 14px;
    width: 14px;
    background-position: -264px -101px;
}
.Applies-content-left {
    float:left;
    width:500px;
    height:auto;
    overflow:hidden;
    margin-left:70px;
}
.Applies-content {
    margin-top:38px;
}
.Applies-content-left .input_list li label {
    width:160px;
}
.Applies-content-left .input_list li button {
    width:184px;
}

.Applies-content-left-hint {
    width:428px;
    height:54px;
    border:2px solid #31b0f3;
    margin-bottom:36px;
    padding:11px;
}

.Applies-content-left-hint i {
    display:block;
    float:left;
    margin-right:10px;  
    margin-top: 2px;  
}
.Applies-content-left-hint .hint-text {
    float: left;
    width: 404px;  
}
.Applies-content-left-hint .hint-text p {
    line-height:18px;
    font-size:14px;    
}
.Applies-content-right {
    float:right;
    margin-right:28px;
    width:582px;
    height:372px;
    background:url('/Content/images/page-bg.png') no-repeat;
    color:#0071bb;
}
.Applies-content-right h2 {
     font-size:32px;
     font-weight:bold;
     margin-bottom:36px;  
     text-indent:62px; 
     margin-top:78px;
     line-height:32px;
}
.Applies-content-right p {
    font-size:18px;
    line-height:18px;
    margin-bottom:26px;   
    text-indent:62px; 
}
/*报名申请结束*/


/*服务开始*/
#service .us-title {
   position:relative;
   background-image: url(/Content/images/server-banner.png);
}
#service .us-title-text {
    height:75px;width:568px;background-position: 0 -238px;
}

.service-content-title {
    position:relative;
    top:-26px;
}

.service-content-title {
    position:relative;
    width:100%;
    height:72px;
    border-bottom:1px solid #eaeaea;
}
.service-content-title ul li {
    float:left;
    width:90px;
    margin-right:140px;
    text-align:center;
    cursor:pointer;
}
.service-content-title ul li i{
    display:block;
    width:90px;
    height:26px;  
    background:url('/Content/images/proxy-icon.png') no-repeat;
    border-top-left-radius:6px; 
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-right-radius:6px; 
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    visibility:hidden;
}
.service-content-title ul li.service-icon3,
.service-content-title ul li.service-icon3 i{
     width:97px;    
}
.service-content-title ul li.service-icon5,
.service-content-title ul li.service-icon5 i{
    width: 106px;
}

.service-content-title ul li.service-icon1 i{
   background-position:-90px 0; 
}
.service-content-title ul li.service-icon2 i{
   background-position:0 0; 
}
.service-content-title ul li.service-icon3 i{
   background-position:-270px 0; 
}
.service-content-title ul li.service-icon4 i{
   background-position:-180px 0; 
}
.service-content-title li.service-icon5 i{
    background-position:-367px 0;  
}
.service-content-title ul li span {
    font-size:16px;  
    display:block;
    line-height:46px;   
}
.service-content-title ul li:hover,
.service-content-title ul li.active {
   color:#0071bb;     
}
.service-content-title ul li:hover i,
.service-content-title ul li.active i {
    visibility:visible;
}

.line-box {
    position:absolute;
    left:50%;
    margin-left:-600px;
    bottom:0;
    width:1200px;
    height:2px;
}
.line-box .service-title-line {
   transition:all .3s linear;
   width:90px;
   height:2px;
   background:#0071bb; 
   margin-left:0;  
}

.h2.sm h2 {
    line-height:26px;
    font-size: 26px;
    margin-bottom: 30px;
}
.service-content p {
    line-height:28px;
    margin-left:28px;
}
.nagement-content {
    width:955px;
    overflow:hidden;
    margin-left:28px;
    margin-bottom:65px;
}
.nagement-content li i,
.nagement-content li .nagement-content-right {
    float:left;
}
.nagement-content li i {
    float:left;
    display:block;
    font-size:14px;
    line-height:28px;
}
.nagement-content li p {
    margin-left:0!important;    
}
.nagement-content li .nagement-content-right {
   width:933px; 
   margin-bottom:30px;    
}
.warehouse-text {
    margin-top:12px;
    font-size:16px;
    color:#666666;
}
.mr386 {
    margin-right:386px;
}
.declaration-content {
    margin-left:28px;
}
.declaration-content ul {
    float:left;
    width:626px;
    height:auto;
    overflow:hidden;    
}
.declaration-content ul li h3 {
  font-size:18px;
  color:#323232;
  margin-bottom:30px; 
  margin-top:33px;     
}
.declaration-content-right {
    float:right;
    margin-top:42px;
}
.declaration-content-right img {
    margin-bottom:14px;
}
.declaration-content-right p {
   margin-left:0!important;
   line-height:14px!important;     
}
/*服务结束*/
.feeContent,.payment{
    padding:0px 30px;
}
    .feeContent th, .feeContent td,
    .payment th, .payment td{
        border-right: 1px solid #ddd;
        text-align: center;
        vertical-align: middle;
    }
    .feeContent table td.align_left,
    .payment table td.align_left {
        word-wrap: break-word;
        word-break: break-all;
        padding: 0 10px;
        text-align: left
    }
.feeStandard p.title {
    font-weight: bold;
    color: #323232;
}
.feeStandard p.tips {
    margin:0px 30px 0px 30px;
    text-indent: 0px;
    line-height:20px !important;
}
.content-right .account p{
    margin-bottom:10px;
}
.account span.teltip {
    margin-left: 60px;
    line-height: 14px;
    position: relative;
    top: -1px;
}
#NoticeSection {
    padding-bottom: 94px;
}
#NoticeContent a{
    cursor:pointer;
}
#NoticeSection .content_detail{
    padding:0px 70px;
}
#NoticeContent .notice_title {
    text-align: center;
}
#NoticeContent .content-right p {
    text-indent: 0px;
    margin-bottom: 0px;
    line-height:24px;
}
#NoticeContent .content-right h1, #NoticeContent .content-right h2 {
    margin-bottom:30px;
}