<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="OverallsConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvData;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="HvRFQConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=HvRFQ;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvbErm;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="VAERPConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=VAERP;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="ScCustomConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=udata;Password=Turing2019" />
        <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvCenter;Persist Security Info=True;User ID=udata;Password=Turing2019" />-->

		<add name="OverallsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="HvRFQConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=HvRFQ;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="VAERPConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=VAERP;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="ScCustomConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="foricScCustomsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PvDataConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PvLsOrderConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvLsOrder;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PvFinanceConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvFinance;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PvRouteConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvRoute;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PsWmsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PsWms;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PvdCrmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvdCrm;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PveCrmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PveCrm;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>
		<add name="PveStandardConnectionString" connectionString="Data Source=.;Initial Catalog=PveStandard;Persist Security Info=True;User ID=sa;Password=123456"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
	</system.net>
	<appSettings>
		<add key="ClosedDay" value="10"/>
	</appSettings>
</configuration>
