<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <appSettings>
    <!-- 合同双方 -->
    <add key="Purchaser" value="XDT"/>
    <add key="Vendor" value="WLT" />

    <!-- 深圳芯达通默认信息 -->
    <add key="ClientName" value="杭州比一比电子科技有限公司"/>
    <add key="HKWareHouseID" value="HK01_WLT"/>
    <add key="SZWareHouseID" value="SZ01_XDT"/>
    <add key="DeclareCompany" value="深圳市芯达通供应链管理有限公司"/>

    <add key="68248e7e4c6f95240c93e5eae81a64ea" value="杭州比一比电子科技有限公司"/>
    <add key="9E467CBBE0C4D78C856C58041E055580" value="北京创新在线电子产品销售有限公司杭州分公司"/>

    <!-- 深圳芯达通内单出库时默认的承运商信息 -->
    <add key="Carrier" value="恒远物流" />
    <add key="Driver" value="李楠" />
    <add key="Vehicle" value="粤B8P1K1" />
    <add key="XdtAdminID" value="Admin0000000333" /> <!-- 朱小钗 -->

    <!-- 芯达通文件 -->
    <add key="Server" value="http://foricerp.ic360.cn"/>
    <add key="SavePath" value="D:\uuws.ic360.cn"/>
  </appSettings>

  <!--<connectionStrings>
    <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u353s_wangzc;Password=" />
    <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u353s_wangzc;Password=" />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u353s_wangzc;Password=" />
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u353s_wangzc;Password=" />
    <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u353s_wangzc;Password=" />
    <add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u353s_wangzc;Password=" />
    <add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u3_wangzc;Password=" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
    <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
    <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
    <add name="ScCustomConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
    <add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" />
  </connectionStrings>
</configuration>