<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/border.css">
    <link rel="stylesheet" href="~/Content/css/reset.css">
    <link rel="stylesheet" href="~/Content/css/common.css">
    <link rel="stylesheet" href="~/Content/css/element.css">
    <link rel="stylesheet" href="~/Content/css/index.css?001">
    <link rel="stylesheet" href="~/Content/css/mint-ui.css">
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/elementui.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/touchslider.js"></script>
    <script src="~/Scripts/zepto_min.js"></script>
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/mint-ui.js"></script>
    <script src="~/Scripts/Shared/Common.js"></script>
</head>
<body>
    @RenderBody()
    <div class="fixedMenu">
        <ul>
            <li>
                <a href="/Account/Index"><i></i><span>会员中心</span></a>
            </li>
            <li>
                <a href="/Order/MyOrders"><i></i><span>我的订单</span></a>
            </li>
            <li>
                <a href="tel:0755-83988698"><i></i><span>报关热线</span></a>
            </li>
        </ul>
    </div>
</body>
</html>
