@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="stylesheet" href="~/Content/css/index.css">
</head>
<body>
    <div id="no_page">
        <div class="imgbox">
            <img src="~/Content/img/404.png" alt="">
        </div>
        <h1 class="null_title">找不到该页面，要刷新一下</h1>
        <button class="Refresh_btn" onclick="location.reload();">刷新</button>
    </div>
</body>
</html>
