.mint-msgbox-cancel {
    color: #26a2ff;
}

.mint-msgbox-message {
    font-size: 0.26rem;
}

.mint-msgbox-cancel {
    width: 50%;
    border-right: 1px solid #ddd;
}

.mint-msgbox {
    position: fixed;
    top: 47%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    width: 85%;
    border-radius: 3px;
    font-size: 16px;
    -webkit-user-select: none;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .2s;
    transition: .2s;
}
