@charset "utf-8";
/* CSS Document */
html, body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, caption, form, hr, h1, h2, h3, h4, h5, h6, input, img {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background: #f7f7f7;
}

html {
    font-size: 50px;
    /* font-size: 26.67vw; */
}

body {
    font-family: "微软雅黑",Arial;
    background: #f5f5f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    border: none;
    display: block;
}

i {
    display: block;
}

/* 首页 */

/* 文字提示 */
/* #app .home_content .el-tooltip__popper {  
    position: absolute;
    border-radius: 0..4rem;
    padding: 0.01rem;
    z-index: 2000;
    font-size: 0.12rem;
    line-height: 1.2;
    min-width: 0.1rem;
    word-wrap: break-word;
}
#app .home_content .item .el-tooltip__popper.is-dark {
    background: #faa613;
    color: #FFF;
    max-width: 80%;
    margin:0 auto;
} */
/*vue防止出现{{}}，防止v-show的内容之类的出现*/
[v-cloak] {
    display: none !important;
}

.mint-msgbox {
    width: 70% !important;
}

/* 蓝色附件图片及后面文字 Begin */
p.row-blue-fujian span:nth-child(1) img {
    width: 0.26rem;
    height: 0.26rem;
    content: url(../img/blue-fujian.png);
}

p.row-blue-fujian span:nth-child(2) {
    margin-left: 0.12rem;
}
/* 蓝色附件图片及后面文字 End */

/* 顶部标题 Begin */
.second_header {
    width: 100%;
    height: 0.88rem;
    background: #ffffff;
    font-size: 0.28rem;
    border-bottom: 0.01rem solid #d1d0d0;
}

    .second_header a {
        color: #181818;
    }

.second_nav {
    float: left;
    line-height: 0.84rem;
    font-size: 0.28rem;
    width: calc(100% - (12px + 14px) * 2);
    text-align: center;
}

.header-title {
    font-size: 0.32rem;
    color: #181818;
    font-weight: 600;
}

.second_header .icon {
    margin-left: 0.24rem;
    line-height: 0.88rem;
    font-weight: bold;
    float: left;
    font-size:0.4rem;
}
/* 顶部标题 End */

#app {
    width: 100%;
    height: 100%;
}

    #app .toolTipClass {
        background: #faa613;
        color: #FFF;
        max-width: 80%;
        margin: 0 auto;
    }

.home_content {
    width: 100%;
    height: 100%;
    background: url(./../img/home.png) no-repeat top center;
    background-size: 100%;
}

.home-top {
    width: 100%;
    /* background: #fafafa */
}

#app .el-tooltip__popper {
    position: absolute;
    border-radius: 4px;
    padding: 10px;
    z-index: 2000;
    font-size: 12px;
    line-height: 1.2;
    min-width: 10px;
    word-wrap: break-word;
    max-width: 80% !important;
    margin: 0 auto !important;
}

.titlesbox {
    width: 92%;
    padding-top: 0.28rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.titles {
    font-size: 0.34rem;
    font-weight: bold;
    color: #323232;
    line-height: 0.34rem;
    vertical-align: middle;
}

.icons {
    display: flex;
    width: 1.2rem;
    justify-content: space-between;
    vertical-align: middle;
}

    .icons img {
        width: 0.44rem;
        height: 0.44rem;
    }

.inform {
    background: url(./../img/trumpet_back.png)no-repeat;
    background-size: 100%;
    width: 92%;
    height: 0.48rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    /* margin-bottom: 0.2rem; */
}

    .inform img {
        height: 0.27rem;
        width: 0.27rem;
        margin-top: 0.1rem;
        float: left;
    }

.inform_content {
    font-size: 0.24rem;
    color: #f3fafe;
    line-height: 0.48rem;
    margin-left: 0.22rem;
    display: inline-block;
    width: 80%;
    height: 0.48rem;
    /* border: 1px solid; */
    /* overflow-x: scroll;
    overflow-y: hidden; */
    overflow: hidden;
}

    .inform_content .inform_contentdiv {
        position: relative;
        left: 100%;
        width: 120%;
        display: flex;
        flex-direction: row;
    }

        .inform_content .inform_contentdiv a {
            /* display: inline-block; */
        }

@keyframes inform_content {
    100% {
        transform: translateX(-140%)
    }
}

.inform_contentdiv a {
    font-size: 0.24rem;
    color: #f3fafe;
}

.inform_contentdiv {
    animation: inform_content 10s linear infinite;
}


.box-mak {
    width: 92%;
    margin: 0 auto;
    background: #f7f7f7;
    height: auto;
    margin-top: 0.36rem;
    overflow: hidden;
    border-radius: 0.1rem;
}

.home-bottom .list1 {
    width: 100%;
    height: 2.25rem;
}

.list_title {
    width: 100%;
    height: 0.66rem;
    border-bottom: 0.01rem solid #edeee9;
    display: flex;
    justify-content: space-between;
}

    .list_title p:nth-child(1) {
        line-height: 0.66rem;
        font-size: 0.28rem;
        margin-left: 0.2rem;
        color: #181818;
        font-weight: bold;
    }

    .list_title p:nth-child(2) {
        line-height: 0.66rem;
        font-size: 0.24rem;
        margin-right: 0.14rem;
        color: #a9a9a9;
    }

.dues {
    font-size: 0.28rem;
    display: flex;
    justify-content: space-around;
    color: #666666;
}

    .dues li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

        .dues li span:nth-child(1) {
            margin-top: 0.4rem;
            color: #faa613;
        }

        .dues li span:nth-child(2) {
            margin-top: 0.28rem;
            font-size: 0.24rem;
        }


.listpublic {
    background: #ffffff;
    border-radius: 0.1rem;
    box-shadow: 0 0 0.04rem rgba(217,212,212,.8);
    margin: 0 auto;
    margin-bottom: 0.18rem;
}


/* 菜单折叠 */
#Menu_folding {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

    #Menu_folding .ment_box {
        padding: 0 0.24rem;
        height: auto;
    }

.Menu_header {
    width: 100%;
    height: 0.9rem;
    border-bottom: 1px solid #eaeaea;
    line-height: 0.9rem;
    color: #323232;
    font-size: 0.32rem;
    font-weight: bold;
}

    .Menu_header span:nth-child(1) {
        margin-left: 0.24rem;
    }

    .Menu_header span:nth-child(2) {
        float: right;
        line-height: 0.9rem;
        font-weight: bold;
        font-size: 0.32rem;
        margin-right: 0.24rem;
    }


.Menu_content {
    margin-top: 0.24rem;
}

    .Menu_content .Menu_list_title {
        margin-bottom: 0.4rem;
        font-size: 0.32rem;
        font-weight: bold;
        color: #323232;
    }

.Menu_list {
    margin-bottom: 0.4rem;
}

    .Menu_list span {
        display: inline-block;
        min-width: 1.69rem;
        margin-bottom: 0.3rem;
        color: #666666;
        font-size: 0.24rem;
    }

    .Menu_list a {
        display: inline-block;
        min-width: 1.69rem;
        margin-bottom: 0.3rem;
        color: #666666;
        font-size: 0.24rem;
    }

    .Menu_list .no_open {
        color: #DDDDDD;
    }






.myorders {
    display: flex;
    font-size: 0.24rem;
    justify-content: space-around;
    margin-top: 0.16rem;
    text-align: center;
}

    /* .myorders li{
    width: 20%;
} */

    .myorders img {
        width: 0.55rem;
        height: 0.4rem;
        margin: 0 auto;
        margin-bottom: 0.22rem;
    }

    .myorders li a {
        color: #666666;
        /* margin-top: 0.22rem; */
    }

.Badge {
    position: relative;
    left: 0.2rem;
    top: 0.15rem;
    background-color: #f56c6c;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 0.18rem;
    height: 0.3rem;
    line-height: 0.33rem;
    padding: 0rem 0.11rem;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #fff;
}



.client {
    margin-left: 0.2rem;
}

    .client h2 {
        font-size: 0.28rem;
        margin-top: 0.3rem;
        margin-bottom: 0.22rem;
        color: #323232;
    }

    .client p {
        font-size: 0.24rem;
        color: #999999;
        margin-bottom: 0.2rem;
    }

    .client img {
        width: 0.22rem;
        height: 0.24rem;
        vertical-align: middle;
        float: left;
        margin-right: 0.14rem;
    }


.menu {
    width: 100%;
    display: flex;
    padding-top: 0.44rem;
}

    .menu a {
        width: 25%;
        /* color: white; */
        font-size: 0.24rem;
        text-align: center;
    }

        .menu a img {
            width: 0.4rem;
            height: 0.4rem;
            margin: 0 auto;
        }

        .menu a span {
            display: block;
            line-height: 0.74rem;
            color: #666666;
        }

.list2 {
    height: 2.28rem;
    width: 92%;
}

.list3 {
    width: 92%;
    height: 4.84rem;
}

.list4 {
    width: 92%;
    height: 2.28rem;
}


/* 我的订单 */
#myorder {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    /*overflow: hidden;*/
}
    /* .myorder_box{
     width: 92%; 
     height: 92%; 
} */
    /* 让每个li 内部滚动 */
#myorder .set_scroll {
    overflow-y: scroll;
    height: 92%;
    padding-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
}
#myorder .headerbox {
    width: 100%;
    height: 0.7rem;
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.page {
    width: 100%;
    /* height: 120%; */
    margin: 0 auto;
    background: #ffffff;
    float: left;
    /* margin-right: 0.4rem; */
    white-space: nowrap;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
}

.no_warp {
    height: 0.7rem;
    width: 73%;
    float: left;
    z-index: 9999999;
    overflow: hidden;
    margin-left: 0.2rem;
}

/* ::-webkit-scrollbar{
    　　width:0.7rem;
    }
::-webkit-scrollbar-track {
    　　background:rgba(0,0,0,0);
    }
    
    ::-webkit-scrollbar-thumb {
    　　background:rgba(0,0,0,0);
    }
    
    ::-webkit-scrollbar-thumb:hover {
    　　background:rgba(0,0,0,0);
    }
    
    ::-webkit-scrollbar-thumb:window-inactive {
    　　background:rgba(0,0,0,0);
    } */

#myorder .list1 {
    width: 100%;
    height: 5rem;
    background: #a9a9a9;
}
/* 暂无相关订单 */
#myorder .null_orders {
    width: 100%;
    height: 100%;
    text-align: center;
}

    #myorder .null_orders img {
        width: 1.9rem;
        height: 2.0rem;
        margin: 0 auto;
        padding-top: 1.2rem;
        padding-bottom: 0.44rem;
    }

    #myorder .null_orders p {
        font-size: 0.32rem;
        color: #323232;
    }

#myorder .filtrates {
    /* width: 0.8rem; */
    float: left;
    height: 0.7rem;
    line-height: 0.7rem;
    color: #666666;
    text-align: center;
    background: #ffffff;
    position: fixed;
    right: 0;
    padding-right: 0.24rem;
    padding-left: 0.24rem;
}

    #myorder .filtrates a {
        color: #666666;
        float: left;
        margin-right: 0.1rem;
    }



        #myorder .filtrates a.active {
            color: #494949;
            font-size: 0.28rem;
            font-weight: bold
        }

    #myorder .filtrates span.spanactive {
        display: block;
        width: 0.30rem;
        height: 0.04rem;
        background: red;
        margin: 0 auto;
    }

.all_order_box {
    width: 92%;
    min-height: 4.8rem;
    margin-top: 0.24rem;
    margin-bottom: 0.24rem;
}

.all_order {
    margin-left: 0.24rem;
    height: 100%;
    margin-right: 0.2rem;
    display: flex;
    flex-direction: column;
}

.all_order_titles {
    width: 100%;
    height: 0.26rem;
    line-height: 0.26rem;
    padding-top: 0.2rem;
    font-size: 0.26rem;
    color: #666666;
}

    .all_order_titles img {
        width: 0.26rem;
        height: 0.26rem;
        float: left;
        margin-right: 0.12rem;
        vertical-align: middle;
        line-height: 0.26rem;
    }

    .all_order_titles p {
        vertical-align: middle;
    }

        .all_order_titles p span:nth-child(2) {
            float: right;
            /* margin-right: 0.2rem; */
            font-size: 0.24rem;
            color: #faa613;
        }

.all_order_content {
    width: 100%;
    min-height: 1.83rem;
    padding: 0.4rem 0;
    display: flex;
    flex-direction: row;
}

/* 订单编号 */
.order_number {
    width: 1.8rem;
    height: 1.8rem;
    background: url(../img/order_bumber.png);
    background-size: 100%;
    text-align: center;
    color: #fdfdfd;
}

    .order_number p:nth-child(1) {
        font-size: 0.32rem;
        margin-top: 0.3rem;
        line-height: 1;
        margin-bottom: 0.3rem;
    }

    .order_number p:nth-child(2) {
        font-size: 0.26rem;
        width: 80%;
        margin: 0 auto;
    }


.order_detail {
    flex: 1;
    margin-left: 0.22rem;
    width: 67%;
    /*overflow: hidden;*/
}

    .order_detail .max_height {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 0.84rem;
    }

    .order_detail p:nth-child(1) {
        font-size: 0.3rem;
        /* line-height: 1;
    margin-bottom: 0.15rem; */
        color: #323232;
    }

.order_detail_payment {
    color: #808080;
    font-size: 0.24rem;
}

.order_detail p:last-child span {
    float: right;
    color: #fa5050;
}

.all_order_price {
    float: right;
    text-align: right;
    /* margin-right: 0.2rem; */
}

    .all_order_price p {
        line-height: 1;
        margin-bottom: 0.2rem;
        font-size: 0.24rem;
        color: #323232;
    }

.all_order_invoice {
    margin-top: 0.3rem;
    min-height: 0.52rem;
    line-height: 0.53rem;
    font-size: 0.24rem;
}

    .all_order_invoice span {
        margin-bottom: 0.2rem;
    }

    .all_order_invoice .invocelist {
        margin-left: 0.16rem;
        display: inline-block;
        height: 0.52rem;
        border: 1px solid #dddddd;
        text-align: center;
        font-size: 0.24rem;
        line-height: 0.55rem;
        border-radius: 0.3rem;
        width: 1.4rem;
    }

    .all_order_invoice .details_btn {
        border: 1px solid #faa613;
        color: #faa613;
    }

#myorder .set_top {
    margin-top: 0.3rem;
}

    #myorder .set_top p {
        font-size: 0.24rem;
        color: #808080;
        display: flex;
        justify-content: space-between;
    }
    /* 控制原因说明一类的单行省略号 */
    #myorder .set_top .set_no_warp {
        display: inline-block;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

/* 原因详情 */
.yuanyin_box {
    padding-bottom: 1rem;
    margin-top: 0.4rem;
}

    .yuanyin_box .yuanyin_content {
        line-height: 0.4rem;
        min-height: 0.4rem;
        margin-right: 0.24rem;
    }
/* 筛选 */
.show_condition {
    width: 100%;
    background: #ffffff;
    width: 100%;
    background: #ffffff;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.condition_box {
    padding-top: 1.1rem;
    margin-left: 0.24rem;
    height: auto;
    height: 79%;
    overflow-y: scroll;
    width: 100%;
}

.condition_list {
    margin-bottom: 0.2rem;
    margin-right:0.24rem;
}

    .condition_list .condition_title {
        font-size: 0.26rem;
        color: #323232;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 0.26rem;
    }

.item_condition {
    height: auto;
    clear: both;
}

    .item_condition span {
        display: inline-block;
        padding: 0.15rem 0.17rem;
        border: 1px solid #dfdfdf;
        margin-right: 0.2rem;
        color: #999999;
        border-radius: 0.1rem;
        line-height: 1;
        font-size: 0.24rem;
        margin-bottom: 0.2rem;
        min-width: 1rem;
        text-align: center;
    }

    .item_condition .condition_active {
        border: 1px solid #4791de;
        color: #4791de;
    }

.show_condition .condition_btns {
    display: flex;
    height: 0.78rem;
    line-height: 0.78rem;
    justify-content: space-around;
    /* margin-top: -0.6rem; */
    padding-bottom: 0.3rem;
    text-align: center;
    background: #ffffff;
    margin-bottom:1.1rem;
}

    .show_condition .condition_btns span {
        width: 50%;
        display: inline-block;
        font-size: 0.32rem;
    }

        .show_condition .condition_btns span:nth-child(1) {
            width: 50%;
            border-top: 1px solid #999999;
            border-bottom: 1px solid #999999;
            color: #999999;
        }

        .show_condition .condition_btns span:nth-child(2) {
            width: 50%;
            border-top: 1px solid #3a76e8;
            border-bottom: 1px solid #3a76e8;
            color: #ffffff;
            background: #3a76e8;
        }


.find_nav_list {
    position: absolute;
    left: 0;
    /* margin-left: 0.4rem; */
}

    .find_nav_list ul {
        position: relative;
        white-space: nowrap;
        font-size: 0;
    }

        .find_nav_list ul li {
            display: inline-block;
            padding: 0;
            margin: 0 0.4rem;
        }

.find_nav_cur a {
    color: #494949 !important;
    font-size: 0.28rem;
    font-weight: bold;
}

/* .sideline {
    display: block;
    position: absolute;
    border: 0;
    height: 2px;
    background-color: #48a5f4;
    left: 0;
    top: 68px;
    pointer-events: none;
} */
.li_list {
    overflow-y: auto;
    display: table;
}

/* 绑定邮箱，手机号，修改密码 */

.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {
    color: #C0C4CC;
    cursor: not-allowed;
    background-image: none;
    background-color: rgb(201, 194, 194);
    border-color: #EBEEF5;
}

.bind_user .el-button--primary:active {
    background: #31b0f3;
    border-color: #31b0f3;
    color: #FFF;
}

.bind_user {
    width: 100%;
    height: 100%;
    background: #ffffff;
    overflow-y: scroll;
}

.bind_header {
    font-weight: bold;
    height: 0.88rem;
    width: 100%;
    background: #ffffff;
    border-bottom: 0.01rem solid #d1cfcf;
    line-height: 0.8rem;
    color: #181818;
    font-size: 0.34rem;
    display: flex;
}

.bind_content {
    height: auto;
    width: 100%;
}

.bind_user .back_icon {
    margin-left: 0.24rem;
    width: 0.24rem;
    height: 100%;
    display: inline-block;
    line-height: 0.88rem;
    font-weight: bold;
}

.bind_user .bind_titles {
    display: inline-block;
    flex: 1;
    text-align: center;
    margin-right: 0.7rem;
}

.bind_content_box {
    /* width: 100%; */
    height: 100%;
    margin-left: 0.46rem;
    margin-right: 0.48rem;
    margin-top: 0.46rem;
}

.input_box {
    width: 100%;
    height: 0.7rem;
    /* background: salmon; */
    margin-bottom: 0.8rem;
    line-height: 0.7rem;
}

.bind_content_box .el-input {
    width: 76%;
}

.bind_content_box .el-input--suffix .el-input__inner {
    padding: 0;
}

.bind_content_box .el-input__inner {
    border: 0.01rem solid #b3b3b3;
    text-indent: 0.2rem;
    height: 0.26rem;
    font-size: 0.26rem;
    padding-top: 0.335rem;
    padding-bottom: 0.35rem;
    padding-left: 0;
    padding-right: 0;
    line-height: 0.26rem;
}

.input_laber {
    width: 22%;
    display: inline-block;
    height: 100%；;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.28rem;
    color: #181818;
}

.bind_content_box span .verification_code {
    width: 37%;
}

.bind_content_box span .getcode_btn {
    height: 0.68rem;
    line-height: 0.68rem;
    padding: 0 0.1rem;
    background: #faa613;
    color: #ffffff;
    font-size: 0.26rem;
    border: 1px solid #faa613;
    margin-left: 0.2rem;
    width: 34%;
    border-radius: 4px;
}

.bind_content_box span .getcode_btn2 {
    height: 0.68rem;
    line-height: 0.68rem;
    padding: 0 0.1rem;
    background: #cccccc;
    color: #ffffff;
    font-size: 0.26rem;
    border: 1px solid #cccccc;
    margin-left: 0.2rem;
    width: 34%;
    border-radius: 4px;
}

.bind_content_box .sumbit_btn {
    width: 100%;
    margin-top: 2.53rem;
    font-size: 0.32rem;
    background: #31b0f3;
    text-align: center;
    border-radius: 0.1rem;
    color: #ffffff;
}

    .bind_content_box .sumbit_btn .sumbit_btn_span {
        /* width: 1.48rem; */
        height: 0.79rem;
        letter-spacing: 0.18rem;
        text-align: center;
        line-height: 0.79rem;
        color: #ffff;
        margin-left: 0.18rem;
    }

.bind_content_box .el-button--primary {
    /* color: #FFF; */
    background-color: #31b0f3;
    border: none;
}

.error_content {
    line-height: 1;
    margin-left: 1.7rem;
    margin-top: 0.1rem;
    font-size: 0.2rem;
    color: #F44336;
}


/* 收货地址 */
#delivery_address {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}

.address_list {
    width: 93%;
    margin-top: 0.24rem;
    margin-left: 0.24rem;
    margin-right: 0.24rem;
    height: 100%;
}

#delivery_address .bind_header {
    position: fixed;
    top: 0;
    left: 0;
}

.address_list ul {
    height: auto;
    overflow: hidden;
    padding-bottom:1.2rem;
}

    .address_list ul li {
        width: 100%;
        background: #ffffff;
        box-shadow: 0 0 0.04rem rgba(217,212,212,.8);
        border-radius: 0.1rem;
        height: auto;
        overflow: hidden;
        margin-bottom: 0.2rem;
        padding-bottom: 0.4rem;
    }

.address_name {
    width: 97%;
    /*height: 0.33rem;*/
    margin-top: 0.28rem;
    margin-left: 0.24rem;
    /*margin-bottom: 0.3rem;*/
}

    .address_name span:nth-child(1) {
        font-size: 0.3rem;
        line-height: 0.33rem;
        color: #323232;
        font-weight: bold;
        margin-bottom: 0.3rem;
    }

    .address_name span:nth-child(2) {
        text-align: center;
        color: #ffffff;
        float: right;
        display: inline-block;
        background: #FF9800;
        font-size: 0.22rem;
        text-align: center;
        line-height: 1;
        padding: 0.07rem 0.15rem;
        line-height: 0.33rem;
        border-radius: 0.1rem;
        margin-right: 0.24rem;
    }

.address_detail {
    margin-left: 0.56rem;
    font-size: 0.24rem;
    line-height: 0.46rem;
}

    .address_detail span:nth-child(1) {
        width: 1.1rem;
        float: left;
    }

    .address_detail span:nth-child(2) {
        float: left;
        width: 77%;
    }

/* 待确认订单  对账单 订单详情 供应商列表*/
#unconfirmed_order {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: #ffffff;
}

    #unconfirmed_order .order_box {
        width: 100%;
        height: auto;
        min-height: 100%;
    }

    #unconfirmed_order .second_header,
    #supplier_list .second_header {
        border-bottom: 0px;
    }

.order_box ul {
    border-top: 1px solid #95b8e7;
}

/* 给待确认订单  对账单 订单详情 供应商列表 的ul增加边框 */
.unconfirmed_tiele {
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    /* border-top: 1px solid #95b8e7; */
    border-bottom: 1px solid #95b8e7;
    background: #e6f0ff;
}

.ul_borders {
    border-top: 1px solid #95b8e7;
    padding-bottom:1.2rem;
}

.unconfirmed_tiele .title_box {
    width: 100%;
    height: 0.6rem;
    font-size: 0.24rem;
    display: flex;
}

.unconfirmed_tiele .title_box p {
    float: left;
}

.unconfirmed_tiele .title_box p:nth-child(1) {
    width: 0.33rem;
    margin: 0.12rem 0;
    margin-left: 0.24rem;
    line-height: 0.33rem;
    border: 1px solid;
    text-align: center;
    border-radius: 50%;
}

.unconfirmed_tiele .title_box p:nth-child(2) {
    width: 1.3rem;
    padding-left: 5%;
    padding-right: 7%;
    overflow: hidden;
}

.unconfirmed_tiele .title_box p:nth-child(3) {
    width: 26%;
}

.unconfirmed_tiele .title_box p:nth-child(4) {
    width: 30%;
}

.unconfirmed_tiele .title_box p:nth-child(5) {
    margin-right: 0.24rem;
}

.unconfirmed_tiele .tax_price {
    color: #f86d70;
}

#unconfirmed_order .unconfirmed_contents {
    width: 100%;
    height: auto;
    background: #ffffff;
}

.contents_laber p {
    width: 100%;
    height: 0.58rem;
    line-height: 0.6rem;
    border-bottom: 1px solid #d1cfcf;
    display: flex;
    color: #666666;
    font-size: 0.24rem;
}

.laber_name {
    width: 2.06rem;
    text-align: left;
    border-right: 1px solid #d1cfcf;
    padding-left: 0.24rem;
}

.laber_contents {
    flex: 1;
    padding-left: 0.2rem;
}

.unconfirmed_contents .kind_box {
    background: #ffffff;
}


.unconfirmed_contents .headline {
    margin-left: 0.24rem;
    font-size: 0.3rem;
    margin-top: 0.4rem;
    margin-bottom: 0.24rem;
    padding-left: 0.12rem;
    color: #181818;
    font-weight: bold;
    border-left: 3px solid #fa5050;
}

/* 报关税值。。。 */
.baoguan {
    margin-top: 0.38rem;
    margin-left: 0.14rem;
    margin-right: 0.14rem;
    padding-bottom: 0.2rem;
}

.baoguan_item {
    display: flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    font-size: 0.22rem;
    color: #999999;
}

.baoguan .last_p span:nth-child(1) {
    font-size: 0.26rem;
    color: #666666;
}

.baoguan .last_p span:nth-child(2) {
    font-size: 0.26rem;
    color: #fa5050;
}

/* 原始单据 */
.unconfirmed_contents .voucher_box {
    display: flex;
    flex-direction: row;
    margin-top: 0.4rem;
}

    .unconfirmed_contents .voucher_box .voucher_info {
        margin-top: 0.05rem;
        font-size: 0.22rem;
        margin-left: 0.3rem;
        color: #999999;
    }

.subtitle_box {
    margin-left: 0.4rem;
    font-size: 0.24rem;
    color: #666666;
    line-height: 1;
    margin-bottom: 0.24rem;
    display: flex;
    flex: 1;
}

    .subtitle_box .subtitle {
        width: 2.06rem;
        display: inline-block;
    }

        .subtitle_box .subtitle em {
            float: right;
        }

.copys {
    color: #fa5050;
    position: absolute;
    right: 1rem;
}

.payment_mfr {
    background: #ffffff;
    padding-bottom: 0.35rem;
}

    .payment_mfr .p_nomargin {
        margin-top: 0;
    }

.showindex_back {
    background: #ffffff;
    /* margin-bottom: 0.1rem; */
}

.unconfirmed_contents .corporate_info {
    padding-top: 0.48rem;
}
.pb48 {
    padding-bottom: 0.48rem !important;
}

.bar_color {
    width: 100%;
    height: 0.1rem;
    background: #f5f5f5;
}

/* 待确认订单 私有样式*/

.cheacked_box {
    margin-left: 0.24rem;
    font-size: 0.22rem;
    color: #666666;
    padding-bottom: 0.4rem;
}

    .cheacked_box .el-checkbox__label {
        font-size: 0.22rem;
        color: #666666;
    }

.order_bottons {
    margin-left: 0.24rem;
    padding-bottom: 0.8rem;
}

    .order_bottons .Submission_btn {
        display: inline-block;
        padding: 0.2rem 0.68rem;
        margin-right: 0.8rem;
        font-size: 0.3rem;
        background: #31b0f3;
        color: #ffffff;
        border-radius: 0.1rem;
    }

    .order_bottons .cancel_btn {
        display: inline-block;
        padding: 0.19rem 0.67rem;
        font-size: 0.3rem;
        background: #ffffff;
        color: #666666;
        border-radius: 0.1rem;
        border: 0.01rem solid #666666;
    }
/* 客户服务 */
#client_serve {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

    #client_serve .client_serve_content {
        width: 94%;
        height: 100%;
        margin: 0 auto;
    }

.server_list {
    width: 100%;
    height: 3.45rem;
    background: url(../img/serve_back.png)no-repeat center;
    background-size: 100% 100%;
    margin-top: 0.33rem;
}

.server_title {
    width: 100%;
    height: 0.82rem;
    border-bottom: 0.01rem solid #f2f8fc;
}

    .server_title span {
        display: inline-block;
        width: 1.8rem;
        height: 0.32rem;
        border-left: 0.03rem solid #d3e8f4;
        font-size: 0.32rem;
        text-indent: 0.12rem;
        color: #ffffff;
        margin-left: 0.32rem;
        margin-top: 0.29rem;
        line-height: 0.33rem;
    }

.server_info {
    width: 100%;
    min-height: 2.56rem;
    height: auto;
    display: flex;
    flex-direction: row;
}

    .server_info .server_info_detail {
        flex: 1;
        margin-top: 0.4rem;
        margin-left: 0.72rem;
    }

    .server_info .server_call {
        width: 0.76rem;
        height: 0.76rem;
        margin-top: 0.8rem;
        margin-right: 0.4rem;
    }

.server_call img {
    width: 100%;
}

.info_items {
    color: #ffffff;
    font-size: 0.26rem;
    margin-bottom: 0.35rem;
}

    .info_items span {
        margin-right: 0.2rem;
    }

        .info_items span:last-child {
            margin-right: 0;
            display: inline-block;
            width: 68%;
        }

    .info_items .server_icon {
        width: 0.26rem;
        height: 0.28rem;
    }

        .info_items .server_icon img {
            width: 0.26rem;
            height: 0.28rem;
            float: left;
        }

.server_remarks_box {
    width: 97%;
    min-height: 1rem;
    margin: 0 auto;
    margin-top: 0.34rem;
    display: flex;
}

    .server_remarks_box .remarks_title {
        width: 0.38rem;
        height: 100%;
        margin-right: 0.15rem;
        line-height: 0.4rem;
    }

    .server_remarks_box .remarks_content {
        flex: 1;
    }

        .server_remarks_box .remarks_content p {
            line-height: 0.4rem;
            font-size: 0.24rem;
            color: #666666;
        }

            .server_remarks_box .remarks_content p a {
                color: #5bbcf5;
            }



/* 公司简介 */
/*#company_profile {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.company_img img {
    width: 100%;
}

.company_cotent p {
    font-size: 0.28rem;
    color: #323232;
    margin: 0.4rem 0.45rem;
    line-height: 0.46rem;
}*/
/* 人才招聘 */
#recruitment {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}

#recruitment .position_box {
    width: 94%;
    height: auto;
    background: #ffffff;
    border-radius: 0.1rem;
    box-shadow: 0 0 0.06rem rgba(217,212,212,.8);
    margin: 0 auto;
    margin-top: 0.24rem;
}

#recruitment .position_box .position_info {
    width: calc(100%-0.48rem);
    height: 3.2rem;
    border-bottom: 0.01rem solid #eaeaea;
    overflow:hidden;
}

.position_responsibility {
    width: 100%;
    height: auto;
    padding-bottom: 0.24rem;
}

.position_info {
    font-size: 0.24rem;
    /* margin-top: 0.28rem; */
    margin-left: 0.24rem;
    margin-right: 0.24rem;
    color: #323232;
}

.position_info_left {
    width: 42%;
    height: 100%;
    float: left;
    margin-top: 0.28rem;
}

.position_info_right {
    width: 42%;
    height: 100%;
    float: left;
    margin-top: 0.28rem;
}

.interval_bar {
    height: 1.94rem;
    width: 0.01rem;
    background: #eaeaea;
    float: left;
    margin: 0.55rem 0;
    margin-right: 0.62rem;
    margin-left: 0.2rem;
}

#recruitment em {
    font-style: normal
}

.set_nbsp {
    margin-right: 0.5rem;
}

.position_info p {
    line-height: 1;
    margin-bottom: 0.48rem;
}

    .position_info p span:nth-child(1) {
        margin-left: 0.16rem;
    }

.position_responsibility h1 {
    font-size: 0.28rem;
    margin: 0.24rem;
}

.position_responsibility p {
    color: #666666;
    font-size: 0.24rem;
    line-height: 0.42rem;
    text-indent: -0.2rem;
    margin-left: 0.7rem;
    margin-right: 0.5rem;
}

.Resume_delivery {
    margin-top: 0.4rem;
    margin-left: 0.24rem;
    padding-bottom: 0.6rem;
}

    .Resume_delivery p:nth-child(1) {
        color: black;
        font-size: 0.32rem;
        font-weight: bold;
        margin-bottom: 0.24rem;
    }

    .Resume_delivery p:nth-child(2) {
        font-size: 0.24rem;
        color: #666666;
    }

    .Resume_delivery p a {
        color: #87a0fd;
    }

/* 账户信息与公司信息 */
#Account_information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    #Account_information .header {
        width: 100%;
        height: 0.88rem;
        background: #ffffff;
        font-size: 0.28rem;
        border-bottom: 0.01rem solid #d1d0d0d0;
    }

        #Account_information .header .icon {
            margin-left: 0.24rem;
            line-height: 0.88rem;
            font-weight: bold;
            float: left;
        }

.Account_nav {
    float: left;
    line-height: 0.84rem;
    color: #999999;
    font-size: 0.28rem;
    margin: 0px 22%;
    padding-left: 0.3rem;
}

    .Account_nav p {
        float: left;
        display: flex;
        flex-direction: column;
    }

        .Account_nav p:nth-child(2) {
            margin-left: 0.4rem;
        }

.title_active {
    font-size: 0.32rem;
    color: #181818;
}

.Account_nav .bar_active {
    display: inline-block;
    width: 0.3rem;
    height: 0.04rem;
    background: #1f1f1f;
    margin: 0 auto;
}

.information_box {
    width: 100%;
    flex: 1;
    background: #ffffff;
    height: 100%;
}

#Account_information .account {
    padding-top: 0.72rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    font-size: 0.28rem;
    color: #323232;
}

    #Account_information .account p {
        line-height: 20px;
        margin-bottom: 0.7rem;
        font-size: 0.28rem
    }
        #Account_information .account p:nth-child(2) span:nth-child(1) {
            float: left
        }
        #Account_information .account p:nth-child(2) span:nth-child(2) {
            width: calc(100% - 1.52rem - 1.38rem);
            display: inline-block;
            
        }
        #Account_information .account p span:nth-child(3) {
            width: 1.52rem;
            float: right;
            color: #51b0f0;
            font-size: 0.24rem;
        }

#Account_information .company {
    padding-top: 0.72rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    font-size: 0.28rem;
    color: #323232;
}

    #Account_information .company p {
        margin-bottom: 0.5rem;
    }


/* 账户设置 */
#Account_settings {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    font-size: 0.28rem;
    color: #323232;
}

    #Account_settings .info_li_backs {
        width: 100%;
        background: #f9f7f5;
    }

    #Account_settings p {
        width: 100%;
        height: 0.88rem;
        line-height: 0.88rem;
        border-bottom: 0.01rem solid #d1cfcfcf;
        display: flex;
        justify-content: space-between;
        margin-left: 0.24rem;
    }
        /* #Account_settings p span:nth-child(1){
     margin-left: 0.24rem; 
} */
        #Account_settings p span:nth-child(2) {
            display: inline-block;
            margin-right: 0.48rem;
            height: 0.88rem;
            line-height: 0.88rem;
        }

    #Account_settings .info_box {
        margin-bottom: 0.1rem;
        background: #ffffff;
    }
/* 404页面 */
#no_page {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

    #no_page .imgbox {
        width: 3.3rem;
        height: 1.68rem;
        margin: 0 auto;
        padding-top: 1.5rem;
        padding-bottom: 0.6rem;
    }

        #no_page .imgbox img {
            width: 100%
        }

    #no_page .null_title {
        font-size: 0.3rem;
        color: #323232;
        text-align: center;
        margin-bottom: 1.86rem;
    }

    #no_page .Refresh_btn {
        display: block;
        width: 2.34rem;
        height: 0.6rem;
        background: #384f77;
        font-size: 0.3rem;
        border: none;
        border-radius: 0.06rem;
        color: #ffffff;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }

/* 对账单私有样式 */
#Reconciliation {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #ffffff;
    padding-bottom:0.7rem;
}

.bag_biaoti {
    font-weight: bold;
    font-size: 0.3rem;
    margin-bottom: 0.26rem;
    margin-top: 0.28rem;
    margin-left: 0.24rem;
}

.bag_biaoti_neirong {
    font-size: 0.24rem;
    line-height: 0.46rem;
    color: #666666;
    margin-left: 0.24rem;
}

.Goods_detail_list .Goods_detail_title {
    font-weight: bold;
    font-size: 0.3rem;
    margin-top: 0.4rem;
    margin-bottom: 0.26rem;
    margin-left: 0.24rem;
}

.duizhang_baoguan {
    font-size: 0.24rem;
}

    .duizhang_baoguan .total_bottom .red_txt {
        color: #fb504f !important;
        font-weight: bold;
    }

.shuoming {
    margin-left: 0.24rem;
}

    .shuoming h1 {
        font-weight: bold;
        font-size: 0.3rem;
        color: #323232;
        margin-top: 0.4rem;
        margin-bottom: 0.18rem;
    }

    .shuoming p {
        font-size: 0.24rem;
        line-height: 0.46rem;
        color: #666666;
        text-indent: -0.34rem;
        margin-left: 0.4rem;
        margin-right: 0.24rem;
    }

.seal {
    margin: 1rem 0;
    margin-left: 0.24rem;
    font-size: 0.24rem;
    color: #666666;
}

    .seal p {
        float: left;
    }

        .seal p:nth-child(1) {
            margin-right: 9%;
        }

    .seal .seal_img {
        width: 1.68rem;
        height: 1.68rem;
        position: relative;
        left: 1rem;
        top: -1.2rem;
    }
/* 供应商列表页 */
#supplier_list {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

    #supplier_list .supplier_name {
        flex: 1;
        text-align: left;
        padding-left: 0.96rem;
    }

    #supplier_list .supplier_icon {
        width: 0.3rem;
        margin-right: 0.24rem;
    }

    #supplier_list .laber_name {
        width: 2.14rem;
    }

    #supplier_list .contents_laber p {
        height: auto;
    }
/* 付汇记录 */
#Record_remittance {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

    #Record_remittance .supplier_name {
        flex: 1;
        text-align: left; 
    }

    #Record_remittance .supplier_icon {
        width: 0.3rem;
        margin-right: 0.24rem;
    }
/* 订单跟踪 */
#order_tracking {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

    #order_tracking .order_tracking_box {
        width: 100%;
        height: 100%;
        background: #ffffff;
    }

    #order_tracking .tracking_number {
        font-size: 0.28rem;
        color: #323232;
        height: 0.9rem;
        line-height: 0.9rem;
        padding-left: 0.24rem;
        background: #ffffff;
    }

.order_logistics {
    flex: 1;
    background: #ffffff;
    margin-top: 0.1rem;
}
    /* .order_logistics .logistics_title{
    margin-top: 0.28rem;
    margin-bottom: 0.4rem;
    margin-left:0.24rem;
    font-weight: bold;
    font-size: 0.3rem;
    color: #323232;
} */
    /* .order_logistics .el-timeline-item__content {
    color: #999999;
    line-height: 0.46rem;
    margin-right: 0.24rem;
    font-size: 0.28rem;
}
.border_font{
    color: #323232;
    font-weight: bold;
} */
.el-timeline .el-timeline-item__wrapper .title{
    font-weight:bold;
    color:#999999;
}
.el-timeline-item__wrapper .present_title {
    font-weight: bold;
    color: #323232;
}
.order_logistics li:first-child .icon_img {
    top: 0px;
}
.order_logistics .el-timeline-item {
    position: relative;
    padding-bottom: 20px;
}

    .order_logistics .el-timeline-item__tail {
        position: absolute;
        left: 0.15rem;
        height: 100%;
        border-left: 2px solid #E4E7ED;
        padding-top: 0.1rem;
    }

    .order_logistics .el-timeline-item__node--large {
        left: 0.09rem;
        width: 0.16rem;
        height: 0.16rem;
        margin-top: 0.1rem;
    }

.el-timeline-item__node--normal {
    left: 0.02rem;
    width: 0.14rem;
    height: 0.14rem;
    margin-top: 0.1rem;
}

.order_logistics .el-timeline-item__wrapper {
    position: relative;
    padding-left: 28px;
    /*top: 1px;*/
}

.order_logistics .el-timeline-item__content {
    color: #999999;
    line-height: 0.46rem;
    margin-right: 0.24rem;
    font-size: 0.28rem;
}

.order_logistics .el-timeline-item__timestamp.is-bottom {
    margin-top: 8px;
}

.order_logistics .icon_img {
    width: 0.34rem;
    height: 0.34rem;
    top:-4px;
    position:relative;
}

.order_logistics .icon_img_grey {
    width: 0.12rem;
    height: 0.12rem;
}

.order_logistics .block {
    /* margin-top: 0.48rem;*/
    margin-left: 0.24rem;
}

.order_logistics .present_time {
    color: #323232;
    line-height: 0.46rem;
    margin-right: 0.24rem;
    font-size: 0.28rem;
}

.order_logistics .logistics_title {
    padding-top: 0.28rem;
    padding-left: 0.24rem;
    padding-bottom: 0.48rem;
    font-size: 0.3rem;
    font-weight: bold;
    color: #323232;
}


/* 供应商列表，付汇列表，订单跟踪暂无数据 */
.no_data_all {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

    .no_data_all img {
        width: 3.41rem;
        height: 2.49rem;
        margin: 0 auto;
        margin-top: 1.18rem;
        margin-bottom: 0.6rem;
    }

    .no_data_all p {
        text-align: center;
        font-size: 0.3rem;
        color: #999999;
    }

    .no_data_all a {
        display: block;
        width: 2.34rem;
        height: 0.6rem;
        background: #384f77;
        text-align: center;
        line-height: 0.6rem;
        color: #ffffff;
        font-size: 0.28rem;
        margin: 0 auto;
        margin-top: 1.6rem;
        border-radius: 0.1rem;
    }
#agreement {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.agreement_content {
    width: 93%;
    margin-top: 0.3rem;
    margin-left: 0.24rem;
    /*padding-bottom: 0.6rem;*/
    height: 100%;
   
}
    .agreement_content .itemWrap:last-child .detailWrap{
        height:100px;
    }

    .agreement_content .itemWrap {
        margin-bottom: 0.4rem;
    }

.itemWrap .title {
    font-size: 0.3rem;
    line-height: 0.33rem;
    color: #323232;
    font-weight: bold;
}

.itemWrap .detailWrap {
    margin-left: 0.34rem;
    color: #666666;
    overflow: hidden;
}

    .itemWrap .detailWrap .content1 {
        margin-left: 0.65rem;
    }

    .itemWrap .detailWrap .content_left {
        width: 3.4rem;
        float: left;
    }

    .itemWrap .detailWrap .content_right {
        float: left;
    }

.itemWrap:nth-child(n+2) .detailWrap span {
    display: block;
    margin-top: 0.26rem;
}

.itemWrap:nth-child(1) .title {
    margin-bottom: 0.26rem;
}
.logout {
    margin-top: 2.5rem;
    width: 100%;
    height: 0.88rem;
    background-color: white;
    text-align: center;
    line-height:0.88rem;
}

.logout span {
    color: #f56363;
    font-size: 0.3rem;
}
/*付款记录开始*/
#payment {
    padding:0.24rem 0rem;
    background-color:white;
    width:100%;
    height:100%;
}
#payment .nav_box{
    overflow:hidden;
    padding:0 3.2%;
}
.nav_box .datebox .start_Date,
.nav_box .datebox .end_Date {
    background-color: #f5f5f5;
    width: 47%;
    height: 100%;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 #666666;
}
.nav_box .datebox {
    float: left;
    width: 74%;
    height: 0.64rem;
    background: #f5f5f5;
    border-radius: 0.32rem;
    margin-right: 4%;
    line-height: 0.64rem;
    overflow: hidden;
}
.nav_box .btn_search {
    float: left;
    width: 22%;
    height: 0.64rem;
    background: #31b0f3;
    color: white;
    border-radius: 0.32rem;
}
.payment .total_account {
    margin-top:0.54rem;
}
.total_account ul{
    overflow:hidden;
}
.total_account ul li:nth-child(odd) {
    float: left;
    width: 33%;
    height:0.8rem;
    border-right: 1px solid #cccccc;
    text-align: center;
}
.total_account ul li:nth-child(even) {
    float: left;
    width: 0.01rem;
    height: 0.8rem;
    padding: 0.05rem 0rem;
}
.total_account ul li:last-child {
    border-right: 0px;
}
.total_account ul li p:first-child {
    margin-bottom:0.24rem;
    font-size:0.32rem;
    color:#323232;
}
.total_account ul li p:last-child{
    font-size: 0.24rem;
    color: #666666;
    height:0.34rem;
}
.payment .nav_list{
    margin-top:0.88rem;
    margin-left:0.24rem;
    color:#999999;
    font-size:0.28rem;
}
.payment .nav_list span {
    margin-right:0.54rem;
}
.payment .nav_list span.active {
    color: #323232;
    font-size: 0.34rem;
}
.payment .payRecord {
    margin-top: 0.14rem;
}
.payment .payRecord ul {
    height: 100%;
}
.payRecord .title{
    width:100%;
    height:0.58rem;
    border-top:0.01rem solid #cccccc;
    background-color:#f5f5f5;
}
.payRecord .title p{
    margin-left:0.24rem;
    font-size:0.28rem;
    color:#999999;
    line-height:0.58rem;
}
.payRecord .datedetail {
    width: 0.78rem;
    color: #999999;
    text-align: center;
}
.payRecord .datedetail p:first-child {
    font-size: 0.32rem;
    margin-bottom: 0.12rem;
    margin-top: 0.26rem;
    font-weight: bold;
}
.payRecord .datedetail p:last-child {
    font-size: 0.22rem;
}
.payRecord .content_right {
    width: calc(100% - 0.79rem);
    border-left: 0.01rem solid #cccccc;
    background-color:white;
}
.payRecord ul.detail_list {
    /*border-top: 0.01rem solid #cccccc;*/
}
.payRecord ul.detail_list .wrap_left {
    float: left;
    margin: 0.21rem 0.2rem;
}
.payRecord ul.detail_list .wrap_right {
    float: right;
    height:1.1rem;
    line-height:1.1rem;
    text-align:right;
    margin-right:0.24rem
}
    .payRecord ul.detail_list .wrap_right span:first-child{
       color:#31b0f3;
       font-size:0.24rem;
    }
.fl{
    float:left;
}

.clearfix {
    zoom: 1;
}
.mr30{
    margin-right:0.3rem;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.payRecord ul.detail_list .wrap_left p.account {
    margin-bottom: 0.16rem;
    font-size: 0.28rem;
    color: #323232;
}
.payRecord ul.detail_list .wrap_left span {
    margin-bottom: 0.16rem;
    font-size: 0.24rem;
    color: #666666;
}
#payment .day .detail {
    height: auto;
    background-color: #f5f5f5;
    /*display: flex;
    justify-content: space-between;*/
}
.payRecord ul.detail_list .detail_down {
    margin:0.15rem 0rem 0.18rem 0.12rem;
    color:#666666;
    font-size:0.28rem;
}
    .payRecord ul.detail_list .detail_down .detail_content {
        margin-bottom: 0.18rem;
    }
.payRecord ul.detail_list .detail_down  span:first-child{
    width:1.75rem;
    text-align:right;
   display:inline-block;
}
.detail_content .check_detail{
    color:#31b0f3;
}
.payRecord .month li.month_li:last-child {
    border-bottom: 1px solid #cccccc;
}
.content_right .detail_up {
    border-top: 1px solid #cccccc;
}
.month_li:not(:first-child) .title{
    border-top:0px;
}
.payRecord .month_li:not(:last-child) .day_li:last-child li:last-child  {
    border-bottom: 1px solid #cccccc;
}
.payRecord .month_li:first-child .day_li:first-child .datedetail {
    border-top: 1px solid #cccccc;
}
.mint-spinner-fading-circle {
    margin: 0 auto;
}
.order_kindmore {
    text-align: center;
    padding: 0.2rem 0rem;
    color: #3c3c3c;
    height:0.28rem;
}
#payment .set_scroll {
    -webkit-overflow-scrolling: touch;
}
/*付款记录结束*/
/*付款明细开始*/
#orderRecieved {
    width: 100%;
    height: 100%;
    background-color: white;
    color: #666666;
}
#orderRecieved .content_head{
    padding:0.24rem;
}
    #orderRecieved .content_head p{
       line-height:0.48rem;
       font-size:0.28rem;
       color:#232323;
    }
.mr50{
    margin-right:0.5rem !important;
}
#orderRecieved .unconfirmed_tiele .title_box p:nth-child(2) {
     text-align: left;
     width:auto;
     margin-left:0.98rem;
}
#orderRecieved .unconfirmed_tiele .title_box p:not(:first-child){
   width:auto;
}
.fr{
    float:right;
}

#orderRecieved .unconfirmed_tiele {
    border-bottom: 1px solid #ccc;
    background: #f5f5f5;
}
#orderRecieved .order_box ul {
    border-top: 1px solid #ccc;
}
#orderRecieved .unconfirmed_tiele .title_box {
   display: block;
}
.order_box .title_box .content_right{
    margin-right:0.24rem;
}
.order_box .title_box .content_right span:first-child {
    margin-right: 0.36rem;
}
#payment .nodata,
#orderRecieved .nodata {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 0.14rem;
}
    #payment .nodata p,
    #orderRecieved .nodata p{
        font-size: 0.28rem;
        color: #999999;
        margin-top: 1.5rem;
    }
/*付款明细结束*/
.order_logistics .title_name{
    margin:0.28rem 0.24rem 0.44rem;
    font-size:0.31rem;
    font-weight:bold;
}

#Account_information .limit_box {
    display: inline-block;
    width: calc(100% - 1.6rem);
}
.address_list .address_name span:first-child {
    display: inline-block;
    width: calc(100% - 2rem);
    line-height:0.4rem;
}

.home_content .home-top .titlesbox .titles {
    display: inline-block;
    width: calc(100% - 1.8rem);
    line-height: 0.48rem;
}
.all_order_price .price{
    font-size:0.28rem;
}
.unconfirmed_details {
    width: calc(100% - 2.06rem - 0.4rem);
    word-break: break-all;
    /*line-height:0.34rem;*/
}
/** {
    box-sizing: border-box;
}*/
/*公司详情开始*/
#company_profile {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.company_header {
    height: 0.94rem;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    background-color:white;
   border-bottom:1px solid #eaeaea;
}
    .company_header .icon {
        margin-left: 0.24rem;
        display: flex;
        align-items: center;
    }
    .company_header .icon_right {
        margin-right: 0.24rem;
        display: flex;
        align-items: center;
    }
.company_profile .bc_img {
    border-top: 1px solid #cecaca;
    background: url(/Content/img/banner-1.png) no-repeat;
    width: 100%;
    height: 3.1rem;
    background-size: cover;
    margin-top: 0.94rem;
    color: #fff;
}
.icon_right img {
    width: 0.44rem;
    height: 0.44rem;
}
.company_header .icon img {
    width: 2.95rem;
    height: 0.59rem;
}
.bc_img .txt1{
    font-size:0.4rem;
}
.bc_img .txt_us{
    font-size:0.52rem;
    margin-left:0.2rem;
}
.company_profile .bc_img p:first-child{
    padding-top:0.42rem;
    padding-left:0.24rem;
}
.company_profile .bc_img p:nth-child(2) {
    padding-top: 0.3rem;
    padding-left: 0.24rem;
    font-size:0.24rem;
    line-height:0.36rem;
    width:3.5rem;
}
.companyWrap, .industyWrap {
    width: 100%;
    background-color: white;
}
    .companyWrap .wrap, .clientWrap .wrap,
    .industyWrap .wrap,
    .clientServiceWrap .wrap {
        padding: 0.26rem 0.24rem 0.3rem;
    }
    .companyWrap p.title {
        font-size: 0.34rem;
        font-weight: bold;
        margin-bottom: 0.24rem;
    }
    .companyWrap p.content,
    .industyWrap p.content {
        font-size: 0.28rem;
        line-height: 0.52rem;
        color: #666666;
        text-indent: 0.56rem;
    }
.company_profile .wrap .title {
    font-size: 0.34rem;
    font-weight: bold;
    margin-bottom: 0.24rem;
}
.clientWrap .wrap .title {
    margin-bottom: 0.36rem;
}
.clientWrap ul {
    width: calc(100%-4px);
    height: 3.34rem;
    border: 1px solid #e8eff4;
    margin-bottom: 0.4rem;
    border-radius: 0.06rem;
    background: white;
    margin: 0 auto;
}
.clientWrap li {
    width: 33.1%;
    height: 1.1rem;
    float: left;
    text-align: center;
    position: relative;
}
    .clientWrap li:nth-child(-n+6) {
        border-bottom: 1px solid #e8eff4;
    }
    .clientWrap li:not(:nth-child(3n)) {
        border-right: 1px solid #e8eff4;
    }
    #company_profile .clientWrap {
        background: #f3f7fa;
    }

.clientWrap li img {
    max-width: 2.32rem;
    max-height: 1.1rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
}
.company_cotent p {
    font-size: 0.28rem;
    color: #323232;
    margin: 0.4rem 0.45rem;
    line-height: 0.46rem;
}
.company_foot{
    width:100%;
    background-color:#f8f8f8;
    text-align:center;
    padding-bottom:1.3rem;
    /*margin-bottom:1.1rem;*/
}
    .company_foot .links a{
        color:black;
    }
    .company_foot .txt1 {
        font-size: 0.34rem;
        margin-top: 0.4rem;
        margin-bottom: 0.34rem;
        font-weight: bold;
    }
    .company_foot .txt3 {
        font-size: 0.2rem;
        line-height:0.34rem;
        color:#999999;
    }
.company_foot .links{
    font-size:0.22rem;
    font-weight:bold;
    margin-top:0.6rem;
    margin-bottom:0.35rem;
}
    .company_foot .links span:nth-child(3) {
        display: inline-block;
        width: 1.89rem;
    }
    .company_foot .links span:nth-child(1) {
       margin-right:0.46rem;
    }
    .company_foot .links span:nth-child(5) {
        margin-left: 0.46rem;
    }
    .company_foot .links span:nth-child(2),
    .company_foot .links span:nth-child(4) {
        display:inline-block;
        height:0.2rem;
       position:relative;
       top:-1px;
    }
.company_foot .txt2 {
    font-size: 0.24rem;
    line-height: 0.44rem;
    color: #666666;
}
/*公司详情结束*/
/*客户服务开始*/
#client_serve .client_serve_bc_img {
    border-top: 1px solid #cecaca;
    background: url(/Content/img/banner-3.png) no-repeat;
    width: 100%;
    height: 3.1rem;
    background-size: cover;
    margin-top: 0.94rem;
    color: #fff;
}
    #client_serve .client_serve_bc_img p:first-child {
        padding-top: 0.42rem;
        padding-left: 0.24rem;
    }

.client_serve_bc_img .txt1 {
    font-size: 0.4rem;
}
#client_serve .client_serve_bc_img p:nth-child(2) {
    padding-top: 0.3rem;
    padding-left: 0.24rem;
    font-size: 0.24rem;
    line-height: 0.48rem;
    width: 4rem;
}
.clientServiceWrap {
    width: 100%;
    color: #666666;
}
    .clientServiceWrap  {
      background-color:white;
    }
.clientServiceWrap .wrap .txt1{
    margin-top:0.36rem;
    font-size:0.28rem;
    color:#666666;
    margin-bottom:0.32rem;
}
        .clientServiceWrap .content p:not(:nth-child(1)){
            padding-left:0.45rem;
        }
        .clientServiceWrap .content  {
          line-height:0.52rem;
          margin-bottom:0.16rem;
        }
.clientServiceWrap .title{
    color:black;
}
        .clientServiceWrap .lastContent {
            margin-bottom: 0.52rem;
        }
.recruitment_bc_img {
    border-top: 1px solid #cecaca;
    background: url(/Content/img/banner-2.png) no-repeat;
    width: 100%;
    height: 3.1rem;
    background-size: cover;
    margin-top: 0.94rem;
    color: #fff;
}
    .recruitment_bc_img p:first-child {
        padding-top: 0.42rem;
        padding-left: 0.24rem;
    }

    .recruitment_bc_img .txt1 {
        font-size: 0.4rem;
    }
    .recruitment_bc_img .txt_us {
        font-size: 0.52rem;
        margin-left: 0.2rem;
    }
.recruitment_bc_img p:nth-child(2) {
    padding-top: 0.3rem;
    padding-left: 0.24rem;
    font-size: 0.24rem;
    line-height: 0.48rem;
    width: 3.7rem;
}
.fixedMenu{
    width:100%;
    height:1.2rem;
    background:white;
    position:fixed;
    z-index:9999;
    bottom:0;
    border-top:1px solid #eaeaea;
}
    .fixedMenu ul  {
        position: relative;
        width: 100%;
        height: 1.1rem;
    }
    .fixedMenu ul li {
        position:absolute;
        width:1.2rem;
        height:100%;
        text-align:center;
    }
    .fixedMenu ul li:first-child {
        left:0.66rem;
    }
        .fixedMenu ul li:nth-child(2) {
            left: calc(50% - 0.6rem);
        }
        .fixedMenu ul li:nth-child(3) {
            right: 0.66rem;
        }
    .fixedMenu ul li:last-child {
        float: right;
    }
        .fixedMenu ul li i {
            height: 0.44rem;
            width: 0.46rem;
            margin-left:0.38rem;
            margin-top:0.14rem;
            margin-bottom:0.05rem;
        }
        .fixedMenu ul li:first-child i {
            background: url(/Content/img/fixed_home.png) no-repeat;
            background-size: cover;
        }
        .fixedMenu ul li:nth-child(2) i {
            background: url(/Content/img/fixed_order.png) no-repeat;
            background-size: cover;
        }
        .fixedMenu ul li:nth-child(3) i {
            background: url(/Content/img/fixed_tel.png) no-repeat;
            background-size: cover;
        }
    .fixedMenu ul li span {
        color:#666666;
        font-size:0.2rem;
        display:block;
    }
/*客户服务结束*/
.home_content .home-bottom,
#orderRecieved .order_box ul,
.payment .payRecord ul.month {
    padding-bottom: 1.2rem;
}
#Reconciliation .ul_borders{
    padding-bottom:0rem;
}
#Reconciliation .baoguan{
    margin-top:0.3rem;
    margin-left:0.24rem;
    margin-right:0.24rem;
}
.duizhang_baoguan .title{
    color:#323232;
    margin-bottom:0.3rem;
}
.duizhang_baoguan .total .laber_name{
    margin-left:0.52rem;
    color:#999999;
    margin-bottom:0.24rem;
    border:none;
    padding-left:0px;
    display:inline-block;
    width:2.12rem;
}
.duizhang_baoguan .total .laber_contents{
    padding-left:0px;
    color:#666666;
    font-weight:normal;
}
.duizhang_baoguan .total {
    padding-bottom: 0.06rem;
    border-bottom: 1px solid #d1cfcf;
    margin-bottom: 0.32rem;
}
.duizhang_baoguan baoguan_item{
    height:0.62rem;
}
.duizhang_baoguan .baoguan_item .total_title {
    line-height: 0.62rem;
}
.duizhang_baoguan .total_bottom p:not(:nth-child(4)) span:nth-child(2) {
    color: #323232;
}
.total_bottom .baoguan_item .item1{
    margin-top:0.14rem;
    display:inline-block;
}
.total_bottom .baoguan_item:first-child{
    margin-bottom:0.32rem;
}
.total_bottom .baoguan_item {
    margin-bottom: 0.5rem;
    
}
.shuoming .list_item {
    font-size: 0.24rem;
    color: #666666;
    line-height:0.3rem;
}
    .shuoming .list_item .title {
        float: left;
        width: 1.7rem;
        display: inline-block;
        padding-left:0.05rem;
    }
    .shuoming .list_item .content {
        width: calc(100% - 2rem);
        display: inline-block;
        word-break: break-all;
    }
#Record_remittance .supplier_name {
    width: 1.3rem;
    /*padding-left: 5%;
    padding-right: 7%;*/
    overflow: hidden;
}
#Record_remittance .unconfirmed_tiele .title_box p:nth-child(3) {
    width: 2.5rem;
}
.mint-msgbox-btn {
    font-size: 0.32rem;
}
.mint-msgbox-cancel {
    color:#999999;
}