/* 登录 */
#logins{
    width: 100%;
    height: 100%;
    background: #ffffff;
}
#logins .login_logo{
    width:1.6rem;
    height: 1.6rem;
    margin: 0 auto;
    margin-top: 0.94rem;
    margin-bottom: 1.14rem;
    /* background: #ccc; */
}
#logins .login_logo img{
    width: 100%;
}

.login_input_box{
    width:80%;
    margin: 0 auto;
}
.login_input_box .el-input__inner {
    /* margin-bottom: 0.2rem; */
    border-radius: 0.45rem;
    border: 1px solid #dddddd;
    color: #000000;
    font-size: 0.3rem;
    padding-top: 0.32rem;
    padding-bottom: 0.26rem;
    line-height: 0.3rem;
}
.login_input_box .login_btn{
    width:100%;
    height: 0.9rem;
    background: #f0607f;
    color: #ffffff;
    font-size: 0.32rem;
    border-radius: 0.45rem;
    margin-top: 1.7rem;
    text-align: center;
    line-height: 0.9rem;
}
.mint-msgbox-wrapper .mint-msgbox-title{
    font-size: 0.36rem;
    color: #000000;
    font-weight: 100;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    font-weight: bold;
}

.mint-msgbox-header{
    padding: 0;
}
.mint-msgbox {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    width: 69%;
    border-radius: 3px;
    /* font-size: 16px; */
    -webkit-user-select: none;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .2s;
    transition: .2s;
}

.mint-msgbox-wrapper .mint-msgbox-message {
    font-size: 0.28rem;
    color: #323232;
}
.mint-msgbox-content {
    border-bottom: 1px solid #ddd;
    min-height: 36px;
    position: relative;
    padding: 0;
    padding-bottom: 0.3rem;
}
.mint-msgbox-confirm{
    color: #000000;
    font-size: 0.32rem;
}
.error_hint{
    color: red;
    font-size: 0.24rem;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-left: 0.3rem;
}