.top {
    width: 100%;
    height: 160px;
    background: url(../img/register/re_bg.png) no-repeat;
    background-size: 100% 100%;
}

.register_form {
    padding: 20px 5%;
    font-size: 13px;
}

    .register_form .input_bg {
        width: 89%;
        height: 0.75rem;
        border: 1px solid #dedede;
        background-color: #fcfcfc;
        border-radius: 24px;
        padding: 0 20px;
        margin-bottom: 6%;
    }

.error {
    font-size: 12px;
    margin-top: 4px;
    color: #f52424;
}

.register_form .input_bg .icon {
    display: inline-block;
    width: 18px;
    height: 19px;
    vertical-align: middle;
    overflow: hidden;
    background: url(../img/register/name.png) no-repeat;
    background-size: 100% 100%;
}

.register_form .input_bg:nth-child(2) .icon {
    background-image: url(../img/register/user.png);
}

.register_form .input_bg:nth-child(3) .icon {
    background-image: url(../img/register/lock.png);
}

.register_form .input_bg:nth-child(4) .icon {
    background-image: url(../img/register/lock.png);
}

.register_form .input_bg:nth-child(5) .icon {
    background-image: url(../img/register/contacter.png);
}

.register_form .input_bg:nth-child(6) .icon {
    background-image: url(../img/register/phone.png);
}

.register_form .input_bg:nth-child(7) .icon {
    background-image: url(../img/register/security.png);
}

.register_form .input_bg input {
    width: 82%;
    height: 100%;
    line-height: 100%;
    background-color: #fcfcfc;
    margin-left: 4%;
}

.get_code {
    color: #1386c0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin-top: 3px;
    float: right;
    top: 10px;
    position: relative;
}

.register_form .input_bg:nth-child(7) input[type="text"] {
    width: 53%;
}

.confirm_protocol {
    line-height: 0.75px;
    margin-top: 15px;
}

    .confirm_protocol .el-checkbox__input.is-checked + .el-checkbox__label {
        color: #666;
    }

    .confirm_protocol .el-checkbox__inner {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border-color: #dcdcdc;
    }

        .confirm_protocol .el-checkbox__inner::after {
            left: 6px;
            top: 3px;
        }

    .confirm_protocol .el-checkbox__input.is-checked .el-checkbox__inner {
        border-color: #1386c0;
        background-color: #1386c0;
    }

.btn_line .btn_register {
    width: 100%;
    height: 0.8rem;
    background-color: #1386c0;
    border-radius: 24px;
    margin-bottom: 3%;
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
    font-family: "微软雅黑", Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
}

.register_form .back_login {
    text-align: center;
    margin-top: 10px;
}

.register_form .red{
    border-color:#f52424;
}