<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--邮件服务器-->
    <add key="MailServer" value="smtp.exmail.qq.com" />
    <!--邮件发件人-->
    <add key="MailUserName" value="service@wl.net.cn" />
    <!--邮箱密码-->
    <add key="MailPassword" value="QDVH123!09nj76hb2" />

    <add key="Redis.DefaultKey" value="TheRedis"/>
    
    <add key="ExceptionConfigPath" value="C:\Users\cmb1b\Desktop\海关回复错误信息"/>




  </appSettings>
  <connectionStrings>
    <add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.197;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=udata;Password=udata123"/>
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=210.51.190.51,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_bv;Password=G9RCzkV9hC4Gu6VF5QuZp6dxw8a9XErNTDR66Uwxww24hNBJtF"/>-->
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_wl_szWF;Password=quVGg8IcUxX687sBBdu992e9RHspYM"/>-->
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_wl_szWF;Password=quVGg8IcUxX687sBBdu992e9RHspYM"/>-->

    <add name="RedisConnectionString" connectionString="localhost:6379"/>
  </connectionStrings>
</configuration>