<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--开发库-->
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=udata;Password=Turing2019"/>-->
    <!--测试库-->
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG"/>-->
    <!--恒远正式库-->
    <!--<add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.53,6522;Initial Catalog=ScCustoms;Persist Security Info=True;User ID=u_wl_szWF;Password=quVGg8IcUxX687sBBdu992e9RHspYM"/>-->
    <!--芯达通正式库-->
    <add name="ScCustomsConnectionString" connectionString="Data Source=.;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=sa;Password=qwerasdf12"/>
    <!--DBS测试库-->
    <!--<add name="foricDBSConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=foricDBS;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc"/>-->
  </connectionStrings>
  <appSettings>
    <!--合同双方: Purchaser(买方)[HY/XDT], Vendor(卖方)[HT/WLT]-->
    <add key="Purchaser" value="XDT"/>
    <add key="Vendor" value="CY"/>
    <add key="InternalVendor" value="WLT"/>
    <add key="ExternalVendor" value="CY"/>
    <add key="CaiWuVendor" value="CY"/>
    <add key="CYVendor" value="CY"/>
    <add key="WLTVendor" value="WLT"/>
    <!--单抬头报关公司，制单用-->
    <add key="SingleOwnerCompany" value="SingleOwnerCompany"/>
    <!--内部公司，财务传大赢家用-->
    <add key="InnerCompany" value="InnerCompany"/>
    <!--上传路径-->
    <add key="DomainUrl" value="http://hv.erp.b1b.com/wladmin"/>
    <add key="FileServerUrl" value="http://hv.erp.b1b.com/wladmin/Files"/>
    <!--压缩文件保存路径-->
    <add key="targetfiledirectory" value="D:\Declare\ZipFiles\"/>
    <!--消息服务器地址-->
    <add key="UserName" value="u_wl"/>
    <add key="Password" value="oNfE8EN721r2yPU5LLnfa5i38O6hNs"/>
    <add key="HostName" value="172.30.10.51"/>
    <add key="Port" value="6673"/>
    <add key="VirtualHost" value="wl"/>
    <!--邮件服务器-->
    <add key="MailServer" value="smtp.exmail.qq.com"/>
    <add key="MailUserName" value="service@wl.net.cn"/>
    <add key="MailDisplayName" value="芯达通服务"/>
    <add key="MailPassword" value="QDVH123!09nj76hb2"/>
    <!--快递面单请求地址-->
    <add key="KdApiUrl" value="http://api.kdniao.com/api/Eorderservice"/>
    <!--IcgooPost地址-->
    <!--测试地址http://baoguan.k0v.cn/api_recept_json_data/-->
    <!--正式地址http://package.dzji.com/api_recept_json_data/-->
    <!--快包正式地址http://package.dzji.com/faw/api_recept_json_data/-->
    <!--IcgooPost地址-->
    <add key="Icgoo" value="http://baoguan.k0v.cn/api_recept_json_data/"/>
    <!--快包地址-->
    <add key="快包" value="http://baoguan.k0v.cn/faw/api_recept_json_data/"/>
    <!--内单提交归类结果地址 正式地址-->
    <!--正式地址 http://172.16.6.160:810/CodePart/SetApplyCustomsByBasic-->
    <add key="InsidePostUrl" value="http://210.51.190.36:810/CodePart/SetApplyCustomsByBasic"/>
    <add key="InsideElementsPostUrl" value="http://210.51.190.36:810/CodePart/SetBD_CodePartInfo"/>
    <add key="InsidePostKey" value="bd74ee897e5c9bf097117ff30b9862c6"/>
    <add key="InsideDutiablePricePostKey" value="80bf27bf7b556836e17e465decca413f"/>
    <add key="InsideDutiablePricePostUrl" value="http://office.51db.com:81/ApiCenter/outService/ApplyCustomsPrice.ashx"/>
    <add key="IcgooDutiablePricePostUrl" value=" http://baoguan.k0v.cn/api_recept_confirm_json_data/"/>
    <!--CRM 接口 API 调用-->
    <add key="CrmUrl" value="http://hv.erp.b1b.com/csrmapi"/>
    <!--会员端 接口 下载税单等前缀 正式：http://wapi.erp8.ic360.cn:60077/foricadmin/Files-->
    <add key="PvWsorderPdfDownLoad" value="http://erp80.ic360.cn/foricadmin/Files"/>
    <!--中心数据归类接口地址-->
    <!--<add key="PvDataApiUrl" value="http://erp8.ic360.cn/PvDataApi/"/>-->
    <add key="PvDataApiUrl" value="http://hv.erp.b1b.com/PvDataApi/"/>
    <add key="WlAdminApiUrl" value="http://api0.szhxt.net/"/>
    <!--代仓储接口地址-->
    <!--<add key="PvWsOrderApi" value="http://erp8.wapi.for-ic.net:60077/PvWsOrderApi/"/>-->
    <add key="PvWsOrderApi" value="http://hv.erp.b1b.com/PvWsOrderApi/"/>
    <add key="PvWsOrder" value="http://hv.erp.b1b.com/PvWsOrder/"/>
    <!--深圳代仓储接口测试地址-->
    <add key="PsOrderApiUrl" value="http://apisz0.ic360.cn/"/>
    <!--库房接口地址-->
    <!--<add key="PfWmsApi" value="http://hv.warehouse.b1b.com/wmsapi/"/>-->
    <!--库房接口测试地址-->
    <add key="PfWmsApi" value="http://warehouse0.ic360.cn/wmsapi/"/>
    <!--中心财务测试地址-->
    <add key="FinanceApiUrl" value="http://erp80.ic360.cn/FinanceApi/"/>
    <add key="IsChains" value="true"/>
    <!--库房ID-->
    <add key="HKWareHouseID" value="HK01"/>
    <add key="SZWareHouseID" value="SZ01"/>
    <add key="HKWLTID" value="HK01"/>
    <add key="HKCYID" value="HK02"/>
    <add key="SZXDTID" value="SZ01"/>
    <add key="SZHYID" value="SZ02"/>
    <add key="SZKRID" value="SZ03"/>
    <!--测试配置地址： http://fixed80.ic360.cn-->
    <add key="Fixed" value="http://fixed2.szhxt.net"/>
    <!--中心库文件前缀 http://uuws.b1b.com -->
    <add key="PvDataFileUrl" value="http://uuws.b1b.com"/>
    <!--中心库文件物理地址 D:\uuws.b1b.com -->
    <add key="SavePath" value="D:\uuws.b1b.com"/>
    <!--PI文件Logo物理路径-->
    <add key="ContentPath" value="D:\services\foric-Service"/>
    <!--判断是否使用新系统-->
    <add key="IsChainsDate" value="2020-02-06"/>
    <!--发送通知菜单ID-->
    <add key="DeclareMenu" value="Role00029"/>
    <add key="HQMenu" value="Role00027"/>
    <add key="FinanceMenu" value="Role00035"/>
    <add key="ManagerMenu" value="Role00023"/>
    <!--部分审批开关 1 自动审核【auto】（默认）2. 人工审核【man】3. 不需要审核【no】-->
    <add key="ApproveOnOff" value="no"/>
    <add key="ApproveManID" value="Admin0000000282"/>
    <!-- 张庆永的AdminID  Admin0000000282  -->
    <add key="ApproveExceedAmount" value="1000000"/>
    <add key="ApproveExceedID" value="Admin0000000148;XDTAdmin"/>
    <!-- 张良宏的AdminID  Admin0000000148  -->
    <!--业务员完善会员信息后，不可修改客户信息-->
    <add key="AEO" value="true"/>
    <!-- 费用申请财务负责人姓名 -->
    <add key="CostApplyFinanceStaffName" value="鲁亚慧"/>
    <!-- 费用申请总经理姓名 -->
    <add key="CostApplyManagerName" value="张庆永"/>
    <!-- 风控人员姓名 殷菲(Admin01014)  詹一帆(Admin01382)  -->
    <add key="RiskManagementName" value="殷菲"/>
    <add key="RiskManagementID" value="Admin01014"/>
    <!-- DBSApi -->
    <add key="Api_OrgId" value="CNSZNXDT"/>
    <add key="DBSApiUrl" value="http://dbsapi0.ic360.cn/"/>
    <!-- 测试环境 -->
    <add key="Api_SwiftBic" value="DBSSCNS0XXX"/>
    <!-- 生产环境 -->
    <!--<add key="Api_SwiftBic" value="DBSSCNSHXXX"/>-->
    <!-- 大赢家财务接口  810正式，8101测试；817测试 816正式 -->
    <!-- 大赢家财务接口：更换公网IP http://221.122.108.66:810 -->
    <add key="DYJFianceApiURL" value="http://172.16.6.160:8101"/>
    <add key="DYJFeeApplyApiURL" value="http://172.16.6.160:817"/>
    <!-- 顺丰快递相关配置 -->
    <add key="MonthlyCard" value="7550123478"/>
    <add key="PartnerID" value="YDCXKg"/>
    <add key="Checkword" value="XKuM6bAGYZ2FvHmTb3FOyssM03LBquav"/>
    <!-- EMS快递相关配置 测试 -->
    <add key="EMSPartnered" value="key123xydJDPT"/>
    <add key="EMSecCompanyId" value="DKH"/>
    <add key="EMSMonthlyCard" value="1100099411297"/>
    <add key="EMSRequestURL" value="https://211.156.197.233/iwaybillno-web/a/iwaybill/receive"/>
    <!-- EMS快递相关配置  生产 -->
    <!--<add key="EMSPartnered" value="i6aaZH1Cnjfy"/>
    <add key="EMSecCompanyId" value="FORIC"/>
    <add key="EMSMonthlyCard" value="1100099411297"/>
    <add key="EMSRequestURL" value="https://211.156.195.15/iwaybillno-web/a/iwaybill/receive"/>-->
    <!-- 测试地址 -->
    <!--<add key="ReqURL" value="https://sfapi-sbox.sf-express.com/std/service"/>-->
    <!-- 正式地址 -->
    <add key="ReqURL" value="https://sfapi.sf-express.com/std/service"/>
    <add key="CheckServiceCode" value="EXP_RECE_SEARCH_ORDER_RESP"/>
    <add key="OrderServiceCode" value="EXP_RECE_CREATE_ORDER"/>
    <!--  <add key="ImageURL" value="http://221.122.108.51:4040/sf/waybill/print?type=FM_poster_100mm210mm&amp;output=image"/>-->
    <add key="ImageURL" value="http://172.16.98.92:4040/sf/waybill/print?type=FM_poster_100mm210mm&amp;output=image"/>
    <!--库房ID-->
    <add key="HKWareHouseID" value="HK01"/>
    <add key="SZWareHouseID" value="SZ01"/>
    <!--报关公司名称-->
    <add key="DeclareCompany" value="深圳市芯达通供应链管理有限公司"/>
    <!--大赢家公司名称前缀，制单计算件数用-->
    <add key="DyjInnerCompanies" value="WL131,WL137,WL138,WL145,WL147,WL152,WL142,WL143,WL135,WL141,WL149,XL111,WL139,WL146,WL148,WL144,WL136,WL140,XL037"/>
    <add key="ExpireDays" value="5"/>
    <add key="XL037ID" value="6296E34E2040609FF81835E5682321C8"/>
    <!--积木报表-->
    <add key="JimuReport" value="http://172.30.10.48:8085"/>
    <add key="icgooExcludeTariffUrl" value="http://jiayou.test.icgoo.net/api/pre_custom/notice_update_hscode/"/>
    <!--<add key="icgooExcludeTariffUrl" value="http://baoguan.k0v.cn/notice_update_hscode/" />-->
    <!--天眼查工商信息接口-->
    <add key="TycUrl" value="https://open.api.tianyancha.com/services/open/ic/baseinfo/normal"/>
    <add key="TycUrlRisk" value="https://open.api.tianyancha.com/services/open/risk/riskInfo/2.0"/>
    <add key="Tyctoken" value="ea685692-2368-48d3-8c37-a203e9342b0c"/>
    <!--敏感产地-->
    <add key="SenOrigin" value="IND|India|IN"/>
    <!--税款不加运保杂的客户-->
    <add key="NoTransPremiumInsurance" value="WL951,WL952"/>
    <!--大赢家生成XMLtoken-->
    <add key="dyjtoken" value="92A0E2EC-F9F4-41DB-B623-E135A1336254"/>
    <add key="InvoiceApiUrl" value="http://cw.51db.com:9098/"/>
    <!--自动识别承兑汇票-->
    <add key="AcceptanceUrl" value="http://172.30.10.48:19600"/>
    <add key="MsgUrl" value="http://172.30.10.48:19700"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.6" maxUrlLength="10999" maxQueryStringLength="2097151" maxRequestLength="1048576"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <pages validateRequest="false">
      <namespaces/>
      <controls>
        <add tagName="EasyUI" src="~/Uc/EasyUI.ascx" tagPrefix="uc"/>
      </controls>
    </pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>