<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Yahv.PvWsClient.WebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PvDataApiUrl" value="http://hv.erp.b1b.com/PvDataApi/"/>
    <add key="WlAdminApiUrl" value="http://apidev.for-ic.net/"/>
    <!--开发区-->
    <!--<add key="ApiWmsUrl" value="http://hv.warehouse.b1b.com/wmsapi/" />-->
    <!--测试区-->
    <add key="ApiWmsUrl" value="http://warehouse0.ic360.cn/wmsapi/"/>
    <add key="WlAdminApiUrl" value="http://apidev.for-ic.net/"/>
    <add key="CompanyID" value="DBAEAB43B47EB4299DD1D62F764E6B6A"/>
    <!--深圳市芯达通供应链管理有限公司-->
    <add key="CompanyName" value="深圳市芯达通供应链管理有限公司"/>
    <add key="ThirdCompanyID" value="10528B3C5358D2A78B32DD90F911C13B"/>
    <!--香港万路通国际物流有限公司-->
    <add key="WareHouseID" value="HK01"/>
    <!--默认万路通库房-->
    <add key="SZWareHouseID" value="SZ01"/>
    <!--深圳库房-->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--cookie登录的名称-->
    <add key="Cookie_Name" value="xingdatong_user"/>
    <!--邮件服务器-->
    <add key="MailServer" value="smtp.exmail.qq.com"/>
    <!--邮件发件人-->
    <add key="MailUserName" value="service@wl.net.cn"/>
    <!--邮箱密码-->
    <add key="MailPassword" value="QDVH123!09nj76hb2"/>
    <!--文件服务器Url-->
    <add key="FileServerUrl" value="http://uu.szhxd.net"/>
    <add key="XDTFileServerUrl" value="http://foricerp0.ic360.cn/wladmin/Files"/>
    <!--项目域名地址-->
    <add key="DomainUrl" value="http://localhost:50141"/>
    <!--下载税单请求的路径-->
    <add key="DownLoadInvoiceUrl" value="http://bvn.erp.b1b.com/wladmin/WebService/DownLoadInvoiceListWebForm.aspx"/>
    <!--下载报关单请求路径-->
    <add key="DownLoadDecheadUrl" value="http://bvn.erp.b1b.com/wladmin/WebService/DownLoadDeclareListWebForm.aspx"/>
    <!--测试环境芯达通接口-->
    <add key="UnifyApiUrl" value="http://api0.for-ic.net/api"/>
    <!--正式环境恒远接口-->
    <!--<add  key="UnifyApiUrl" value="http://icgooapiv2.wl.net.cn/api"/>-->
    <add key="Purchaser" value="XDT"/>
    <add key="Vendor" value="WLT"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.6" maxUrlLength="131071" maxQueryStringLength="131071" maxRequestLength="131071" executionTimeout="120"/>
  </system.web>
  <connectionStrings>
    <!--测试区-->
    <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <add name="PvLsOrderConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvLsOrder;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <add name="OverallsConnectionString" connectionString="Data Source=172.30.10.51,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=u_v0;Password=V6e1W9MiA84t6FJ05TXCU9uRY9THg3EpT60v9X1qwMbLg895Oc" providerName="System.Data.SqlClient"/>
    <!--开发区-->
    <!-- <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="PvLsOrderConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvLsOrder;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvData;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvCenter;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="ScCustomsConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=foricScCustoms;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />
    <add name="OverallsConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=udata;Password=Turing2019" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <Yahv.PvWsClient.WebApp.Properties.Settings>
      <setting name="Yahv_PvWsClient_WebApp_SmsService_Service1" serializeAs="String">
        <value>http://cf.51welink.com/submitdata/Service.asmx</value>
      </setting>
    </Yahv.PvWsClient.WebApp.Properties.Settings>
  </applicationSettings>
</configuration>