body {
}

/*表格上部的功能按钮、查询区域*/
#topBar {
    padding: 5px;
    height: auto;
}

/*查询区域*/
#search {
    margin: 5px 20px 5px 5px;
}

/*功能按钮区域*/
#tool {
    margin: 5px 20px 5px 5px;
}

/*数据列表区域*/
#data {
    padding: 0px;
    height: auto;
    margin: 0px;
}

/*弹窗、页面的内容区域*/
#content {
    margin: 5px 20px 5px 5px;
}

#search .lbl {
    width: auto;
    margin-left: 10px;
}

#search .search {
    margin-left: 5px;
    width: 245px;
    height: 28px;
    line-height: 28px;
}

#search input {
    width: 250px;
    height: 28px;
    line-height: 28px;
}

#search select {
    width: 250px;
    height: 28px;
    line-height: 28px;
}

#search li {
    list-style: none;
    line-height: 28px;
}

#search table{
    line-height: 20px;
}

.input {
    width: 300px;
    height: 28px;
    line-height: 28px;
}

#editTable {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

    #editTable input {
        width: 250px;
        height: 30px;
        line-height: 30px;
    }

    #editTable .lbl {
        text-align: right;
        padding-right: 5px;
    }

#dlg-buttons {
    width: 100%;
    height: 40px;
    text-align: right;
    line-height:40px;
    padding-right: 40px;
    background-color: #F3F3F3;
    vertical-align: bottom;
}

    #dlg-buttons a {
        margin-top: 5px;
        margin-bottom: 5px;
    }

.irtbinfo {
}

    .irtbinfo td {
        border: solid whitesmoke;
        border-width: 0px 1px 1px 0px;
        padding: 10px 0px;
    }

    .irtbinfo table {
        border: solid whitesmoke;
        border-width: 1px 0px 0px 1px;
    }

        .irtbinfo table .irlbl {
            padding-left: 10px;
            width: 100px;
        }

    .irtbinfo label {
        padding-left: 10px;
    }

    .irtbinfo table .irtd {
    }

    .irtbinfo td input {
        width: 200px;
    }

.irtbwrite {
}

    .irtbwrite tr {
    }

        .irtbwrite tr td {
            height: 40px;
            margin: 10px;
        }

            .irtbwrite tr td input {
                width: 450px;
            }

        .irtbwrite tr .lbl {
            text-align: center;
            width: 100px;
        }

.irtbaddress {
}

    .irtbaddress tr td input {
        width: 135px;
    }

    .irtbaddress span.textbox {
        margin-right: 10px;
    }

.irbutton {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

    .irbutton.red {
        background-color: #dc1717; /* Green */
    }

    .irbutton.cancel {
        background: none;
        border: 1px solid #bbb;
        color: black;
    }

.searchTable {
    border-collapse: collapse;
    margin-top: 5px;
}

    .searchTable td {
        padding: 10px;
    }

        .searchTable td input {
            width: 200px;
        }

.radioTable {
    border-collapse: collapse;
    margin-top: 5px;
}

    .radioTable td {
        padding: 5px;
    }

.oprationTable {
    border-collapse: collapse;
    margin-top: 5px;
}

    .oprationTable td {
        padding: 3px;
    }

.radio + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: 1;
}

.radio:checked + label::before {
    background-color: #01cd78;
    background-clip: content-box;
    padding: .2em;
}

.radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.checkbox + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 1em;
    height: 1em;
    margin-right: .2em;
    border-radius: .2em;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: .65;
}

.checkbox:checked + label::before {
    content: "\2713";
    background-color: #01cd78;
    color: white;
}

.checkbox {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type="radio"] + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: 1;
}

input[type="radio"]:checked + label::before {
    background-color: #01cd78;
    background-clip: content-box;
    padding: .2em;
}

input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 1em;
    height: 1em;
    margin-right: .2em;
    border-radius: .2em;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: .65;
}

input[type="checkbox"]:checked + label::before {
    content: "\2713";
    background-color: #01cd78;
    color: white;
}

input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

/*ryan 防止污染grid中的checkbox*/
.datagrid input[type="checkbox"] {
    position: unset;
}

/* 审核付汇申请 中 begin */


.container {
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 40px;
}

.sec-container {
    margin: 1px;
    padding: 1px;
}

.sub-container {
    margin: 10px;
}

table.row-info {
    border-top: 1px dashed #cccccc;
}

    table.row-info tr td {
        border-collapse: collapse;
        border-bottom: 1px dashed #cccccc;
        height: 22px;
        padding-left: 5px;
    }

        table.row-info tr td:first-child {
            width: 80px;
            background-color: #f3f3f3;
        }

table.file-info tr td {
    padding-left: 5px;
}

table.file-info span {
    color: cornflowerblue;
}

table.file-info a:nth-child(2) span {
    margin-left: 10px;
}

.text-container p {
    margin: 5px;
}

.icon-blue-fujian {
    background: url('./images/blue-fujian.png') no-repeat center center;
}
/* 审核付汇申请中 end */


.datagrid-cell {
    word-wrap: break-word;
}
.datagrid .checkboxlist {
    position: absolute !important;
}

.ml10 {
    margin-left: 10px !important;
}