<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="PvWmsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi;MultipleActiveResultSets=true"/>
    <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi"/>
    <add name="PvWsOrderConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi"/>
    <add name="PvbCrmConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi"/>
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi"/>
    <add name="PvDataConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi"/>
    <add name="OverallsConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi"/>
    <add name="PvRouteConnectionString" connectionString="Data Source=172.30.10.49,6522;Initial Catalog=PvRoute;Persist Security Info=True;User ID=u_v0;Password=hUBU376X7frzCQ5mh2OG;Application Name=chenhanceshi"/>
  </connectionStrings>

  <!--<connectionStrings>
    <add name="PvWmsConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvWms;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="PvbErmConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvbErm;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="PvWsOrderConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvWsOrder;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="PvbCrmConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvbCrm;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="PvCenterConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvCenter;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="PvDataConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvData;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
    <add name="OverallsConnectionString" connectionString="Data Source=101.200.55.149,6522;Initial Catalog=PvOveralls;Persist Security Info=True;User ID=su149_suliang ;Password=p7h9B5P53B3o7q6PrJO9hSV1R1qBjMz1C01PBg86Av83N " />
  </connectionStrings>-->
</configuration>
