.account_vertify{
	margin-top: 20px;
}
.account_vertify h3{
	margin-left: 100px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 30px;
}
.account_vertify .mod:nth-of-type(1){
	border-top: 1px dashed #ddd;
}
.account_vertify .mod{
	width:700px;
	margin:0 auto;
	border-bottom: 1px dashed #ddd;
	line-height: 100px;
	padding:0 10px;
}
.account_vertify li{
	float: left;
}
.account_vertify li:first-child{
	margin-right: 50px;
}
.account_vertify li:nth-child(2){
	font-size: 20px;
	font-weight: bold;
	margin-right: 100px;
}
.account_vertify .action_li{
	float: right;
}
.account_vertify .action_li a{
	display: inline-block;
	width:80px;
	height:34px;
	line-height: 34px;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	font-size:12px;
}
.account_vertify .action_li .revise{
	background-color: #f8b400;
}
.account_vertify .action_li .verify{
	background-color: #1B9EE2;
}