/* 注册 */
.footer_top {
    padding-top: 57px;
}

.register_logo {
    padding: 62px 0 48px;
    text-align: center;
}

.register {
    height: 663px;
    border-radius: 20px;
    /* background: url(../imgs/register.png) no-repeat; */
    box-shadow: 0 0 40px #c9cfda;
    -webkit-box-shadow: 0 0 40px #c9cfda;
    -moz-box-shadow: 0 0 40px #c9cfda;
    -o-box-shadow: 0 0 40px #c9cfda;
    -ms-box-shadow: 0 0 40px #c9cfda;
    margin-bottom: 50px;
    /* overflow: hidden; */
    /* position: relative; */
}

.register_dw {
    position: relative;
}

.protocol {
    position: absolute;
    width: 1000px;
    background-color: #fff;
    z-index: 1000;
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -300px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 30px #c9cfda;
    display: none;
}

.protocol_title {
    height: 50px;
}

    .protocol_title h2 {
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        text-align: center;
        background-color: #f4f4f4;
    }

    .protocol_title .close {
        display: inline-block;
        width: 13px;
        height: 13px;
        background: url(../imgs/close_icon.png) no-repeat;
        float: right;
        margin: 13px 15px 0 0;
        cursor: pointer;
    }

.protocol_con {
    height: 500px;
    overflow-y: scroll;
    padding: 20px;
}

    .protocol_con p {
        line-height: 26px;
        margin-bottom: 14px;
        ;
    }

    .protocol_con dl {
        line-height: 26px;
        margin-bottom: 14px;
    }

    .protocol_con dt {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 5px;
    }

.protocol_btn {
    text-align: center;
}

.protocol_con .protocol_btn {
    margin: 30px 0;
}

.protocol_btn button, .protocol_btn .download_protocol {
    display: inline-block;
    width: 160px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    margin: 0 6px;
    cursor: pointer;
}

.protocol_btn .download_protocol {
    background-color: #0086cd;
    color: #fff;
}

.protocol_btn .continue {
    background-color: #f21914;
    color: #fff;
}

.protocol_btn button:hover {
    opacity: 0.8;
}

.register_lbt {
    float: left;
    width: 744px;
    height: 663px;
}

.flexslider {
    position: relative;
    height: 100%;
    overflow: hidden;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.flexslider .slides {
    zoom: 1;
}

.flex-direction-nav a {
    width: 60px;
    height: 90px;
    line-height: 99em;
    overflow: hidden;
    margin: -60px 0 0;
    display: block;
    background: url(../imgs/ad_ctr.png) no-repeat;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
    background-position: 0 -90px;
    right: 0;
}

.flex-direction-nav .flex-prev {
    left: 0;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

    .flexslider:hover .flex-next:hover,
    .flexslider:hover .flex-prev:hover {
        opacity: 1;
        filter: alpha(opacity=50);
    }

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

    .flex-control-nav li {
        margin: 0 5px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

.flex-control-paging li a {
    background: url(../imgs/dot.png) no-repeat 0 -16px;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -99em;
    width: 16px;
    cursor: pointer;
}

    .flex-control-paging li a.flex-active {
        background-position: 0 0;
    }

.register_con {
    width: 335px;
    font-size: 14px;
    float: left;
    margin: 40px 0 0 60px;
}

    .register_con h3 {
        font-size: 26px;
        text-align: center;
        margin-bottom: 30px;
    }

.register_txt {
    margin-bottom: 12px;
    position: relative;
    height: 41px;
}

    .register_txt input {
        width: 299px;
        height: 39px;
        border-radius: 4px;
        line-height: 39px;
        padding: 0 17px;
        border: 1px solid #e4e4e4;
        color: #888;
    }

    .register_txt .blue {
        border-color: #409EFF;
    }

    .register_txt input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #888;
    }

    .register_txt input :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #888;
    }

    .register_txt input ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #888;
    }

.searegister_txtrch input :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #888;
}

.register_contract,
.return_login {
    font-size: 12px;
}

    .register_contract input {
        vertical-align: middle;
        overflow: hidden;
        margin-top: -2px;
        width: 14px;
        height: 14px;
        border-radius: 4px;
        background-color: #fff;
    }


.register_btn {
    margin: 32px 0 38px 0;
}

    .register_btn input {
        width: 335px;
        height: 39px;
        border-radius: 4px;
        line-height: 39px;
        text-align: center;
        color: #fff;
        background-color: #0086cd;
        letter-spacing: 2px;
        cursor: pointer;
        outline: none;
    }

.return_login {
    /*text-align: center;*/
    padding-left:142px;
    margin-top:10px;
}

    .return_login a, .register_contract .forget_password {
        color: #0086cd;
    }


/* 修改element中下拉框样式 */

.el-input {
    width: 335px;
}

.location input {
    width: 100%;
    border-color: #e4e4e4;
    height: 42px;
    line-height: 42px;
    margin-top: -10px;
    color: #888;
}


/* 登录 */

.login_btn {
    margin-bottom: 22px;
}

.login_ewm {
    text-align: center;
    color: #868d9a;
    font-size: 16px;
    margin-top: 40px;
}

    .login_ewm p {
        line-height: 28px;
    }

        .login_ewm p:first-of-type {
            margin-top: 20px;
        }


/* 忘记密码 */

.register_txt .code {
    width: 180px;
}

.sms_code {
    display: inline-block;
    width: 113px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: -3px 0 0 2px;
    border-radius: 6px;
    color: #fff;
    background-color: #0086cd;
    cursor: pointer;
}

    .sms_code:hover {
        opacity: 0.9;
    }

.code_disabled {
    background-color: #eee;
    color: #9f9f9f;
}


/* 验证内容 */

.register_txt .verify {
    display: inline-block;
    width: 178px;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
    background: url(../imgs/verify_bg.png) no-repeat;
    position: absolute;
    left: 340px;
    top: 4px;
    padding: 0 10px 0 20px;
    color: #d01111;
    display: none;
}

.register_txt .error {
    border-color: #d01111;
}


/* 多选框 */

.checkbox_default {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 4px;
    border: 1px solid #666666;
    vertical-align: middle;
    overflow: hidden;
    margin: -2px 4px 0 0;
    cursor: pointer;
}

.checkbox_xz {
    border-color: #0086cd;
    background: url(../imgs/checkbox_xz2.png) 49% 49% no-repeat;
}



/*注册页面头部修改*/
.regis_header {
    margin: 20px 0;
}

    .regis_header .login {
        display: none;
    }

    .regis_header .nav {
        width: 890px;
    }

        .regis_header .nav li a {
            width: 140px;
        }


/* 注册 */

.n_register_top {
    height: 98px;
    line-height: 98px;
}

.n_register_logo {
    overflow: hidden;
    float:left;
}

    .n_register_logo a {
        display: block;
        width: 200px;
        height: 0;
        padding-top: 54px;
        overflow: hidden;
        text-indent: -9999px;
        background: url(../hxt_img/logo_login.png) 0 0 no-repeat;
    }

.n_register_phone {
    font-weight: bold;
    font-size: 16px;
}

.n_register_mid {
    width: 100%;
    height: 596px;
    background: url(../hxt_img/login_big.png) no-repeat 50% 50%;
    background-size: cover;
    padding-top: 37px;
}

/* 注册form */
.n_register_mod {
    width: 462px;
    height: 502px;
    background: #fff;
    margin: 0 auto;
    border-radius: 2px;
    padding: 25px 0 0 34px;
    margin: 0 0 0 55%;
}

    .n_register_mod h3, .n_login_mod h3 {
        font-size: 24px;
        font-weight: normal;
        margin: 0px 0 27px 148px;
    }

.n_register_input {
    margin-bottom: 22px;
    position:relative;
}

    .n_register_input input {
        width: 286px;
        height: 34px;
        line-height: 34px;
        border-radius: 5px;
        padding: 0 10px;
        border: 1px solid #dcdcdc;
    }

    .n_register_input .n_input_error {
        border-color: #e60012;
    }

    .n_register_input span, .n_register_check span {
        display: inline-block;
        width: 74px;
        text-align:right;
    }

    .n_register_input .n_code {
        width: 172px;
    }

    .n_register_input a {
        color: #5cbbff;
    }

.getCode {
    outline: none;
    display: inline-block;
    width: 112px;
    height: 35px;
    border: 1px solid #dcdcdc;
    background-color: darkorange;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

    .getCode:hover {
        opacity: 0.9;
    }

.n_register_button button {
    text-align: center;
    width: 196px;
    height: 43px;
    line-height: 43px;
    background-color: darkorange;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 0 110px;
    cursor: pointer;
}

    .n_register_button button:hover {
        opacity: 0.9;
    }

.n_register_input .n_register_error {
    font-size: 12px;
    width: 113px;
    color: #e60012;
    background: url(../img/n_register_error.png) no-repeat 0 center;
    padding-left: 17px;
    text-align:left;
    position:absolute;
    left:80px;
    top:36px;
}
/* .n_register_input .n_register_error i,.n_login_input p i{
	display: inline-block;
	width:14px;
	height:14px;
	background: url(../imgs/n_register_error.png) no-repeat;
	vertical-align: middle;
	overflow: hidden;
	margin: -1px 3px 0 0;
}
 */
.n_register_bottom {
    margin-top: 64px;
    text-align: center;
}

    .n_register_bottom p {
        line-height: 29px;
    }

/* 登录 */

.n_login_mod {
    width: 296px;
    height: 354px;
    background: #fff;
    box-shadow: 5px 5px 14px #63c5f5;
    margin: 73px 0 0 725px;
    border-radius: 5px;
    padding: 50px 35px 0;
}

    .n_login_mod h3 {
        margin: 0;
        text-align: center;
        margin-bottom: 40px;
    }

.n_login_input {
    margin-bottom: 19px;
    position: relative;
}

    .n_login_input input {
        width: 203px;
        height: 37px;
        line-height: 37px;
        border: 1px solid #dcdcdc;
        /*background-color: #ededed;*/
        border-radius: 5px;
        padding: 0 20px;
        color: #999;
    }
     .n_login_input span{
         display:inline-block;
         width:46px;
         line-height:37px;
         text-align:right;
         margin-right:5px;
     }

    .n_login_input .n_login_error {
        border-color: #e60012;
        background-color: #fff;
    }

.n_login_check input {
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 5px;
    vertical-align: middle;
    overflow: hidden;
    margin: -1px 0 0 22px;
    cursor: pointer;
    border: 1px solid #b5b5b5;
    background: #dcdcdc;
}

.n_login_check .selected {
    border: none;
    background: url(../img/n_check_selected.png) no-repeat;
}

.n_login_button {
    margin-top: 35px;
}

    .n_login_button button {
        width: 298px;
        height: 39px;
        line-height: 39px;
        background-color: #0064cb;
        color: #fff;
        text-align: center;
        border-radius: 19.5px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

        .n_login_button button:hover {
            opacity: 0.9;
        }

.n_login_link {
    margin-top: 15px;
}

    .n_login_link a {
        color: #0064cb;
    }

.n_login_input p {
    position: absolute;
    font-size: 12px;
    top: 39px;
    left: 53px;
    color: #e60012;
    background: url(../img/n_register_error.png) no-repeat 0 center;
    padding-left: 17px;
}

.n_register_check input {
    margin: -3px 5px 0 0;
}

/* 忘记密码 */
.n_psd_mod {
    width: 356px;
    height: 364px;
    margin-top: 75px;
}

    .n_psd_mod h3 {
        margin-left: 100px;
    }

.n_psd_input {
    position: relative;
    margin-bottom: 18px;
}

    .n_psd_input span {
        width: 46px;
        text-align: right;
    }

    .n_psd_input p {
        position: absolute;
        top: 35px;
        left: 54px;
    }

    .n_psd_input input {
        width: 210px;
    }

    .n_psd_input .n_code {
        width: 104px;
    }

.n_psd_button button {
    margin: 28px 0 0 55px;
}
/* 重置密码 */
.n_reset_mod {
    width: 386px;
    padding-left: 40px;
}

.n_reset_input .n_register_error {
    left: 80px;
}

.n_reset_input span {
    width: 75px;
}

.n_reset_button button {
    margin-left: 83px;
}

/* 修改密码成功 */
.n_success_mod {
    padding: 0;
    width: 426px;
    height: 294px;
    text-align: center;
    padding-top: 110px;
}

.n_reset_success {
    font-size: 24px;
    margin: 22px 0 26px;
}

.n_success_link a {
    color: #0064cb;
}