.head {
    width: 100%;
    height: 70px;
    //background: linear-gradient(146deg,rgba(29,167,240,1),rgba(23,150,217,1));
    background: url(../img/header_bg.png) repeat;
}

    .head .head_inner {
        height: 70px;
        margin: 0 auto;
    }

.head_inner .logo {
    background: url(../n_img/logo_white_n.png) no-repeat;
    margin-top: 12px;
    width: 220px;
    height: 58px;
}

.head_inner .rate {
    padding: 0 30px;
    box-sizing: content-box;
    width: 322px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 0.92;
    border-radius: 6px;
    line-height: 32px;
    color: #333333;
    text-align: center;
    margin-top: 19px;
    margin-left: 80px;
}

.head_inner .user {
    font-size: 16px;
    line-height: 70px;
    color: white;
}

    .head_inner .user > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
    }

.head_inner .back a {
    font-size: 16px;
    line-height: 70px;
    color: white;
    margin-left: 49px;
}

.head_inner .back i {
    width: 16px;
    height: 12px;
    background-image: url(../img/back.png);
    display: inline-block;
    margin-right: 1px;
}

footer {
    margin-top: 200px;
}

footer {
    background-color: #f7f7f7;
    height: 68px;
    width: 100%;
    min-width: 1200px;
    color: #999999;
    text-align: center;
}

body {
    background-color: #F7F6F9;
}

.main_body {
    height: auto;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 22px !important;
}

    .main_body .left_nav {
        height: auto;
        width: 228px;
        background: rgba(255,255,255,1);
        box-shadow: 0px 0px 6px 0px rgba(40,40,40,0.08);
        border-radius: 8px;
    }

.left_nav .nav_top {
    border-bottom: 1px solid rgba(238,238,238,1);
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
}

    .left_nav .nav_top a {
        color: rgba(50,50,50,1);
        margin-left: 16px;
    }

.right_content {
    width: 950px;
    min-height: 1350px;
    height: auto;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 6px 0px rgba(40,40,40,0.08);
    border-radius: 8px;
    margin-left: 22px;
}

.break_nav .icon_home {
    width: 14px;
    height: 12px;
    background: url(../img/icon_home.png);
    display: inline-block;
}

.right_content .break_nav {
    height: 53px;
    border-bottom: 1px solid rgba(238,238,238,1);
    line-height: 53px;
}

.break_nav .el-breadcrumb {
    font-size: 14px;
    line-height: 53px;
    height: 53px;
}

.btn_bottom button {
    height: 30px;
    background: rgba(250,250,250,1);
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
}

.btn_bottom .btn1 {
    border: 1px solid #DDDDDD;
    background: #FAFAFA;
    color: #666666;
}

.btn_bottom {
    text-align: center;
}

    .btn_bottom .btn2 {
        border: 1px solid #FFA61B;
        background: #FFA61B;
        color: #ffffff;
    }
/*客户协议开始*/
#agree {
    padding: 0px 20px;
}

    #agree p.title {
        font-size: 18px;
        font-weight: 400;
        color: rgba(50,50,50,1);
        font-weight: bold;
        text-align: center;
        /*margin-top:40px;*/
        margin-bottom: 47px;
    }

.agree_item .aggree_name {
    height: 22px;
    width: 100%;
    font-size: 16px;
    color: rgba(51,51,51,1);
    line-height: 22px;
}

.aggree_name .line {
    height: 22px;
    width: 4px;
    background: rgba(255,172,43,1);
    display: inline-block;
}

.agree_item .divice {
    width: 100%;
    height: 1px;
    background: rgba(238,238,238,1);
    margin-top: 9px;
}

.agree_content .agree_content_left {
    width: 450px;
    margin-bottom: 20px;
}

.agree_item .agree_content {
    padding: 22px 25px 0px;
}

.agree_content .xy_text {
    color: #666666;
    display: block;
    margin-bottom: 20px;
}
/*客户协议结束*/

/*客户基本信息样式开始*/
/*#vInformaction {
    padding: 0px 20px;
}*/

#vInformaction p.title {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.Info_div {
    margin-top: 30px
}

    .Info_div .subtitle {
        height: 25px;
        width: 100%;
        font-size: 16px;
        color: rgba(51,51,51,1);
        line-height: 22px;
    }

.subtitle .line {
    height: 22px;
    width: 4px;
    background-color: orange;
    display: inline-block;
    float: left;
    margin-left: 10px
}

.Info_div .divice {
    width: 100%;
    height: 1px;
    background-color: rgba(238,238,238,1);
    margin-top: 9px;
}

.Info_div .content {
    font-size: 12px;
    color: #666666;
}

.content .name {
    width: 100%;
    height: 21px;
}

.name .link {
    color: #337CFF
}
/*客户基本信息样式结束*/


/*供应商列表开始*/
.c_content {
    padding: 20px;
}

.el-form-item__label {
    color: #666666;
}

.query_wrap .title {
    color: #666666;
}

.el-input--mini .el-input__inner {
    height: 30px;
    line-height: 230px;
}

.query_wrap .btn1 {
    border: 1px solid #1DA7F0;
    background: #1DA7F0;
    color: white;
}

.query_wrap .btn2 {
    background: #fff;
    color: #666666;
    border: 1px solid #eee;
}

.query_wrap button:hover {
    cursor: pointer;
}

.query_wrap .btn {
    height: 30px;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 12px;
}

.tab_content .tb_wrap {
    /*min-height: 400px;*/
    width: 100%;
}

.c_content body {
    background: white;
}
/*供应商列表结束*/

/* 左侧列表 */
.left_list {
    width: 228px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0;
    box-shadow: 0 4px 6px #eee;
}

    .left_list h2 {
        padding: 16px 20px;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid #eee;
    }

        .left_list h2 a {
            color: #323232;
        }

    .left_list .site_list {
        padding: 20px 0;
        margin-left: -6px;
    }

        .left_list .site_list dl {
            margin-bottom: 16px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .left_list .site_list dt {
            color: #323232;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 14px;
            padding: 0 20px;
            cursor: pointer;
        }

        .left_list .site_list dd {
            position: relative;
        }

        .left_list .site_list dl dt .icon {
            display: inline-block;
            width: 18px;
            height: 16px;
            background: url(../img/icon_1.png) no-repeat center center;
            vertical-align: middle;
            overflow: hidden;
            margin: -2px 6px 0 0;
        }

        .left_list .site_list dl:nth-of-type(2) dt .icon {
            background-image: url(../img/icon_2.png);
        }

        .left_list .site_list dl:nth-of-type(3) dt .icon {
            background-image: url(../img/icon_3.png);
        }

        .left_list .site_list dl:nth-of-type(4) dt .icon {
            background-image: url(../img/icon_4.png);
        }

        .left_list .site_list dl:nth-of-type(5) dt .icon {
            background-image: url(../img/icon_5.png);
        }

        .left_list .site_list dl:nth-of-type(6) dt .icon {
            background-image: url(../img/icon_6.png);
        }

        .left_list .site_list dl:nth-of-type(7) dt .icon {
            background-image: url(../img/icon_7.png);
        }

        .left_list .site_list dt .icon_toggle {
            display: inline-block;
            width: 11px;
            height: 7px;
            background: url(../img/arrow.png) no-repeat;
            vertical-align: middle;
            overflow: hidden;
            margin: 7px 25px 0 0;
        }

        .left_list .site_list dt .icon_toggle_up {
            background: url(../img/arrow_hide.png) no-repeat;
        }

        .left_list .site_list dd a {
            display: inline-block;
            width: 200px;
            height: 38px;
            line-height: 33px;
            padding: 0 20px 0 64px;
            color: #666;
            box-sizing: border-box;
        }

            .left_list .site_list dd a:hover {
                color: #1796d9;
            }

        .left_list .site_list dd.current > a {
            background: url(../img/selected.png) no-repeat;
            color: #fff;
        }

        .left_list .site_list .list_add {
            position: absolute;
            left: 215px;
            top: -19px;
            width: 230px;
            height: 256px;
            padding: 40px 80px;
            background: url(../img/tanc_bg.png) no-repeat;
            z-index: 2000;
        }

            .left_list .site_list .list_add li {
                margin-bottom: 25px;
            }

                .left_list .site_list .list_add li a {
                    display: block;
                    width: 170px;
                    height: 60px;
                    line-height: 60px;
                    border: 1px solid #dae5e8;
                    background-color: #e9f2fb;
                    border-radius: 6px;
                    padding: 0 30px;
                    text-align: center;
                }

                .left_list .site_list .list_add li i {
                    display: inline-block;
                    width: 26px;
                    height: 23px;
                    background: url(../img/icon_sh.png) no-repeat;
                    vertical-align: middle;
                    overflow: hidden;
                    margin-right: 10px;
                }

                .left_list .site_list .list_add li:nth-child(2) i {
                    background-image: url(../img/icon_fh.png);
                    background-position: center center;
                }

                .left_list .site_list .list_add li:nth-child(3) i {
                    background-image: url(../img/icon_zl.png);
                    background-position: center center;
                }

/* tab栏 */

.tab ul li a {
    float: left;
    width: 114px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #768993;
    border-radius: 6px 6px 0 0;
    margin-right: 8px;
    color: #fff;
    font-size: 14px;
    position: relative;
}

.tab ul li span {
    position: absolute;
    right: 0;
    top: 0;
    width: 23px;
    height: 23px;
    background: url(../img/delete_c.png) no-repeat;
    display: none;
}

.tab ul li:hover span {
    display: inline-block;
}


.tab ul li.current span {
    display: inline-block;
    background-image: url(../img/delete.png);
}

.tab ul li:nth-of-type(1):hover span, .tab ul li:nth-of-type(1).current:hover span, .tab ul li:nth-of-type(1).current span {
    display: none;
}

.tab ul li.current a, .tab ul li.red a {
    background-color: #fff;
    color: #1796d9;
}




/*.right_content {
    width: 950px;
    margin-left: 22px;
    box-shadow: 0 4px 6px #eee;
}*/

.rb_content {
    min-height: 1304px;
    background-color: #fff;
    border-radius: 0 6px 6px 6px;
}

.sidebar-small {
    display: none;
}

.sidebar-small > div {
    position: fixed;
    right: 0;
    top: calc(50vh - 45px);
    z-index: 998;
}

.sidebar {
    display: none;
}

.sidebar > div {
    position: fixed;
    right: 0;
    top: calc(50vh - 36px - 74px - 74px);
    z-index: 999;
    padding-left: 157px;
}

    .sidebar > div > div {
        /*position: fixed;*/
        /*right: 0;*/
        /*z-index: 999;*/
        /*    background-color: white;*/
        position: relative;
    }

    .sidebar > div > div > div {
        width: 130px;
        position: absolute;
    }

    .sidebar > div > div > a {
        right: 0;
        width: 70px;
        height: 25px;
        border: 1px solid #1796d9;
        background: url(../img/kefu.png) no-repeat center 10px;
        text-align: center;
        padding-top: 45px;
        color: #1796d9;
        cursor: pointer;
    }

        .sidebar > div > div:not(:first-child) > a {
            margin-top: 2px;
        }
/* 客服 */
#customer {
    /*top: 300px;*/
    /*top: calc(50vh - 36px - 74px - 74px);*/
}

    #customer > a {
        background: url(../img/kefu.png) no-repeat center 10px;
    }

        #customer > a:hover {
            background-color: #1796d9;
            color: #fff;
            background-image: url(../img/kefu_white.png);
        }

#phone {
    /*top: 374px;*/
    /*top: calc(50vh - 36px - 74px);*/
}

    #phone > div {
        top: 74px;
        text-align: center;
    }

    #phone > a {
        background: url(../img/tel.png) no-repeat center 10px;
    }

        #phone > a:hover {
            background-color: #1796d9;
            color: #fff;
            background-image: url(../img/tel_white.png);
        }

#wechat {
    /*top: 448px;*/
    /*top: calc(50vh - 36px);*/
}

    #wechat > div {
        top: 148px;
        text-align: center;
    }

    #wechat > a {
        background: url(../img/gzh.png) no-repeat center 10px;
    }

        #wechat > a:hover {
            background-color: #1796d9;
            color: #fff;
            background-image: url(../img/gzh_white.png);
        }

#advise {
    /*top: 522px;*/
    /*top: calc(50vh - 36px + 74px);*/
}

    #advise > a {
        background: url(../img/advice.png) no-repeat center 10px;
    }

        #advise > a:hover {
            background-color: #1796d9;
            color: #fff;
            background-image: url(../img/advice_white.png);
        }

#totop {
    /*top: 596px;*/
    /*top: calc(50vh - 36px + 74px + 74px);*/
}

    #totop > a {
        background: url(../img/return.png) no-repeat center 10px;
    }

        #totop > a:hover {
            background-color: #1796d9;
            color: #fff;
            background-image: url(../img/return_white.png);
        }


.cus_icon {
    right: 0;
    width: 70px;
    height: 25px;
    border: 1px solid #1796d9;
    text-align: center;
    padding-top: 45px;
    color: #1796d9;
    cursor: pointer;
}

.cus_list {
    right: 72px;
    padding: 8px 12px;
    background-color: #1796d9;
    color: #fff;
    margin-right: 3px;
}

    .cus_list ul {
        border-bottom: 1px solid #8bcbec;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .cus_list li {
        line-height: 24px;
    }

        .cus_list li.first {
            margin-bottom: 5px;
        }

        .cus_list li i {
            display: inline-block;
            width: 20px;
            height: 22px;
            background: url(../img/kefu_staff.png) no-repeat;
            vertical-align: middle;
            overflow: hidden;
            margin-right: 10px;
        }

        .cus_list li img {
            margin: 0 12px 0 5px;
        }

        .cus_list li .img_change {
            background-image: url(../img/kefu_manager.png);
        }
/*付汇委托书弹框开始*/
.fh_file .el-dialog .dialog_body .txt {
    font-size: 12px;
}

.fh_file .el-dialog .dialog_body .txt1 {
    color: #666666;
}

.fh_file .el-dialog .dialog_body .txt2 {
    color: #999999;
}

.fh_file .el-dialog .dialog_body .btn {
    width: 140px;
    height: 36px;
    background: rgba(29,166,239,1);
    border-radius: 6px;
    color: white;
    border: 0px;
    font-size: 14px;
}

.file_item {
    padding: 0 9px;
    height: 30px;
    line-height: 30px;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(238,238,238,1);
    display: inline-block;
}

    .file_item .file_icon {
        display: inline-block;
        background: url(../img/file_icon.png);
        width: 12px;
        height: 14px;
        vertical-align: middle;
    }

    .file_item .file_del {
        display: inline-block;
        background: url(../img/file_del.png);
        width: 16px;
        height: 16px;
        vertical-align: middle;
        cursor: pointer;
    }

    .file_item .file_name {
        font-size: 12px;
        color: #666666;
    }
/*付汇委托书弹框结束*/

/*我的付汇开始*/
.query_wrap .red_tip {
    line-height: 30px;
    color: #f33131;
    margin-left: 10px;
}

.all_check .btn_all {
    background: #1DA7F0;
    color: white;
    height: 30px;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 12px;
}

    .all_check .btn_all:hover {
        cursor: pointer;
    }

.all_check .txt_tip {
    line-height: 30px;
    color: #999999;
}

#vUnPay .common_tb1 {
    word-wrap: break-word;
    word-break: break-all;
    width: 1200px
}
/*我的付汇结束*/

/*付汇申请开始*/
#vPayApply .el-form-item__label {
    text-align: left;
}

#vPayApply .txt1 {
    color: #666666;
}

#vPayApply .info .txt2 {
    color: #666666;
    width: 120px;
    text-align: left;
    font-size: 14px;
    line-height: 40px;
}

#vPayApply .txt3 {
    color: #333333;
    font-size: 14px;
    line-height: 40px;
}

#vPayApply .txt4 {
    color: #F33131;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
}

.tb_wrap .txt_tb_bottom {
    color: #323232;
}

.upload_wrap .btn_upload {
    background: #1DA7F0;
    color: white;
    height: 30px;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 12px;
    border: 0px;
}

.upload_wrap ul li {
    width: 600px;
    height: 30px;
    border-bottom: 1px solid #DDDDDD;
    line-height: 30px;
}

    .upload_wrap ul li .icon1 {
        display: inline-block;
        background: url(../img/file_icon.png);
        width: 12px;
        height: 14px;
        vertical-align: middle;
    }

    .upload_wrap ul li .file_name {
        color: rgba(27,158,226,1);
        cursor: pointer;
    }

    .upload_wrap ul li .icon2 {
        display: inline-block;
        background: url(../img/file_del.png);
        width: 16px;
        height: 16px;
        vertical-align: middle;
        cursor: pointer;
        margin-top: 8px;
    }
/*付汇申请结束*/

/*付汇申请详情开始*/
.detail_info .title {
    color: #333333
}

.detail_info .content {
    color: #666666;
}

#vApplyInfo .pay_wrap {
    width: 380px;
    height: 138px;
    background: rgba(246,250,254,1);
    border-radius: 4px;
    padding: 16px 14px;
    box-sizing: border-box;
    margin-left: 98px;
}

    #vApplyInfo .pay_wrap p {
        color: #666666;
        line-height: 26px;
    }

        #vApplyInfo .pay_wrap p .p_title {
            color: #333333;
        }

.upload_wrap1 .file_icon {
    background: url(../img/icon_file1.png);
    width: 23px;
    height: 26px;
}

.upload_wrap1 .file_icon {
    background: url(../img/icon_file1.png);
    width: 23px;
    height: 26px;
}

.upload_wrap1 li {
    margin-top: 10px;
    box-sizing: border-box;
    height: 36px;
    border-bottom: 1px solid #E0E0E0;
}

.upload_wrap1 .file_name {
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

.upload_wrap1 .link {
    color: #1B9EE2;
    cursor: pointer;
}

.upload_wrap1 .c_right {
    position: relative;
    top: -4px;
    left: 10px;
    width: calc(100% - 40px);
    overflow: hidden;
}

#vApplyInfo .upload_wrap1 {
    width: 360px;
}

.upload_wrap2 .tip {
    color: #999999;
}

.upload_wrap2 button {
    width: 58px;
    height: 30px;
    background: rgba(29,166,239,1);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
/*付汇申请详情结束*/

/*新增报关单开始*/
.order_add .currency .el-form-item__label {
    color: #F33131;
    width: auto !important;
}

.order_add .currency .el-form-item__content {
    margin-left: 0px !important;
}

.info-total-wrap .el-form-item__label {
    width: auto !important;
    float: left;
}

.info-total-wrap .el-form-item__content {
    margin-left: 0px !important;
    float: left;
}

.info-total-wrap .el-input--mini .el-input__inner {
    height: 24px;
}

.btn-tb-list .btn_upload i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/icon_upload1.png);
    margin-left: 4px;
    vertical-align: top;
}

.btn-tb-list button {
    border: 0px;
    height: 30px;
    background: #1DA7F0;
    border-radius: 4px;
    color: white;
}

.btn-tb-list .el-button {
    padding: 0 17px;
}

.btn-tb-list .txt {
    line-height: 30px;
}

.btn-tb-list a {
    cursor: pointer;
}

.order_add .btn-tb-list .el-button:focus, .order_add .btn-tb-list .el-button:hover {
    color: #fff;
    background-color: #1DA7F0;
}

i.tb_icon_del {
    display: inline-block;
    width: 17px;
    height: 18px;
    background: url(../img/icon_delete1.png);
    cursor: pointer;
}

.common_tb .el-input--mini .el-input__inner {
    height: 24px;
}

.common_tb .el-input--mini .el-input__icon {
    line-height: 24px;
}

.common_tb td {
    padding: 0 4px;
}

    .common_tb td .btn {
        border: 1px solid rgba(23,150,217,1);
        background: rgba(23,150,217,1);
        color: #ffffff;
        height: 30px;
        border-radius: 4px;
        padding: 0px 5px;
        width: 40px;
    }

    .common_tb td .el-input__inner {
        padding: 0 4px;
    }

    .common_tb td .el-input--prefix .el-input__inner {
        padding-left: 30px;
    }

    .common_tb td .el-input--suffix .el-input__inner {
        padding-right: 30px;
    }


.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {
    color: #FFF;
    background-color: #a0cfff !important;
    border-color: #a0cfff;
}

.order_add .btn_add {
    height: 30px;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(23,150,217,1);
    border-radius: 4px;
    color: #1796D9;
    padding: 0 12px;
}

    .order_add .btn_add .el-button:focus, .order_add .btn_add .el-button:hover {
        color: #1796D9;
        background-color: rgba(255,255,255,1);
    }

.order_add .txt_wl {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}

.el-radio__input.is-checked + .el-radio__label, .el-radio {
    color: #666666;
}

.radio_wl {
    height: 30px;
    line-height: 30px;
}

.SupplierAddressOptions .el-radio__label {
    position: relative;
    top: 1px;
}

.order_add .txt1 {
    color: #666666;
}

.dialog_success .title {
    font-size: 16px;
    color: #666666;
    text-align: center;
}

.break_nav .el-breadcrumb {
    font-size: 12px;
}
/*新增报关单结束*/
/*客户基本数据开始*/
.client_info ul.BasicInfo li div em {
    font-size: 14px;
    color: #666666;
    width: 250px;
    height: 14px;
}

/*客户基本数据结束*/

/*订单详情开始*/
.order_detail .order_head {
    width: 910px;
    height: 102px;
    background: rgba(246,250,254,1);
    border: 1px solid rgba(238,238,238,1);
    border-radius: 6px;
    padding: 20px 17px;
    box-sizing: border-box;
}

.order_detail .file_model li.file-li-wrap {
    width: 33%;
    box-sizing: border-box;
    padding-right: 50px;
    height: 180px;
}

.order_detail .order_info ul li {
    width: 33%;
    box-sizing: border-box;
    padding-right: 50px;
}

.info_item {
    margin-bottom: 20px;
}

    .info_item .info_title {
        color: #333333;
    }

    .info_item .info_content {
        color: #666666;
    }

.pay_supplier i, .round_li i {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: rgba(194,194,194,1);
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    margin-right: 6px;
}

.order_info .pay_supplier {
    margin-bottom: 12px;
}
/*订单详情结束*/

/*供应商详情开始*/
#vSupplierDetail .txt2 {
    color: #666666;
    width: 100px;
    text-align: left;
    font-size: 14px;
    line-height: 40px;
}

#vSupplierDetail .txt3 {
    color: #333333;
    width: 350px;
    font-size: 14px;
    line-height: 40px;
}

/*供应商详情结束*/

/*首页开始*/
.company_info {
    width: 592px;
    height: 64px;
    border: 1px solid #eee;
    background-color: #f6fafe;
    border-radius: 6px;
    padding: 24px 16px;
}

.company_name h2 {
    font-size: 24px;
    color: #1b9ee2;
    margin-bottom: 12px;
    font-weight: normal;
}

.company_name p {
    color: #999;
}

.company_code {
    margin-left: 126px;
    text-align: center;
}

    .company_code p {
        font-size: 28px;
        -font-weight: 600;
        color: #999;
        margin-bottom: 2px;
    }

    .company_code span {
        color: #999;
    }

.erweima {
    margin: 10px 0 0 25px;
}

.erweima_text {
    padding: 12px 0 12px 8px;
}

    .erweima_text h4 {
        font-size: 16px;
        color: #333;
        margin-bottom: 18px;
    }

    .erweima_text p {
        line-height: 18px;
        color: #ffb11a;
    }

.infos {
    margin: 20px 0 28px;
}

    .infos table {
        width: 100%;
        border: 1px solid #eee;
    }

        .infos table td {
            padding: 0 12px;
            border: 1px solid #eee;
        }

    .infos .first_tr {
        line-height: 44px;
    }

        .infos .first_tr span {
            margin-left: 115px;
        }


        .infos .first_tr .info_credit {
            font-size: 16px;
            color: #323232;
            margin-left: 0;
        }

        .infos .first_tr span i {
            font-size: 16px;
            color: #f33131;
        }

    .infos .second_tr td {
        padding: 8px 12px;
    }

    .infos .second_tr h5 {
        line-height: 20px;
        margin-bottom: 6px;
        display: inline-block;
        border-bottom: 1px solid #fa7f1b;
        color: #323232;
        font-size: 12px;
    }

    .infos .second_tr p {
        line-height: 20px;
        color: #999;
    }

    .infos .fourth_tr span {
        margin-left: 30px;
    }

        .infos .fourth_tr span:nth-child(1) {
            margin-left: 2px;
        }

        .infos .fourth_tr span i {
            font-size: 12px;
        }

/* 报关订单状态 begin */

.dec-status {
    width: 100%;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #fcfcfc;
    padding: 25px 0;
}

    .dec-status ul {
        width: 96%;
        list-style: none;
        margin: 0 auto;
    }

        .dec-status ul li {
            cursor: pointer;
        }

        .dec-status li:not(:first-child) {
            float: left;
            margin-left: 22px;
        }

    .dec-status li img {
        width: 38px;
        height: 38px;
        float: left;
    }

.dec-status li div.statusname {
    float: left;
    color: #666;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 9px;
}

    .dec-status div.light {
        color: #1B9EE2 !important;
    }

.dec-status li .dark {
    display: block;
}
    .dec-status li .light {
        display: none;
    }

    .dec-status li:hover .dark {
        display: none;
    }
    .dec-status li:hover .light {
        display: block;
    }

/* 报关订单状态 end */

.orders h2, .services h2 {
    font-size: 16px;
    color: #323232;
    margin-bottom: 15px;
    margin-top: 30px;
}

.orders table {
    width: 100%;
    line-height: 36px;
    border: 1px solid #eee;
    border-collapse: collapse;
}

    .orders table th {
        background-color: #f9f9f9;
    }

    .orders table td {
        border: 1px solid #eee;
        line-height: 36px;
        text-align: center;
    }

        .orders table td a {
            color: #1b9ee2;
        }

/*.orders table td a:hover {
    text-decoration: underline;
}*/

.services {
    margin: 32px 0;
}

    .services li {
        float: left;
        margin-right: 15px;
    }

        .services li:last-child {
            margin-right: 0;
        }

        .services li a {
            display: block;
            width: 214px;
            height: 90px;
            border: 1px solid #eee;
            border-radius: 6px;
            background-color: #fcfcfc;
            text-align: center;
            padding-top: 20px;
        }

        .services li i {
            display: inline-block;
            width: 38px;
            height: 38px;
            background: url(../img/icon_services.png) no-repeat 0 0;
        }

        .services li:nth-child(2) i, .services li:nth-child(2) a:hover i {
            background-position: -50px 0;
        }

        .services li:nth-child(3) i, .services li:nth-child(3) a:hover i {
            height: 32px;
            margin-top: 8px;
            background-position: -50px -50px;
        }

        .services li:nth-child(4) i, .services li:nth-child(4) a:hover i {
            height: 32px;
            margin-top: 8px;
            background-position: 0 -50px;
        }

        .services li a:hover p {
            color: #1b9ee2;
        }

        .services li a:hover i {
            background: url(../img/icon_services_blue.png) no-repeat 0 0;
        }

        .services li p {
            margin-top: 8px;
            font-size: 14px;
            color: #323232;
        }
/*首页结束*/
.bulk_import .txt1 {
    font-size: 12px;
}

.fh_file .el-dialog .dialog_body .btn1 {
    background: rgba(29,166,239,1);
    color: white;
    border: 0px;
    font-size: 12px;
}

/* 404 */
#error {
    width: 100%;
}

    #error .wrapper {
        text-align: center;
    }

.error_display {
    display: inline-block;
    width: 922px;
    height: 200px;
    padding-top: 545px;
    font-size: 20px;
    color: #323232;
    background: url(../img/error_bg.png) repeat center center;
}

    .error_display span {
        margin-left: -41px;
    }

        .error_display span a {
            color: #ff454b;
        }

.label1 {
    background: rgb(62,184,252);
    color: #fff;
    border-radius: 2px;
    padding: 0px 4px;
}

.label2 {
    background: rgb(79,204,99);
    color: #fff;
    border-radius: 2px;
    padding: 0px 4px;
}

.list_tip_num {
    border-radius: 2px;
    color: white;
    background: rgb(243,49,49);
    padding: 1px 4px;
}

.order_add .currency .el-form-item__error {
    margin-left: 80px;
}

/*底部样式*/
#footer {
    font-size: 12px;
    color: #333;
    background: #fff;
    margin-top: 40px;
}

.footer_top {
    display: block;
    height: 182px;
    padding-top: 40px;
    /*border-top:1px solid #d6e1ff;*/
    background-color: #2a2c31;
    color: #a5a9b1;
}

#footer .wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}


.footer_top dl {
    float: left;
    width: 210px;
    text-align: left;
}

.footer_top dt {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.footer_top dd {
    line-height: 30px;
}

    .footer_top dd a {
        cursor: pointer;
        color: #999;
    }

        .footer_top dd a:hover {
            color: #fff;
        }

.footer_top .right p {
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.footer_bottom {
    height: 66px;
    /*border-top:1px solid #d6e1ff;*/
    background-color: #21242a;
    line-height: 22px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

.footer_top .erweima {
    float: right;
    margin: 0;
}

.footer_top .classify {
    float: left;
}
/*预归类开始*/
#preproduct .preproduct_wrap {
    min-height: 660px;
}

#preproduct .all_check {
    line-height: 30px;
}

#preproduct .buttonlist {
    margin-bottom: 10px;
}

#preproduct .el-icon-ump-gouwuchekong {
    width: 110px;
    height: 30px;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 14px;
}

#preproduct .btn_data {
    width: 110px;
    height: 30px;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 22px;
}

#preproduct .btn_upload button {
    height: 30px;
    font-size: 14px;
    line-height: 1;
    padding-top: 7px;
}

.preproduct table {
    width: 100%;
}

    .preproduct table th {
        text-align: left;
        height: 48px;
        color: #666666;
        font-weight: bold;
        font-size: 14px;
        margin: 0px;
        white-space: nowrap;
        overflow: hidden;
        user-select: none;
    }

.preproduct ul.title li {
    float: left;
    height: 48px;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    background-color: #f5f5f5;
    border-top: 1px solid #ebeef5;
    border-bottom: 1px solid #ebeef5;
    line-height: 48px;
}

    .preproduct ul.title li:first-child {
        border-left: 1px solid #ebeef5;
    }

    .preproduct ul.title li:last-child {
        border-right: 1px solid #ebeef5;
    }

.preproduct ul.title ul {
    overflow: hidden;
}

.preproduct ul.content li:nth-child(2n+1) {
    background-color: white;
}

.preproduct ul.content li:nth-child(2n) {
    background-color: #fbfbfb;
}

    .preproduct ul.content li:nth-child(2n) tr.detail {
        background-color: #fbfbfb;
    }

.preproduct ul.content tr {
    border-bottom: 1px solid #ebeef5;
}

    .preproduct ul.content tr td {
        padding: 12px 12px 12px 0px;
        border-bottom: 1px solid #ebeef5;
        font-size: 14px;
        color: #666666;
        word-break: break-all;
    }

        .preproduct ul.content tr td:first-child {
            border-left: 1px solid #ebeef5;
        }

        .preproduct ul.content tr td:last-child {
            border-right: 1px solid #ebeef5;
        }

        .preproduct ul.content tr td a {
            color: #31b0f3;
            margin-left: 12px;
            margin-right: 10px;
        }

    .preproduct ul.content tr.detail .con_left,
    .preproduct ul.content tr.detail .con_right {
        float: left;
        width: 50%;
    }

    .preproduct ul.content tr.detail p.title {
        font-weight: bold;
        font-size: 16px;
        color: #323232;
        margin: 24px 0 24px 44px;
    }

    .preproduct ul.content tr.detail td {
        padding: 0px;
    }

    .preproduct ul.content tr.detail .wrap_data .name {
        width: 144px;
        text-align: right;
    }

    .preproduct ul.content tr.detail .wrap_data .name,
    .preproduct ul.content tr.detail .wrap_data .content {
        float: left;
        display: inline-block;
        word-break: break-all;
    }

    .preproduct ul.content tr.detail .wrap_data .content {
        max-width: 700px;
    }

    .preproduct ul.content tr.detail .wrap_data {
        margin-bottom: 16px;
        overflow: hidden
    }

.preproduct ul.content li {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

.preproduct .spacialTypeTip {
    color: #FF7600;
    font-size: 14px;
    margin-right: 32px;
    font-weight: bold;
}
/*预归类结束*/
.inner_tb {
    width: 100%;
}

    .inner_tb td {
        border: 0px;
    }

.preproduct_wrap .inner_tb td.detail {
    border-top: 1px solid #eeeeee !important;
    text-align: left !important;
}

.preproduct_wrap .inner_tb td p.title {
    font-weight: bold;
    font-size: 14px;
    color: #323232;
    margin: 24px 0 24px 44px;
}

.preproduct_wrap .inner_tb .con_left, .preproduct_wrap .inner_tb .con_right {
    float: left;
    width: 50%;
}

.preproduct_wrap .inner_tb td.detail .wrap_data .name, .preproduct_wrap .inner_tb td.detail .wrap_data .content {
    float: left;
    display: inline-block;
    word-break: break-all;
}

.preproduct_wrap .inner_tb td.detail .wrap_data .name {
    width: 144px;
    text-align: right;
}

.preproduct_wrap .inner_tb td.detail .wrap_data {
    margin-bottom: 16px;
    overflow: hidden;
}

.preproduct_wrap .spacialTypeTip {
    color: #FF7600;
    margin-right: 32px;
    font-weight: bold;
}

.el-input {
    position: unset;
}
