@{
    ViewBag.title = "会员基本信息";
}
<div id="vInformaction" v-cloak>


    <div class="mt10 Info_div clearfix" v-if="(ruleForm.ThePageIsCustoms == true && ruleForm.ThePageIsWarehouse == true) ||
                                              (ruleForm.ThePageIsCustoms == true && ruleForm.ThePageIsWarehouse == false)">
        <div class="subtitle">
            <span class="line"></span>
            <span class="ml16">公司信息</span>
        </div>
        <div class="divice"></div>
        <div class="content fl">
            <div class="name ml20 mt20">
                <span class="w150 fl">公司名称：</span>
                <em style="width:500px">{{ruleForm.CompanyName}}</em>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">公司法人：</span>
                <em style="width:500px;">{{ruleForm.Corporation}}</em>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">公司注册地址：</span>
                <em style="width:500px;">{{ruleForm.RegAddress}}</em>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">统一社会信用编码：</span>
                <em style="width:500px;">{{ruleForm.Uscc}}</em>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">纳税人识别号：</span>
                <em style="width:500px;">{{ruleForm.TaxperNumber}}</em>
            </div>
        </div>
    </div>

    <div class="mt30 Info_div clearfix" v-if="(ruleForm.ThePageIsCustoms == true && ruleForm.ThePageIsWarehouse == true) ||
                                           (ruleForm.ThePageIsCustoms == true && ruleForm.ThePageIsWarehouse == false)">
        <div class="subtitle">
            <span class="line"></span>
            <span class="ml16">开票信息</span>
        </div>
        <div class="divice"></div>
        <div class="content fl">

            <div class="name ml20 mt20">
                <span class="w150 fl">开票名称：</span>
                <span>{{ruleForm.invoiceRuleForm.CompanyName}}</span>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">纳税人识别号：</span>
                <span>{{ruleForm.invoiceRuleForm.TaxperNumber}}</span>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">地址：</span>
                <span>{{ruleForm.invoiceRuleForm.RegAddress}}</span>
            </div>
            @*<div class="name ml20 mt20">
                    <span>发票类型：</span>
                    <span>{{invoiceRuleForm.TypeName}}</span>
                </div>*@
            <div class="name ml20 mt20">
                <span class="w150 fl">电话：</span>
                <span>{{ruleForm.invoiceRuleForm.CompanyTel}}</span>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">开户行及账号：</span>
                <span>{{ruleForm.invoiceRuleForm.Bank}} {{ruleForm.invoiceRuleForm.Account}}</span>
            </div>
        </div>
    </div>

    <div class="mt30 Info_div clearfix">
        <div class="subtitle">
            <span class="line"></span>
            <span class="ml16">账户信息</span>
        </div>
        <div class="divice"></div>
        <div class="content fl">
            <div class="name ml20 mt20">
                <span class="w106 fl">登录名：</span>
                <em class="w250 fl">{{ruleForm.UserName}}</em>
                <a v-on:click="edit_LoginName" class="link ml20 fl">修改登录名</a>
            </div>
            <div class="name ml20 mt20">
                <span class="w106 fl">手机号码：</span>
                <em class="w250 fl" style="height:21px">{{ruleForm.Mobile}}</em>
                <a href="/Account/Mobile" class="link ml20">修改手机号</a>
            </div>
            <div class="name ml20 mt20">
                <span class="w106 fl">邮箱：</span>
                <em class="w250 fl">{{ruleForm.Email}}</em>
                <a href="/Account/Email" v-if="ruleForm.Email!=''&&ruleForm.Email!=null" class="link ml20 fl">修改邮箱</a>
            </div>
        </div>
    </div>

    <div class="mt30 Info_div clearfix" v-if="(ruleForm.ThePageIsCustoms == false && ruleForm.ThePageIsWarehouse == true)
                                           && (ruleForm.StorageTypeInt == 1 || ruleForm.StorageTypeInt == 2)">
        <div class="subtitle">
            <span class="line"></span>
            <span class="ml16">公司信息</span>
        </div>
        <div class="divice"></div>
        <div class="content fl">
            <div class="name ml20 mt20">
                <span class="w150 fl">公司名称：</span>
                <em style="width:500px">{{ruleForm.CompanyName}}</em>
            </div>
            <div class="name ml20 mt20" v-if="ruleForm.StorageTypeInt == 2">
                <span class="w150 fl">公司法人：</span>
                <em style="width:500px;">{{ruleForm.Corporation}}</em>
            </div>
            <div class="name ml20 mt20" v-if="ruleForm.StorageTypeInt == 2">
                <span class="w150 fl">公司注册地址：</span>
                <em style="width:500px;">{{ruleForm.RegAddress}}</em>
            </div>
            <div class="name ml20 mt20" v-if="ruleForm.StorageTypeInt == 2">
                <span class="w150 fl">统一社会信用编码：</span>
                <em style="width:500px;">{{ruleForm.Uscc}}</em>
            </div>
            <div class="name ml20 mt20" v-if="ruleForm.StorageTypeInt == 2">
                <span class="w150 fl">纳税人识别号：</span>
                <em style="width:500px;">{{ruleForm.TaxperNumber}}</em>
            </div>
        </div>
    </div>

    <el-dialog title="修改登录名" :lock-scroll="false" :visible.sync="dialogFormVisible" :close-on-click-modal="false" width="30%">
        <el-form :model="ruleForm1" status-icon ref="ruleForm1" label-width="80px" :rules="rules">
            <el-form-item label="登录名" prop="User_Name">
                <el-input v-model="ruleForm1.User_Name" size="mini" auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" v-on:click="onSubmit_ruleForm1()">确 定</el-button>
        </div>
    </el-dialog>
</div>
<script>
    var vInformaction = new Vue({
        el: "#vInformaction",
        data: function () {
            var that = this;
            var validateName =function (rule, value, callback){
                if (value == '' || value == null) {
                    callback(new Error('请输入登录名'));
                }
                else {
                    axios({
                        url: "/Account/CheckName",
                        method: "post",
                        data: {
                            name: that.ruleForm1.UserName
                        },
                    }).then(function (response) {
                        if (response.data.type == "error") {
                            callback(new Error("该登录名已经注册，不可使用"));
                        } else {
                            callback();
                        }
                    }).catch(function (error) {
                        that.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                    });
                }
            };
            return {
                dialogFormVisible: false,
                //基本信息
                ruleForm:@Html.Raw(Json.Encode(Model)),
                //登录名弹框
                ruleForm1: {
                    User_Name:"",
                },
                rules: {
                    User_Name: [{ required: true, validator: validateName, trigger: 'blur' },
                        { min: 1, max: 150, message: '长度在 1 到 150个字符', trigger: 'blur' }
                    ],
                },
            };
        },
        methods: {
            //点击修改登录名
            edit_LoginName: function () {
                var that = this;
                that.dialogFormVisible = true;
                setTimeout(function(){
                    that.ruleForm1.User_Name = that.ruleForm.UserName;
                }, 0);
            },
            //登录名修改提交
            onSubmit_ruleForm1: function () {
                var that = this;
                this.$refs.ruleForm1.validate(function(valid){
                    if (valid) {
                        that.dialogFormVisible = false; //关闭弹窗
                        axios({
                            url: "/Account/ChangeUserName",
                            method: "post",
                            data: {
                                username: that.ruleForm1.User_Name
                            },
                        }).then(function (response) {
                            if (response.data.type == "success") {
                                that.ruleForm.UserName = that.ruleForm1.User_Name;
                            }
                            that.$refs.ruleForm1.resetFields();
                            that.onAlert(response.data.type, response.data.msg);
                        }).catch(function (error) {
                            that.onAlert("warning", "修改登录名失败,请稍后重试或联系您的业务员");
                        });
                    } else {
                        //验证失败
                        return false;
                    }
                });
            },
            //消息提示框
            onAlert: function (type, message) {
                this.$message({
                    message: message,
                    type: type,
                    offset:200,
                });
            },
        },
    });
</script>