
@{

}

<link rel="stylesheet" type="text/css" href="/Content/css/accountSecurity.css" />

<div class="account_vertify">
    <div class="subtitle">
        <span class="line"></span>
        <span class="ml16">账户信息</span>
    </div>
    <div class="divice"></div>
    <div class="mod">
        <ul class="clearfix">
            <li>@*<img src="/Content/img/right_icon.png">*@</li>
            <li>登录密码</li>
            <li>建议您定期更改密码以保护账户安全。</li>
            <li class="action_li"><a href="/Account/Password" class="revise">修改</a></li>
        </ul>
    </div>
    <div class="mod">
        <ul class="clearfix">
            <li>@*<img src="/Content/img/wait_icon.png">*@</li>
            <li>手机验证</li>
            <li>验证后，可用于登录。</li>
            <li class="action_li"><a href="/Account/Mobile" class="verify">立即验证</a></li>
        </ul>
    </div>
    <div class="mod">
        <ul class="clearfix">
            <li>@*<img src="/Content/img/wait_icon.png">*@</li>
            <li>邮箱验证</li>
            <li>验证后，可用于登录。</li>
            <li class="action_li"><a href="/Account/Email" class="verify">立即验证</a></li>
        </ul>
    </div>
</div>
