@{
    ViewBag.title = "仓库地址";
}
<div id="vInformaction">
    <div class="mt10 Info_div clearfix">
        <div class="subtitle">
            <span class="line"></span>
            <span class="ml16">香港仓库</span>
        </div>
        <div class="divice"></div>
        <div class="content fl">
            <div class="name ml20 mt20">
                <span class="w150 fl">公司名称：</span>
                <em style="width:500px">香港速逹國際物流有限公司</em>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">英文名称：</span>
                <em style="width:500px;">HONGKONG EXPRESS INTERNATIONAL LOGISTICS LIMITED</em>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">中文地址：</span>
                <em style="width:500px;">香港九龙观塘成业街27号日昇中心1204室</em>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">英文地址：</span>
                <em style="width:500px;">FLAT/RM 1204 12/F SUNBEAM CENTRE NO.27 SHIN G YIP STREET KL</em>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">联系人：</span>
                <em style="width:500px;">马小姐</em>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">联系电话：</span>
                <em style="width:500px;">00852-23688398</em>
            </div>
        </div>
    </div>

    <div class="mt30 Info_div clearfix">
        <div class="subtitle">
            <span class="line"></span>
            <span class="ml16">大陆仓库</span>
        </div>
        <div class="divice"></div>
        <div class="content fl">

            <div class="name ml20 mt20">
                <span class="w150 fl">公司名称：</span>
                <span>深圳市华芯通供应链管理有限公司</span>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">仓库地址：</span>
                <span>深圳市龙华区龙华街道富康社区天汇大厦C栋212</span>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">联系人：</span>
                <span>XXX</span>
            </div>
            <div class="name ml20 mt20">
                <span class="w150 fl">联系电话：</span>
                <span>1234567890</span>
            </div>
        </div>
    </div>
</div>
