
#vIndex {
    margin:0 auto;
    height:auto;
    position:relative;
   top:125px;
}
.box {
    box-sizing: border-box;
    background: rgba(255,255,255,1);
    box-shadow: 4px 7px 8px 0px rgba(14,5,10,0.08);
    border-radius: 6px;
    margin-bottom: 12px;
}
.account {
    width: 298px;
    height: 280px;
}
.bill {
    width: 596px;
    height: 280px;
    margin: 0 10px;
}
.fast_order {
    width: 280px;
    height: 280px;
}
.merge_wrap .announce {
    width: 298px;
    height: 184px;
}
.merge_wrap .convenient_service {
    width: 298px;
    height: 150px;
}
.order_list {
    width: 596px;
    height: 348px;
    margin: 0 10px;
}
.service {
    width: 280px;
    height: 348px;
}
.top_content {
    padding-left: 18px;
    padding-top: 10px;
    height: 26px;
    line-height: 26px;
}
.top_content .title {
    color: #2B2B2B;
    font-size: 16px;
   position:relative;
   top:-6px;
}
.top_content .link {
    color: #B9B9B9;
    font-size: 14px;
    float:right;
    margin-top:3px;
    margin-right:20px;
}
.top_content .link:hover{
    cursor:pointer;
}
.account .center_content {
    width: 236px;
    margin: 0 auto;
    border-bottom: 1px dashed #E6E6E6;
    margin-top: 28px;
}
.mr17{
    margin-right:17px;
}
.account .center_content .title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(102,102,102,1);
    line-height: 24px;
}
.account .center_content .contents {
    font-size: 18px;
    font-weight: 400;
    color: rgba(51,124,255,1);
    line-height: 24px;
    margin-top:10px;
    margin-bottom:20px;
}
.account .bottom_content {
    padding-left: 38px;
    margin-top: 26px;
}
.font1 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(102,102,102,1);
}
.account .bottom_content span{
    line-height:30px;
}
.account .bottom_content span:first-child {
    color: #2B2B2B;
    font-size: 16px;
}
.account .bottom_content span:last-child {
    color: #337CFF;
    font-size: 18px;
    /*margin-right:72px;*/
}
.announce .main_content{
    margin-top:10px;
}
.announce .main_content .a_content a {
    width: 145px;
    display: block;
    color: #666666;
    font-size: 14px;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
     white-space:nowrap;
   
}
.announce .main_content{
    padding:0 20px;
}
    .announce .main_content .a_date {
        display: inline-block;
        width: 68px;
        float: right;
        color: rgba(204, 204, 204, 1);
    }
.main_content .a_item {
    height:32px;
    line-height:32px;
}
.top_content .link:hover {
    color: #0071BB;
}
.announce .main_content .a_content a:hover {
    color: #0071BB;
    cursor:pointer;
}
.convenient_service .icon_list ul{
    padding:0 28px;
    padding-top:20px;
    overflow:hidden;
}
    .convenient_service .icon_list ul li {
        float: left;
        text-align: center;
        cursor: pointer;
    }
    .convenient_service .icon_list ul li span{
        display:block;
        color:#666666;
        margin-top:10px;
    }
.mr16{
    margin-right:16px;
}
.convenient_service .icon_list ul li:hover span{
    color: #0071BB;
    cursor: pointer;
}
.progress .title {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 400;
    color: #BDBDBD;
}

    .progress .title span {
        line-height: 32px;
        position: relative;
        top: -8px;
        left: 4px;
    }

.order_list ul {
    padding:10px 37px 20px 20px ;
    font-size: 14px;
    color: #666666;
    margin-top:18px;
}

.c_top .c_id {
    padding-left: 5px;
    color: #2B2B2B;
}

.c_top .status_tip {
    background-color: #009688;
    margin-left: 5px;
    font-size: 12px;
    color: white;
    padding: 1px 3px;
    border-radius:2px;
}

.c_top .c_date {
    margin-left: 20px;
    color: #999999;
    font-weight: 400;
    font-size:12px;
    float:right;
    /*margin-right:12px;*/
}

.order_list .c_bottom {
    height: 55px;
    line-height: 55px;
}

.order_list ul li {
    padding-top: 15px;
    border-bottom: 1px solid #e6e6e6;
}

    .order_list ul li:first-child {
        padding-top: 0px;
    }

.c_bottom .b_status {
    width: 238px;
    color: #999999;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.c_bottom .b_btns button {
    border: 1px solid rgba(36, 134, 255, 1);
    color: #2486FF;
    box-sizing: border-box;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: white;
    margin-left:8px;
}
.c_top .state_color1 {
    background-color: #009688;
}

.c_top .state_color2 {
    background-color: #FDA100;
}

.c_top .state_color3 {
    background-color: #333366;
}
.c_top .state_color4 {
    background-color: #188aec;
}

.c_top .state_color5 {
    background-color: #9839bf;
}
.c_bottom .b_btns{
    /*margin-right:12px;*/
}
.c_bottom .b_btns button{
    position:relative;
}
.c_bottom .b_btns button .warning {
    background-image: url('../img/icon提示 拷贝.png');
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: -7px;
    right: -8px;
}
.service .center_content{
    padding:25px 20px;
}
.center_content .p_left {
    width: 120px;
    height: 110px;
    border-right: 1px dashed rgba(230,230,230,1);
}
.center_content .p_left i, .center_content .p_right i {
    background-image: url('../img/图层 2.png');
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}
.center_content .p_right{
    padding-left:12px;
}
.center_content .p_info p {
    color: #999999;
    font-size: 12px;
    line-height: 28px;
    width: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height:28px;
}
.service .bottom_content {
    margin:0 20px;
    border-top: 1px dashed rgba(230,230,230,1);
    padding-top:16px;
}
.service .bottom_content i.m1 {
    background-image: url('../img/manager_icon.png');
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}
.service .bottom_content i.p_icon {
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 5px;
    position:relative;
    top:4px;
}
.service .bottom_content .m2 {
    background-image: url('../img/图层 7.png');
}
.service .bottom_content .m3 {
    background-image: url('../img/图层 8.png');
}
.service .bottom_content .m4 {
    background-image: url('../img/图层 9.png');
}
.font2 {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}
.service .bottom_content .p_info{
    height:28px;
    line-height:28px;
}
.fast_order{
    padding:15px 20px;
}
    .fast_order .btn_list button {
        width: 240px;
        height: 34px;
        line-height:34px;
        background: rgba(253,161,0,1);
        box-shadow: 0px 4px 3px 0px rgba(159,159,159,0.22);
        border-radius: 4px;
        color: white;
        font-size: 14px;
    }
.btn_list .icon_plus {
    background-image: url('../img/下单.png');
    width:20px;
    height:23px;
    display:inline-block;
    position:relative;
    top:6px;
    margin-left:5px;
}
.btn_list .arrow {
    border-width: 0px;
    position: relative;
    top: 3px;
    left: 4px;
    width: 16px;
    height: 16px;
}
.fast_order .user_content{
    width:240px;
    border-top:1px solid #e6e6e6;
    margin-top:20px;
 }
.user_content .d_logo {
    width: 60px;
    height: 60px;
    background: rgba(230,230,230,1);
    border-radius: 50%;
    color: #BDBDBD;
    position: relative;
    margin-top: 15px;
}
.d_logo .txt1 {
    position: absolute;
    top: 14px;
    left: 7px;
    text-align: center;
}
.user_content .d_content{
    padding-top:15px;
    padding-left:6px;
}
.d_content .c_name {
    width: 163px;
    color: #2B2B2B;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.d_content .c_code {
    background: rgba(81,143,255,1);
    border-radius: 4px;
    height: 28px;
    color:white;
    font-weight:bold;
    display:inline-block;
    font-size:14px;
    line-height:28px;
    padding:0 8px;
    margin-top:20px;
    position:relative;
}
.d_content .c_code .warning {
    background-image: url('../img/icon提示 拷贝.png');
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 6px;
    right: -25px;
}
    .d_content .c_code .tip {
        background-image: url('../img/icon_tip.png');
        width: 16px;
        height: 16px;
        display: inline-block;
        position: absolute;
        top: 6px;
        right: -25px;
    }
.d_content .c_phone, .d_content .c_email {
    width: 163px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn_list .btn_transfer:hover img {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transition: transform .4s ease-in;
    -webkit-transition: transform .4s ease-in;
    transition: transform .4s ease-in;
}

.ware_item_ul {
    width: 80px;
    position: absolute;
    top: 40px;
    /*left: 70px;*/
    background-color: #FFFFFF;
    border-top: 0;
    margin-left: -1px;
    height: 0;
    transition: height .3s linear;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
}

.ware_item_li {
    margin-left: 80px;
    margin-top: 10px;
}
.btn_transfer{
    position:relative;
}

.btn_transfer .ware_item_ul_box {
    padding-top: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 240px;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
    z-index: 100;
}
.btn_transfer .ware_item_ul {
    position: static;
    color: #BDBDBD;
    font-size: 14px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    font-size: 14px;
    border-radius: 5px;
    width: 237px;
    border: 1px solid rgba(153, 153, 153, 1);
    margin-left:1px;
}
.ware_item_ul li {
    padding-left: 14px;
}
.ware_item_ul li a {
    color: #666666 !important;
    line-height: 24px;
    cursor: pointer;
}
.ware_item_ul li a:hover {
    color: #0071BB !important;
}
.btn_transfer:hover .ware_item_ul_box {
    height: 90px;
    overflow: visible;
}
.btn_transfer:hover .ware_item_ul {
    height: 80px;
}
.bill .top_nav {
    width: 100%;
    height: 44px;
    background: linear-gradient(0deg,rgba(238,238,238,1),rgba(255,255,255,1));
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.top_nav .btn1.active, .top_nav .btn2.active {
    color: #337CFF;
    font-weight: bold;
}
.top_nav .btn1 {
    width: 128px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #2B2B2B;
    text-align: center;
    border-bottom: 1px solid #EEEEEE;
    cursor:pointer;
}
.top_nav .btn2 {
    width: 128px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #2B2B2B;
    text-align: center;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    cursor: pointer;
    border-right: 1px solid;
    border-image: -webkit-linear-gradient(0deg,rgba(238,238,238,1),rgba(255,255,255,1));
    border-image: -moz-linear-gradient(0deg,rgba(238,238,238,1),rgba(255,255,255,1));
    border-image: linear-gradient(0deg,rgba(238,238,238,1),rgba(255,255,255,1));
}
.top_nav .btn3 {
    height: 44px;
    border-bottom: 1px solid #EEEEEE;
}
.top_nav .btn1.active {
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.top_nav .btn2.active {
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #EEEEEE;
}
.top_nav .btn3{
    line-height:41px;
    position:relative;
    width:320px;
}
.top_nav .btn3 span:first-child {
    font-size: 14px;
    color: #2B2B2B;
    margin-left:20px;
}
.top_nav .btn3 span.sum_m {
    font-size: 18px;
    color: #337CFF;
    font-weight: bold;
}
.top_nav .btn3 a {
    color: #B9B9B9;
    font-size:14px;
    position:absolute;
    right:0px;
}
 .top_nav .btn3 a:hover {
     color: #0071BB;
     cursor:pointer;
 }
.bill .static_content ul{
    overflow:hidden;
    padding:20px 18px;
}
    .bill .static_content ul li:last-child{
        margin-right:0px;
    }
    .bill .static_content ul li {
        float: left;
        width: 130px;
        margin-right: 12px;
    }
.bill .static_content ul li .m1 {
    color: #337CFF;
    font-size:16px;
    margin-top:10px;
    margin-bottom:10px;
}
.bill .static_content ul li .m2 {
    color: #666666;
    font-size: 14px;
    margin-bottom: 6px;
}
.bill .static_content ul li .s_box{
    background:url('../img/圆角矩形136.png') no-repeat;
    width:136px;
    height:80px;
    position:relative;
}
.bill .static_content ul li .s_1{
    position:absolute;
    top:13px;
    left:10px;
}
.bill .static_content ul li .m3 {
    color: #999999;
    font-size: 12px;
    line-height:20px;
}
.bill .b_bottom{
    padding:0 20px;
}
.font3 {
    font-size: 18px;
    color: #337CFF;
    font-weight: bold;
}
.link {
    color: #B9B9B9;
    font-size: 14px;
}
.link:hover {
    color: #0071BB;
}
footer{
    margin-top:200px;
}
.content_wrap{
    width:1200px;
    height:auto;
    margin:0 auto;
}
.el-tooltip__popper[x-placement^=top] .popper__arrow {
    border-top-color: #BAD3FF;
}

.el-tooltip__popper[x-placement^=top] .popper__arrow:after {
    border-top-color: #F4F8FF;
}

.tip_content {
    border: 1px solid #BAD3FF;
    background: #F4F8FF !important;
    color: #666666 !important;
    width: 200px;
}
.scrollbar_div {
    width: 596px;
    height: 280px;
    overflow: hidden;
}

.scrollbar_div .el-scrollbar__wrap {
    overflow-x: hidden;
    overflow-y: auto;
}