<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <appSettings>
    <!-- 默认审批人: 张庆永 -->
    <add key="Approver" value="zhangqingyong" />
    <!-- 不需要正常打卡的员工 -->
    <add key="SpecialStaffs" value="张庆永,赖翠红,张孟雨"/>
  </appSettings>

  <connectionStrings>
    <add name="PvCenterConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvCenter;Persist Security Info=True;User ID=udata;Password=Turing2019" />
    <add name="PvbErmConnectionString" connectionString="Data Source=172.30.10.199,5311;Initial Catalog=PvbErm;Persist Security Info=True;User ID=udata;Password=Turing2019" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRSServer" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://kf.51db.com/WCFHTTPServerTest/RSServer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRSServer"
        contract="ServiceReference1.IRSServer" name="BasicHttpBinding_IRSServer" />
    </client>
  </system.serviceModel>
</configuration>