.input_error_hint i,
.input_correct_i{
	display: inline-block;
	vertical-align: middle;
	background: url(../img/public.png) no-repeat;
}
.input_list li label {
	float: left;
	width: 238px;
	text-align: right;
	font-size: 16px;
	line-height: 36px;
	margin-right: 20px;
	height: 36px;
	color: #666;
}
.input_list li.lh24{
	height: 24px;
	line-height: 24px;
}
.input_list li.lh24 label{
	line-height: 24px;
}
.input_list li label em{
	margin-right: 4px;
}
.input_list li label.black {
	color: #323232;
	font-weight: bold;
}

.input_list li .input_list_right {
	position: relative;
	float: left;
}

.input_list_right em {
	display: block;
	font-size: 16px;
	line-height: 36px;
	color: #FFA200;
}

.input_list li input {
	text-indent: 16px;
	height: 14px;
    line-height: 14px;
    padding: 10px 0;
}
.input_list li input.el-input__inner {
    color: #323232;
    height: 16px;
    line-height: 16px;
    padding: 9px 0;
    box-sizing: content-box;
}
.input_list li input.el-input__inner::-webkit-input-placeholder { 
    color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.input_list li input.el-input__inner:-moz-placeholder {
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.input_list li input.el-input__inner::-moz-placeholder {
   color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.input_list li input.el-input__inner:-ms-input-placeholder {
    color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.input_list li input.el-input__inner.placeholder{
	color: #B3B3B3;
	font-family: "微软雅黑";
	font-size: 14px;
}
.input_list li .input_list_right .el-cascader {
    width: 274px;
}
.input_list li .el-cascader__label{
	display: inline-block;
	color:#323232;
	padding: 0 25px 0 16px;
}
.input_list li input.input_tc{
	text-align: center;
    text-indent: 0;
}
input:focus {
	border-color: #31B0F3;
}

.input_correct_i {
	display: none;
	height: 20px;
	width: 20px;
	background-position: -50px -96px;
	margin-left: 14px;
	margin-top: -2px;
}

.input_correct .input_correct_i {
	display: inline-block;
}

.input_correct input {
	border-color: #31B0F3;
}

.input_error_hint{
	display: none;
	margin: 5px 0;
}
.input_error_hint.hintFixed{
	position: absolute;
	left: 0;
	top: 36px;
}

.input_error_hint i {
	height: 20px;
	width: 20px;
	background-position: -80px -96px;
	margin-right: 10px;
}

.input_error_hint span {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #ea4141;
}

.input_error .input_error_hint {
	display: block;
}

.input_error input {
	border-color: #ea4141;
}
.input_list_right .hint_text{
	color: #B3B3B3;
	margin-left: 20px;
}
